.main-nav {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    z-index: 5;
    height: 100%;
    @media screen and (min-width: $screen-lg) {
        flex-grow: 2;
        margin: auto;
        margin-left: 30px;
        order: 2;
        justify-content: flex-start;
    }
}

.main-nav__toggle {
    position: relative;
    z-index: 3;
    padding: 0;
    font-size: 0;
    outline: none;
    border: none;
    background: none;

    span {
        display: block;
        width: 35px;
        height: 4px;
        background-color: $background-secondary-color;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $screen-lg) {
        display: none;
    }
}

.main-nav__wrap {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 50px 45px 20px;
    background-color: $background-secondary-color;

    @media screen and (min-width: $screen-md) {
        right: auto;
        width: 320px;
        display: block;
        transform: translate(-100%, 0);
        transition: transform 0.5s linear;
        z-index: 11;

        &._active {
            transform: translate(0, 0);
        }
    }

    @media screen and (min-width: $screen-lg) {
        position: relative;
        align-self: stretch;
        background: transparent;
        width: auto;
        transform: translate(0);
        padding: 0;
    }
}

.main-nav__close {
    position: absolute;
    top: 35px;
    right: 35px;
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    .icon-svg {
        width: 15px;
        height: 15px;
        fill: $c-primary;
    }

    @media screen and (min-width: $screen-sm) {
        .icon-svg {
            width: 20px;
            height: 20px;
        }
    }

    @media screen and (min-width: $screen-lg) {
        display: none;
    }
}

.main-nav__list {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 40px 0;

    &--links .main-nav__link {
        display: block;
        color: $c-primary;
        @media (min-width: 992px) {
            display: none;
        }

    }

    @media screen and (min-width: 992px) {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 0;
        background: none;
        &::after {
            display: none;
        }
    }
}

.main-nav__item {
    margin-bottom: 20px;

    @media screen and (min-width: $screen-lg) {
        align-self: stretch;
    }

    &._active {
        .main-nav__link {
            color: $c-primary;
            cursor: default;
            &::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 17.5px;
                width: calc(100% - 35px);
                height: 3px;
                background-color: $c-primary;
            }

            .icon-arrow-menu {
                fill: $c-primary;
            }
        }
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 700;
        font-size: 17px;
        text-align: center;
        transition: all .4s linear;
        color: $black;

        &:hover {
            color: $c-primary;
        }

        &:active {
            opacity: 0.6;
        }

        @media screen and (min-width: $screen-lg) {
            color: $white;
            padding-left: 17.5px;
            padding-right: 17.5px;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            display: flex;
            align-items: center;

            &:hover {
                color: $c-third;
            }

           &.main-nav__link {
                &:hover {
                    color: $c-primary;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 17.5px;
                        width: calc(100% - 35px);
                        height: 3px;
                        background-color: $c-primary;
                    }

                    .icon-arrow-menu {
                        fill: $c-primary;
                    }
                }
           }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &._active .__list {
        color: $c-primary;
        cursor: default;
    }
    @media screen and (min-width: 992px) {
        margin: 0;
    }
}

.main-nav__mobile-sublist {
    padding: 0;
    margin: 34px 0 0;
}

.main-nav__mobile-subitem {
    a {
        display: block;
        text-transform: initial;
        text-decoration: underline;
        width: 100%;
        padding: 10px 0 10px 0;
        text-align: center;
        color: $c-primary;
        transition: color 0.3s linear;

        &:hover {
            color: $black;
        }
    }
}


.main-nav__drop {
    position: relative;
    .icon-arrow-menu {
        display: none;
        width: 25px;
        height: 25px;
        fill: $white;
        transform: rotate(90deg);
        transition: fill 0.4s linear;
        @media (min-width: 768px) {
            display: block;
        }
    }
    &:hover {
        .icon-arrow {
            fill: $c-third;
        }
    }
    &:active {
        .icon-arrow {
            fill: $secondary-color;
        }
    }
}

.main-nav__second-list {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 300px;
    top: 105px;
    left: -240px;
    z-index: 10;
    list-style-type: none;
    padding: 0;
    margin: 0;
    &:after {
        content: "";
        position: absolute;
        top: -30px;
        display: block;
        width: 100%;
        height: 30px;
    }

    @media screen and (min-width: $screen-xl) {
        top: 95px;
        left: -150px;
    }
}

.main-nav__second-item {
    display: flex;
    align-items: center;
    min-height: 50px;
    font-size: 14px;
    cursor: pointer;
    color: #777;
    & p {
        font-size: 14px;
        color: inherit;
    }
    .main-nav__second-item-link {
        position: relative;
        display: block;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        margin: 0;
        width: 100%;
        padding-left: 66px;
        color: inherit;
    }
    &:nth-child(1) {
        .icon-svg {
            left: 4px;
        }
    }
    &:nth-child(2) {
        .icon-svg {
            left: 11px;
            top: -11px;
            width: 35px;
            height: 35px;
        }
    }
    &:nth-child(4) {
        .icon-svg {
            left: 4px;
        }
    }
    &:nth-child(5) {
        .icon-svg {
            left: 10px;
        }
    }
    &:nth-child(6) {
        .icon-svg {
            left: 11px;
        }
    }
    &:nth-child(7) {
        .icon-svg {
            left: 4px;
        }
    }
    &:hover {
        background-color: #f5f5f5;
        transition: color 0.3s;
        p,
        .main-nav__second-item-link {
            color: black;
            &::before {
                color: $c-primary;
            }
        }
        .icon-svg,
        .icon-arrow {
            fill: $c-primary;
        }
        ul {
            display: flex;
        }
    }
    p {
        position: relative;
        margin: 0;
        width: 100%;
        padding-left: 66px;
    }
    .icon-svg {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -14px;
        left: 10px;
        fill: #777777;
    }
    .icon-arrow {
        position: absolute;
        top: 0;
        right: 30px;
        width: 20px;
        height: 20px;
        fill: #777777
    }
}

.main-nav__third-list {
    display: none;
    min-width: 650px;
    left: 298px;
    height: 100%;
    align-content: flex-start;
    top: 0;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 20px;
    background-color: #f5f5f5;
    position: absolute;
    list-style-type: none;
    flex-wrap: wrap;
}
.main-nav__third-item {
    display: flex;
    align-items: center;
    width: 25%;
    min-height: 20px;
    padding-right: 0;
    margin-bottom: 5px;
    margin-right: 0;

    &._last {
        margin-bottom: 20px;
    }

    .main-nav__third-item-title {
        padding-left: 0;
        color: $black;
        font-size: 14px;
        text-transform: capitalize;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        text-align: left;
        text-transform: none;
        color: #ed1e79;
        padding-left: 0;
    }
    &._active {
        a {
            color: $c-third;
            cursor: default;
            &:hover, &:active {
                color: $c-third;
            }
        }
    }
}
.main-nav__drop {
    @media screen and (min-width: $screen-lg) {
        &:hover {
            .main-nav__second-list {
                display: block;
            }
        }
    }
}