.main-footer {
    position: relative;
    padding-bottom: 44px;
    font-family: $f-base;
    background-color: #000000;
}

.main-footer__inner {
    max-width: 300px;
    margin: 0 auto;
}

.main-footer__navigation {
    max-width: 300px;
    margin: 0 auto;
}

.main-footer__navigation-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
    max-width: 300px;
    margin: 0 auto;
}

.main-footer__navigation-item {
    width: 50%;
    display: block;
    margin-bottom: 15px;
}

.main-footer__navigation-link {
    color: $c-primary;
    font-size: 16px;
    transition: color 0.5s;

    &:hover {
        color: $white;
    }

    &:active {
        color: $c-third;
    }
}

.main-footer__contacts {
    max-width: 300px;
    margin: 0 auto 30px;

}

.main-footer__contacts-item:not(:last-child) {
    margin-bottom: 12px;
}

.main-footer__contacts-title {
    color: $footer-primary-color;
    font-size: 16px;
}

.main-footer__contacts-link {
    color: $c-primary;
    &:hover {
        color: $white;
    }
    &:active {
        color: $c-third;
    }
}

.main-footer__contacts-adress {
    color: $c-primary;
    margin: 0;
}

.main-footer__social {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.main-footer__social-item {
    width: 33.33%;
    height: 40px;
    display: flex;
    transition: all 0.3s;

    &:focus {
        outline: none;
    }

    svg {
        width: 40px;
        height: 40px;
    }

    &:nth-child(2) {
        .main-footer__social-link {
            justify-content: center;
        }
    }

    &:nth-child(3) {
        .main-footer__social-link {
            justify-content: flex-end;
        }
    }
}

.main-footer__social-link {
    display: flex;
    width: 100%;
    height: 100%;
    transition: fill 0.3s ease;
    

    svg {
        fill: $c-primary;
        transition: fill 0.3s ease;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        
        svg {
            fill: $white;
        }
    }

    &:active {
        svg {
            fill: $c-third;
        }
    }
}

@media screen and (min-width: 768px) {
    .main-footer__navigation {
        order: 3;
    }

    .main-footer__navigation-list {
        width: auto;
    }

    .main-footer__inner {
        order: 3;
    }

    .main-footer__contacts {
        order: 5;
        width: auto;
        margin: 0;
    }

    .main-footer__social {
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-footer__social-item {
        width: 40px;
        height: 40px;

        &:nth-child(2) {
            .main-footer__social-link {
                justify-content: flex-start;
            }
        }

        &:nth-child(3) {
            .main-footer__social-link {
                justify-content: flex-start;
            }
        }
    }

    .main-footer__social-list {
        justify-content: flex-start;
    }

    .main-footer__social-link {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (min-width: 992px) {
    .main-footer__contacts {
        order: 2;
    }
}