.main-header {
    width: 100%;
    position: relative;
    z-index: 500;
    font-family: $f-base;
    font-weight: 400;
    font-style: normal;
    display: flex;
    box-sizing: border-box;
    background-color: $c-bg-primary;

    &.bg-black {
        background-color: #000;
    }
}

.main-header._fixed-panel-md {
    @media screen and (max-width: $screen-md-max) {
        position: fixed;
        top: 0;
        background-color: $c-bg-primary;
        width: 100%;
        height: 55px;
        max-height: 60px;
        z-index: 10;
        box-sizing: border-box;
    }
    @media (max-width: $screen-xs-max) {
        height: 70px;
        max-height: 70px;
    }
}

.main-header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (min-width: $screen-sm) {
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .main-header {
        flex-direction: row;
        height: 105px;
    }
}

@media screen and (min-width: $screen-xl) {
    .main-header {
        height: 95px;
    }
}