.new-footer {
    position: relative;
    z-index: 100;
    background-color: $c-bg-primary;
    padding-top: 50px;
    padding-bottom: 50px;

    &__nav {
        margin-bottom: 40px;
        order: 2;

        @media screen and (min-width: $screen-sm) {
            margin-bottom: 55px;
        }
    }

    &__nav-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;

        @media screen and (min-width: $screen-sm) {
            margin-right: -30px;
        }
    }

    &__nav-item {
        margin-bottom: 15px;
        margin-right: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: $screen-sm) {
            margin-bottom: 15px;
            margin-right: 30px;
        }
    }

    &__nav-link {
        font-size: 20px;
        font-weight: 400;
        color: $c-primary;
        transition: color 0.4s linear;

        &:hover {
            color: $c-third;
        }

        @media screen and (min-width: $screen-md) {
            font-size: 16px;
        }
    }

    &__contacts {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        order: 3;
    }

    &__contacts-item {
        display: inline-block;

        &:first-of-type {
            margin-right: 10px;
        }

        &:last-of-type {
            margin-top: 15px;
        }
    }

    &__contacts-town {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
        color: $c-third;
    }

    &__contacts-link {
        font-size: 18px;
        color: $white;
        transition: color 0.4s linear;

        &:hover {
            color: $c-primary;
        }

        &:active {
            opacity: 0.4;
        }
    }

    &__contacts-address {
        font-size: 18px;
        color: $white;
    }

    &__inner {
        margin-bottom: 40px;
        order: 4;

        @media screen and (min-width: $screen-sm) {
            margin-bottom: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media screen and (min-width: $screen-md) {
            flex-wrap: wrap;
            justify-content: flex-end;
        }

        @media screen and (min-width: $screen-lg) {
            order: 5;
        }
    }
}