.cart-coctails {
    margin: 0 auto;
    padding:  20px;
    @media (min-width: 992px) {
        padding:  50px 80px 0;
    }
    &__header {
        display: none;
        @media (min-width: 768px) {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #eee;
            margin-bottom: 20px;
        }
    }

    &__header-text {
        width: 25%;
        font-size: 14px;
        text-align: center;
        &:first-of-type {
            width: 30%;
            text-align: left;
        }
        &:last-of-type {
            width: 20%;
            text-align: left;
        }
    }

    &__item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }

    &__inner {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        @media (min-width: 768px) {
            width: 30%;
            flex-flow: row nowrap;
        }
    }

    &__item-img {
        width: 55px;
        height: 80px;
        margin-right: 20px;
    }

    &__item-name {
        margin: 0 0 5px;
        font-weight: 700;
    }

    &__item-char {
        margin: 0;
    }

    &__item-price {
        width: 40%;
        @media (min-width: 768px) {
            width: 25%;
            text-align: center;
        }
    }

    &__counter {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 45%;
        margin-top: 20px;
        @media (min-width: 768px) {
            justify-content: center;
            width: 25%;
            margin: 20px auto 0;
        }
        & input  {
            width: 80px;
            margin-top: 0;
            margin-right: 10px;
            margin-left: 10px;
            text-align: center;
        }
        & span {
            font-size: 25px;
            font-weight: 700;
            color: $c-primary;
            cursor: pointer;
        }
    }

    &__sum {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin-top: 20px;
        @media (min-width: 768px) {
            width: 20%;
        }
    }

    &__item-sum {
        margin: 0;
        font-weight: 700;

    }

    &__close {
        position: relative;
        width: 20px;
        height: 20px;
        border: none;
        background-color: transparent;
        &::before, &::after {
            content: "";
            position: absolute;
            top: 10px;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #eee;
            transition: all .3s ease;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}