.cart-total {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    padding:  5px 20px;
    font-size: 20px;
    font-weight: 700;
    @media (min-width: 992px) {
        padding:  0 80px 30px;
    }
    @media (min-width: 992px) {
        padding:  0 80px 30px;
    }

    & p {
        margin: 0;
    }

    &__min {
        width: 100%;
        @media (min-width: 768px) {
            width: 33%;
        }
        @media (min-width: 992px) {
            width: 16%;
        }
    }

    &__inner {
        width: 100%;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            width: 33%;
            margin-bottom: 0;
        }
        @media (min-width: 992px) {
            width: 16%;
        }
    }

    &__items-num {
        font-size: 16px;
        font-weight: 400;
    }

    &__delivery {
        width: 100%;
        margin-bottom: 10px;
        @media (min-width: 768px) {
            width: 33%;
            margin-bottom: 0;
            text-align: center;
        }
        @media (min-width: 992px) {
            width: 67%;
        }
    }

    &__sum {
        width: 100%;
        color: $c-primary;
        @media (min-width: 768px) {
            width: 33%;
            text-align: right;
        }
        @media (min-width: 992px) {
            width: 16%;
            text-align: left;
        }
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        border-top: 1px solid #eee;
        margin-top: 20px;
        @media (min-width: 768px) {
            margin-top: 30px;
            padding-top: 30px;
        }
    }

    &__btn{
        width: auto;
        &--back {
            position: relative;
            margin-right: 20px;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                margin-top: -3px;
                left: 10px;
                padding: 3px;
                border: solid $c-third;
                border-width: 0 0 2px 2px;
                transform: rotate(45deg);
                transition: all 0.4s ease;
            }
            &:hover::before {
                border-color: $c-primary;
            }
        }
    }
}