.cart {
    padding-bottom: 40px;
    background-color: $c-bg-primary;

    &__container {
        padding-bottom: 20px;
        background-color: #fff;
        @media (min-width: 768px) {
            padding-bottom: 0;
        }
    }

    &__title {
        padding-top: 20px;
        text-align: center;
    }
}

