<div class="popup popup-how-work  hidden">
    <div class="popup-how-work__overlay overlay hidden"></div>
    <div class="popup-how-work__inner  hidden">
        <h2 class="popup-how-work__title">Доставка коктейлей на любое мероприятие</h2>
        <ul class="popup-how-work__list">
            <li class="popup-how-work__item">
                <img src="../../img/how1.png" alt="">
                {# <svg class="icon-svg">
                    <use xlink:href="#icon-cocktail" />
                </svg> #}
                <div class="popup-how-work__item-inner">
                    <h3 class="popup-how-work__item-title">Выберите коктейли</h3>
                    <p class="popup-how-work__content">
                        Минимальная сумма заказа коктейлей составляет 30 000 рублей
                    </p>
                </div>
            </li>
            <li class="popup-how-work__item">
                <img src="../../img/how2.png" alt="">
                {# <svg class="icon-svg">
                    <use xlink:href="#icon-cocktails-manager" />
                </svg> #}
                <div class="popup-how-work__item-inner">
                    <h3 class="popup-how-work__item-title">Согласуем детали и стоимость</h3>
                    <p class="popup-how-work__content">
                        Наш менеджер позвонит Вам и уточнит детали заказа, по возможности откорректирует коктейли.
                    </p>
                </div>

            </li>
            <li class="popup-how-work__item">
                <img src="../../img/how3.png" alt="">
                {# <svg class="icon-svg">
                    <use xlink:href="#icon-cocktail-with-lemon-slice" />
                </svg> #}
                <div class="popup-how-work__item-inner">
                    <h3 class="popup-how-work__item-title">Наслаждайтесь коктейлями</h3>
                    <p class="popup-how-work__content">
                        Мы привезем все необходимое оборудование и ингредиенты и сделаем вкуснейшие коктейли.
                    </p>
                </div>

            </li>
        </ul>
        <div class="popup-how-work__question">
            <p class="popup-how-work__question-content">
                Остались вопросы? Звоните: <a href="tel: +7(495)374-61-62" class="popup-how-work__question-link">+7
                    (495) 374-61-62</a>
            </p>
        </div>
        <button class="popup__close  close-button  mobile-hidden">
            <svg>
                <use xlink:href="#icon-close"/>
            </svg>
        </button>
    </div>
</div>