<div class="popup popup-question hidden">
    <div class="overlay popup-question__overlay hidden"></div>
    <div class="popup__inner popup-question__inner">
        <div class="container">
            <button class="popup__close  mobile-hidden">
                <svg>
                    <use xlink:href="#icon-close" />
                </svg>
            </button>
            <p class="popup__title popup__title--left popup-question__title">Задать вопрос</p>
            <form action="#" class="popup__form  popup-question__form">
                <label for="popup-question__name-input" class="popup__name ">
                    Ваше имя:
                    <input type="text" placeholder="Ваше имя" id="popup-question__name-input" name="popup-question__name-input" class="input popup__name-input" required>
                </label>
                <label for="popup-question__phone-input" class="popup__phone ">
                    Телефон:
                    <input type="tel" placeholder="Ваш телефон" name="popup-question__phone-input" id="popup-question__phone-input" class="input popup__phone-input phone-input" required>
                </label>
                <label for="popup-question__email-input" class="popup__email ">
                    Почта:
                    <input type="tel" name="popup-question__email-input" id="popup-question__email-input" class="input popup__email-input" required>
                </label>
                <label for="popup-question__comment" class="popup__comment popup__comment-toggle">
                    <span>Комментарий</span>
                    <textarea class="popup__comment-area" placeholder="Ваш комментарий" name="popup-question__comment" id="popup-question__comment" rows="7"></textarea>
                </label>
                <div class="popup__form-inner">
                    <button type="submit" class="popup__submit  button  button--pink button--form">Отправить</button>
                    <p class="popup__form-content  mobile-hidden">
                        Наш менеджер свяжется с вами в ближайшее время
                    </p>
                </div>
            </form>
            <small class="popup__offer  ">Используя сайт, вы принимаете условия
                <a href="#" class="popup__link">Публичной оферты</a>,
                <a href="#" class="popup__link">Соглашения на обработку персональных данных</a> и
                <a href="#" class="popup__link">Политики в отношении обработки персональных данных</a>
            </small>
        </div>
    </div>
</div>