<div class="popup popup-order-service hidden">
    <div class="overlay popup-order-service__overlay hidden"></div>
    <div class="popup__inner popup-order-service__inner">
        <div class="container">
            <button class="popup__close">
                <svg>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
            <p class="popup__title popup__title--left popup-order-service__title">
                {% if (howitWorkTitle) %}
                    {{ howitWorkTitle }}
                {% else %}
                    Заказать бар
                {% endif %}
            </p>
            <p class="popup-order-service__description popup__description">Отправьте заявку и получите подробную
                консультацию об услуге.
                <span>Консультация бесплатна!</span>
            </p>
            <form action="#" class="popup__form  popup-order-service__form">
                <label for="popup-order-service__name-input" class="popup__name">
                    Ваше имя:
                    <input type="text" placeholder="Ваше имя" id="popup-order-service__name-input"
                           name="popup-order-service__name-input" class="input popup__name-input" required>
                </label>
                <label for="popup-order-service__phone-input" class="popup__phone ">
                    Телефон:
                    <input type="tel" name="popup-order-service__phone-input" placeholder="Ваш телефон"
                           id="popup-order-service__phone-input" class="input popup__phone-input phone-input" required>
                </label>
                <label for="popup-order-service__comment" class="popup__comment popup__comment-toggle">
                    <span class="popup__comment-label">Комментарий</span>
                    <textarea class="popup__comment-area" placeholder="Ваш комментарий"
                              name="popup-order-service__comment" id="popup-order-service__comment"
                              rows="7"></textarea>
                </label>
                <div class="popup__form-inner">
                    <button class="popup__submit  button  button--pink button--form" type="submit">Отправить</button>
                    <p class="popup__form-content  mobile-hidden">Наш менеджер свяжется с вами в ближайшее время</p>
                </div>
            </form>
            <p class="popup__offer">Используя сайт, вы принимаете условия
                <a href="#" class="popup__link" target="_blank">Публичной оферты</a>,
                <a href="#" class="popup__link" target="_blank">Соглашения на обработку персональных данных</a> и
                <a href="#" class="popup__link" target="_blank">Политики в отношении обработки персональных данных</a>
            </p>
        </div>
    </div>
</div>