<footer class="main-footer">
        <div class="container">
            <section class="info ">
                <div class="container">
                    <ul class="info__list  row">
                        <li class="info__item  col-md-5  col-lg-3">
                            <p class="info__item-title  mobile-hidden">Работа на выставках</p>
                            <p class="info__item-description  mobile-hidden">Ваш стенд заметят, запомнят и испробуют!</p>
                            <a href="/expo.html" class="info__item-link">Ознакомиться с услугой</a>
                        </li>
                        <li class="info__item  col-md-5  col-lg-3">
                            <p class="info__item-title  mobile-hidden">Порядок оказания услуг</p>
                            <p class="info__item-description  mobile-hidden">Узнайте как мы работаем с нашими клиентами</p>
                            <a href="#" class="info__item-link">Узнать этапы работы</a>
                        </li>
                        <li class="info__item  col-md-5  col-lg-3  mobile-hidden">
                            <p class="info__item-title">Презентация Bar-Street</p>
                            <p class="info__item-description">Коротко, ясно о нас и наших услугах</p>
                            <a class="info__item-link" href="/docs/present-bar-street.pdf" target="_blank">Скачать PDF</a>
                        </li>
                        <li class="info__item  col-md-5  col-lg-3">
                            <p class="info__item-title  mobile-hidden">Консультация менеджера</p>
                            <p class="info__item-description  mobile-hidden">Ответим на все ваши вопросы</p>
                            <a href="#" class="info__item-form-link  button  button--pink">Заявка на услуги</a>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="row">
                <div class="main-footer__navigation  col-md-4  col-lg-3">
                    <ul class="main-footer__navigation-list">
                        <li class="main-footer__navigation-item">
                            <a href="/partner.html" class="main-footer__navigation-link">Партнерам</a>
                        </li>
                        <li class="main-footer__navigation-item">
                            <a href="/facts.html" class="main-footer__navigation-link">Мы в СМИ</a>
                        </li>
                        <li class="main-footer__navigation-item">
                            <a href="/vacancy.html" class="main-footer__navigation-link">Вакансии</a>
                        </li>
                        <li class="main-footer__navigation-item">
                            <a href="/articles.html" class="main-footer__navigation-link">Статьи</a>
                        </li>
                        <li class="main-footer__navigation-item">
                            <a href="/event.html" class="main-footer__navigation-link">Задать вопрос</a>
                        </li>
                    </ul>
                </div>
                <section class="copyright  col-md-4  col-lg-3">
                    <p class="copyright__item">© 2018 Bar-street.ru <br> Все права защищены.</p>
                    <small class="copyright__offer">Используя сайт, вы принимаете условия
                        <a target="_blank" href="#" class="copyright__link">Публичной оферты</a>,
                        <a target="_blank" href="#" class="copyright__link">Соглашения на обработку персональных данных</a> и
                        <a target="_blank" href="#" class="copyright__link">Политики в отношении обработки персональных данных</a>
                    </small>
                </section>
                <section class="main-footer__contacts  col-md-3  col-lg-3">
                    <div class="main-footer__contacts-item">
                        <p class="main-footer__contacts-title">Электронная почта</p>
                        <a href="mailto:info@bar-street.ru" class="main-footer__contacts-link">info@bar-street.ru</a>
                    </div>
                    <div class="main-footer__contacts-item">
                        <p class="main-footer__contacts-title">Адрес</p>
                        <p class="main-footer__contacts-adress">ул. Клары Цеткин д.4</p>
                    </div>
                </section>
                <div class="main-footer__inner  col-md-4  col-lg-3">
                    <div class="main-footer__social">
                        <ul class="main-footer__social-list">
                            <li class="main-footer__social-item">
                                <a target="_blank" href="https://www.instagram.com/barstreet/" class="main-footer__social-link">
                                    <svg>
                                        <use xlink:href="#icon-inst" />
                                    </svg>
                                </a>
                            </li>
                            <li class="main-footer__social-item">
                                <a target="_blank" href="https://www.facebook.com/bar.street.ru/" class="main-footer__social-link">
                                    <svg>
                                        <use xlink:href="#icon-fb" />
                                    </svg>
                                </a>
                            </li>
                            <li class="main-footer__social-item">
                                <a target="_blank" href="https://vk.com/barstreet1" class="main-footer__social-link">
                                    <svg>
                                        <use xlink:href="#icon-vk" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <section class="payment">
                        <img src="../../img/visa.svg" width="50" height="50" alt="Visa" class="payment__item">
                        <img src="../../img/mastercard.svg" width="50" height="50" alt="MasterCard" class="payment__item">
                    </section>
                    <section class="devolopment">
                        <a href="https://constructivesolutions.ru/" target="_blank" class="devolopment__link">
                            <p class="devolopment__title">Разработка и продвижение</p>
                            <img class="lazyload" src="../../img/cs.svg" width="50" height="50" alt="Конструктивыне решения">
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </footer>