<footer class="main-footer">
    <div class="container">
        <section id="consultation-callback" class="consultation-callback">
            <div class="container">
                <div class="row">
                    <div class="consultation-callback__inner col-md-6 col-lg-8 mobile-hidden">
                        <h2 class="consultation-callback__title">Получить бесплатную консультацию по услуге</h2>
                        <ul class="consultation-callback__town-list">
                            <li class="consultation-callback__town-item">
                                <p class="consultation-callback__town-name">Москва:</p>
                                <a href="tel:+7(495)374-61-62" class="consultation-callback__town-phone">+7 (495) 374-61-62</a>
                            </li>
                            <li class="consultation-callback__town-item">
                                <p class="consultation-callback__town-name">Санкт-Петербург:</p>
                                <a href="tel:+7(812)438-12-14" class="consultation-callback__town-phone">+7 (812) 438-12-14</a>
                            </li>
                        </ul>
                    </div>
                    <form action="#" class="consultation-callback__form col-md-6 col-lg-4">
                        <p class="consultation-callback__form-title tablet-hidden">Консультация менеджера</p>
                        <p class="consultation-callback__form-note tablet-hidden">Ответим на все ваши вопросы</p>
                        <input type="text" class="consultation-callback__form-input" placeholder="Ваше имя">
                        <input type="tel" class="consultation-callback__form-input phone-input" placeholder="Телефон">
                        <button type="submit" class="consultation-callback__form-submit button  button--pink">Перезвоните мне</button>
                    </form>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="main-footer__navigation  col-md-4  col-lg-3">
                <ul class="main-footer__navigation-list">
                    <li class="main-footer__navigation-item">
                        <a href="/partner.html" class="main-footer__navigation-link">Партнерам</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="/facts.html" class="main-footer__navigation-link">Мы в СМИ</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="/vacancy.html" class="main-footer__navigation-link">Вакансии</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="/articles.html" class="main-footer__navigation-link">Статьи</a>
                    </li>
                    <li class="main-footer__navigation-item">
                        <a href="/event.html" class="main-footer__navigation-link">Задать вопрос</a>
                    </li>
                </ul>
            </div>
            <section class="copyright  col-md-4  col-lg-3">
                <p class="copyright__item">© 2019 Bar-street.ru
                    <br> Все права защищены.</p>
                <small class="copyright__offer">Используя сайт, вы принимаете условия
                    <a href="#" class="copyright__link">Публичной оферты</a>,
                    <a href="#" class="copyright__link">Соглашения на обработку персональных данных</a> и
                    <a href="#" class="copyright__link">Политики в отношении обработки персональных данных</a>
                </small>
            </section>
            <section class="main-footer__contacts  col-md-3  col-lg-3">
                <div class="main-footer__contacts-item">
                    <h3 class="main-footer__contacts-title">Электронная почта</h3>
                    <a href="mailto:info@bar-street.ru" class="main-footer__contacts-link">info@bar-street.ru</a>
                </div>
                <div class="main-footer__contacts-item">
                    <h3 class="main-footer__contacts-title">Адрес</h3>
                    <p class="main-footer__contacts-adress">ул. Клары Цеткин д.4</p>
                </div>
            </section>
            <div class="main-footer__inner  col-md-4  col-lg-3">
                <div class="main-footer__social">
                    <ul class="main-footer__social-list">
                        <li class="main-footer__social-item">
                            <a href="https://www.instagram.com/barstreet/" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-inst" />
                                </svg>
                            </a>
                        </li>
                        <li class="main-footer__social-item">
                            <a href="https://www.facebook.com/bar.street.ru/" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-fb" />
                                </svg>
                            </a>
                        </li>
                        <li class="main-footer__social-item">
                            <a href="https://vk.com/barstreet1" class="main-footer__social-link">
                                <svg>
                                    <use xlink:href="#icon-vk" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <section class="payment">
                    <img class="payment__item lazyload" src="../../img/visa.svg" width="50" height="50" alt="Visa">
                    <img class="payment__item lazyload" src="../../img/mastercard.svg" width="50" height="50" alt="MasterCard">
                </section>
                <section class="devolopment">
                    <a href="https://constructivesolutions.ru/" target="_blank" class="devolopment__link">
                        <h2 class="devolopment__title">Разработка и продвижение</h2>
                        <img class="lazyload" src="../../img/cs.svg" width="50" height="50" alt="Конструктивыне решения">
                    </a>
                </section>
            </div>

        </div>

    </div>

</footer>