<!-- <header class="main-header">
    <div class="desktop-hidden">
        <div class="logo logo--mobile">
            <a class="logo__link" href="/">
                <img class="lazyload" src="../../img/logo.svg" alt="Bar-Street лого">Bar-Street</a>
        </div>
        <div class="main-header__fixed-panel">
            <nav class="main-nav">
                <button class="main-nav__toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                    Меню
                </button>
                <ul id="mobile-nav" class="main-nav__list  hidden">
                    {% for item in mobileMenu %}
                        <li class="main-nav__item">
                            <a href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                    <li class="main-nav__item">
                        <ul class="main-nav__mobile-sublist">
                            <li class="main-nav__mobile-subitem"><a href="#">Партнерам</a></li>
                            <li class="main-nav__mobile-subitem"><a href="#">Вакансии</a></li>
                            <li class="main-nav__mobile-subitem"><a href="#">Задать вопрос</a></li>
                            <li class="main-nav__mobile-subitem"><a href="#">Мы в СМИ</a></li>
                            <li class="main-nav__mobile-subitem"><a href="#">Статьи</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="main-header__contacts">
                <a href="tel:+7(495)374-61-62" class="main-header__contacts-item"><span>+7</span> (495) 374-61-62</a>
                <div class="main-header__mobile-contacts">
                    <button class="main-header__mobile-contacts-item  main-header__mobile-contacts-back">Обратный звонок</button>
                    <a href="whatsapp://send?phone=79771197255" class="main-header__mobile-contacts-item">WhatsApp</a>
                    <a href="viber://add?number=79771197244" class="main-header__mobile-contacts-item">Viber</a>
                    <a href="sms:+79771197244" class="main-header__mobile-contacts-item">Sms</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tablet-hidden-flex  main-header__inner">
        <div class="logo  logo--desktop">
            <a class="logo__link" href="/">
                <img class="lazyload" src="../../img/logo.svg" alt="Bar-Street">
                <span>Выездной бар</span>
            </a>
        </div>
        <div class="main-nav  main-nav--desktop">
            <ul class="main-nav__list  main-nav__list--desktop">
                {% for item in mainMenu %}
                    {% if item.submenu is not empty %}
                        <li class="main-nav__item  main-nav__drop">
                            <a href="{{ item.link }}" class="main-nav__link">{{ item.title }}
                                <svg class="icon-arrow-menu"><use xlink:href="#icon-arrow"></use></svg>
                            </a>
                            <ul class="main-nav__second-list">
                                {% for subitem in item.submenu %}
                                    {% if subitem.submenu is not empty %}
                                        <li class="main-nav__second-item">
                                            <p>
                                                <svg class="icon-svg"><use xlink:href="#{{ subitem.icon }}"></use></svg>
                                                {{ subitem.title }}
                                                <svg class="icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
                                            </p>
                                            <ul class="main-nav__third-list">
                                                {% for thirditem in subitem.submenu %}
                                                    {% if thirditem.subtitle %}
                                                        <li class="main-nav__third-item">
                                                            <p class="main-nav__third-item-title">
                                                                {{ thirditem.title }}
                                                            </p>
                                                        </li>
                                                    {% else %}
                                                        <li class="main-nav__third-item {% if thirditem.last %} _last {% endif %}">
                                                            <a href="{{ thirditem.link }}" class="main-nav__third-link">{{ thirditem.title }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="main-nav__second-item">
                                            <a href="{{ subitem.link }}" class="main-nav__second-item-link">
                                                <svg class="icon-svg"><use xlink:href="#{{ subitem.icon }}"></use></svg>
                                                {{ subitem.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="main-nav__item"><a href="{{ item.link }}" class="main-nav__link">{{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="main-header__contacts  main-header__contacts--desktop">
            <button class="main-header__contacts-back">Обратный звонок</button>
            <a href="tel:+7(495)374-61-62" class="animated fadeIn  main-header__contacts-phone  main-header__contacts-phone--active  main-header__contacts-phone--msk">
                <span>+7</span> (495) 374-61-62
            </a>
            <a href="tel:+7(812)438-12-14" class="animated fadeIn  main-header__contacts-phone  main-header__contacts-phone--hide  main-header__contacts-phone--spb">
                <span>+7</span> (812) 438-12-14
            </a>
            <div class="main-header__contacts-inner">
                <button class="main-header__contacts-town  main-header__contacts-town--msk  main-header__contacts-town--active">Москва</button>
                <button class="main-header__contacts-town  main-header__contacts-town--spb">Санкт-Петербург</button>
            </div>
        </div>
    </div>
</header> -->

<header class="main-header _fixed-panel-md">
    <div class="container main-header__inner">
        <div class="logo logo--mobile">
            <a class="logo__link" href="/">
                <img class="lazyload" src="../../img/logo.svg" alt="Bar-Street лого">
                <p class="logo__text">BAR-STREET</p>
            </a>
            <p class="main-title">Выездной бар на мероприятия</p>
        </div>
        <div class="main-contacts _header">
            <div class="main-contacts__wrapper">
                <button class="js-contacts-toggle">
                    <svg class="icon-svg  icon-svg--phone">
                        <use xlink:href="#icon-phone"/>
                    </svg>
                </button>
                <button class="main-contacts__item _callback js-callback-toggle">Обратный звонок</button>
                <div class="popup-back hidden">
                    <button class="popup-back__close">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-close"></use>
                        </svg>
                    </button>
                    <div class="popup-back__inner">
                        <h2 class="popup-back__title">Заказать обратный звонок</h2>
                        <form action="#" class="popup-back__form">
                            <input type="text" class="popup-back__input input" placeholder="Введите имя" required>
                            <input type="text" class="popup-back__input phone-input input" placeholder="Введите телефон" required>
                            <button class="popup-back__submit button--pink button">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
            <a href="landing.html" class="main-contacts__eng-ver"><img class="menu-english-img lazyload" src="/img/english.png">In English</a>
            <a href="tel:+7(495)374-61-62" class="main-contacts__phone">+7 (495) 374-61-62</a>
        </div>
        <nav class="main-nav">
            <div class="overlay hidden"></div>
            <button class="main-nav__toggle menu-open-toggle">
                <span></span>
                <span></span>
                <span></span>
                Меню
            </button>
            <div class="main-nav__wrap menu">
                <button class="main-nav__close menu-close-toggle">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
                <ul class="main-nav__list">
                    {% for item in mainMenu %}
                        {% if item.submenu is not empty %}
                            <li class="main-nav__item  main-nav__drop">
                                <a href="{{ item.link }}" class="main-nav__link">{{ item.title }}
                                    <svg class="icon-arrow-menu">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                </a>
                                <ul class="main-nav__second-list">
                                    {% for subitem in item.submenu %}
                                        {% if subitem.submenu is not empty %}
                                            <li class="main-nav__second-item">
                                                <p>
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#{{ subitem.icon }}"></use>
                                                    </svg>
                                                    {{ subitem.title }}
                                                    <svg class="icon-arrow">
                                                        <use xlink:href="#icon-arrow"></use>
                                                    </svg>
                                                </p>
                                                <ul class="main-nav__third-list">
                                                    {% for thirditem in subitem.submenu %}
                                                        {% if thirditem.subtitle %}
                                                            <li class="main-nav__third-item">
                                                                <p class="main-nav__third-item-title">
                                                                    {{ thirditem.title }}
                                                                </p>
                                                            </li>
                                                        {% else %}
                                                            <li class="main-nav__third-item {% if thirditem.last %} _last {% endif %}">
                                                                <a href="{{ thirditem.link }}" class="main-nav__third-link">{{ thirditem.title }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li class="main-nav__second-item">
                                                <a href="{{ subitem.link }}" class="main-nav__second-item-link">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#{{ subitem.icon }}"></use>
                                                    </svg>
                                                    {{ subitem.title }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="main-nav__item"><a href="{{ item.link }}"
                                                          class="main-nav__link">{{ item.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="main-nav__list  main-nav__list--links">
                    <li class="main-nav__item">
                        <a href="{{ subitem.link }}" class="main-nav__link">Партнёрам</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="{{ subitem.link }}" class="main-nav__link">Вакансии</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="{{ subitem.link }}" class="main-nav__link">Задать вопрос</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="{{ subitem.link }}" class="main-nav__link">Мы в СМИ</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="{{ subitem.link }}" class="main-nav__link">Статьи</a>
                    </li>
                </ul>
            </div>
            <div class="main-nav__wrap menu-contacts">
                <button class="main-nav__close menu-close-contacts-toggle">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-close"></use>
                    </svg>
                </button>
                <div class="main-contacts _menu">
                    <a href="tel:+7(495)374-61-62" class="main-contacts__phone">+7 (495) 374-61-62</a>
                    <div class="main-contacts__inner">
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-whatsapp"/>
                            </svg>

                            <a href="whatsapp://send?phone=79771197255" class="main-contacts__item">WhatsApp</a>
                        </div>
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-viber"/>
                            </svg>
                            <a href="viber://add?number=79771197244" class="main-contacts__item">Viber</a>
                        </div>
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-sms"/>
                            </svg>
                            <a href="sms:+79771197244" class="main-contacts__item">Sms</a>
                        </div>
                        <div class="main-contacts__wrapper">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-phone"/>
                            </svg>
                            <button class="main-contacts__item _callback js-callback-toggle">Обратный звонок</button>
                        </div>
                        <a href="mailto:info@bar-street.ru" class="main-contacts__phone">info@bar-street.ru</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>