{% set newFooterNav = [
    {
        title: 'Услуги',
        link: '/services.html'
    },
    {
        title: 'Фотоотчёты',
        link: '/photoalbum.html'
    },
    {
        title: 'Команда',
        link: '/team.html'
    },
    {
        title: 'Контакты',
        link: '/contacts.html'
    },
    {
        title: 'Партнерам',
        link: '/partner.html'
    },
    {
        title: 'Мы в СМИ',
        link: '/facts.html'
    },
    {
        title: 'Вакансии',
        link: '/vacansy.html'
    },
    {
        title: 'Статьи',
        link: '/articles.html'
    },
    {
        title: 'Задать вопрос',
        link: '/message.html'
    },
    {
        title: 'Коктейльная карта',
        link: '/coctails.html'
    }
] %}

<footer class="new-footer">
    <div class="container">
        <div class="row">
            <div class="blog-list col-12">
                <article class="blog-list__item">
                    <a href="/expo.html" class="blog-list__link">
                        <p class="blog-list__title">Организация бара на выставках</p>
                    </a>
                </article>
                <article class="blog-list__item">
                    <a href="/work-levels.html" class="blog-list__link">
                        <p class="blog-list__title">Узнайте как мы организуем выездной бар</p>
                    </a>
                </article>
                <article class="blog-list__item">
                    <a href="/themes/barstreet/docs/present-bar-street.pdf" class="blog-list__link">
                        <p class="blog-list__title">Презентация услуг Bar-Street</p>
                    </a>
                </article>
            </div>
            <nav class="new-footer__nav col-12 col-md-8 col-lg-7">
                <ul class="new-footer__nav-list">
                    {% for item in newFooterNav %}
                        <li class="new-footer__nav-item">
                            <a href="{{ item.link }}" class="new-footer__nav-link">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <ul class="new-footer__contacts col-12 col-md-8 col-lg-5">
                <li class="new-footer__contacts-item">
                    <span class="new-footer__contacts-town">Москва</span>
                    <a href="tel:+7(495)374-61-62" class="new-footer__contacts-link">+7 (495) 374-61-62</a>
                </li>
                <li class="new-footer__contacts-item">
                    <span class="new-footer__contacts-town">Санкт-Петербург</span>
                    <a href="tel:+7(812)438-12-14" class="new-footer__contacts-link">+7 (812) 438-12-14</a>
                </li>
                <li class="new-footer__contacts-item">
                    <span class="new-footer__contacts-town">Адрес</span>
                    <p class="new-footer__contacts-address">г. <span itemprop="addressLocality">Москва</span>, <span
                                itemprop="streetAddress">ул. Клары Цеткин д.4</span></p>
                </li>
            </ul>
            <div class="new-footer__inner col-12 col-md-4 col-lg-6">
                <div class="social">
                    <a href="#" class="social__link _inst">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-inst"/>
                        </svg>
                    </a>
                    <a href="#" class="social__link _fb">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-fb"/>
                        </svg>
                    </a>
                    <a href="#" class="social__link _vk">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-vk"/>
                        </svg>
                    </a>
                </div>
                <div class="payment">
                    <img class="payment__item _visa lazyload" src="../../img/visa.svg" alt="Visa">
                    <img class="payment__item _master lazyload" src="../../img/mastercard.svg" alt="MasterCard">
                </div>
            </div>
            <section class="copyright col-12 col-lg-6">
                <p class="copyright__item">© 2010—2019 ООО «Бар Стрит». Выездные бары.</p>
                <p class="copyright__offer">Используя сайт, вы принимаете условия
                    <a target="_blank" href="#" class="copyright__link">Публичной оферты</a>,
                    <a target="_blank" href="#" class="copyright__link">Соглашения на обработку персональных данных</a>
                    и
                    <a target="_blank" href="#" class="copyright__link">Политики в отношении обработки персональных
                        данных</a>
                </p>
            </section>
            <p class="devolopment col-12 col-xl-6">Разработка и продвижение сайта в агентстве «<a
                        class="devolopment__link"
                        href="https://constructivesolutions.ru/">Конструктивные решения</a>»</p>
        </div>
    </div>
</footer>


<section class="reviews">
    <div class="t-width_12  reviews-slider  owl-carousel owl-theme">
        <section class="review">
            <p class="review__text">
                Что касается самой организации поездки- тут всё на&nbsp;высоте, вот прям с&nbsp;моего первого обращения
                и&nbsp;до
                прилета обратно, со&nbsp;мной такое впервые чтобы менеджер искренне переживал и&nbsp;волновался как у&nbsp;нас
                и&nbsp;что ,
                т.е. сопровождение туриста на&nbsp;всё время пребывания, а&nbsp;не&nbsp;только в&nbsp;момент продажи
                тура, вот за&nbsp;это Вам
                отдельный респект как говорится и&nbsp;уважуха?ﾠТолько из-за этого уже хочется с&nbsp;Вами работать
                дальше.&quot;
            </p>
            <p class="review__text  review__text--name">Анна</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                &laquo;Отдохнули мы&nbsp;замечательно! Изначально были настроены скептически из-за неудачного опыта
                прошлой осенью,
                но&nbsp;решили дать Турции ещё один шанс, Елена нас убедила в&nbsp;том, что на&nbsp;самом деле всё может
                быть
                по-другому, и&nbsp;она оказалась права! Путешествие было легким, очень приятным, я&nbsp;бы даже сказала
                беззаботным ? Отель поразил с&nbsp;первых минут, встречали нас рахат-лукумом, заселили сразу, несмотря
                на&nbsp;то,
                что приехали мы&nbsp;сильно раньше времени, персонал очень обходителен и&nbsp;внимателен, ещё и&nbsp;на&nbsp;бранч
                попали,
                так что удовольствие началось с&nbsp;первых минут. В&nbsp;номере были игрушки и&nbsp;кроватка для
                ребёнка. На
                протяжении всего отдыха нам раза 3&nbsp;звонил менеджер, спрашивал всё&nbsp;ли нас устраивает. Питание
                замечательное, разнообразное меню, детского много, фруктов, овощей, рыбы. У&nbsp;нас младший щёки отъел,
                я
                зря волновалась из-за еды ? Старший сын уходил утром и&nbsp;возвращался вечером&nbsp;&mdash; всё время
                проводил в
                детском клубе. Очень много активностей для детей. Море чистое, песок без камней. Мы&nbsp;гуляли по
                территории, она большая, зеленая, чистая и&nbsp;отлично подходит для прогулок с&nbsp;коляской. Вокруг
                ресторана
                пруд с&nbsp;рыбками, в&nbsp;детском клубе тоже, младший оценил! Дни пролетели незаметно!&raquo;
            </p>
            <p class="review__text  review__text--name">Алена</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                &laquo;Спасибо за&nbsp;прекрасный отдых! С&nbsp;Еленой было одно удовольствие работать&nbsp;&mdash;
                всегда помогала, подсказывала,
                была на&nbsp;связи. <br>
                Отель прекрасный&nbsp;&mdash; превосходное бунгало 1ой линии, прямо с&nbsp;умопомрачительным видом на&nbsp;море
                (но&nbsp;в
                последнюю ночь от&nbsp;этого моря был и&nbsp;умопомрачительный шум&nbsp;&mdash; штормило,старший ребенок
                боялся спать).
                Шикарная большая территория (и&nbsp;смежного с&nbsp;ним отеля из&nbsp;этой&nbsp;же линейки Иберостар),
                закрытые лагуны&nbsp;&mdash; это
                были первостепенные критерии отбора. Море превосходное&nbsp;&mdash; дети не&nbsp;вылезали!&raquo;

            </p>
            <p class="review__text  review__text--name">Оксана</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Мы&nbsp;отдохнули отлично. <br>
                Менеджер нам очень помогла, что было самым приятным&nbsp;&mdash; не&nbsp;пыталась навязать нам более
                дорогие отели (для
                меня отель занимает даже не&nbsp;первые 5&nbsp;позиций при выборе путешествия). Нам прислали плюс минус
                у&nbsp;нашем
                ценовом диапазоне, были и&nbsp;более дешевые и&nbsp;более дорогие отели, что помогло сделать выбор, в&nbsp;том
                числе,
                можно было понять чем отличаются отели в&nbsp;зависимости от&nbsp;цены.
                После выбора отеля единственным не&nbsp;очень приятным моментом была необходимость доплаты за&nbsp;вылет
                определенным рейсом, было&nbsp;бы хорошо получать эту информацию заранее, чтобы потом не&nbsp;вылезали
                скрытые
                расходы. Ведь изначальный перерасход бюджета не&nbsp;является приятным началом путешествия.
                Нам также были предложены дополнительные услуги&nbsp;&mdash; такси, страховка&nbsp;&mdash; мы&nbsp;ими
                не&nbsp;воспользовались и&nbsp;нам&nbsp;их,
                слава богу, никто не&nbsp;навязывал. <br>
                Также менеджер любезно забронировала номер в&nbsp;том&nbsp;же отеле нашим друзьям, которые летели из&nbsp;Израиля.
                У
                нас получился отличный совместный отдых, спасибо за&nbsp;это. <br>
                В&nbsp;отеле хорошие номера, вежливый персонал, очень обходительный и&nbsp;любезный менеджер ресторана.
                Детской
                анимации не&nbsp;было, детской площадки тоже. Зато было полно матрасов, кругов, мячей и&nbsp;прочего для
                игры в
                бассейне. Вода в&nbsp;бассейнах ледяная, холоднее чем в&nbsp;море). <br>
                Очень понравилось месторасположение отеля&nbsp;&mdash; рядом с&nbsp;морем, рядом с&nbsp;супермаркетом,
                рядом с&nbsp;рестораном с
                детской площадкой, рядом центром, в&nbsp;пешей доступности до&nbsp;пляжа фигового дерева, в&nbsp;соседнем
                отеле можно
                постирать вещи за&nbsp;2&nbsp;евро. В&nbsp;общем, мы&nbsp;довольны. <br>
                Полет прошел хорошо, по&nbsp;пути на&nbsp;Кипр задержали рейс на&nbsp;40&nbsp;минут, обратно вылетели
                без задержек. Автобусы
                приехали вовремя, всех загрузили быстро. Гид рассказывал про лучшие рестораны этого района, мы&nbsp;посетили
                два, и&nbsp;надо сказать, один был просто божественным. Так вкусно&nbsp;мы, кажется, никогда не&nbsp;ели.
                Друзьям порекомендовали. Уже двое слетали через вас) Мы&nbsp;обязательно воспользуемся вашими услугами
                при
                следующем отпуске, очень довольны, спасибо Вам и&nbsp;Вашей команде!
            </p>
            <p class="review__text  review__text--name">Светлана</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Огромное вам спасибо, а&nbsp;особенно Насте Савиной, за&nbsp;нашу нереально крутую первую поездку всей
                семьей в
                Тайланд! <br>
                Это мой первый опыт работы с&nbsp;вами, я&nbsp;повидала много турагенств, и&nbsp;хочу сказать, что вы&nbsp;&mdash;
                лучшие! Такого
                высокого сервиса мне, правда, не&nbsp;доводилось встречать. <br>
                Настя вела диалог настолько вежливо и&nbsp;профессионально, что я&nbsp;до&nbsp;сих пор восхищена. Все до&nbsp;мелочей:
                от
                выбора направления тура с&nbsp;учетом наших требований до&nbsp;заботы о&nbsp;том, как мы&nbsp;долетели
                обратно в&nbsp;Москву. На
                связи в&nbsp;любое время дня и&nbsp;ночи! А&nbsp;как много знаний и&nbsp;опыта по&nbsp;каждому
                направлению и&nbsp;курорту!
                Настя и&nbsp;вся команда Baby travel club, отныне наша семья путешествует только с&nbsp;вами! Успехов
                вам и
                процветания!
            </p>
            <p class="review__text  review__text--name">Наталья</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Добрый день! Да, из&nbsp;отпуска привезли только положительные эмоции и&nbsp;впечатления!Это была первая
                поездка с
                детьми ( старшей 3года, младшему 4&nbsp;месяца)Очень переживали как и&nbsp;что будет, старались
                продумать все
                вопросы и&nbsp;нюансы, в&nbsp;этом нам помогала Елена.За что ей&nbsp;мы&nbsp;очень признательны!
                Оперативно искала все наши
                &laquo;хотелки&raquo; и&nbsp;помогала с&nbsp;выбором, прислушались к&nbsp;её&nbsp;рекомендациям и&nbsp;не&nbsp;пожалели!
                В&nbsp;нашем отеле самое классное было это море! Его близость!Наслаждались всей семьёй, даже младшему
                понравилось купаться! На&nbsp;пляже на&nbsp;зонтиках есть вызовы официантов, но&nbsp;честно не&nbsp;пользовались,
                было не
                привычно, да&nbsp;и&nbsp;бар рядом. <br>
                Сам отель хороший, питание понравилось, хороший выбор, это говорю как кормящая мама.Было что покушать и
                мне,чтоб у&nbsp;малыша не&nbsp;болел живот, и&nbsp;мужу, который любит мясо и&nbsp;острые блюда и&nbsp;дочке,
                единственный нюанс
                очень долго ждать напитков, (практически всегда к&nbsp;концу приносили)в обед ждали всегда, на&nbsp;ужин
                старались
                приходить попозже когда мало народу, тогда напитки подавались быстрее.Сам номер конечно имел нюансы,но
                не&nbsp;большие и&nbsp;не&nbsp;влияющие на&nbsp;отдых, больше играло роль,что он&nbsp;с&nbsp;балконом,
                большой, уютный, чай и&nbsp;кофе с
                чайником в&nbsp;номере, вода бутилированная. Телевизор кстати современный и&nbsp;мы&nbsp;по&nbsp;блютусу
                подключали
                телефон,чтоб смотреть мультики. Вай-фай хороший, видеозвонки не&nbsp;тянет, а&nbsp;фильмы после того как
                укладывали детей, смотрели без запинок.Мы просили две раздельные кровати, но&nbsp;нам поставили
                их+детскую
                кроватку+кроватку для старшего ребенка, поэтому со&nbsp;сном у&nbsp;нас вопросов не&nbsp;было.Матрасы и&nbsp;подушки
                очень
                удобные, муж с&nbsp;больной спиной хорошо высыпался. Уборка была ежедневная (смена полотенец,
                белья).Сервис
                понравился, все улыбчивые и&nbsp;стараются помочь.Мне конечно было непривычно,что все хотят потискать
                детей,
                но&nbsp;думаю это разные менталитеты. <br>
                На&nbsp;счет рекомендации &laquo;BabyTravelClub&raquo; друзьям и&nbsp;знакомым.Наши друзья практически
                все с&nbsp;маленькими детьми
                и&nbsp;никто еще загран не&nbsp;выезжал,поэтому по&nbsp;прилёту у&nbsp;них было множество вопросов и&nbsp;конечно
                я&nbsp;советовала
                BabyTravelClub. <br>
                Почему, да&nbsp;потому,что: <br>
                1. Удобное оформление документов и&nbsp;оплаты <br>
                2. Подбор тура осуществлялся быстро и&nbsp;учитывались все наши пожелания. <br>
                3.По возникающим вопросам предоставлялась исчерпывающая информация <br>
                4.На странице в&nbsp;инстаграм предоставляется информация по&nbsp;стоимости тура без скрытых комиссий и&nbsp;т.п.
                Т.е.
                можно без труда сориентироваться сколько будет стоить отдых в&nbsp;той или иной стране. Рассказываете
                &laquo;хитрости туриста и&nbsp;туроператоров&raquo;. <br>
                5.Учитывается то&nbsp;что отдых с&nbsp;детьми, как правило в&nbsp;агентствах нет полной информации по&nbsp;отелю
                и
                приходится искать что&nbsp;же там для деток <br>
                Спасибо BabyTravelClub за&nbsp;ответственность, старательность и&nbsp;индивидуальный подход к&nbsp;клиентам!
                Отдельное
                спасибо, что&nbsp;Вы всегда на&nbsp;связи и&nbsp;переживаете за&nbsp;такие моменты: как прошел отпуск?
                доволен&nbsp;ли клиент?
                <br>
                Удачи и&nbsp;процветания Вашему делу! Уже обратились снова))
            </p>
            <p class="review__text  review__text--name">Юлия</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Очень мне понравилось работать с&nbsp;Мариной, отзывчивая девушка, все четко быстро , рассказала ,
                объяснила
                , узнала как долетели прилетели и&nbsp;тд! Уже рекомендую Вас всем знакомым и&nbsp;сами будем отдыхать
                только с
                вами !!! Спасибо вам за&nbsp;наш отличный отдых! <br>
                По&nbsp;отелю понравилось соотношение цены и&nbsp;качества ! Хорошая территория , несколько пляжей ,
                Тихая лагуна
                , Вода прозрачная , волн нет совсем , с&nbsp;детьми очень удобно! <br>
                Минус небольшой то&nbsp;что бесплатный интернет работает только в&nbsp;лобби и&nbsp;очень плохо , но&nbsp;есть
                платный , он
                везде ловит! <br>
                А&nbsp;так за&nbsp;эти деньги отличный отдых для всей семьи <br>
                Спасибо! <br>

            </p>
            <p class="review__text  review__text--name">Оксана</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Анна нам очень помогла!!! Огромное ей&nbsp;спасибо, она готова была отвечать на&nbsp;наши вопросы в&nbsp;любой
                момент
                без промедления. Помогала и&nbsp;на&nbsp;этапе выбора ( мы&nbsp;долго не&nbsp;могли определиться с&nbsp;датами
                и&nbsp;приходилось
                пересчитывать, я&nbsp;не&nbsp;заметила и&nbsp;тени неудовольствия в&nbsp;разговоре или переписке , хотя
                меня саму такая
                ситуация вывела&nbsp;бы из&nbsp;себя)) и&nbsp;на&nbsp;этапе оформления (нам во&nbsp;всем шли навстречу)
                и&nbsp;в&nbsp;сам отпуск мы&nbsp;тоже
                обращались за&nbsp;помощью и&nbsp;Анна нам помогала. <br>
                Отель хороший (есть старые номера, в&nbsp;такой номер нас поселили в&nbsp;первую ночь. Но&nbsp;мы&nbsp;попросили
                нас
                переселить и&nbsp;во&nbsp;второй день нас поселили в&nbsp;очень хороший свежий номер в&nbsp;корпусе над
                ресепшеном). Уборка
                хорошая даже без чаевых, ( хочу отдельно отметить что кгд малыш заболел энтеровирусом и&nbsp;мы&nbsp;сообщили
                об
                этом с&nbsp;просьбой срочно убрать номер, уборщица убрала номер хорошо и&nbsp;при мытье использовала
                хлорсодержащие средства, то&nbsp;есть отель заботиться о&nbsp;том чтобы инфекция не&nbsp;распространялась.
                Много лежаков на&nbsp;пляже. Детские развлечения. Питание разнообразное, малыша было чем кормить.
                Трансфер хороший) <br>
                Да, я&nbsp;все уже рассказываю о&nbsp;&laquo;BabyTravelClub&raquo; и&nbsp;сама я&nbsp;узнала о&nbsp;вас
                от&nbsp;подруги ;) <br>
                Спасибо за&nbsp;отпуск и&nbsp;желаю вам процветания!!!
            </p>
            <p class="review__text  review__text--name">Ирма</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Мы&nbsp;общались с&nbsp;Еленой Чиркиной, очень благодарны ей&nbsp;за&nbsp;организацию нашего отдыха.
                У&nbsp;нас было все сложно, т.к. это была первая поездка с&nbsp;маленьким ребенком и&nbsp;варианты
                искали начиная с
                нашего юга,.. Крыма и&nbsp;в&nbsp;итоге остановились на&nbsp;Турции. <br>
                С&nbsp;Еленой выбрали неплохой отель (Gloria 5*&nbsp;Белек) и&nbsp;перелет Турецкими авиалиниями. <br>
                К&nbsp;перелету, трансферу вопросов нет. Отель в&nbsp;целом тоже понравился, действительно ориентирован
                на
                маленьких детей (как мы&nbsp;и&nbsp;искали), были небольшие нюансы, но&nbsp;в&nbsp;целом все хорошо. На&nbsp;будущее
                будем брать
                заранее все&nbsp;же цена должны быть лучше. <br>
                Будем рекомендовать вас друзьям, чувствуется индивидуальный подход (это очень важно и&nbsp;приятно) и
                профессионализм, как я&nbsp;понимаю вы&nbsp;предлагаете только отели которые проверили сами. <br>
                Елене большое спасибо, т.к.&nbsp;до&nbsp;конца была с&nbsp;нами на&nbsp;связи. <br>
                Обязательно обратимся к&nbsp;вам еще. <br>
                P.S. очень интересно читать вас в&nbsp;Instagram!

            </p>
            <p class="review__text  review__text--name">Любовь</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Отвечу по&nbsp;пунктам: <br>
                1) как вам помог наш менеджер? &mdash;&nbsp;Наталья Хайруллина&nbsp;&mdash; мне было очень
                приятно и&nbsp;комфортно общаться с&nbsp;Натальей.&nbsp;на&nbsp;все наши просьбы и
                &laquo;хотелки&raquo; посмотреть еще, она подбирала новые варианты и&nbsp;давала советы
                и&nbsp;реко. Так что по&nbsp;этому вопросу я&nbsp;вполне доволен что мы&nbsp;обратились к
                вам! <br>
                2) что было самое классное в&nbsp;вашем отеле? Ну&nbsp;здесь хочу сразу сказать,
                что мы&nbsp;летали на&nbsp;Кубу уже в&nbsp;4й&nbsp;раз, в&nbsp;том год назад летали с&nbsp;ребенком
                1,5&nbsp;лет. Поэтому после долгих обсуждений и&nbsp;рассмотренных вариантов по
                Кубе и&nbsp;др&nbsp;странам и&nbsp;множеству рассмотренных отелей, решили не
                рисковать, а&nbsp;поехать в&nbsp;проверенный временем отель, тем более что по
                стоимости он&nbsp;получался оптимальным. Помимо прочего, у&nbsp;нас было главное
                требование к&nbsp;отель&nbsp;&mdash; наличие 2х&nbsp;комнатного номера&nbsp;&mdash; в&nbsp;Iberostar
                Laguna
                Azul в&nbsp;этом плане все отлично&nbsp;&mdash; 2х&nbsp;комнатный номер, почти 71&nbsp;кв.м.
                В&nbsp;плане питания, отношения персонала к&nbsp;туристам и&nbsp;детям в&nbsp;частности -
                все замечательно. Понятно что 5&nbsp;звезд на&nbsp;Кубе немного уступают 5&nbsp;звездам
                в&nbsp;Доминикане или на&nbsp;Мальдивах&nbsp;&mdash; но&nbsp;мы&nbsp;влюблены в&nbsp;эту страну и&nbsp;готовы
                еще не&nbsp;один раз туда приезжать. <br>
                3) полет и&nbsp;поездка до&nbsp;отеля была комфортной? Полет&nbsp;&mdash; все предыдущие
                наши поездки на&nbsp;Кубу были через Аэрофлот, в&nbsp;этот&nbsp;же раз мы&nbsp;летели
                чартером Нордвинд, думали что будет хуже, но&nbsp;оказалось наоборот.
                Конечно выбор мест за&nbsp;деньги не&nbsp;доставляет удовольствия, но&nbsp;зато
                заранее можешь выбрать подходящие места и&nbsp;знать что полетишь с
                комфортом&nbsp;&mdash; особенно это конечно важно с&nbsp;маленьким ребенком&nbsp;&mdash; поэтому
                мы&nbsp;брали места size plus. Трансфер до&nbsp;отеля и&nbsp;обратно&nbsp;&mdash; тут сложно
                накосячить :) поэтому все было норм! <br>
                4) вы&nbsp;бы порекомендовали &laquo;BabyTravelClub&raquo; своим друзьям? Почему? думаю
                что да&nbsp;&mdash; поскольку мне было приятно общаться с&nbsp;менеджером, который
                подбирал различные варианты по&nbsp;нашим &laquo;хотелкам&raquo;, всегда и&nbsp;по&nbsp;любым
                вопросам был на&nbsp;связи, и&nbsp;по&nbsp;стоимости между закупкой через BTC и
                прямых операторов особой разницы я&nbsp;не&nbsp;увидел.
            </p>
            <p class="review__text  review__text--name">Антон</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                Все супер, нам все очень понравилось. <br>
                Были на&nbsp;острове Кос, Греция. <br>
                Наш менеджер Елена помогла нам подобрать Отель под наш запрос. Я&nbsp;очень придирчива к&nbsp;сервису,
                но&nbsp;тут мне
                все понравилось. <br>
                Отель приятный, хорошая территория (комплекс отелей), хорошие пляжи у&nbsp;отелей рядом, лежаки включены
                в
                стоимость. Завтраки и&nbsp;ужины хорошие, соответствуют цене (моя оценка&nbsp;4, я&nbsp;придираюсь)
                Полет и&nbsp;трансфер отлично. Единственное, больше не&nbsp;будем выбирать ночной/ранний утренний полет
                с
                ребенком. <br>
                Да, я&nbsp;бы порекомендовала BabyTravelClub и&nbsp;сделаю это. Очень внимательное отношение менеджера,
                это очень
                важно. Понимание клиента на&nbsp;5+ <br>
                Спасибо вам большое! Будем планировать следующее путешествие 😊
            </p>
            <p class="review__text  review__text--name">Яна</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
        <section class="review">
            <p class="review__text">
                По&nbsp;работе менеджера быстро и&nbsp;оперативно отвечала на&nbsp;все вопросы, прислала хорошую
                подборку отелей, я
                когда искала самостоятельно отель, который мы&nbsp;выбрали в&nbsp;итоге мне в&nbsp;список
                рассматриваемых даже не
                попадал. <br>
                Предложила он-Лайн регистрацию на&nbsp;рейс. <br>
                Отель все понравилось особенно питание, номер хороший, все новое, территория компактная, при этом все
                есть, хорошая анимация, пляж там каменистый, но&nbsp;во&nbsp;всех отзывах об&nbsp;этом написано, мы&nbsp;спокойно
                купались
                на&nbsp;пляже соседнего отеля, на&nbsp;наш даже и&nbsp;не&nbsp;пробовали заходить. <br>
                В&nbsp;Турции я&nbsp;уже 6&nbsp;раз, могу сказать достойный отель по&nbsp;соотношению цена-качество.
                <br>
                Полет а/к Россия поэтому все нормально, питание на&nbsp;борту хорошее( сейчас многие чартеры вообще
                людей не
                кормят), трансфер удобный, небольшой автобус человек на&nbsp;20. <br>
                Читаю Вас в&nbsp;Инстаграм, очень хорошие подборки отелей, продолжайте эти публикации. <br>
                Спасибо Вам за&nbsp;помощь в&nbsp;покупке тура. <br>
                Желаю хороших клиентов и&nbsp;побольше.
            </p>
            <p class="review__text  review__text--name">Ирина</p>
            <a class="hotel__btn" href="#popup:myform">Хочу также</a>
        </section>
    </div>
</section>