@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PT_Sans-Web-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PT_Sans-Web-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("/fonts/PT_Sans-Web-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeue.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeueItalic.ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeueBold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeueBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeueLight.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeueLightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeueUltraLight.ttf");
    font-weight: 100;
    font-style: normal;
}