.body {
    font-family: $f-base;
    line-height: 1.3;
    background-color: $background-primary-color;

    &._blue {
        position: relative;
        background-color: #110936;

        .container {
            z-index: 2;
            position: relative;
        }

        &::before {
            content: "";
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: url(../img/shadow7.png) repeat-x 0 0;
            height: 376px;
        }
    }

    @media screen and (max-width: $screen-md-max) {
        padding-top: 55px;
    }
}

.body-blue {
    background-color: #110936;
}

.bg-black {
    background-color: $black;
}

.services-theme {
    background-color: #090618;
}

.hidden {
    display: none !important;
}

.wrapper {
    width: 300px;
    margin: 0 auto;
}

ol, ul {
    padding: 0;
    list-style-type: none;
}

.currency {
    margin-left: 5px;
}

.text-input {
    padding: 13.5px 21px;
    margin: 0;
    border-radius: 4px;
    width: 100%;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    border: none;
}

.mobile-hidden {
    display: none;
}

.desktop-hidden {
    width: 100%;
}

.how-work-toggle {
    background: $c-primary;
    border-radius: 50px;
    border: none;
    outline: none;
    color: $white;
    display: block;
    font-size: 10.5px;
    height: 70px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 70px;
    padding: 20px 10px;
    cursor: pointer;
    margin: 10px auto;

    &:hover {
        background: #c72068;
    }
}

.fly {
    position: absolute;
    width: 190px;
    height: 190px;
    z-index: 50;
    overflow: hidden;
    border-radius: 100px;

    img {
        border-radius: 100%;
        max-width: 100%;
        max-height: 100%;
        min-width: 42px;
        min-height: 42px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-hidden {
        display: block;
    }

    .tablet-hidden {
        display: none;
    }

    .wrapper {
        width: 620px;
    }

    .how-work-toggle {
        margin: 0;
    }

    .button {
        &--form {
            width: 213px;
        }
    }
}

@media screen and (min-width: 992px) {
    .desktop-hidden {
        display: none;
    }

    .tablet-hidden-flex {
        display: flex;
    }

    .how-work-toggle {
        position: absolute;
        left: 58%;
        bottom: -61px;
        z-index: 1;
    }
}

a {
    text-decoration: none;
    color: $c-primary;
    transition: all .4s linear;

    &:hover {
        color: $c-third;
    }

    &:active {
        opacity: 0.6;
    }
}

p {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
    color: #000;
}

h2, h3 {
    margin-top: 25px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #000;
}

ul {
    list-style-type: none;
}

ol, ul {
    margin: 0;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.overlay-eighteen-plus {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.jQueryErrors {
    font-size: 14px;
    color: red;
}

#reCaptchaHeader, #reCaptchaEvent {
    margin-bottom: 10px;
}

#reCaptchaEvent {
    width: 100%;
}

#reCaptchaEvent div {
    margin: 20px auto 0;
}

#reCaptchaArticle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto 0;
}

button {
    background-color: transparent;
    border: none;
}