.img-zoom {
    display: block;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: block;
        width: 135%!important;
        transform: translate(-50%, -50%) translateZ(0);
        cursor: pointer;
        transition: all 0.4s linear;
    }

    &:hover {
        img {
            width: 110% !important;
        }
    }
}