.popup {
    position: fixed;
    z-index: 990;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
}

.popup__inner {
    display: none;
    font-family: $f-base;
    position: relative;
    z-index: 11;
    //margin: 70px auto;
    height: auto;
    min-height: 100vh;
    background: $white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.popup__close {
    position: absolute;
    top: 30px;
    right: 15px;
    background: none;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg {
        width: 20px;
        height: 20px;
    }
    &:hover {
        svg {
            fill: $c-primary;
        }
    }
    @media (min-width: $screen-sm) {
        right: 30px;
    }
    @media (min-width: $screen-md) {
        top: 40px;
    }
}

.popup__title, .popup-back__title {
    margin: 0 0 20px;
    padding-right: 50px;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    @media (min-width: $screen-sm) {
        padding-right: 0;
    }
    &--left {
        text-align: left;
    }
}

.popup__description {
    font-size: 14px;
    margin: 0 0 25px;
    line-height: 24px;

    span {
        color: $c-primary;
    }
}

.popup__name,
.popup__phone,
.popup__email {
    display: block;
    margin-bottom: 20px;
}

.popup__name-input,
.popup__phone-input,
.popup__email-input {
    width: 100%;
}

.popup__comment {
    margin-bottom: 10px;
    color: $c-primary;
    span {
        border-bottom: 1px dashed $c-primary;
    }
}

.popup__comment-area {
    display: none;
    transition: border,
    box-shadow 0.3s linear;
    background: $white;
    border: 2px solid #d1d1d1;
    font-size: 20px;
    line-height: 28px;
    height: 220px;
    width: 100%;
    border-radius: 6px;
    padding: 10px 21px;
    margin-top: 10px;
    outline: none;
    &:focus {
        border-color: $c-third;
    }
}

.popup__submit {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 31px;
}

.popup__offer {
    margin-top: 20px;
    font-size: 14px;
    line-height: 24px;
}

.popup__link {
    color: $black;
    transition: color 0.3s linear;
    &:hover {
        color: $c-primary;
    }
    &:active {
        color: $c-third;
    }
}

.popup-open {
    overflow: hidden;
}

// how-work popup

.popup-how-work__inner {
    font-family: $f-base;
    display: block;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -160px;
    background: $white;
    z-index: 10;
    width: 320px;
    height: auto;
    padding: 30px;
}

.popup-how-work__title {
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    margin: 0;
    margin-bottom: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.popup-how-work__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-how-work__item {
    margin-bottom: 20px;
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    // .icon-svg {
    //     display: block;
    //     margin: 0 auto;
    //     margin-bottom: 20px;
    //     width: 120px;
    //     height: auto;
    // }
    &:nth-child(1) {
        img {
            width: 82px;
            height: 98px;
        }
    }
    &:nth-child(2) {
        img {
            height: 96px;
            width: 96px;
        }
    }
    &:nth-child(3) {
        img {
            height: 105px;
            width: 126px;
        }
    }
}

.popup-how-work__item-title {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.popup-how-work__content {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.popup-how-work__question {
    border-top: 1px solid #e2e2e4;
    padding-top: 20px;
    text-align: center;
}

.popup-how-work__question-content {
    font-size: 20px;
    line-height: 1.2;
}

.popup-how-work__question-link {
    color: $c-primary;
    text-decoration: none;
    transition: color 0.3s linear;
    &:hover {
        color: $c-third;
    }
    &:active {
        opacity: 0.6;
    }
}

// back popup



@media screen and (min-width: 768px) {
    .popup__inner {
        width: 690px;
        padding: 52px 65px 40px;
        min-height: auto;
        margin: 70px auto;
    }

    .popup__name,
    .popup__phone,
    .popup__email,
    .popup__comment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }

    .popup__name-input,
    .popup__phone-input,
    .popup__email-input,
    .popup__comment-area {
        width: 346px;
        margin-right: 20px;
        margin-top: 0;
    }

    .popup__form-inner {
        display: flex;
        flex-direction: row;
    }

    .popup__submit {
        height: 59px;
        font-size: 20px;
        margin-right: 0;
        margin-left: 0;
    }

    .popup__form-content {
        width: 214px;
        margin-left: 20px;
        margin-bottom: auto;
        margin-top: auto;
        font-size: 14px;
        line-height: 20px;
    }

    //.popup__close {
    //    position: absolute;
    //    top: 40px;
    //    right: 20px;
    //    background: none;
    //    outline: none;
    //    border: none;
    //    width: 30px;
    //    height: 30px;
    //    cursor: pointer;
    //    svg {
    //        width: 20px;
    //        height: 20px;
    //    }
    //    &:hover {
    //        svg {
    //            fill: $c-primary;
    //        }
    //    }
    //}

    // how-work popup

    .popup-how-work__inner {
        width: 620px;
        padding: 52px 60px 40px;
        margin-left: -310px;
    }

    .popup-how-work__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 120px;
            height: 120px;
            padding: 0;
            margin: 0;
            margin-right: 20px;
            box-sizing: border-box;
        }
    }
}