//Цвета
$c-primary: #ed1e79;
$c-secondary: #aeaeae;
$c-third: #6f5e91;

$c-bg-primary: #110936;
$c-bg-secondary: #f5f5f5;
$c-bg-third: #651250;

//Шрифты
$f-base: 'PT Sans', sans-serif;
$f-second: 'HelveticaNeue', sans-serif;

$f-base-size: 16px;
$f-second-size: 20px;
$f-title-size: 32px;
$f-sub-title-size: 28px;

$c-bg-primary-hover: #C10A5B;
$c-bg-primary-active: #960545;

$background-primary-color: #090618;
$background-secondary-color: #ffffff;
$c-bg-third: #f5f5f5;
$c-bg-four: #e3e3e3;
$c-bg-five: #470938;
$c-bg-six: #1d1349;
$background-card-color: #3b2266;
$secondary-color: #5e5878;
$footer-primary-color: #e0e0e0;
$almost-black: #262626;
$black: #000000;
$white: #ffffff;
$landing-footer-bg-color: #1E0C2D;

// Screen breakpoints

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


// screen min breakpoints

$screen-xs-min: $screen-xs;
$screen-sm-min: $screen-sm;
$screen-md-min: $screen-md;
$screen-lg-min: $screen-lg;
$screen-xl-min: $screen-xl;

// Screen max breakpoints

$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;