{% set break = false %}

<ul class="breadcrumbs {% if (breadcrumbsMod) %} {{breadcrumbsMod}} {% endif %}">
    <li class="breadcrumbs__item">
        <a href="/" class="breadcrumbs__link">Главная</a>
    </li>
    {% for item in breadcrumbs if not break %}
        {% if (item.active) %}
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__link breadcrumbs__link--active">{{ item.title }}</span>
            </li>
            {% set break = true %}
        {% else %}
            <li class="breadcrumbs__item">
                <a href="{{item.link}}" class="breadcrumbs__link">{{ item.title }}</a>
            </li>
        {% endif %} 
    {% endfor %}
</ul>