<section class="need">
    <div class="container">
        <h2 class="need__title">Вам также могут понадобиться</h2>
        <div class="need__slider owl-carousel owl-theme">
            <div class="need__slider-item">
                <a href="" class="need__item"><img src="/img/need/picture1.jpg" alt="" class="need__img">
                    <p class="need__text">Услуги бариста</p>
                </a>
            </div>
            <div class="need__slider-item">
                <a href="" class="need__item"><img src="/img/need/picture2.jpg" alt="" class="need__img">
                    <p class="need__text">Мобильные барные стойки</p>
                </a>
            </div>
            <div class="need__slider-item">
                <a href="" class="need__item"><img src="/img/need/picture3.jpg" alt="" class="need__img">
                    <p class="need__text">Кофейные мастер-классы</p>
                </a>
            </div>
        </div>
    </div>
</section>