<div class="pagination {% if (light) %} _light {% endif %} {% if (border) %} _border {% endif %}">
    <div class="container">
        <ul class="pagination__list">
            <li class="pagination__item">
                <span class="pagination__arrow _disabled _left">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-nav" />
                    </svg>
                </span>
            </li>
            <li class="pagination__item _active">
                <a href="#" class="pagination__toggle  _active">1</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__toggle">2</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__toggle">3</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__toggle">...</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__toggle">27</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__toggle">28</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__toggle">29</a>
            </li>
            <li class="pagination__item ">
                <a href="#" class="pagination__arrow _right">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-nav" />
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>