{% import '../macros/photocard.twig' as card %}
<section class="photos">
    <div class="container">
        <p class="photos__title sub-title">{{ photoTitle|default('Фото с мероприятий') }}</p>
    </div>
        <div class="row no-gutters">
            {{ card.photocard({
                    img: '/img/photocards/photo1.png',
                    alt: '',
                    dateDigit: '11-01-2019',
                    dateText: '11 января 2019',
                    title: 'Выездной бар на новогоднем корпоративе',
                    link: ''
                }) }}
                {{ card.photocard({
                    img: '/img/photocards/photo2.png',
                    alt: '',
                    dateDigit: '07-12-2018',
                    dateText: '07 декабря 2018',
                    title: 'Молекулярный бар для компании UTS group',
                    link: ''
                }) }}
                {{ card.photocard({
                    img: '/img/photocards/photo3.png',
                    alt: '',
                    dateDigit: '03-12-2018',
                    dateText: '03 декабря 2018',
                    title: 'Бар на ежегодной теннисной премии «Золотая ракетка 2018»',
                    link: ''
                }) }}
                {{ card.photocard({
                    img: '/img/photocards/photo4.png',
                    alt: '',
                    dateDigit: '02-12-2018',
                    dateText: '02 декабря 2018',
                    title: 'Welcome bar для Sobytie Communication',
                    link: ''
                }) }}
        </div>
        {% if (photoLink) %}
            <a href="/photoalbum" class="button button--pink photos__link">Все фоототчеты</a>
        {% endif %}
</section>