    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../libs/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../libs/readmore.min.js"></script>
    <script src="../../libs/jquery.inputmask.bundle.min.js"></script>
    <script src="../../libs/fancybox/jquery.fancybox.min.js"></script>
    <script src="../../libs/lazysizes.min.js"></script>
    <script src="../libs/slickjs/slick.min.js"></script>
    <script src="../../libs/select2/select2.full.min.js"></script>
    <script src="../../libs/linkedSelects/linkedSelect.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/furniture-calc.js"></script>
    <script src="../../js/shop.js"></script>
</body>

</html>