<style>
    .service::after {
        background: url('../img/services-cover/{{servicesCover}}') 50% 100% no-repeat;
    }
</style>
<section class="service">
    <div class="container">
        <div class="row">
            <div class="service__inner col-md-6 col-lg-6">
                {% include '../modules/breadcrumbs.twig' %}
                <h1 class="title">{{ servicesTopic }}</h1>
                <p class="service__intro-content">{{ servicesDesc }}</p>
                <button class="service__intro-btn button  button--pink">Заказать</button>
            </div>
        </div>
    </div>
</section>