<section class="service-clients">
    <div class="container">
        <div class="row">
            <div class="service-clients__clients col-12 col-md-12 col-lg-6">
                <p class="service-clients__clients-title  sub-title">Наши клиенты</p>
                <div class="service-clients__clients-slider owl-carousel owl-theme">
                    <div class="service-clients__clients-item">
                        <img class="lazyload" data-src="../img/clients/sber-logo.svg" src="../img/clients/sber-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/audi-logo.svg" src="../img/clients/audi-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/red-bull-logo.svg" src="../img/clients/red-bull-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/mercedes-benz-logo.svg" src="../img/clients/mercedes-benz-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/metro-logo.svg" src="../img/clients/metro-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/S7-logo.svg" src="../img/clients/S7-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/porsche-logo.svg" src="../img/clients/porsche-logo.svg" alt="">
                        <img class="lazyload" data-src="../img/clients/tinkof-logo.png" src="../img/clients/tinkof-logo.png" alt="">
                        <img class="lazyload" data-src="../img/clients/tnt-logo.png" src="../img/clients/tnt-logo.png" alt="">

                    </div>
                </div>
            </div>
            <div class="service-clients__reviews col-12 col-md-12 col-lg-6">
                <p class="service-clients__reviews-title sub-title">Отзывы</p>
                <div class="service-clients__reviews-list service-clients__reviews-slider owl-carousel owl-theme">
                    {% for item in serviceBar.reviews %}
                        <div class="service-clients__reviews-item">
                            <p class="service-clients__reviews-content">{{ item.review }}</p>
                            <p class="service-clients__reviews-author">{{ item.author }}</p>
                            {% if item.note is not empty %}
                                <small class="service-clients__reviews-company">{{ item.note }}</small>
                            {% endif %}
                            <a href="{{ item.link }}" class="service-clients__reviews-link">Фотоотчёт</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>