<section class="team-members">
    <div class="container">
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
        <div class="team-members__item">
            <img class="team-members__img" src="../../img/team/members/1.jpg" width="142" height="142">
            <div class="team-members__inner">
                <p class="team-members__name">Максим Плешков</p>
                <p class="team-members__status">Управляющий партнер</p>
            </div>
        </div>
    </div>
</section>
