.team-about {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
        text-align: center;
        margin-bottom: 0;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 40px;
        }
    }

    &__list {
        width: 100%;

        @media screen and (min-width: $screen-sm) {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        @media screen and (min-width: $screen-lg) {
            justify-content: space-between;
        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto 20px;


        &:nth-child(1) {
            .icon-svg {
                width: 60px;
                height: 60px;
                opacity: 0.3;

                @media screen and (min-width: $screen-md) {
                    margin-left: -50px;
                }
            }

            .team-about__item-num-events, .team-about__item-num-coct {
                opacity: 0.3;
            }
        }

        &:nth-child(2) {
            .icon-svg {
                width: 60px;
                height: 60px;
                opacity: 0.4;
                @media screen and (min-width: $screen-md) {
                    margin-left: -20px;
                }
            }
            .team-about__item-num-events, .team-about__item-num-coct {
                opacity: 0.4;
            }
        }
        &:nth-child(3) {
            .icon-svg {
                width: 90px;
                height: 90px;
                opacity: 0.5;
                @media screen and (min-width: $screen-md) {
                    margin-left: -20px;
                    width: 80px;
                    height: 80px;
                }
            }
            .team-about__item-num-events, .team-about__item-num-coct {
                opacity: 0.5;
            }
        }
        &:nth-child(4) {
            .icon-svg {
                width: 100px;
                height: 100px;
                opacity: 0.6;
                @media screen and (min-width: $screen-md) {
                    width: 90px;
                    height: 90px;
                    margin-left: -30px;
                }
            }
            .team-about__item-num-events, .team-about__item-num-coct {
                opacity: 0.6;
            }
        }
        &:nth-child(5) {
            .icon-svg {
                width: 120px;
                height: 120px;
                opacity: 0.65;

                @media screen and (min-width: $screen-md) {
                    width: 95px;
                    height: 95px;
                    margin-left: -50px;
                }

            }
            .team-about__item-num-events, .team-about__item-num-coct  {
                opacity: 0.65;
            }
        }
        &:nth-child(6) {
            .icon-svg {
                width: 140px;
                height: 140px;
                opacity: 0.67;

                @media screen and (min-width: $screen-md) {
                    margin-left: -40px;
                    width: 130px;
                    height: 130px;
                }

                @media screen and (min-width: $screen-lg) {
                    margin-left: -30px;
                }
            }
            .team-about__item-num-events, .team-about__item-num-coct  {
                opacity: 0.67;
            }
        }
        &:nth-child(7) {
            .icon-svg {
                width: 140px;
                height: 140px;
                opacity: 0.7;

                @media screen and (min-width: $screen-md) {
                    margin-left: -10px;
                }

                @media screen and (min-width: $screen-lg) {
                    margin-left: 0;
                }
            }
            .team-about__item-num-events, .team-about__item-num-coct  {
                opacity: 0.7;
            }
        }
        &:nth-child(8) {
            .icon-svg {
                width: 140px;
                height: 140px;
                opacity: 0.75;

                @media screen and (min-width: $screen-md) {
                    width: 130px;
                    height: 130px;
                }
            }
            .team-about__item-num-events, .team-about__item-num-coct  {
                opacity: 0.75;
            }
        }
        &:nth-child(9) {
            .icon-svg {
                width: 140px;
                height: 140px;
                opacity: 1;
            }
            .team-about__item-num-events, .team-about__item-num-coct  {
                opacity: 1;
            }
        }

        @media screen and (min-width: $screen-md) {
            max-width: 115px;
            margin: 0 0 40px;
        }
    }

    &__item-num-events,
    &__item-num-coct,
    &__item-text {
        margin-bottom: 0;
    }

    &__item-date {
        order: 2;
        margin: 0 0 10px;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;

        @media screen and (min-width: $screen-md) {
            order: 1;
        }
    }

    &__item-img {
        position: relative;
        order: 1;
        fill: $c-primary;
        margin-bottom: 20px;
        text-anchor: middle;
        width: fit-content;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        @media screen and (min-width: $screen-sm) {
            height: 160px;
        }

        @media screen and (min-width: $screen-md) {
            order: 2;
        }

        @media screen and (min-width: $screen-lg) {
            font-size: 30px;
        }
    }

    &__item-num-events {
        order: 3;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        color: $c-primary;
        text-transform: uppercase;
        margin: 0 0 5px;
        @media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            text-align: center;
        }
        @media screen and (min-width: $screen-md) {
            font-size: 26px;
            width: 100%;

            span {
                display: block;
                font-size: 9px;
            }
        }
        @media screen and (min-width: $screen-lg) {
            font-size: 30px;
        }
    }

    &__item-num-coct {
        order: 4;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        text-transform: uppercase;
        margin: 0;

        &::before {
            content: 'БОЛЕЕ';
            padding-right: 7px;
        }

        @media screen and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            text-align: center;
        }

        @media screen and (min-width: $screen-md) {
            font-size: 16px;
            font-weight: 700;
            width: 100%;

            &::before {
                content: none;
            }

            span {
                font-weight: 300;
                display: block;
                font-size: 9px;
            }
        }

        @media screen and (min-width: $screen-lg) {
            font-size: 20px;
        }
    }

    &__total-decoration {
        position: relative;
        padding-top: 40px;
        @media screen and (min-width: $screen-sm) {
            padding-top: 50px;
        }

        @media screen and (min-width: $screen-lg) {
            padding-top: 60px;
        }
        &::before {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            content: '';
            display: block;
            background: url('../img/total.svg') no-repeat;
            background-size: 100% auto;
            width: 100%;
            height: 44px;

            @media screen and (min-width: $screen-md) {
                width: calc(100% + 30px);
            }

            @media screen and (min-width: $screen-lg) {
                height: 55px;
            }
        }
    }

    &__total-decoration-text {
        margin: 0;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        color: #fff;
    }

    &__total-list {
        justify-content: space-between;

        @media screen and (min-width: $screen-md) {
            max-width: 690px;
            margin: 0 auto;
        }

        @media screen and (min-width: $screen-lg) {
            max-width: 940px;
        }
    }

    &__total-item {
        @media screen and (max-width: $screen-sm-max) {
            width: 100%;
        }
    }

    &__total-item-title {
        color: $c-primary;
        font-size: 14px;
        text-transform: uppercase;
    }

    &__total-item-title-count {
        display: block;
        font-size: 48px;
        font-weight: 700;

        @media screen and (min-width: $screen-md) {
            font-size: 32px;
        }
        @media screen and (min-width: $screen-lg) {
            font-size: 48px;
        }
    }

    &__total-item-desc {
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
    }

    &__total-item-desc-count {
        display: block;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    }
}