.team {
    &__title {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    & .row {
        flex-flow: row wrap;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }
    h2 {
        font-size: 28px;
        text-transform: uppercase;
    }
}