.team-clients {
    padding-top: 30px;
    h2 {
        display: block;
    }
    .clients__text {
        text-align: center;
    }
    .clients__more {
        display: block;
    }
    .clients__item:nth-child(n+19) {
        display: none;
    }
    .clients__more {
        margin: auto;
        font-size: 16px;
        color: $c-primary;
        transition: color .3s ease;
        cursor: pointer;
        outline: none;
        &:hover {
            color: $c-third;
        }
    }
}