.team-master-classes {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("../img/team/other/self.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media screen and (min-width: $screen-md) {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .row {
        justify-content: space-between;
    }

    &__title {
        text-align: center;
        margin: 0 0 15px;
    }

    &__text {
        max-width: 610px;
        margin: 0 auto 40px;
        text-align: center;
        color: #fff;
    }

    &__body-inner {
        order: 2;

        @media screen and (min-width: $screen-lg) {
            order: 1;
        }
    }

    &__desc {
        text-align: center;
        margin: 0 0 15px;

        br {
            display: none;
        }

        @media screen and (min-width: $screen-sm) {
            text-align: left;
            margin-bottom: 20px;
            br {
                display: inline;
            }
        }
    }

    &__brand-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: $screen-sm) {
            justify-content: flex-start;
        }
    }

    &__brand-img {
        margin-right: 16px;
        object-fit: cover;
        &:last-child {
            margin-right: 0;
        }
    }

    &__photos {
        order: 1;
        margin-bottom: 15px;

        @media screen and (min-width: $screen-sm) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        @media screen and (min-width: $screen-lg) {
            order: 2;
        }
    }

    &__photos-img {
        display: none;
        width: 100%;
        height: 190px;
        max-width: 300px;
        margin: 0 auto;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &:first-child {
            display: block;
        }

        @media screen and (min-width: $screen-sm) {
            display: block;
            width: 47.7%;
            max-width: none;
            margin: 0;
        }
    }
}