.team-projects {
    margin-bottom: 60px;

    &__slider {
        position: relative;
    }

    &__slider .owl-nav {
        top: auto;
        bottom: 0;
        left: 0;

        .owl-prev {
            left: 35%;
        }

        .owl-next {
            right: 35%;
        }

        @media screen and (max-width: $screen-sm-max) {

            .owl-next,
            .owl-prev {
                width: 30px;
                height: 30px;

                svg {
                    width: 10px;
                }
            }

            .owl-prev {
                svg {
                    margin-left: -5px;
                }
            }

            .owl-next {
                svg {
                    margin-left: -5px;
                }
            }
        }

        @media screen and (min-width: $screen-lg) {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
            bottom: auto;
            height: 42px;
            .owl-prev,
            .owl-next {
                margin: 0;
                top: 0;
            }
            .owl-prev {
                left: 0;
            }
            .owl-next {
                right: 0;
            }
        }
    }

    &__slider-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        @media screen and (min-width: $screen-sm) {
            flex-wrap: nowrap;
        }

        @media screen and (min-width: $screen-lg) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    &__slider-item-inner {
        order: 2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (min-width: $screen-sm) {
            order: 1;
            width: 50%;
            margin-right: 10px;
        }

        @media screen and (min-width: $screen-md) {
            width: 35%;
            flex-direction: column;
        }
    }

    &__info-item {
        width: 48%;

        @media screen and (min-width: $screen-md) {
            width: 100%;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:nth-child(3n) {
            margin-top: 20px;

            @media screen and (min-width: $screen-md) {
                margin-top: 0;
            }
        }
    }

    &__text {
        margin: 0 auto 40px;
        text-align: center;
        color: #fff;
    }

    &__term {
        margin: 0 0 5px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;

        @media screen and (min-width: $screen-md) {
            font-size: 14px;
        }

        @media screen and (min-width: $screen-lg) {
            font-size: $f-base-size;
        }
    }

    &__desc {
        margin: 0;
        font-weight: 700;
        color: $c-primary;
    }

    &__slider-media {
        order: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        height: 140px;
        margin-bottom: 20px;

        @media screen and (min-width: $screen-sm) {
            order: 2;
            width: 50%;
            margin-bottom: 0;
        }

        @media screen and (min-width: $screen-md) {
            height: 175px;
        }

        @media screen and (min-width: $screen-lg) {
            height: 305px;
            flex-grow: 2;
        }
    }

    &__slider-media-main-img {
        width: 66.9%;
        height: 100%;
        position: relative;
        cursor: pointer;

        @media screen and (min-width: $screen-lg) {
            width: auto;
            flex-grow: 2;
            margin-right: 8px;
        }

        img {
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__slider-media-img {
        object-fit: contain;
        height: 67px;
        margin-bottom: 5px;

        @media screen and (min-width: $screen-md) {
            height: 86px;
        }

        @media screen and (min-width: $screen-lg) {
            height: 148px;
            margin-bottom: 8px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__slider-media-inner {
        width: 31%;
    }
}