.team-promo {
    position: relative;
    background-color: $c-bg-primary;
    overflow-x: hidden;
    padding-bottom: 225px;

    @media screen and (min-width: $screen-md) {
        padding-bottom: 290px;
    }

    @media screen and (min-width: $screen-xl) {
        padding-bottom: 465px;
    }

    &__title {
        text-align: center;
    }

    &__text {
        margin: 0 auto 40px;
        text-align: center;
        color: #fff;
    }

    &__img {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        margin: 0 auto;
        transform: translate(-50% 0);
        width: 550px;
        height: 190px;
        background: url('../img/team/team.png') no-repeat center bottom;
        background-size: contain;

        @media screen and (min-width: $screen-md) {
            width: 730px;
            height: 260px;
            background-size: contain;
        }

        @media screen and (min-width: $screen-xl) {
            height: 430px;
            width: 1140px;
        }
    }
}
