.team-request {
    position: relative;
    overflow: hidden;
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
        @media screen and (min-width: $screen-lg) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    @media screen and (min-width: $screen-md) {
       .container {
           position: relative;
           &::before {
               content: "";
               display: block;
               background: url('../img/shadow2.png') no-repeat;
               background-size: cover;
               position: absolute;
               bottom: 0;
               left: 100%;
               margin-left: -525px;
               z-index: 1;
               width: 870px;
               height: 424px;
               max-height: 100%;
               @media screen and (min-width: $screen-lg) {
                   left: 80%;
               }
               @media screen and (min-width: $screen-xl) {
                   left: 70%;
               }
           }

           &::after {
               content: '';
               background: url('../img/people.png') no-repeat;
               max-height: 100%;
               display: block;
               width: 615px;
               z-index: 2;
               position: absolute;
               bottom: 0;
               right: -339px;
               height: 424px;
               @media screen and (min-width: $screen-lg) {
                   right: -420px;
                   width: 100%;
               }
               @media screen and (min-width: $screen-xl) {
                   right: -560px;
               }
           }
       }
    }

    &__content {
        @media screen and (min-width: $screen-xl) {
            max-width: 500px;
        }
    }

    &__title {
        text-align: center;
        margin: 0 0 20px;

        @media screen and (min-width: $screen-md) {
            text-align: left;
        }
    }

    &__title-note {
        display: block;
        color: $c-primary;
    }

    &__text {
        position: relative;
        z-index: 100;
        margin: 0 0 10px;
        color: #fff;
    }

    &__text-link {
        color: $c-primary;
        transition: color 0.4s linear;

        &:hover {
            color: #ffffff;
        }
    }

    &__desc {
        color: $c-third;
        margin: 0 0 20px;
    }

    &__button {
        border-radius: 10px;
        max-width: 305px;
        margin: 0 auto;
        border: 3px solid $c-primary;
        color: $c-primary;
        &:hover {
            border-color: $c-third;
            background-color: transparent;
            color: $c-third;
        }
        @media screen and (min-width: $screen-md) {
            margin: 0;
        }
    }
}