.card__slider, .card__slider-nav {
}
.card__slider .slick-slide {
    border: 1px solid var(--primary-grey);
}
.card__slider-nav .slick-slide {
    width: 100px;
    margin: 4px;
    border: 1px solid var(--primary-grey);
 }
.card__slider-item img, .card__slider-nav-item img {
    width: auto;
    height: auto;
    margin: auto;
    object-fit: contain;
}

.card__slider .card__slider-item img {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: 992px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}