{% extends "../base.twig" %}
{% block title %}Команда выездного бара Bar-street{% endblock %}

{% block content %}
    <section class="page-404">
        <div class="container  page-404__container">
            <h1 class="title  page-404__title">Страница не найдена</h1>
            <p class="page-404__promo-text">Начните изучать наш сайт <a class="link" href="/">с главной страницы</a></p>
            <img class="page-404__img lazyload" src="/img/404.png" alt="404 страница">
        </div>
    </section>
{% endblock %}