{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Выездной мобильный бар на свадьбу{% endblock %}
{% set servicesTopic = 'Выездной мобильный бар на свадьбу' %}
{% set servicesDesc = 'Выездной мобильный бар на свадьбу' %}

{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% block content %}
    <section class="article">
        <div class="container">
            <h1 class="title">Выездной мобильный бар на свадьбу</h1>
            {% include '../modules/breadcrumbs.twig' %}
        </div>
        <div class="article__container">
            <article class="article__body">
                <p class="text  article__text">
                    Организация яркого и незабываемого свадебного торжества – задача, для успешного решения которой
                    потребуется помощь профессионалов. Компания «Bar-Street» предлагает свои услуги по организации
                    выездных баров на свадьбу, которые станут украшением Вашего особенного дня и помогут создать
                    атмосферу всеобщего веселья.
                </p>
                <h2 class="article__title">Свадебный мобильный бар – украшение мероприятия и искренняя забота о гостях
                    праздника</h2>
                <img class="article__img lazyload" src="/img/articles/10.png" alt="">
                <p class="text  article__text">
                    Грамотная организация свадьбы должна учитывать интересы всех участников торжества. С одной стороны,
                    молодоженам ни к чему заботы и организационные хлопоты, ведь ничто не должно отвлекать их от
                    волнующих переживаний. С другой стороны, гости не должны заскучать в то время, как влюбленные заняты
                    друг другом. Заказав мобильный бар на свадьбу, молодожены могут быть уверены: их друзья и близкие
                    смогут весело провести время, пока пара соблюдает все свадебные традиции и участвует в фотосессии.
                    Мобильный бар на свадьбу не привязан к конкретному месту проведения и может быть организован том,
                    где Вы пожелаете. Минимум подготовки позволит организовать бар в считанные минуты, а максимум
                    профессионализма наших сотрудников превратит его яркое дополнение замечательного праздника.
                </p>
                <h2 class="article__title">«Bar-Street» - креативный подход и безупречный профессионализм для
                    организации Вашей свадьбы</h2>
                <p class="text  article__text">
                    Грамотная организация свадьбы должна учитывать интересы всех участников торжества. С одной стороны,
                    молодоженам ни к чему заботы и организационные хлопоты, ведь ничто не должно отвлекать их от
                    волнующих переживаний. С другой стороны, гости не должны заскучать в то время, как влюбленные заняты
                    друг другом. Заказав мобильный бар на свадьбу, молодожены могут быть уверены: их друзья и близкие
                    смогут весело провести время, пока пара соблюдает все свадебные традиции и участвует в фотосессии.
                    Мобильный бар на свадьбу не привязан к конкретному месту проведения и может быть организован том,
                    где Вы пожелаете. Минимум подготовки позволит организовать бар в считанные минуты, а максимум
                    профессионализма наших сотрудников превратит его яркое дополнение замечательного праздника.
                </p>
                <p class="text  article__text">
                    Грамотная организация свадьбы должна учитывать интересы всех участников торжества. С одной стороны,
                    молодоженам ни к чему заботы и организационные хлопоты, ведь ничто не должно отвлекать их от
                    волнующих переживаний. С другой стороны, гости не должны заскучать в то время, как влюбленные заняты
                    друг другом. Заказав мобильный бар на свадьбу, молодожены могут быть уверены: их друзья и близкие
                    смогут весело провести время, пока пара соблюдает все свадебные традиции и участвует в фотосессии.
                    Мобильный бар на свадьбу не привязан к конкретному месту проведения и может быть организован том,
                    где Вы пожелаете. Минимум подготовки позволит организовать бар в считанные минуты, а максимум
                    профессионализма наших сотрудников превратит его яркое дополнение замечательного праздника.
                </p>
                <img class="article__img lazyload" src="/img/articles/10.png" alt="">
            </article>
            <form class="article__form" action="/">
                <p class="article__form-title">
                    Получите бесплатную консультацию <br> по услугам Bar-Street
                </p>
                <div class="input__wrapper">
                    <p class="jQueryErrors">Введите «Имя»</p>
                    <input type="text" class="input article__form-input" placeholder="Ваше имя">
                </div>
                <div class="input__wrapper">
                    <input type="tel" class="input article__form-input phone-input" placeholder="Телефон">
                </div>
                <div class="input__wrapper">
                    <input type="email" class="input article__form-input" placeholder="Почта">
                </div>
                <button class="button button--pink  article__form-btn">Оформить заявку</button>
            </form>
            <section class="article__other">
                <p class="article__other__text">Другие статьи</p>
                <div class="articles__item  article__other-item">
                    <img class="articles__img lazyload" src="/img/articles/3.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Обслуживание выездных банкетов</a>
                    </h2>
                </div>
                <div class="articles__item  article__other-item">
                    <img class="articles__img lazyload" src="/img/articles/4.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Бармены на корпоратив</a></h2>
                </div>
            </section>
        </div>
    </section>
{% endblock %}

{% block popups %}

{% endblock %}