{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Статьи{% endblock %}
{% set servicesTopic = 'Статьи' %}
{% set servicesDesc = 'Статьи описание' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="articles">
        <div class="container">
            <h1 class="title">Статьи</h1>
            {% include '../modules/breadcrumbs.twig' %}
        </div>
        <section class="articles__list">
            <div class="container">
                <div class="articles__item  articles__item--big">
                    <img class="articles__img  articles__img--big lazyload" src="/img/articles/10.png" alt="" width="1140" height="350">
                    <h2 class="sub-title articles__sub-title"><a class="link-second" href="#">Хэллоуин история <br>
                            возникновения праздника</a></h2>
                </div>
                <div class="articles__item">
                    <img class="articles__img lazyload" src="/img/articles/10.png" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Заказать диджея на свадьбу в
                            Москве</a></h2>
                </div>
                <div class="articles__item">
                    <img class="articles__img lazyload" src="/img/articles/3.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Обслуживание выездных банкетов</a>
                    </h2>
                </div>
                <div class="articles__item">
                    <img class="articles__img lazyload" src="/img/articles/4.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Бармены на корпоратив</a></h2>
                </div>
                <div class="articles__item  articles__item--big">
                    <img class="articles__img  articles__img--big lazyload" src="/img/articles/1.jpg" alt="" width="1140" height="350">
                    <h2 class="sub-title articles__sub-title"><a class="link-second" href="#">Хэллоуин история <br>
                            возникновения праздника</a></h2>
                </div>
                <div class="articles__item">
                    <img class="articles__img lazyload" src="/img/articles/2.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Заказать диджея на свадьбу в
                            Москве</a></h2>
                </div>
                <div class="articles__item">
                    <img class="articles__img lazyload" src="/img/articles/3.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Обслуживание выездных банкетов</a>
                    </h2>
                </div>
                <div class="articles__item">
                    <img class="articles__img lazyload" src="/img/articles/4.jpg" alt="" width="365" height="260">
                    <h2 class="articles__sub-title"><a class="link-second" href="#">Бармены на корпоратив</a></h2>
                </div>
            </div>
        </section>
        {% include '../modules/pagination.twig' %}
    </section>
{% endblock %}

{% block popups %}

{% endblock %}