{% extends "../base.twig" %}
{% block title %}Аренда барных стоек{% endblock %}
{% set servicesCover = 'bar-rent.jpg' %}
{% set servicesTopic = 'Аренда барных стоек' %}
{% set servicesDesc = 'Оформление профессиональным оборудованием, посуды и инструментов вашего мероприятия.' %}
{% set howitWorkTitle = 'Арендовать барную стойку' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        {% for item in furnitureBar.description %}
                            <p class="service__desc-content">{{ item.text }}</p>
                        {% endfor %}
                    </div>
                    <ol class="service-bar__num-list col-12 col-md-4 col-lg-3">
                        {% for item in furnitureBar.numList %}
                            <li class="service__num-list-item">
                                <p class="service__num-list-content">{{ item.text }}</p>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>

        </div>
    </section>
    <section class="furniture-catalog">
        <div class="container">
            <div class="row">
                <h2 class="furniture-catalog__title col-12">{{ furnitureBar.catalogTitle }}</h2>
                {% for item in furnitureBar.products %}
                    <div class="furniture-catalog__product col-12">
                        <div class="row">
                            <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                                {% for slide in item.images %}
                                    <div class="furniture-catalog__product-slider-item">
                                        <a href="/img/{{ slide.imgLarge }}" data-fancybox>
                                            <picture class="lazy-image">
                                                <source data-srcset="/img/{{ slide.img }}" type="image/webp">
                                                <img class="lazy" data-src="/img/{{ slide.img }}" alt="{{ slider.name }}">
                                            </picture>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                                <h3 class="furniture-catalog__product-title">{{ item.title }}</h3>
                                <div class="furniture-catalog__product-tabs">
                                    <button class="furniture-catalog__product-tabs-toggle furniture-catalog__product-tabs-toggle--active js-desc">
                                        Описание
                                    </button>
                                    <button class="furniture-catalog__product-tabs-toggle js-char">Характеристики
                                    </button>
                                    <div class="furniture-catalog__product-tabs-content">
                                        <p class="furniture-catalog__product-description">{{ item.description }}</p>
                                        {% if item.descFeature is not empty %}
                                            <p class="furniture-catalog__product-text furniture-catalog__product-text--mt">
                                                Особенность: {{ item.descFeature }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="furniture-catalog__product-tabs-char">
                                        <p class="furniture-catalog__product-text">
                                            Мобильность: {{ item.mobility }}<br>
                                            Барменов: {{ item.bartenders }}<br>
                                            Компания гостей: {{ item.guests }}<br>
                                            {% if item.charFeature is not empty %}
                                                Особенность: {{ item.charFeature }}
                                            {% endif %}
                                        </p>
                                        <div class="furniture-catalog__product-size">
                                            <p class="furniture-catalog__product-text">
                                                {% if item.straightSection is not empty %}
                                                    Прямая секция: {{ item.straightSection }}
                                                {% endif %}
                                                {% if item.angleSection is not empty %}
                                                    Угловая секция: {{ item.angleSection }}
                                                {% endif %}
                                                {% if item.size is not empty %}
                                                    Размер: {{ item.size }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="furniture-catalog__product-order">
                                    <p class="furniture-catalog__product-order-content">
                                        <span class="furniture-catalog__product-price">{{ item.price }}</span> <span
                                                class="furniture-catalog__product-currency">₽</span> {{ item.quantity }}
                                    </p>
                                    <button data-title="{{ item.dataTitle }}"
                                            class="furniture-catalog__product-order-btn button button--pink">Заказать
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "../modules/need.twig" %}
    <section class="service-advice">
        <div class="container">
            <div class="row">
                <div class="service-advice__inner col-12 col-md-7 ">
                    <p class="service-advice__text">
                        Если Вы когда-нибудь занимались организацией мероприятия самостоятельно, Вы представляете,
                        сколько мелочей необходимо учесть и проконтролировать, чтобы получить желаемый результат.
                    </p>
                    <p class="service-advice__text">
                        Мы ценим ваше время и силы, поэтому, при заказе, вам достаточно обозначить время и место работы,
                        количество необходимого оборудования и персонала, необходимые сорта кофе.
                    </p>
                    <p class="service-advice__text">
                        Вам не нужно беспокоиться по мелочам, вроде: сколько чайных пар нужно иметь в запасе, чтобы
                        обеспечить обслуживание того или иного потока гостей…
                    </p>
                </div>
                <div class="service-advice__inner col-12 col-md-5">
                    <p class="service-advice__text  service-advice__text--bold">
                        Используются только профессиональные кофемашины.
                    </p>
                    <p class="service-advice__text">
                        Вы можете взять в аренду как сам кофе-аппарат в
                        отдельности, так и воспользоваться услугой «под ключ» Аренда аппарата + выезд бариста,
                        предоставление кофе и посуды
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

    {% block popups %}
        {% include '../popups/service-popup.twig' %}
        {% include '../popups/question-popup.twig' %}
    {% endblock %}