{% extends "../base.twig" %}
{% block title %}Бармен шоу{% endblock %}
{% set servicesCover = 'barmen-show.jpg' %}
{% set servicesTopic = 'Бармен шоу' %}
{% set servicesDesc = 'Незабываемые яркие эмоции -  у нас! Закажите на мероприятие профессиональное шоу барменов.' %}
{% set howitWorkTitle = 'Заказать бармен шоу' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}
{% block content %}
    {% include '../modules/service.twig' %}
    <div class="service__desc">
        <div class="container">
            <div class="row">
                <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                    <p class="service__desc-content">{{ item.text }}</p>
                    <h3 class="service__desc-how-title">Бармен-шоу от «BAR-STREET» - это:</h3>
                    <ul class="service__desc-how-list">
                        {% for item in barmenShow.aboutList %}
                            <li class="service__desc-how-item">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                                <p class="service__desc-how-item-content">{{ item.content }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    <h3 class="service__desc-how-title">Мы организуем:</h3>
                    <ul class="service__desc-how-list">
                        {% for item in barmenShow.organizationList %}
                            <li class="service__desc-how-item">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                                <p class="service__desc-how-item-content">{{ item.content }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    <h3 class="service-bar__desc-title">Бармен-шоу на свадьбу? Конечно да!</h3>
                    {% for item in barmenShow.descriptionMarryText %}
                        <p class="service__desc-content">{{ item.text }}</p>
                    {% endfor %}
                    <h3 class="service-bar__desc-title">Цены бармен-шоу</h3>
                    {% for item in barmenShow.descriptionPriceText %}
                        <p class="service__desc-content">{{ item.text }}</p>
                    {% endfor %}
                    <h3 class="service-bar__desc-title">Пример выступления бармен-шоу:</h3>
                    <div class="service__desc-video">
                        <iframe src="https://www.youtube.com/embed/V1Nov0TSGxs" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
                <aside class="types-of-bars col-12 col-md-4 col-lg-3">
                    <p class="types-of-bars__title">Виды баров:</p>
                    <ul class="types-of-bars__list">
                        {% for item in barmenShow.list %} {% if item.active %}
                            <li class="types-of-bars__item">
                                <a href="{{ item.link }}"
                                   class="types-of-bars__link types-of-bars__link--active">{{ item.title }}</a>
                            </li>
                        {% else %}
                            <li class="types-of-bars__item">
                                <a href="{{ item.link }}" class="types-of-bars__link">{{ item.title }}</a>
                            </li>
                        {% endif %} {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>

    </div>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}