{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Команда выездного бара Bar-street{% endblock %}

{% block content %}
    <section class="cart">
        <h1 class="title  cart__title">Заказ коктейлей</h1>
        <div class="container cart__container">
            <div class="cart-coctails">
                <div class="cart-coctails__header">
                    <p class="cart-coctails__header-text">Наименование</p>
                    <p class="cart-coctails__header-text">Цена</p>
                    <p class="cart-coctails__header-text">Кол-во</p>
                    <p class="cart-coctails__header-text">Сумма</p>
                </div>

                <div class="cart-coctails__item" data-product = "1">
                    <div class="cart-coctails__inner">
                        <img class="cart-coctails__item-img lazyload" src="../img/d21qnv7qsn.jpg" alt="Коктейль 1">
                        <div class="cart-coctails__item-wrapper">
                            <p class="cart-coctails__item-name">Черный русский</p>
                            <p class="cart-coctails__item-char">200 мл алк. - 35%</p>
                        </div>
                    </div>
                    <p class="cart-coctails__item-price" data-price = "250">250
                        <span class="currency">₽</span>
                    </p>
                    <div class="cart-coctails__counter">
                        <span class="js-minus js-counter-toggle">-</span>
                        <input class="input  cart-coctails__sign" type="text" name="count" value="25" disabled>
                        <span class="js-plus js-counter-toggle">+</span>
                    </div>
                    <div class="cart-coctails__sum">
                        <p class="cart-coctails__item-sum">
                            <span class="js-count-amount" data-sum = "0">12 500</span>
                            <span class="currency">₽</span>
                        </p>
                        <button class="cart-coctails__close" type="button"></button>
                    </div>
                </div>


                <div class="cart-coctails__item" data-product = "2">
                    <div class="cart-coctails__inner">
                        <img class="cart-coctails__item-img lazyload" src="../img/d21qnv7qsn.jpg" alt="Коктейль 1">
                        <div class="cart-coctails__item-wrapper">
                            <p class="cart-coctails__item-name">Черный русский</p>
                            <p class="cart-coctails__item-char">200 мл алк. - 35%</p>
                        </div>
                    </div>
                    <p class="cart-coctails__item-price" data-price = "250">250
                        <span class="currency">₽</span>
                    </p>
                    <div class="cart-coctails__counter">
                        <span class="js-minus js-counter-toggle">-</span>
                        <input class="input  cart-coctails__sign" type="text" name="count" value="25" disabled>
                        <span class="js-plus js-counter-toggle">+</span>
                    </div>
                    <div class="cart-coctails__sum">
                        <p class="cart-coctails__item-sum">
                            <span class="js-count-amount" data-sum = "0">12 500</span>
                            <span class="currency">₽</span>
                        </p>
                        <button class="cart-coctails__close" type="button"></button>
                    </div>
                </div>

                <div class="cart-coctails__item" data-product = "3">
                    <div class="cart-coctails__inner">
                        <img class="cart-coctails__item-img lazyload" src="../img/d21qnv7qsn.jpg" alt="Коктейль 1">
                        <div class="cart-coctails__item-wrapper">
                            <p class="cart-coctails__item-name">Черный русский</p>
                            <p class="cart-coctails__item-char">200 мл алк. - 35%</p>
                        </div>
                    </div>
                    <p class="cart-coctails__item-price" data-price = "250">250
                        <span class="currency">₽</span>
                    </p>
                    <div class="cart-coctails__counter">
                        <span class="js-minus js-counter-toggle">-</span>
                        <input class="input  cart-coctails__sign" type="text" name="count" value="25" disabled>
                        <span class="js-plus js-counter-toggle">+</span>
                    </div>
                    <div class="cart-coctails__sum">
                        <p class="cart-coctails__item-sum">
                            <span class="js-count-amount" data-sum = "0">12 500</span>
                            <span class="currency">₽</span>
                        </p>
                        <button class="cart-coctails__close" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="cart-total">
                <div class="cart-total__inner">
                    <p class="cart-total__items-sum">Сумма: 56 250 <span class="currency">₽</span></p>
                    <p class="cart-total__items-num">225 коктейлей</p>
                </div>
                <p class="cart-total__delivery">Доставка: 6 000 <span class="currency">₽</span></p>
                <p class="cart-total__sum">Итого: <span id="jQueryCartPrice">61 250</span> <span class="currency">₽</span></p>
                <p class="cart-total__min">Минимальный заказ: 36 000 ₽</p>

                <div class="cart-total__wrapper">
                    <button class="cart-total__btn cart-total__btn--back  button  button--purple" href="/coctails">Вернуться к коктейльной карте</button>
                    <button class="cart-total__btn cart-total__btn--nextt  button button--pink" disabled href="/message">Оформить заказ</button>
                </div>
            </div>

        </div>
    </section>
{% endblock %}