{% extends "../base.twig" %}
{% block title %}Клиенты Bar-Street{% endblock %}
{% import '../macros/photocard.twig' as card %}
{% set breadcrumbs = [
    {
        title: "Клиенты",
        active: true
    }
] %}

{% block content %}
    <section class="clients-page section">
        <div class="container  clients-page__container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  clients-page__title">Клиенты</h1>
        </div>
        {#<div class="clients-page__wrapper">#}
            {#<div class="container">#}
                {#<div class="photoalbum__list row no-gutters">#}

                    {##}

                    {#{% set left = 0 %}#}
                    {#{% set right = 0 %}#}
                    {#{% set current = 1 %}#}

                    {#{% for client in clients %}#}


                        {#{% if current == 1 %}#}
                            {#{{ card.photocard({#}
                                {#mod: '_left',#}
                                {#imgWeb: client.getImage('image'),#}
                                {#img: client.getImage('image'),#}
                                {#alt: '',#}
                                {#dateDigit: client.date,#}
                                {#dateText: client.getDate(),#}
                                {#title: gallery.name,#}
                                {#link: gallery.getGalleryUrl#}
                            {#}) }}#}
                        {#{% else %}#}
                            {#{{ card.photocard({#}
                                {#imgWeb: gallery.getAnnounceImage(),#}
                                {#img: gallery.getAnnounceImage(null, true),#}
                                {#alt: '',#}
                                {#dateDigit: gallery.date,#}
                                {#dateText: gallery.getDate(),#}
                                {#title: gallery.name,#}
                                {#link: gallery.getGalleryUrl#}
                            {#}) }}#}
                        {#{% endif %}#}

                        {#{% if left < 2 %}#}
                            {#{% set left = left + 1 %}#}
                        {#{% endif %}#}

                        {#{% if(right < 3 and left == 2) %}#}
                            {#{% set right = right + 1 %}#}
                            {#{% set current = 2 %}#}
                        {#{% endif %}#}

                        {#{% if(right == 3 and left == 2) %}#}
                            {#{% set left = 0 %}#}
                            {#{% set right = 0 %}#}
                            {#{% set current = 1 %}#}
                        {#{% endif %}#}
                    {#{% endfor %}#}

                    {##}


                    {#{{ card.photocard({#}
                        {#mod: '_left',#}
                        {#img: '/img/clients/sber-logo.svg',#}
                        {#alt: 'Сбербанк логотип',#}
                        {#dateDigit: '11-01-2019',#}
                        {#dateText: 'c 11 января 2019',#}
                        {#title: 'Сбербанк',#}
                        {#link: ''#}
                    {#}) }}#}


                {#</div>#}
            {#</div>#}
        {#</div>#}
        <div class="container">
            {% include "../modules/clients.twig" %}
        </div>
    </section>
{% endblock %}