{% extends "../base.twig" %}
{% block title %}Кофемашины в аренду{% endblock %}
{% set servicesCover = 'coffemachine.jpg' %}
{% set servicesTopic = 'Кофемашины в аренду' %}
{% set servicesDesc = '' %}
{% set howitWorkTitle = 'Арендовать кофемашины' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        {% for item in coffeeBar.description %}
                            <p class="service__desc-content">{{ item.text }}</p>
                        {% endfor %}
                    </div>
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-char">Cтоимость аренды кофемашин на выезд: <span
                                    class="service__desc-pink">3-6 тыс. руб/сутки</span></p>
                        <p class="service__desc-char">Стоимость кофе в зернах: <span
                                    class="service__desc-pink">1-1,5 тыс. руб/кг</span></p>
                        <p class="service__desc-char">Производительность кофемашин: <span
                                    class="service__desc-pink">3-6 тыс. руб/сутки</span></p>
                        <p class="service__desc-char">
                            Аренда кофейной пары: <span class="service__desc-pink">от 30 руб/сутки</span>
                            <br>
                            <small class="service__desc-char-note">В комплект кофейной пары входит: чашечка,
                                блюдечко, ложечка
                            </small>
                        </p>
                        <p class="service__desc-char">Ставка работы бариста: <span
                                    class="service__desc-pink">Уточняйте у менеджеров.</span></p>
                    </div>
                </div>
            </div>

        </div>
        <div class="service-catalog">
            <h2 class="service-catalog__title  sub-title stripe">{{ coffeeBar.catalogTitle }}</h2>
            <div class="container">
                <div class="row service-catalog__slider owl-carousel owl-theme">
                    {% for item in coffeeBar.productList %}
                        <article class="service-catalog__product col-lg-3">
                            <div class="service-catalog__product-img">
                                <picture>
                                    <source srcset="../img/furniture/coffee/{{ item.img }}" type="image/webp">
                                    <img class="lazyload" src="../img/furniture/coffee/{{ item.img }}" alt="">
                                </picture>
                            </div>
                            <div class="service-catalog__product-inner">
                                <h3 class="service-catalog__product-name">{{ item.name }}</h3>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                <button data-title="кофемашину" class="service-catalog__btn button button--pink">Заказать
                    кофемашину
                </button>
            </div>
        </div>
    </section>
    {% include "../modules/need.twig" %}
    <section class="service-advice">
        <div class="container">
            <div class="row">
                <div class="service-advice__inner col-12 col-md-7 ">
                    <h2 class="service-advice__title">Бариста BAR-STREET имеют имеют европейские сертификаты SCAE1-2
                        уровня.</h2>
                    <p class="service-advice__text">
                        Если Вы когда-нибудь занимались организацией мероприятия самостоятельно, Вы представляете,
                        сколько мелочей необходимо учесть и проконтролировать, чтобы получить желаемый результат.
                    </p>
                    <p class="service-advice__text">
                        Мы ценим ваше время и силы, поэтому, при заказе, вам достаточно обозначить время и место работы,
                        количество необходимого оборудования и персонала, необходимые сорта кофе.
                    </p>
                    <p class="service-advice__text">
                        Вам не нужно беспокоиться по мелочам, вроде: сколько чайных пар нужно иметь в запасе, чтобы
                        обеспечить обслуживание того или иного потока гостей…
                    </p>
                </div>
                <div class="service-advice__inner col-12 col-md-5">
                    <p class="service-advice__text  service-advice__text--bold">
                        Используются только профессиональные кофемашины.
                    </p>
                    <p class="service-advice__text">
                        Вы можете взять в аренду как сам кофе-аппарат в
                        отдельности, так и воспользоваться услугой «под ключ» Аренда аппарата + выезд бариста,
                        предоставление кофе и посуды + мастер-класс бариста
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}