{% set blue = true %}
{% extends "../base.twig" %}
{% block title %}Контакты{% endblock %}

{% block content %}
    <section class="contacts">
        <div class="container">
            <h1 class="contacts__title">Контактная информация</h1>
            <div class="contacts__town-toggles">
                <button id="contacts-msk" class="contacts__tab  contacts__tab--active">
                    Москва
                </button>
                <button id="contacts-spb" class="contacts__tab">
                    Санкт-Петербург
                </button>
            </div>
            <div class="contacts__inner  contacts__inner--msk">
                <div class="row">
                    <ul class="contacts__list col-12 col-md-6 row">
                        <li class="contacts__item col-12">
                            <p class="contacts__item-adress"> ул. Клары Цеткин д.4</p>
                        </li>
                        <li class="contacts__item col-12">
                            <a href="tel:+7(495)374-61-62" class="contacts__item-phone">+7 (495) 374-61-62</a>
                        </li>
                        <li class="contacts__item col-12">
                            <a href="tel:+7(977)119-72-55" class="contacts__item-phone">+7 (977) 119-72-55</a>
                        </li>
                        <li class="contacts__item col-12">
                            <a href="tel:+7(977)119-72-44" class="contacts__item-phone">+7 (977) 119-72-44</a>
                        </li>
                        <li class="contacts__item col-12">
                            <a href="mailto:info@bar-street.ru" class="contacts__item-mail">info@bar-street.ru</a>
                        </li>
                    </ul>
                    <ul class="contacts__social-list col-12 col-md-6 row">
                        <li class="contacts__social-item col-12">
                            <a target="_blank" href="https://vk.com/barstreet1"
                               class="contacts__social-link  contacts__social-link--vk">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-vk"/>
                                </svg>
                                Вконтакте
                            </a>
                        </li>
                        <li class="contacts__social-item col-12">
                            <a target="_blank" href="#" class="contacts__social-link  contacts__social-link--fb">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-fb"/>
                                </svg>
                                Фейсбук
                            </a>
                        </li>
                        <li class="contacts__social-item col-12">
                            <a target="_blank" href="https://www.instagram.com/barstreet/"
                               class="contacts__social-link  contacts__social-link--inst">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-inst"/>
                                </svg>
                                Инстаграм
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="map-msk" class="map"></div>
            </div>
            <div class="contacts__inner  contacts__inner--spb" style="display: none;">
                <div class="row">
                    <ul class="contacts__list col-12 col-md-6 row">
                        <li class="contacts__item col-12">
                            <p class="contacts__item-adress"> ул.Варшавская, д.19, корп.5</p>
                        </li>
                        <li class="contacts__item col-12">
                            <a href="tel:+7(812)438-12-14" class="contacts__item-phone">+7 (812) 438-12-14</a>
                        </li>
                        <li class="contacts__item col-12">
                            <a href="mailto:info@bar-street.ru" class="contacts__item-mail">info@bar-street.ru</a>
                        </li>
                    </ul>
                    <ul class="contacts__social-list col-12 col-md-6 row">
                        <li class="contacts__social-item col-12">
                            <a target="_blank" href="https://vk.com/barstreet1"
                               class="contacts__social-link  contacts__social-link--vk">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-vk"/>
                                </svg>
                                Вконтакте
                            </a>
                        </li>
                        <li class="contacts__social-item col-12">
                            <a target="_blank" href="#" class="contacts__social-link  contacts__social-link--fb">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-fb"/>
                                </svg>
                                Фейсбук
                            </a>
                        </li>
                        <li class="contacts__social-item col-12">
                            <a target="_blank" href="https://www.instagram.com/barstreet/"
                               class="contacts__social-link  contacts__social-link--inst">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-inst"/>
                                </svg>
                                Инстаграм
                            </a>
                        </li>
                    </ul>
                </div>

                <div id="map-spb" class="map"></div>
            </div>
        </div>
    </section>
    <section class="requisites">
        <div class="container">
            <ul class="requisites__list col-12 row ">
                <li class="requisites__item col-12 col-md-6 col-lg-3">
                    <h2 class="requisites__item-title">Юридический адрес</h2>
                    <p class="requisites__item-content">
                        ООО «БАР-СТРИТ» BAR-STREET
                    </p>
                    <p class="requisites__item-content">
                        127299, г. Москва, улица Клары Цеткин, дом 4, офис 511
                    </p>
                </li>
                <li class="requisites__item col-12  col-md-6 col-lg-3">
                    <h2 class="requisites__item-title">ОГРН</h2>
                    <p class="requisites__item-content">1147746916316</p>
                    <h2 class="requisites__item-title">ИНН/КПП</h2>
                    <p class="requisites__item-content">7713793450/771301001</p>
                </li>
                <li class="requisites__item col-12 col-md-6 col-lg-3">
                    <div class="requisites__item-inner">
                        <h2 class="requisites__item-title">ОКПО</h2>
                        <p class="requisites__item-content">35239660</p>
                    </div>
                    <div class="requisites__item-inner">
                        <h2 class="requisites__item-title">ОКВЭД</h2>
                        <p class="requisites__item-content">55.52 55.40 92.72 74.84</p>
                    </div>
                </li>
                <li class="requisites__item col-12 col-md-6 col-lg-3">
                    <h2 class="requisites__item-title">Реквизиты</h2>
                    <p class="requisites__item-content">Р/С: 40702810438000005043</p>
                    <p class="requisites__item-content">Банк: ОАО «Сбербанк России» г.Москва</p>
                    <p class="requisites__item-content">К/С: 30101810400000000225БИК: 044525225</p>
                    <p class="requisites__item-content">БИК: 044525225</p>
                </li>
            </ul>
            <a href="/img/requisites.pdf" class="link-download" download>
                <svg class="icon-svg">
                    <use xlink:href="#icon-download"/>
                </svg>
                Скачать реквизиты</a>
        </div>
    </section>
    <script type="text/javascript">
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map-msk'), {
                zoom: 11,
                styles: [{
                    "featureType": "all",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "hue": "#bc00ff"
                    }, {
                        "saturation": "0"
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#e8b8f9"
                    }]
                }, {
                    "featureType": "administrative.country",
                    "elementType": "labels",
                    "stylers": [{
                        "color": "#ff0000"
                    }]
                }, {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [{
                        "color": "#3e114e"
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }, {
                        "color": "#a02aca"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#2e093b"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "labels.text",
                    "stylers": [{
                        "color": "#9e1010"
                    }, {
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#ff0000"
                    }]
                }, {
                    "featureType": "landscape.natural.landcover",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#58176e"
                    }]
                }, {
                    "featureType": "landscape.natural.landcover",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "poi.business",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "lightness": 45
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#a02aca"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#d180ee"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#a02aca"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }, {
                        "color": "#ff0000"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels.text",
                    "stylers": [{
                        "color": "#a02aca"
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#cc81e7"
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "hue": "#bc00ff"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#6d2388"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#c46ce3"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [{
                        "color": "#b7918f"
                    }, {
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#280b33"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#a02aca"
                    }]
                }],
                center: new google.maps.LatLng(55.819038, 37.520228),
                panControl: false,
                zoomControl: false,
                streetViewControl: false,
                mapTypeControl: false
            });

            var iconBase = '/img/marker.svg';

            function addMarker(feature) {
                var marker = new google.maps.Marker({
                    position: feature.position,
                    icon: iconBase,
                    map: map
                });
            }

            var features = [{
                position: new google.maps.LatLng(55.819038, 37.520228)
            }];

            for (var i = 0, feature; feature = features[i]; i++) {
                addMarker(feature);
            }

            mapSpb = new google.maps.Map(document.getElementById('map-spb'), {
                zoom: 11,
                styles: [{
                    "featureType": "all",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "hue": "#bc00ff"
                    }, {
                        "saturation": "0"
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#e8b8f9"
                    }]
                }, {
                    "featureType": "administrative.country",
                    "elementType": "labels",
                    "stylers": [{
                        "color": "#ff0000"
                    }]
                }, {
                    "featureType": "administrative.land_parcel",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [{
                        "color": "#3e114e"
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "landscape",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }, {
                        "color": "#a02aca"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#2e093b"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "labels.text",
                    "stylers": [{
                        "color": "#9e1010"
                    }, {
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "landscape.natural",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#ff0000"
                    }]
                }, {
                    "featureType": "landscape.natural.landcover",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#58176e"
                    }]
                }, {
                    "featureType": "landscape.natural.landcover",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "poi.business",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "lightness": 45
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#a02aca"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#d180ee"
                    }]
                }, {
                    "featureType": "road",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#a02aca"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "off"
                    }, {
                        "color": "#ff0000"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels.text",
                    "stylers": [{
                        "color": "#a02aca"
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#cc81e7"
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels.text.stroke",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "hue": "#bc00ff"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#6d2388"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "labels.text.fill",
                    "stylers": [{
                        "color": "#c46ce3"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [{
                        "color": "#b7918f"
                    }, {
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "color": "#280b33"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "simplified"
                    }, {
                        "color": "#a02aca"
                    }]
                }],
                center: new google.maps.LatLng(59.8737995, 30.3077967),
                panControl: false,
                zoomControl: false,
                streetViewControl: false,
                mapTypeControl: false
            });

            function addMarkerSpb(feature) {
                var marker = new google.maps.Marker({
                    position: feature.position,
                    icon: iconBase,
                    map: mapSpb
                });
            }

            var featuresSpb = [{
                position: new google.maps.LatLng(59.8737995, 30.3077967)
            }];

            for (var i = 0, feature; feature = featuresSpb[i]; i++) {
                addMarkerSpb(feature);
            }
        }
    </script>
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQGDBdCZDwh8WD8NS8iu5WKEJpq9_E4rI&amp;callback=initMap"></script>
{% endblock %}