{% extends "../base.twig" %}
{% block title %}Заявка на событие и заказ услуг Bar-Street{% endblock %}

{% block content %}
    <section class="event">
        <div class="container  event__container">
            <h1 class="title  event__title">Заявка на мероприятие</h1>
            <form action="/" class="event__form">
                <div class="event__form-wrapper">
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="name" type="text" placeholder="Введите имя">
                    </div>
                    <div class="input__wrapper">
                        <input class="event__form-input phone-input input" id="phone" type="tel"
                               placeholder="Введите телефон">
                    </div>
                    <div class="input__wrapper">
                        <input class="event__form-input input" id="email" type="email" placeholder="Введите e-mail">
                    </div>
                </div>
                <div class="event__form-textarea input__wrapper">
                    <textarea class="event__form-input input  event__form-input--textarea" id="textarea" rows="7"
                              placeholder="Комментарий"></textarea>
                </div>
                <div class="event__form-btn-inner">
                    <button class="event__form-btn button  button--pink">Отправить</button>
                </div>
                <p class="event__text">Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку
                    персональных данных и Политики в отношении обработки персональных данных</p>
            </form>
        </div>
    </section>
{% endblock %}