{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Персонал для выставок{% endblock %}
{% set breadcrumbs = [
    {
        title: "Ваш бар на выставке",
        active: true
    }
] %}

{% block content %}
    <section class="expo section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  expo__title">Ваш бар на выставке</h1>
            <div class="expo__wrapper">
                <ul class="expo__list">
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Профессионально подготовленный персонал</p>
                    </li>
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Все необходимое для качественной работы стенда</p>
                    </li>
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Аренда мебели на выставки</p>
                    </li>
                    <li class="expo__item">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-check"/>
                        </svg>
                        <p class="expo__item-text">Персональный и креативный подход, который качественно выделит вас из
                            общей массы</p>
                    </li>
                    <li class="expo__item">
                        <a class="button button--pink" href="/event.html">Оставить заявку</a>
                    </li>
                </ul>
                <img class="expo__img" src="/img/expo-girls.png" alt="Ваш бар на выставке">
            </div>
        </div>
    </section>
    <section class="expo-services">
        <div class="container">
            <h2 class="expo-services__title sub-title stripe">Услуги для стенда</h2>
        </div>
        <div class="container">

            <div class="expo-services__inner">
                <p class="expo-services__inner-text subtitle">Аренда оборудования</p>
                <ul class="expo-services__list">
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда мебели с подсветкой</a>
                    </li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда барных стоек</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда посуды</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда кофемашины</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда шоколадного фонтана</a>
                    </li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда бокалов</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Аренда барных стоек с
                            подсветкой</a></li>
                </ul>
            </div>
            <div class="expo-services__inner">
                <p class="expo-services__inner-text subtitle">Шоу-Программы</p>
                <ul class="expo-services__list">
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Бармен-шоу</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Коктейль-шоу «Поезд любви»</a>
                    </li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Пирамиды из шампанского</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Шоколадный фонтан</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Жжёнка</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Ледяные фигуры</a></li>
                </ul>
            </div>
            <div class="expo-services__inner">
                <p class="expo-services__inner-text subtitle">Выездной персонал</p>
                <ul class="expo-services__list">
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Персонал</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Бармены</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Официанты</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Повара</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Бариста</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                </ul>
            </div>
            <div class="expo-services__inner  expo-services__inner--helper">
                <p class="expo-services__inner-text subtitle">Выездной персонал</p>
                <ul class="expo-services__list">
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Персонал</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Бармены</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Официанты</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Повара</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Бариста</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                    <li class="expo-services__item"><a class="link" href="/mebel.html">Сомелье</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="expo-projects">
        <div class="container">
            <div class="row">
                <h2 class="sub-title expo__team-title col-12">Выздной бар любого <br> масштаба в любом месте</h2>
                <p class="text team-projects__text col-12">Мы обслуживали 50 стендов на выставках</p>
                <div class="owl-carousel  owl-theme  team-projects__slider col-12">
                    <div class="team-projects__slider-item">
                        <div class="team-projects__slider-item-inner">
                            <div class="team-projects__info-item">
                                <p class="team-projects__term">Заказчик</p>
                                <p class="team-projects__desc">Pepsico</p>
                            </div>
                            <div class="team-projects__info-item">
                                <p class="team-projects__term">Место</p>
                                <p class="team-projects__desc">ПМЭФ: Pepsico cafe Санкт-Петербург</p>
                            </div>
                            <div class="team-projects__info-item">
                                <p class="team-projects__term">Гостей</p>
                                <p class="team-projects__desc">Более 7 500 участников</p>
                            </div>
                        </div>
                        <div class="team-projects__slider-media">
                            <a href="../../img/team/1.jpg" data-fancybox="Pepsico"
                               class="team-projects__slider-media-main-img">
                                <img class="lazyload" src="../../img/team/1.jpg" alt="">
                            </a>
                            <div class="team-projects__slider-media-inner">
                                <a href="../../img/team/2.jpg" data-fancybox="Pepsico"
                                   class="team-projects__slider-media-img img-zoom">
                                    <img class="lazyload" src="../../img/team/2.jpg" alt="">
                                </a>
                                <a href="../../img/team/3.jpg" data-fancybox="Pepsico"
                                   class="team-projects__slider-media-img img-zoom">
                                    <img class="lazyload" src="../../img/team/3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-projects__slider-item">
                        <div class="team-projects__slider-item-inner">
                            <div class="team-projects__info-item">
                                <p class="team-projects__term">Заказчик</p>
                                <p class="team-projects__desc">Pepsico1</p>
                            </div>
                            <div class="team-projects__info-item">
                                <p class="team-projects__term">Место</p>
                                <p class="team-projects__desc">ПМЭФ: Pepsico cafe Санкт-Петербург</p>
                            </div>
                            <div class="team-projects__info-item">
                                <p class="team-projects__term">Гостей</p>
                                <p class="team-projects__desc">Более 7 500 участников</p>
                            </div>
                        </div>
                        <div class="team-projects__slider-media">
                            <a href="../../img/team/1.jpg" data-fancybox="Pepsico1"
                               class="team-projects__slider-media-main-img">
                                <img class="lazyload" src="../../img/team/1.jpg" alt="">
                            </a>
                            <div class="team-projects__slider-media-inner">
                                <a href="../../img/team/2.jpg" data-fancybox="Pepsico1"
                                   class="team-projects__slider-media-img img-zoom">
                                    <img class="lazyload" src="../../img/team/2.jpg" alt="">
                                </a>
                                <a href="../../img/team/3.jpg" data-fancybox="Pepsico1"
                                   class="team-projects__slider-media-img img-zoom">
                                    <img class="lazyload" src="../../img/team/3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="expo-order">
        <div class="container">
            <p class="expo-order__text sub-title">
                Получите консультацию по организации выставки Вашего стенда у
                специалиста
            </p>
            <a class="expo-order__link button  button--pink" href="/event.html">Оставить заявку</a>
        </div>
    </section>
{% endblock %}
