{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Мы в СМИ{% endblock %}
{% set breadcrumbs = [
    {
        title: "Мы в СМИ",
        active: true
    }
]
%}

{% block content %}
    <section class="facts">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title">Мы в СМИ</h1>
        </div>
        <div class="facts__wrapper">
            <div class="container">
                <h2 class="subtitle  facts__subtitle">Pepsico Cafe на Международном Петербургском Экономическом Форуме</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3m0esmzvRug" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DtvPOT6c0tY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iwpNRMOUT3M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-i2IXqy11RE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h2 class="subtitle  facts__subtitle">Интервью Максима Полозюкова для канала ТВ Центр</h2>
                <p class="text  facts__text">
                    В преддверии международного дня барменов одного из лучших наших барменов Максима Полозюкова пригласили поздравить барменов страны с профессиональным праздником. Максим приготовил для ведущих свой авторский коктейль "Morning Honey" и показал несколько соих трюков.
                </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/mLfSn3ba-2Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
{% endblock %}