{% extends "../base.twig" %}
{% block title %}Главная{% endblock %}

{% block content %}
    <section class="hero-slider owl-carousel owl-theme">
        <div class="hero-slider__item">
            <a href="#" class="hero-slider__item-link">
                <div class="hero-slider__item-inner">
                    <h1 class="hero-slider__item-title"><span>Выездные</span><br>бары</h1>
                </div>
                <picture>
                    <source media="(min-width: 768px)" srcset="/img/slider/slider-emotions.jpg">
                    <img class="hero-slider__item-image lazyload" src="/img/slider/slider-emotions.jpg" alt="">
                </picture>
            </a>
        </div>
        <div class="hero-slider__item">
            <a href="#" class="hero-slider__item-link">
                <picture>
                    <source media="(min-width: 768px)" srcset="/img/slider/slider-scheme.jpg">
                    <img class="hero-slider__item-image lazyload" src="/img/slider/slider-scheme.jpg" alt="">
                </picture>
                <div class="hero-slider__item-inner">
                    <h2 class="hero-slider__item-title">
                        <span>Схема работы</span>
                        <br>Выездного бара</h2>
                </div>
            </a>
        </div>
    </section>
    <section class="news  container">
        <article class="news__item  news__item--right  row">
            <a href="#" class="news__img  news__img--right  col-md-8  col-lg-9">
                <img src="/img/news_28-07-18.png">
            </a>
            <div class="news__info-bar  news__info-bar--right  col-md-4  col-lg-3">
                <div class="news__info-bar-inner">
                    <time datetime="2018-07-27" class="news__date">27 июля 2018</time>
                    <div class="news__share">
                        <button class="news__share-toggle">
                            <svg>
                                <use xlink:href="#icon-share"/>
                            </svg>
                        </button>
                        <div class="js-feed-share-dropdown news__share-dropdown" style="display: none;">
                            <button class="news__share-social news__share-social--vk js-share" data-target="vk"
                                    data-url="http://bar-street.ru/photoalbum/2018-07-27"
                                    data-title="Выездной эко бар на закрытой вечеринке"
                                    data-img="http://bar-street.ru/var/gallery/thumb_7k8wq9kidg.png"
                                    data-text="">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-vk"></use>
                                </svg>
                            </button>
                            <button class="news__share-social news__share-social--ok js-share" data-target="ok"
                                    data-url="http://bar-street.ru/photoalbum/2018-07-27"
                                    data-title="Выездной эко бар на закрытой вечеринке">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-ok"></use>
                                </svg>
                            </button>
                            <button class="news__share-social news__share-social--fb js-share" data-target="facebook"
                                    data-url="http://bar-street.ru/photoalbum/2018-07-27"
                                    data-title="Выездной эко бар на закрытой вечеринке"
                                    data-img="http://bar-street.ru/var/gallery/thumb_7k8wq9kidg.png"
                                    data-text="">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-fb"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <h2 class="news__title">
                    <a class="news__title-link" href="#">Выездной эко бар на закрытой вечеринке</a>
                </h2>
                <div class="news__services">
                    <h3 class="news__services-title">Услуги на мероприятии:</h3>
                    <ul class="news__services-list">
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Аренда барных стоек</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Бармены</a>
                        </li>
                        <li class="news__services-item">
                            <a href="mobile-bar.html" class="news__services-link">Мобильный бар</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Фотографы</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Организация мастер-классов</a>
                        </li>
                        <li class="news__services-item">
                            <a href="mebel.html" class="news__services-link">Аренда мебели с подсветкой</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Lemonade бар</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Все услуги →</a>
                        </li>
                    </ul>
                </div>
                <h3 class="news__services-title">Место проведения:</h3>
                <a href="#" class="news__location">
                    Икша River Club
                </a>
            </div>
        </article>
        <article class="news__item  news__item--notice  row">
            <time datetime="2018-07-25" class="news__date  col-md-12">25 июля 2018</time>
            <h2 class="news__title  col-md-12">
                <a class="news__title-link" href="#">Барные стойки на любой вкус и цвет!</a> 17 видов стоек с подробным
                описанием и расширенной фотогалереей.
                Выберите подходящую и отправьте заявку.</h2>
        </article>
        <article class="news__item  news__item--left  row">
            <a href="#" class="news__img  news__img--right  col-md-8  col-lg-9">
                <img src="/img/news_20-07-18.png">
            </a>
            <div class="news__info-bar  news__info-bar--left  col-md-4  col-lg-3">
                <div class="news__info-bar-inner">
                    <time datetime="2018-07-20" class="news__date">20 июля 2018</time>
                    <div class="news__share">
                        <button class="news__share-toggle">
                            <svg>
                                <use xlink:href="#icon-share"/>
                            </svg>
                        </button>
                        <div class="js-feed-share-dropdown news__share-dropdown" style="display: none;">
                            <button class="news__share-social news__share-social--vk js-share" data-target="vk"
                                    data-url="http://bar-street.ru/photoalbum/2018-07-27"
                                    data-title="Выездной эко бар на закрытой вечеринке"
                                    data-img="http://bar-street.ru/var/gallery/thumb_7k8wq9kidg.png"
                                    data-text="">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-vk"></use>
                                </svg>
                            </button>
                            <button class="news__share-social news__share-social--ok js-share" data-target="ok"
                                    data-url="http://bar-street.ru/photoalbum/2018-07-27"
                                    data-title="Выездной эко бар на закрытой вечеринке">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-ok"></use>
                                </svg>
                            </button>
                            <button class="news__share-social news__share-social--fb js-share" data-target="facebook"
                                    data-url="http://bar-street.ru/photoalbum/2018-07-27"
                                    data-title="Выездной эко бар на закрытой вечеринке"
                                    data-img="http://bar-street.ru/var/gallery/thumb_7k8wq9kidg.png"
                                    data-text="">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-fb"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <h2 class="news__title">
                    <a class="news__title-link" href="#">Выездной бар на корпоративном мероприятии linkprofit</a>
                </h2>
                <div class="news__services">
                    <h3 class="news__services-title">Услуги на мероприятии:</h3>
                    <ul class="news__services-list">
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Аренда барных стоек</a>
                        </li>
                        <li class="news__services-item">
                            <a href="mobile-bar.html" class="news__services-link">Мобильный бар</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Фотографы</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Молекулярный бар</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Пивной бар</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Lady бар</a>
                        </li>
                        <li class="news__services-item">
                            <a href="posuda.html" class="news__services-link">Аренда посуды</a>
                        </li>
                        <li class="news__services-item">
                            <a href="#" class="news__services-link">Все услуги →</a>
                        </li>
                    </ul>
                </div>
                <h3 class="news__services-title">Место проведения:</h3>
                <a href="#" class="news__location">
                    Банкетный комплекс «Ш.Ё.Л.К»
                </a>
            </div>
        </article>
        <article class="news__item  news__item--notice-img  row">
            <time datetime="2018-07-19" class="news__date  col-md-12">19 июля 2018</time>
            <h2 class="news__title  col-md-12">
                <a class="news__title-link" href="#">Новинка</a> от Bar-street</h2>
            <a href="#"><img class="news__img  news__img--notice  col-md-12 lazyload" src="/img/news_19-07-18.png" alt=""></a>
        </article>
        <button class="news__more-toggle">Показать еще</button>
    </section>
    <section class="mobile-bar  container">
        <h2 class="mobile-bar__title  sub-title  stripe"><a href="#">Выездной бар на мероприятия</a></h2>
        <ul class="mobile-bar__list">
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="mobile-bar.html" class="mobile-bar__link">Мобильный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Глинтвейн-бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Смузи бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Молекулярный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Luxury бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Мохито бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">CRIO бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Кальян бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Фреш бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Кофейный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Русский бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Чайный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">ICE бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Bubble tea бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Детский бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Китайский чайный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Новогодний бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Пивной бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Кислородный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Нео-бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Молочный бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Пунш бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Десерт бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Мохито паб</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Lemonade бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Lady бар</a>
            </li>
            <li class="mobile-bar__item  col-md-6  col-lg-3">
                <a href="#" class="mobile-bar__link">Детокс-бар</a>
            </li>
        </ul>
    </section>
    <section class="clients-slider  container  mobile-hidden">
        <h2 class="clients-slider__title  sub-title  stripe"><a href="/clients.html">Клиенты</a></h2>
        <div class="clients-slider__inner    owl-carousel owl-theme">
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img class="lazyload" src="/img/redbull.jpg" alt="">
                </a>
            </div>
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img class="lazyload" src="/img/sberbank.jpg" alt="">
                </a>
            </div>
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img class="lazyload" src="/img/mercedes.jpg" alt="">
                </a>
            </div>
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img class="lazyload" src="/img/metro.jpg" alt="">
                </a>
            </div>
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img class="lazyload" src="/img/bmw.jpg" alt="">
                </a>
            </div>
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img class="lazyload" src="/img/audi.jpg" alt="">
                </a>
            </div>
            <div class="clients-slider__item">
                <a href="#" class="clients-slider__link">
                    <img src="/img/rianovosti.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="clients-slider__navigation  clearfix"></div>
    </section>
    <section class="subscribe-form">
        <div class="container">
            <form action="#" class="row  justify-content-between">
                <p class="subscribe-form__title col-12">Узнай первым!</p>
                <p class="subscribe-form__text col-12">Мы&nbsp;подготовили для Вас серию писем о&nbsp;том, как напоить, а&nbsp;не&nbsp;споить от&nbsp;10&nbsp;до&nbsp;20&nbsp;тыс. человек за&nbsp;разумные деньги и&nbsp;с&nbsp;огоньком!
                    <br>Да&nbsp;и&nbsp;про организацию все знаем на&nbsp;5!
                    Скучно не&nbsp;будет! Обещаем!</p>
                <div class="col-12">
                    <input type="text" placeholder="Введите имя" class="subscribe-form__input  text-input" required>
                </div>
                <div class="col-12">
                    <input type="email" placeholder="Введите e-mail " class="subscribe-form__input  text-input" required>
                    {#<small class="subscribe-form__note">никакого спама!</small>#}
                </div>
                <div class="col-12">
                    <button class="subscribe-form__submit  button  button--pink" type="submit">Подписаться</button>
                </div>
                <svg>
                    <use xlink:href="#icon-subscribe"/>
                </svg>
            </form>
        </div>
    </section>
    <section class="main-team">
        <a href="#" class="main-team__link">
            <div class="main-team__inner  container">
                <div class="row  main-team__inner-row  align-items-center">
                    <div class="col-md-4">
                        <h2 class="main-team__title"><span>Команда</span><br> Bar-street</h2>
                        <p class="main-team__content  mobile-hidden  mobile-hidden--inline">Надежные люди - надежная компания</p>
                    </div>
                </div>
            </div>
        </a>
    </section>
{% endblock %}