{% extends "../base.twig" %}
{% import "../macros/catalog-item.twig" as catalog_item %}
{% block title %}Кальян-бар{% endblock %}
{% set servicesCover = 'kalyan-bar.jpg' %}
{% set servicesTopic = 'Кальян-бар' %}
{% set servicesDesc = 'Хотите расположить гостей к долгим обстоятельным разговорам? Просто организуйте лаундж-зону, наши кальянщики сделают остальное.' %}
{% set howitWorkTitle = 'Заказать кальян-бар' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% set kalyanArr = [
    {
        imgId: 'kalyan-1',
        img: 'img/kalyan-bar/catalog/1.jpg',
        title: 'Дизайнерский в ассортименте',
        price: '1 400 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'На выбор'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Вода'},
                    {title: 'Молоко'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-2',
        img: 'img/kalyan-bar/catalog/2.jpg',
        title: 'Skyline',
        price: '1 500 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Вишня + яблоко'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Вишневый сок'},
                    {title: 'Яблочный сок'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-3',
        img: 'img/kalyan-bar/catalog/3.jpg',
        title: 'Tutti Frutti',
        price: '1 500 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Апельсин + мята'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Апельсиновый сок'},
                    {title: 'Грейпфрутовый сок'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Слайсы апельсина'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-4',
        img: 'img/kalyan-bar/catalog/4.jpg',
        title: 'Concorde',
        price: '1 600 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Персик + ананас'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Мультифруктовый сок'},
                    {title: 'Персиковый сок'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-5',
        img: 'img/kalyan-bar/catalog/5.jpg',
        title: 'Valkirye',
        price: '1 900 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Апельсин + гуава'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп маракуйа'},
                    {title: 'Сироп блю кюрасао'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Дольки апельсина и лайма'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-6',
        img: 'img/kalyan-bar/catalog/6.jpg',
        title: 'Cento per cento',
        price: '1 900 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Двойное яблоко + кардамон'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп яблоко'},
                    {title: 'Сироп базилик'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Дольки клубники и банана'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-7',
        img: 'img/kalyan-bar/catalog/7.jpg',
        title: '9 monkey',
        price: '1 900 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Двойное яблоко + кардамон'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп манго'},
                    {title: 'Сироп персик'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня и дольки клубники'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-8',
        img: 'img/kalyan-bar/catalog/8.jpg',
        title: 'La scala',
        price: '1 900 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Персик + лимон + мята'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп клубника'},
                    {title: 'Сироп банан'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Долбки грейпфрута и лимона'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-9',
        img: 'img/kalyan-bar/catalog/9.jpg',
        title: 'Beretta',
        price: '2 200 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Жвачка + мятв'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Мультифруктовый сок'},
                    {title: 'Cироп bubble gum'},
                    {title: 'Белый вермут'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Мята, дольки грейпфрута и клубники'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-10',
        img: 'img/kalyan-bar/catalog/10.jpg',
        title: 'Dead Head Island',
        price: '2 400 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Апельсин'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп лайм'},
                    {title: 'Сироп лимон'},
                    {title: 'Светлый ром'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Дольки лимона и лайма'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-11',
        img: 'img/kalyan-bar/catalog/11.jpg',
        title: 'Red dragon',
        price: '2 200 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Лесные ягоды + мята'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп клубника'},
                    {title: 'Сироп красный апельсин'},
                    {title: 'Красное вино'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Мята, малина, ежевика'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-12',
        img: 'img/kalyan-bar/catalog/12.jpg',
        title: 'Money Honey',
        price: '2 600 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Мед + кофе + корица'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Коньяк'},
                    {title: 'Сироп кофе'},
                    {title: 'Сироп шоколад'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Палочки корицы, зерна кофе'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-13',
        img: 'img/kalyan-bar/catalog/13.jpg',
        title: 'Co-ca-in',
        price: '2 900 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Карамель + роза'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Абцент'},
                    {title: 'Сироп роза'},
                    {title: 'Сироп фиалка'},
                    {title: 'Сироп клубника'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Имбирь'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-14',
        img: 'img/kalyan-bar/catalog/14.jpg',
        title: 'Master Li',
        price: '2 200 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Слива'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сливовое вино'},
                    {title: 'Сироп сакура'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Имбирь, коктейльная вишня'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-15',
        img: 'img/kalyan-bar/catalog/15.jpg',
        title: 'Santa Domingo',
        price: '2 600 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Santa Domingo'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Темный ром'},
                    {title: 'Сироп ананас'},
                    {title: 'Сироп кокос'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Дольки ананаса и банана'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-16',
        img: 'img/kalyan-bar/catalog/16.jpg',
        title: 'Sunrise',
        price: '2 000 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'Карамель + банан'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Сироп куантро'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Дольки банана и клубники'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-17',
        img: 'img/kalyan-bar/catalog/17.jpg',
        title: 'Дизайнерский безникотиновый в ассортименте',
        price: '1 400 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'На выбор'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Вода'},
                    {title: 'Молоко'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-18',
        img: 'img/kalyan-bar/catalog/18.jpg',
        title: 'Арабский безникотиновый в ассортименте',
        price: '1 200 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'На выбор'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Вода'},
                    {title: 'Молоко'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня'}
                ]
            }
        ]
    },
    {
        imgId: 'kalyan-19',
        img: 'img/kalyan-bar/catalog/19.jpg',
        title: 'Арабский в ассортименте',
        price: '1 200 руб/час',
        desc: [
            {
                title: 'Табак:',
                desc: [
                    {title: 'На выбор'}

                ]
            },
            {
                title: 'Колба:',
                desc: [
                    {title: 'Вода'},
                    {title: 'Молоко'}
                ]
            },
            {
                title: 'Украшение:',
                desc: [
                    {title: 'Коктейльная вишня'}
                ]
            }
        ]
    }
] %}

{% set kalyanBar = {
    description: 'Предлагаем скрасить досуг вашего мероприятия услугой выездного кальян бара. В&nbsp;ассортименте 20&nbsp;видов
дизайнерских и&nbsp;классических арабских кальянов с&nbsp;никотиновыми и&nbsp;безникотиновыми табачными смесями. Каждый кальян &mdash;
почти искусство, ведь экспериментируя с&nbsp;пропорциями и&nbsp;ингредиентами опытный выездной кальянщик буквально создает
настроение.',
    howTo: [
        {
            content: 'Мы создаем уникальное кальянное меню,'
        },
        {
            content: 'Привозим и готовим кальяны к работе,'
        },
        {
            content: 'Покупаем и привозим ингредиенты для коктейлей,'
        },
        {
            content: 'Предоставляем профессиональных кальянщиков,'
        },
        {
            content: 'Готовим вкусные кальяны,'
        },
        {
            content: 'И радуем гостей!'
        }
    ],
    "advantages": [
                {
                    "icon": "speed",
                    "title": "Скорость",
                    "content": "Оборудуем кальяны на месте за 30 минут"
                },
                {
                    "icon": "bag",
                    "title": "Все в одном месте",
                    "content": "Мы берем на себя оборудование, табак и ингредиенты"
                },
                {
                    "icon": "purse",
                    "title": "Стоимость",
                    "content": "С почасовой оплатой удобно считать бюджет мероприятия"
                },
                {
                    "icon": "bow",
                    "title": "Статус",
                    "content": "Кальяны – это очень богемно!"
                },
                {
                    "icon": "hookah",
                    "title": "Расслабляющий перерыв",
                    "content": "Ничто так не расслабляет, как хороший кальян"
                },
                {
                    "icon": "detail",
                    "title": "Универсальность",
                    "content": "Безникотиновый табак подходит и для некурящих"
                }
            ]

} %}

{% block content %}
    <section class="kalyan-bar service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        <p class="service__desc-content">{{ kalyanBar.description }}</p>
                        <h2 class="service__desc-how-title">Как это будет:</h2>
                        <ul class="service__desc-how-list">
                            {% for item in kalyanBar.howTo %}
                            <li class="service__desc-how-item">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-check" />
                                </svg>
                                <p class="service__desc-how-item-content">{{ item.content }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        <p class="service__desc-advantages-title">Преимущества:</p>
                        <ul class="service__desc-advantages-list row">
                            {% for item in kalyanBar.advantages %}
                            <li class="service__desc-adv-item col-md-12 col-lg-6">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-{{ item.icon }}" />
                                </svg>
                                <p class="service__desc-adv-item-title">{{ item.title }}</p>
                                <p class="service__desc-adv-item-content">{{ item.content }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <aside class="types-of-bars col-12 col-md-4 col-lg-3">
                        <p class="types-of-bars__title">Виды баров:</p>
                        <ul class="types-of-bars__list">
                            {% for item in serviceBar.list %} {% if item.active %}
                            <li class="types-of-bars__item">
                                <a href="{{ item.link }}"
                                    class="types-of-bars__link types-of-bars__link--active">{{ item.title }}</a>
                            </li>
                            {% else %}
                            <li class="types-of-bars__item">
                                <a href="{{ item.link }}" class="types-of-bars__link">{{ item.title }}</a>
                            </li>
                            {% endif %} {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
        <div class="kalyan-bar__catalog service-catalog">
            <div class="container">
                <h2 class="service-catalog__title kalyan-bar__catalog-title  sub-title  stripe">Стоимость кальянов на выезд</h2>
                <div class="row kalyan-bar__catalog-wrapper">
                    {% for item in kalyanArr %}
                    {{ catalog_item.catalog_item_horizontal(item) }}
                    {% endfor %}
                </div>
                <a href="#" class="kalyan-bar__catalog-btn button  button--pink">Заказать кальян-бар</a>
            </div>
            {# {% include '../modules/pagination.twig' %} #}
        </div>
    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}
