<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../../css/main.min.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <title>Bar-Street</title>
</head>

{% set photos = [
    {
        image : '/img/landing/photos1.jpg',
        caption: 'Jungle cafe for RICOH',
        text: '«Crocus Expo» Exhibition Center',
        gallery: [
            {
                image: '/img/landing/photos1.jpg',
            },
            {
                image: '/img/landing/photos1.jpg',
            }
        ]
    },
    {
        image : '/img/landing/photos2.jpg',
        caption: 'Bar for Geberit',
        text: '«Crocus Expo» Exhibition Center',
        gallery: [
        {
            image: '/img/landing/photos2.jpg',
        },
        {
            image: '/img/landing/photos2.jpg',
        }
    ]
    },
    {
        image : '/img/landing/photos4.jpg',
        caption: 'Bar at the New Year party',
        text: '«Crocus Expo» Exhibition Center',
        gallery: [
        {
            image: '/img/landing/photos4.jpg',
        },
        {
            image: '/img/landing/photos4.jpg',
        }
    ]
    },
    {
        image : '/img/landing/photos3.jpg',
        caption: 'Event map',
        text: '«Crocus Expo» Exhibition Center'
    }
]
%}

{% set clients = [
    {
        image : '/img/landing/client1.png'
    },
    {
        image : '/img/landing/client2.png'
    },
    {
        image : '/img/landing/client3.png'
    },
    {
        image : '/img/landing/client4.png'
    },
    {
        image : '/img/landing/client5.png'
    },
    {
        image : '/img/landing/client6.png'
    },
    {
        image : '/img/landing/client7.png'
    },
    {
        image : '/img/landing/client8.png'
    },
    {
        image : '/img/landing/client9.png'
    },
    {
        image : '/img/landing/client10.png'
    },
    {
        image : '/img/landing/client11.png'
    },
    {
        image : '/img/landing/client12.png'
    },
    {
        image : '/img/landing/client14.png'
    },
    {
        image : '/img/landing/client15.png'
    },
    {
        image : '/img/landing/client16.png'
    },
    {
        image : '/img/landing/client17.png'
    },
    {
        image : '/img/landing/client19.png'
    },
    {
        image : '/img/landing/client20.png'
    },
    {
        image : '/img/landing/client21.png'
    },
    {
        image : '/img/landing/client22.png'
    },
    {
        image : '/img/landing/client23.png'
    },
    {
        image : '/img/landing/client24.png'
    },
    {
        image : '/img/landing/client25.png'
    },
    {
        image : '/img/landing/client26.png'
    },
    {
        image : '/img/landing/client27.png'
    },
    {
        image : '/img/landing/client28.png'
    },
    {
        image : '/img/landing/client29.png'
    },
    {
        image : '/img/landing/client31.png'
    },
    {
        image : '/img/landing/client32.png'
    },
    {
        image : '/img/landing/client33.png'
    },
    {
        image : '/img/landing/client34.png'
    },
    {
        image : '/img/landing/client36.png'
    },
    {
        image : '/img/landing/client37.png'
    },
    {
        image : '/img/landing/client38.png'
    },
    {
        image : '/img/landing/client39.png'
    }
]
%}

<body class="body landing-body" style="background: none;">
<header class="main-header landing-header">
    <div class="container main-header__inner">
        <div class="logo logo--mobile">
            <a class="logo__link" href="/">
                <img class="lazyload" src="/img/landing/logo.svg" alt="Bar-Street лого"></a>
        </div>
        <nav class="landing-nav">
            <div class="overlay hidden"></div>
            <button class="landing-nav__toggle menu-open-toggle">
                Menu
            </button>
            <div class="menu landing-nav__wrap js-landing-popup">
                <button class="landing-nav__close menu-close-toggle landing-popup-close js-landing-popup-close">
                    Close
                </button>
                <ul class="landing-nav__list">
                    <li class="landing-nav__item">
                        <a href="#services" class="landing-nav__link js-landing-scroll">Services</a>
                    </li>
                    <li class="landing-nav__item">
                        <a href="#cost" class="landing-nav__link js-landing-scroll">Cost calculation</a>
                    </li>
                    <li class="landing-nav__item">
                        <a href="#reviews" class="landing-nav__link js-landing-scroll">Reviews</a>
                    </li>
                    <li class="landing-nav__item">
                        <a href="#contacts" class="landing-nav__link js-landing-scroll">Contacts</a>
                    </li>
                    <li class="landing-nav__item">
                        <a href="/" class="landing-nav__link js-landing-scroll"><img class="menu-russian-img lazyload" src="/img/russian.png">На русский</a>
                    </li>
                </ul>
                <a class="landing-nav__phone-link" href="tel:+74995204473">8 (499) 520 44 73</a>
                <button type="button" class="landing-nav__callback-link">Request a call back</button>
                <div class="landing landing-order landing__callback">
                    <div class="container">
                        <div class="landing-back">
                        </div>
                        <div class="landing-order__inner landing-popup-close">
                            <svg>
                                <use xlink:href="#icon-close" />
                            </svg>
                            <h2 class="landing__title">Request a call back</h2>
                            <p class="landing-order__text">
                                Off-premise service for any occasion – you and your team deserve the best service. Leave a request for a bar!
                            </p>
                            <form class="landing-order__form">
                                <input type="text" class="landing-order__input" placeholder="Enter your name" required>
                                <input type="tel" class="landing-order__input phone-input" placeholder="Enter your phone" required>
                                <div class="landing-order__btns">
                                    <button type="submit" class="landing__button landing__button-pink js-landing-submit">To order</button>
                                    <small>By submitting this form, you agree to the privacy policy.</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="mobile-overlay  hidden"></div>
<div class="landing-overlay"></div>
<div class="landing-thanks js-landing-popup">
    <svg class="landing-popup-close js-landing-popup-close">
        <use xlink:href="#icon-close" />
    </svg>
    <h2>Thank you for the application</h2>
    <p>We will contact you shortly</p>
</div>

<main class="main">
    <section class="landing landing-intro">
        <div class="landing-intro__video">
            {#<video autoplay muted loop playsinline poster="/img/landing/Photo.jpg">#}
                {#<source src="/img/landing/final.mp4" type="video/mp4" media="(min-width: 576px)">#}
            {#</video>#}
            <img src="/img/landing/Photo.jpg" class="lazyload">
        </div>
        <div class="landing-intro__inner">
            <h1 class="landing-intro__title">Drink catering service</h1>
            <p class="landing-intro__text">Traveling bar service to your events - banquets, parties, and presentations for English-speaking foreign companies on the Russian territory</p>
            <div class="landing-intro__btns">
                <a href="#cost" class="landing__button landing__button-pink js-landing-scroll">Calculate the cost</a>
                <a href="#photos" class="landing__button landing__button-white js-landing-scroll">Show gallery events</a>
            </div>
        </div>
    </section>
    <section class="landing landing-desc">
        <div class="container landing-desc__inner">
            <h2 class="landing-desc__inner-title">What is an off-premise bar?</h2>
            <p class="landing-desc__inner-text">Bar-Street is a mobile bar or off-premise catering at any site within the city or in the country. Minimum time expenditure – maximum pleasure and emotions. <br><br>Quality organization of stylish events of various formats.</p>
        </div>
    </section>
    <section class="landing landing-bars">
        <div class="container">
            <h2 class="landing__title">Bar-street bars</h2>
            <div class="landing-bars__slider owl-carousel owl-theme">
                <div class="landing-bars__slider-item">
                    <img class="landing-bars__slider-img owl-lazy" data-src="/img/landing/bars.png" alt="">
                    <div class="landing-bars__content">
                        <h3 class="landing-bars__subtitle">Lemonade Bar</h3>
                        <p class="landing-bars__text">Cool drinks are appropriate outdoors. Main ingredients – only soda, natural juice, fresh fruits and berries.</p>
                    </div>
                </div>
                <div class="landing-bars__slider-item">
                    <img class="landing-bars__slider-img owl-lazy" data-src="/img/landing/bars.png" alt="">
                    <div class="landing-bars__content">
                        <h3 class="landing-bars__subtitle">Lemonade Bar</h3>
                        <p class="landing-bars__text">Cool drinks are appropriate outdoors. Main ingredients – only soda, natural juice, fresh fruits and berries.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landing landing-how-works">
        <div class="container">
            <h2 class="landing__title">How does a mobile bar work?</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <span>01</span>
                    <p class="landing-how-works__text">Leave a request on the website or call the contact number</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <span>02</span>
                    <p class="landing-how-works__text">Agree the date, time, venue and number of guests with our specialist</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <span>03</span>
                    <p class="landing-how-works__text">We carry out delivery and install the equipment of the off-premise bar</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <span>04</span>
                    <p class="landing-how-works__text">While you are relaxing, we are serving your guests</p>
                </div>
            </div>
        </div>
    </section>
    <section class="landing landing-order">
        <div class="container">
            <div class="landing-back">
            </div>
            <div class="landing-order__inner">
                <h2 class="landing__title">Order a bar</h2>
                <p class="landing-order__text">
                    Off-premise service for any occasion – you and your team deserve the best service. Leave a request for a bar!
                </p>
                <form class="landing-order__form">
                    <input type="text" class="landing-order__input" placeholder="Enter your name" required>
                    <input type="tel" class="landing-order__input phone-input" placeholder="Enter your phone" required>
                    <div class="landing-order__btns">
                        <button type="submit" class="landing__button landing__button-pink js-landing-submit">To order</button>
                        <small>By submitting this form, you agree to the privacy policy.</small>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="services" class="landing landing-additional">
        <div class="container">
                <h2 class="landing__title">Additional services</h2>
                <div class="landing-additional__tabs-links">
                    <button type="button" class="landing-additional__tabs-link _active" onclick="landingTabs('#tab1')">Master classes</button>
                    <button type="button" class="landing-additional__tabs-link" onclick="landingTabs('#tab2')">Equipment rental</button>
                    <button type="button" class="landing-additional__tabs-link" onclick="landingTabs('#tab3')">Show programs</button>
                    <button type="button" class="landing-additional__tabs-link" onclick="landingTabs('#tab4')">Catering</button>
                    <button type="button" class="landing-additional__tabs-link" onclick="landingTabs('#tab5')">Traveling personnel</button>
                    <svg class="icon-svg">
                        <use xlink:href="#icon-arrow-down"/>
                    </svg>
                </div>
                <div id="tab1" class="landing-additional__tabs-content _active">
                    <span class="landing-additional__item">Leading</span>
                    <span class="landing-additional__item">Cigar master class</span>
                    <span class="landing-additional__item">Exit workshop on birthday</span>
                    <span class="landing-additional__item">Conducting workshops</span>
                    <span class="landing-additional__item">Wine workshops</span>
                    <span class="landing-additional__item">Corporate Culinary</span>
                    <span class="landing-additional__item">Tea workshops</span>
                    <span class="landing-additional__item">Master class from the cook</span>
                    <span class="landing-additional__item">Culinary workshop from the chef</span>
                    <span class="landing-additional__item">Coffee workshop</span>
                    <span class="landing-additional__item">Master classes on an office party</span>
                    {#<button class="landing-additional__item-more" type="button">Show more services</button>#}
                </div>
            <div id="tab2" class="landing-additional__tabs-content">
                <span class="landing-additional__item">Leading</span>
                <span class="landing-additional__item">Cigar master class</span>
                <span class="landing-additional__item">Exit workshop on birthday</span>
                <span class="landing-additional__item">Conducting workshops</span>
                <span class="landing-additional__item">Wine workshops</span>
                <span class="landing-additional__item">Corporate Culinary</span>
                <span class="landing-additional__item">Tea workshops</span>
                <span class="landing-additional__item">Master class from the cook</span>
                <span class="landing-additional__item">Culinary workshop from the chef</span>
                <span class="landing-additional__item">Coffee workshop</span>
                <span class="landing-additional__item">Master classes on an office party</span>
                {#<button class="landing-additional__item-more" type="button">Show more services</button>#}
            </div>
            <div id="tab3" class="landing-additional__tabs-content">
            </div>
            <div id="tab4" class="landing-additional__tabs-content">
            </div>
            <div id="tab5" class="landing-additional__tabs-content">
            </div>
            </div>
        </div>
    </section>
    <section id="cost" class="landing landing-cost">
        <div class="container">
            <div class="landing-order__inner">
                <h2 class="landing__title">Bar cost calculation</h2>
                <form class="landing-cost__form">
                    <input type="text" class="landing-cost__input" placeholder="Enter your name" required>
                    <input type="tel" class="landing-cost__input phone-input" placeholder="Enter your phone" required>
                    <div class="landing-cost__selects">
                        <div class="landing-cost__select">
                            <select id="landing-bar-type" class="landing-cost-select-bar-type">
                                <option></option>
                                <option value="Equipment rent">Equipment rent</option>
                                <option value="Show programs">Show programs</option>
                                <option value="Catering">Catering</option>
                                <option value="Staff">Staff</option>
                            </select>
                        </div>
                        <div class="landing-cost__select">
                            <select id="landing-bar" class="landing-cost-select-bar">
                            </select>
                        </div>
                    </div>
                    <div class="landing-cost__guests">
                        <label>Number of guests</label>
                        <span class="landing-cost__minus js-landing-minus">-</span>
                        <input type="number" value="1" class="landing-cost__input" min="0">
                        <span class="landing-cost__plus js-landing-plus">+</span>
                    </div>
                    <div class="landing-cost__hours">
                        <label>Number of hours of work</label>
                        <span class="landing-cost__minus js-landing-minus">-</span>
                        <input type="number" value="1" class="landing-cost__input" min="0">
                        <span class="landing-cost__plus js-landing-plus">+</span>
                    </div>
                    <div class="landing-order__btns">
                        <button type="submit" class="landing__button landing__button-pink js-landing-submit">Request a calculation</button>
                        <small>By submitting this form, you agree to the privacy policy.</small>
                    </div>
                </form>
            </div>
            <div class="landing-back">
            </div>
        </div>
    </section>
    <section id="photos" class="landing landing-photos">
            <div class="landing-photos__inner">
                <div class="container">
                    <h2 class="landing__title">Photo reports</h2>
                </div>
                <div class="row">
                    {% for item in photos %}
                        <div class="landing-photos__item _darken js-photos-info {% if item.gallery is empty %} _map {% endif %} col-12 col-sm-6 col-md-3">
                                <picture>
                                    <source  class="landing-photos__slider-img" srcset="{{ item.image }}">
                                    <img class="landing-photos__img lazyload" src="{{ item.image }}" alt="">
                                </picture>
                                <h3 class="landing-photos__caption">{{ item.caption }}</h3>
                        </div>
                        {% if item.gallery is not empty %}
                            <div class="landing-photos-popup js-landing-popup">
                                <svg class="landing-popup-close js-landing-popup-close">
                                    <use xlink:href="#icon-close" />
                                </svg>
                                <div class="landing-photos-popup__inner">
                                    <h2 class="landing__title">{{ item.caption }}</h2>
                                </div>
                                <div class="landing-photos-popup__sliders-wrap">
                                    <div class="landing-photos-popup__slider owl-carousel owl-theme">
                                        {% for pic in item.gallery %}
                                            <div class="landing-photos-popup__slider-item">
                                                    <img class="landing-photos__popup-img owl-lazy" data-src="{{ pic.image }}" alt="">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="landing-photos-popup">
                                <svg class="landing-popup-close js-landing-popup-close">
                                    <use xlink:href="#icon-close" />
                                </svg>
                                map
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
    </section>
    <section id="reviews" class="landing landing-feedbacks">
        <div class="container">
            <h2 class="landing__title">Our client feedback</h2>
            <div class="landing-feedbacks__slider owl-carousel owl-theme">
                <div class="landing-feedbacks__item">
                    <p class="landing-feedbacks__text">Guys did a great job – arrived on time, brought with them everything necessary (even ice!). The staff was helpful and friendly, the range of cocktails pleasantly surprised. Service was best, and the quality of drinks was beyond praise!</p>
                    <div class="landing-feedbacks__sub">
                        <img class="lazyload" src="/img/landing/feed1.png">
                        <span>Sergey, Moscow</span>
                    </div>
                </div>
                <div class="landing-feedbacks__item">
                    <p class="landing-feedbacks__text">The neo-bar bowled over... A real firework of color and taste! The barmen are smart and quick, the menu is chic. The shining “filling” has created a real sensation and impressed all the guests of a private party in a nightclub. You really cool guys, respect.</p>
                    <div class="landing-feedbacks__sub">
                        <img class="lazyload" src="/img/landing/feed2.png">
                        <span>Ivan Mezentsev, Sochi</span>
                    </div>
                </div>
                <div class="landing-feedbacks__item">
                    <p class="landing-feedbacks__text">Thank you for the excellent work on the presentation of our technopark. The BAR-STREET team is really professional: the molecular bar impressed our foreign partners</p>
                    <div class="landing-feedbacks__sub">
                        <img class="lazyload" src="/img/landing/feed3.png">
                        <span>Ilona, St. Petersburg</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landing landing-clients">
        <div class="container">
            <div class="landing-clients__inner">
                <h2 class="landing__title">Our clients</h2>
                <div class="landing-clients__slider owl-carousel owl-theme">
                    {% for item in clients %}
                    <div class="landing-clients__slider-item">
                        <picture>
                            <source  class="landing-clients__slider-img" srcset="{{ item.image }}">
                            <img class="landing-clients__slider-img lazyload" src="{{ item.image }}" alt="">
                        </picture>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="landing-info">
        <div class="container">
            <div class="landing-back">
            </div>
            <div class="landing-info__inner">
                <h2 class="landing__title">The scale of our activities is growing every day</h2>
                <div class="row">
                    <div class="col-7 col-sm-6 col-md-7 landing-info__item">
                        <span>2 481 660</span>
                        <p class="landing-info__item-text">Cocktails prepared</p>
                    </div>
                    <div class="col-5 col-sm-6 col-md-5 landing-info__item">
                        <span>6 722</span>
                        <p class="landing-info__item-text">Bars</p>
                    </div>
                    <div class="col-7 col-sm-6 col-md-7 landing-info__item">
                        <span>934 810 037</span>
                        <p class="landing-info__item-text">Liters in total volume</p>
                    </div>
                    <div class="col-5 col-sm-6 col-md-5 landing-info__item">
                        <span>1 000</span>
                        <p class="landing-info__item-text">Bars in a year</p>
                    </div>
                    <div class="col-7 col-sm-6 col-md-7 landing-info__item">
                        <span>2 100 000 000</span>
                        <p class="landing-info__item-text">Rubles is the budget</p>
                    </div>
                    <div class="col-5 col-sm-6 col-md-5 landing-info__item">
                        <span>350</span>
                        <p class="landing-info__item-text">Largest Events</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="landing landing-questions">
        <div class="container">
            <div class="landing-order__inner">
                <h2 class="landing__title">Questions remained?</h2>
                <form class="landing-order__form">
                    <input type="text" class="landing-order__input" placeholder="Enter your name" required>
                    <input type="tel" class="landing-order__input phone-input" placeholder="Enter your phone" required>
                    <div class="landing-order__btns">
                        <button type="submit" class="landing__button landing__button-pink js-landing-submit">To order</button>
                        <small>By submitting this form, you agree to the privacy policy.</small>
                    </div>
                </form>
            </div>
            <div class="landing-back">
            </div>
        </div>
    </section>
    <section id="contacts" class="landing landing-contacts">
        <div class="container">
            <h2 class="landing__title">Contacts</h2>
            <div class="row">
                <div class="col-12 col-md-6 landing-contacts__info">
                    <div>
                        <a href="tel: +74995204473">8 (499) 520 44 73 </a>
                        <br>
                        <a href="mailto:info@bar-street.ru" class="pink">info@bar-street.ru</a>
                    </div>
                    <div>
                        <a href="https://goo.gl/maps/ntEmJnB2xAnQ9TNLA" target="_blank" class="pink">4 Clara Zetkin Moscow, <br>
                        127299 Russia</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 landing-contacts__socials">
                    <span>Write us:</span><br>
                    <div class="landing-contacts__socials-content">
                        <a href="whatsapp://send?phone=">
                            <img class="lazyload" src="/img/landing/what.png">
                            <span>Whats’App</span>
                        </a>
                        <a href="#">
                            <img class="lazyload" src="/img/landing/skype.png">
                            <span>Skype</span>
                        </a>
                        <a href="#">
                            <img class="lazyload" src="/img/landing/fb.png">
                            <span>Facebook</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="main-footer landing-footer">
    <div class="container">
        <div class="row">
            <div class="main-footer__navigation  landing-footer__navigation col-12 col-md-8 order-1">
                <ul class="landing-footer__nav-list row">
                    <li class="landing-nav__item col-6 col-sm-2">
                        <a href="#services" class="main-nav__link">Services</a>
                    </li>
                    <li class="landing-nav__item col-6 col-sm-4">
                        <a href="#cost" class="main-nav__link">Cost calculation</a>
                    </li>
                    <li class="landing-nav__item col-6 col-sm-2">
                        <a href="#reviews" class="main-nav__link">Reviews</a>
                    </li>
                    <li class="landing-nav__item col-6 col-sm-4">
                        <a href="#contacts" class="main-nav__link">Contacts</a>
                    </li>
                </ul>
            </div>
            <div class="main-footer__social landing-footer__social col-6 col-md-2 order-2">
                <ul class="main-footer__social-list landing-footer__social-list">
                    <li class="main-footer__social-item landing-footer__social-item">
                        <a target="_blank" href="https://vk.com/barstreet1" class="main-footer__social-link">
                            <svg>
                                <use xlink:href="#icon-vk" />
                            </svg>
                        </a>
                    </li>
                    <li class="main-footer__social-item landing-footer__social-item">
                        <a target="_blank" href="https://www.instagram.com/barstreet/" class="main-footer__social-link">
                            <svg>
                                <use xlink:href="#icon-inst" />
                            </svg>
                        </a>
                    </li>
                    <li class="main-footer__social-item landing-footer__social-item">
                        <a target="_blank" href="https://www.facebook.com/bar.street.ru/" class="main-footer__social-link">
                            <svg>
                                <use xlink:href="#icon-fb" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="payment col-6 col-md-2 col-lg-2 order-3">
                <img class="lazyload" src="../../img/visa.svg" width="50" height="50" alt="Visa" class="payment__item">
                <img class="lazyload" src="../../img/mastercard.svg" width="50" height="50" alt="MasterCard" class="payment__item">
            </div>
            <section class="copyright landing-copyright col-12 col-md-7 order-4">
                <p class="copyright__item landing-copyright__item">© 2010—2019 Bar Street LLC. Exit bars.</p><br>
                <p class="copyright__offer landing-copyright__offer">
                    By using our website, you accept the terms of <a href="/public-oferta" target="_blank">Public offer</a>, <a href="/agreement-processing-personal-data" target="_blank">Agreement to processing of personal data</a> and <a href="/politics-public-oferta" target="_blank">Politics regarding processing of personal data</a>.
                </p>
            </section>
            <section class="development landing-development col-12 col-md-7 order-5">
                <p class="development__title landing-development__title">Site development -  </p>
                <a href="https://constructivesolutions.ru/" target="_blank" class="development__link landing-development__link"> Сonstructive Solutions</a>
            </section>
        </div>
    </div>
</footer>
<div class="hidden">{% include "../../img/sprite.svg" %}</div>
{% include "../modules/scripts.twig" %}
{% block scripts %}
    <script type="text/javascript">
        var syncList1 = new syncList;
        syncList1.dataList = {
            'Equipment rent':{
                '' : '',
                'Coffee workshop': 'Coffee workshop',
                'Master classes on an office party': 'Master classes on an office party'
            },

            'Show programs':{
                '' : '',
                'Leading':'Leading',
                'Cigar master class':'Cigar master class',
                'Exit workshop on birthday': 'Exit workshop on birthday'
            },

            'Catering':{
                '' : '',
                'Conducting workshops': 'Conducting workshops',
                'Wine workshops': 'Wine workshops',
                'Corporate Culinary': 'Corporate Culinary',
                'Tea workshops': 'Tea workshops'
            },

            'Staff':{
                '' : '',
                'Master class from the cook': 'Master class from the cook',
                'Culinary workshop from the chef': 'Culinary workshop from the chef'
            }

        };
        syncList1.sync("landing-bar-type","landing-bar");
    </script>
{% endblock %}
</body>