{% extends "../base.twig" %}
{% block title %}Проведение мастер классов{% endblock %}
{% set servicesCover = 'master-class.png' %}
{% set servicesTopic = 'Проведение мастер классов' %}
{% set servicesDesc = 'Организация и проведение мастер-классов любой сложности на Вашем мероприятии.' %}
{% set howitWorkTitle = 'Заказать мастер класс' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-lg-6">
                        <p class="service__desc-content">{{ masterClass.description }}</p>
                        <h3 class="service-bar__desc-title">{{ masterClass.descriptionPriceTitle }}</h3>
                        {% for item in masterClass.descriptionPriceText %}
                            <p class="service__desc-content">{{ item.text }}</p>
                        {% endfor %}
                    </div>
                    <div class="service__master-types">
                        <div class="service__master-types-list-wrap ">
                            <h2 class="service__master-types-list-title">{{ masterClass.typesTitle }}</h2>
                            <ul class="service-bar__master-types-list">
                                {% for item in  masterClass.typesList %}
                                    <li class="service__master-types-item">
                                        <span class="service__master-types-item-num">{{ item.num }}.</span> <a
                                                href="{{ item.href }}"
                                                class="service__master-types-item-link">{{ item.link }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <section class="master-block">
        <h2 class="master-block__title col-12"><span><b>{{ masterClass.masterBlockTitle }}</b></span></h2>
        <ul class="master-block__list col-12">
            {% for item in masterClass.masterBlockList %}
                <li class="master-block__item">
                    <div class="container">
                        <div class="row">
                            <div class="master-block__item-inner col-12 col-md-6">
                                <h2 class="master-block__item-title"><span>{{ item.num }}.</span> {{ item.title }}</h2>
                                <p class="master-block__item-description">{{ item.description }}</p>
                                {% if item.link is not empty %}
                                    <a href="#" class="master-block__btn">Оставить заявку</a>
                                {% endif %}
                            </div>
                            <div class="master-block__item-img col-12 col-md-6">
                                <img class="lazyload" src="../img/{{ item.img }}" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}