{% extends "../base.twig" %}
{% block title %}Аренда мебели с подсветкой{% endblock %}
{% set servicesCover = 'mebel-rent.jpg' %}
{% set servicesTopic = 'Аренда мебели с подсветкой' %}
{% set servicesDesc = 'Эффектная мебель из экологичного пластика сделает любое мероприятие незабываемым.' %}
{% set howitWorkTitle = 'Арендовать мебель' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        {% for item in furniture.description %}
                            <p class="service__desc-content">{{ item.text }}</p>
                        {% endfor %}
                    </div>
                    <div class="service-bar__how col-12">
                        <div class="container">
                            <div class="row justify-content-md-between">
                                <ul class="service__how-list col-12 col-md-6 col-lg-4">
                                    {% for item in furniture.howTo %}
                                        <li class="service__how-item">
                                            <svg class="icon-svg">
                                                <use xlink:href="#icon-check"/>
                                            </svg>
                                            <p class="service__how-item-content">{{ item.content }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <img class="service__how-img lazyload" src="/img/arenda_text.png" alt="Светящаяся мебель">
                                <ul class="service__how-list col-12 col-md-6 col-lg-4">
                                    {% for item in furniture.secondHowTo %}
                                        <li class="service__how-item">
                                            <svg class="icon-svg">
                                                <use xlink:href="#icon-check"/>
                                            </svg>
                                            <p class="service__how-item-content">{{ item.content }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="furniture-catalog  furniture-catalog--dark">
        <div class="container">
            <div class="row">
                <h2 class="furniture-catalog__title title col-12">{{ furniture.catalogTitle }}</h2>
                {% for item in furniture.products %}
                    <div class="furniture-catalog__product js-furniture-product col-12">
                        <div class="row">

                            <div class="furniture-catalog__product-slider owl-carousel owl-theme col-12 col-md-6 col-lg-5">
                                {% for slide in item.images %}
                                    <div class="furniture-catalog__product-slider-item">
                                        <a href="../img/{{ slide.imgLarge }}" data-fancybox>
                                            <img class="lazyload" src="../img/{{ slide.img }}" alt="">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="furniture-catalog__product-inner col-12 col-md-6 col-lg-7">
                                <h3 class="js-furniture-product-title furniture-catalog__product-title">{{ item.title }}</h3>

                                <div class="furniture-catalog__product-calc  furniture-catalog__product-calc--mobile">
                                    {% for size in item.size %}
                                        <div class="furniture-catalog__product-calc-item js-furniture-product-row">
                                            <div class="furniture-catalog__product-calc-item-header">
                                                <p class="js-furniture-product-size furniture-catalog__product-calc-size">{{ size.text }}</p>
                                                <button class="furniture-catalog__product-calc-toggle"></button>
                                            </div>
                                            <div class="furniture-catalog__product-calc-item-inner">
                                                <div class="furniture-catalog__product-calc-item-inner-wrap">
                                                    <label for="" class="furniture-catalog__product-calc-text">
                                                        Кол-во <br>
                                                        <input type="number" min="0" max="9" step="1"
                                                               value="0"
                                                               class="js-furniture-product-count furniture-catalog__product-calc-item-input">
                                                    </label>
                                                    <p class="furniture-catalog__product-calc-text">
                                                        Цена <br>
                                                        <span class="js-furniture-product-price furniture-catalog__product-calc-price">{{ size.price }}</span>
                                                        <span class="furniture-catalog__product-calc-currency">₽</span>
                                                    </p>
                                                </div>
                                                <div class="furniture-catalog__product-calc-item-inner-wrap">
                                                    <label for="" class="furniture-catalog__product-calc-text">
                                                        Сутки <br>

                                                        <input type="number" min="0" max="9" step="1"
                                                               value="0"
                                                               class="js-furniture-product-days furniture-catalog__product-calc-item-input">


                                                    </label>
                                                    <p class="furniture-catalog__product-calc-text">
                                                        Стоимость <br>
                                                        <span class="js-furniture-product-amount furniture-catalog__product-calc-price">0</span>
                                                        <span class="furniture-catalog__product-calc-currency">₽</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <table border="0" class="furniture-catalog__product-calc furniture-catalog__product-calc--tablet">
                                    <tr class="furniture-catalog__product-calc-row furniture-catalog__product-calc-row--header">
                                        <th class="furniture-catalog__product-calc-col">Размер, см</th>
                                        <th class="furniture-catalog__product-calc-col">Цена</th>
                                        <th class="furniture-catalog__product-calc-col">Кол-во</th>
                                        <th class="furniture-catalog__product-calc-col">Сутки</th>
                                        <th class="furniture-catalog__product-calc-col">Стоимость</th>
                                    </tr>
                                    {% for size in item.size %}
                                        <tr class="js-furniture-product-row furniture-catalog__product-calc-row">
                                            <td class="js-furniture-product-size furniture-catalog__product-calc-col">{{ size.text }}</td>
                                            <td class="furniture-catalog__product-calc-col"><span class="js-furniture-product-price furniture-catalog__product-calc-price">{{ size.price }}</span>
                                                <span class="furniture-catalog__product-calc-currency">₽</span></td>
                                            <td class="furniture-catalog__product-calc-col">
                                                <input type="number" min="0" max="9" step="1" value="0" class="js-furniture-product-count furniture-catalog__product-calc-item-input">
                                            </td>
                                            <td class="furniture-catalog__product-calc-col">
                                                <input type="number" min="0" max="9" step="1" value="0" class="js-furniture-product-days furniture-catalog__product-calc-item-input">
                                            </td>
                                            <td class="furniture-catalog__product-calc-col"><span class="js-furniture-product-amount furniture-catalog__product-calc-price">0</span>
                                                <span class="furniture-catalog__product-calc-currency">₽</span></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <p class="furniture-catalog__product-total">Сумма: <span class="js-furniture-product-total furniture-catalog__product-total-price">0</span>
                                    <span class="furniture-catalog__product-total-currency">₽</span></p>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="service-delivery">
        <div class="container">
            <div class="row">
                <h2 class="service-delivery__title title col-12">Доставка и обслуживание</h2>
                <ul class="service-delivery__list col-12 col-md-6">
                    {% for item in furniture.delivery %}
                        {% if item.id == 'delivery-pickup' %}
                            <li class="service-delivery__item">
                                <label for="{{ item.id }}" class="service-delivery__label">
                                    <input id="{{ item.id }}" value="{{ item.price }}" name="delivery" type="radio"
                                           class="service-delivery__radio">
                                    {{ item.name }}
                                </label>
                                <p class="service-delivery__content"><span
                                            class="service-delivery__price">{{ item.price }}</span></p>
                            </li>

                        {% else %}
                            <li class="service-delivery__item">
                                <label for="{{ item.id }}" class="service-delivery__label">
                                    <input id="{{ item.id }}" value="{{ item.price }}" name="delivery" type="radio"
                                           class="service-delivery__radio">
                                    {{ item.name }}
                                </label>
                                <p class="service-delivery__content"><span
                                            class="service-delivery__price">{{ item.price }}</span><span
                                            class="service-delivery__currency">₽</span></p>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
                <ul class="service-delivery__list col-12 col-md-6">
                    {% for item in furniture.service %}
                        {% if item.id == 'service-brand' %}
                            <li class="service-delivery__item">
                                <div class="service-delivery__item-inner">
                                    <label for="{{ item.id }}" class="service-delivery__label">
                                        <input id="{{ item.id }}" value="{{ item.price }}" name="service-delivery-check"
                                               type="checkbox" class="service-delivery__radio">
                                        {{ item.name }}
                                    </label>
                                    <small class="service-delivery__item-note">обсуждается с менеджером</small>
                                </div>
                                <div class="service-delivery__item-inner">
                                    <p class="service-delivery__content"><span
                                                class="service-delivery__price">{{ item.price }}</span><span
                                                class="service-delivery__currency">₽</span></p>
                                    <small class="service-delivery__item-note">за единицу</small>
                                </div>

                            </li>
                        {% else %}
                            <li class="service-delivery__item">
                                <label for="{{ item.id }}" class="service-delivery__label">
                                    <input name="service-delivery" value="{{ item.price }}" type="radio"
                                           class="service-delivery__radio">
                                    {{ item.name }}
                                </label>
                                <p class="service-delivery__content"><span
                                            class="service-delivery__price">{{ item.price }}</span><span
                                            class="service-delivery__currency">₽</span></p>
                            </li>
                        {% endif %}

                    {% endfor %}

                </ul>
            </div>
        </div>

    </section>
    <section class="order">
        <div class="order__inner">
            <div class="order__info">
                <h2 class="order__info-title">Ваш заказ</h2>
                <small class="order__info-note">Проверьте состав заказа. Стоимость доставки и обслуживания уточняется
                    после заказа.
                </small>
                <ul class="order__info-list">
                    <li class="order__info-item">
                        <p class="order__info-name">Количество мебели</p>
                        <p class=" order__info-count"><span class="js-furniture-count">0</span> <span
                                    class="order__info-count">шт.</span></p>
                    </li>
                    <li class="order__info-item">
                        <p class="order__info-name">Сумма аренды мебели</p>
                        <p class=" order__info-count"><span class="js-furniture-amount">0</span> <span
                                    class="order__info-currency">₽</span></p>
                    </li>
                    <li class="order__info-item">
                        <p class="order__info-name">Доставка</p>
                        <p class=" order__info-count"><span class="js-delivery-amount">0</span> <span
                                    class="order__info-currency">₽</span></p>
                    </li>
                    <li class="order__info-item">
                        <p class="order__info-name">Обслуживание</p>
                        <p class=" order__info-count"><span class="js-service-delivery-amount">0</span> <span
                                    class="order__info-currency">₽</span></p></li>
                </ul>
                <div class="order__info-total">
                    <p class="order__info-total-content">Итог</p>
                    <p class=" order__info-total-count"><span class="js-furniture-total">0</span> <span
                                class="order__info-total-currency">₽</span></p>
                </div>
            </div>
            <form action="#" class="order__form">
                <h2 class="order__form-title">Оформление заказа</h2>
                <small class="order__form-note">
                    С вами свяжется менеджер для согласования времени и места. Затем заказ можно будет оплатить. Мы
                    работаем по 50% предоплате.
                </small>
                <input type="text" class="order__form-input  input" placeholder="Ваше имя">
                <input type="text" class="order__form-input  phone-input input" placeholder="Телефон">
                <input type="text" class="order__form-input  input" placeholder="Почта">
                <input name="mebelrent[order_mebel_value]" type="hidden" value="0">
                <input name="mebelrent[order_mebel_price]" type="hidden" value="0">
                <input name="mebelrent[order_mebel_delivery]" type="hidden" value="0">
                <input name="mebelrent[order_mebel_service]" type="hidden" value="0">
                <button type="submit" class="order__form-submit button button--pink">Отправить</button>
            </form>
        </div>

    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}