{% extends "../base.twig" %}
{% block title %}Мобильный бар{% endblock %}
{% set servicesCover = 'mobile-bar.jpg' %}
{% set servicesTopic = 'Мобильный бар' %}
{% set servicesDesc = 'Сделаем бар с любыми профессиональными коктейлями на вашем мероприятии. Гости останутся довольны! Вам просто нужно назвать место и количество людей, остальное мы сделаем сами.' %}
{% set howitWorkTitle = 'Заказать мобильный бар' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% set data = [
    {
        image: '/img/mobile-bar/services-media.jpg'
    },
    {
        image: '/img/mobile-bar/services-media.jpg',
        video: 'https://www.youtube.com/embed/V1Nov0TSGxs'
    },
    {
        image: '/img/mobile-bar/services-media.jpg'
    }
] %}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-8 col-lg-9">
                        <p class="service__desc-content">{{ serviceBar.description }}</p>
                        <h2 class="service__desc-how-title">Как это будет:</h2>
                        <ul class="service__desc-how-list">
                            {% for item in serviceBar.howTo %}
                                <li class="service__desc-how-item">
                                    <svg class="icon-svg">
                                        <use xlink:href="#icon-check"/>
                                    </svg>
                                    <p class="service__desc-how-item-content">{{ item.content }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="service-media__slider owl-carousel owl-theme">
                            {% for item in data %}
                                <div class="service-media__slider-item">
                                    {% if item.video %}
                                        <iframe src="{{ item.video }}" frameborder="0"
                                                allowfullscreen poster="{{ item.image }}"></iframe>
                                    {% else %}
                                        <img src="{{ item.image }}" alt="">
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <p class="service__desc-advantages-title">Преимущества:</p>
                        <ul class="service__desc-advantages-list row">
                            {% for item in serviceBar.advantages %}
                                <li class="service__desc-adv-item col-md-12 col-lg-6">
                                    <svg class="icon-svg">
                                        <use xlink:href="#icon-{{ item.icon }}"/>
                                    </svg>
                                    <p class="service__desc-adv-item-title">{{ item.title }}</p>
                                    <p class="service__desc-adv-item-content">{{ item.content }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <aside class="types-of-bars col-12 col-md-4 col-lg-3">
                        <p class="types-of-bars__title">Виды баров:</p>
                        <ul class="types-of-bars__list">
                            {% for item in serviceBar.list %} {% if item.active %}
                                <li class="types-of-bars__item">
                                    <a href="{{ item.link }}"
                                       class="types-of-bars__link types-of-bars__link--active">{{ item.title }}</a>
                                </li>
                            {% else %}
                                <li class="types-of-bars__item">
                                    <a href="{{ item.link }}" class="types-of-bars__link">{{ item.title }}</a>
                                </li>
                            {% endif %} {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>

        </div>
        <div class="service__question">
            <div class="container">
                <div class="row">
                    <div class="service__question-inner col-12 col-md-6 col-lg-6">
                        <ul class="service__question-tabs">
                            {% for item in serviceBar.questions %} {% if item.active %}
                                <li class="service-bar__question-tabs-item">
                                    <a href="#{{ item.id }}"
                                       class="service__question-tab service-bar__question-tab--active">{{ item.question }}</a>
                                </li>
                            {% else %}
                                <li class="service-bar__question-tabs-item">
                                    <a href="#{{ item.id }}" class="service__question-tab">{{ item.question }}</a>
                                </li>
                            {% endif %} {% endfor %}
                        </ul>
                        <button class="popup-toggle question-popup-toggle button  button--border">Задать вопрос
                        </button>
                    </div>
                    <div class="service__question-answer col-12 col-md-12 col-lg-6">
                        <ul class="service-bar__question-answer-list">
                            {% for item in serviceBar.questions %} {% if item.active %}
                                <li id="{{ item.id }}"
                                    class="service__question-answer-item service-bar__question-answer-item--active">
                                    <p class="service__question-answer-content">{{ item.answer }}</p>
                                    {% if item.img is not empty %}
                                        <img src="../img/mobile-bar/service-questions/{{ item.img }}"
                                             alt=""> {% endif %} {% if item.answerList is not empty %}
                                        <ul class="service__question-answer-sublist">
                                            {% for subItem in item.answerList %}
                                                <li class="service__question-answer-subitem">
                                                    <p>{{ subItem.content }}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li id="{{ item.id }}" class="service__question-answer-item">
                                    <p class="service__question-answer-content">{{ item.answer }}</p>
                                    {% if item.img is not empty %}
                                        <img src="../img/mobile-bar/service-questions/{{ item.img }}"
                                             alt=""> {% endif %} {% if item.answerList is not empty %}
                                        <ul class="service__question-answer-sublist">
                                            {% for subItem in item.answerList %}
                                                <li class="service__question-answer-subitem">
                                                    <p>{{ subItem.content }}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %} {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="service-catalog">
            <h2 class="service-catalog__title  sub-title  stripe">Цены на коктейли {{ serviceBar.catalogTitle }}</h2>
            <div class="container">
                <div class="row service-catalog__slider owl-carousel owl-theme">
                    {% for item in serviceBar.productList %}
                        <article class="service-catalog__product col-lg-3">
                            <div class="service-catalog__product-img">
                                <a href="coctails.html">
                                    <picture>
                                        <source srcset="../img/mobile-bar/product-list/{{ item.img }}"
                                                type="image/webp">
                                        <img class="lazyload" src="../img/mobile-bar/product-list/{{ item.img }}" alt="">
                                    </picture>
                                </a>
                            </div>
                            <div class="service-catalog__product-inner">
                                <h3 class="service-catalog__product-name">{{ item.name }}</h3>
                                <p class="service-catalog__product-price">{{ item.price }}
                                    <span>руб.</span>
                                </p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
    {% include "../modules/need.twig" %}
{% endblock %}

    {% block popups %}
        {% include '../popups/service-popup.twig' %}
        {% include '../popups/question-popup.twig' %}
    {% endblock %}