{% extends "../base.twig" %}
{% block title %}Оформление заказа на коктейли Bar-Street{% endblock %}

{% block content %}
    <section class="event">
        <h1 class="title  event__title">Заявка на коктейли</h1>
        <div class="container event__container">
            <form action="/" class="event__form">
                <p class="event__coctails-total">Вы выбрали 225 коктейлей на сумму 61 250 ₽</p>
                <div class="event__form-inner  event__form-inner--helper">
                    <p class="event__form-label">Состав заказа:</p>
                    <ul class="event__coctails-list" >
                        <li class="event__coctails-item">Черный русский 50 шт. — 12 500 ₽</li>
                        <li class="event__coctails-item">Черный русский 50 шт. — 12 500 ₽</li>
                        <li class="event__coctails-item">Черный русский 50 шт. — 12 500 ₽</li>
                        <li class="event__coctails-item">Черный русский 50 шт. — 12 500 ₽</li>
                        <li class="event__coctails-item">Черный русский 50 шт. — 12 500 ₽</li>
                    </ul>
                </div>
                <div class="event__form-inner">
                    <label for="name" class="event__form-label">ФИО:</label>
                    <input class="event__form-input input" id="name" type="text">
                </div>
                <div class="event__form-inner">
                    <label for="phone" class="event__form-label">Телефон:</label>
                    <input class="event__form-input phone-input input" id="phone" type="tel">
                </div>
                <div class="event__form-inner">
                    <label for="email" class="event__form-label">Почта:</label>
                    <input class="event__form-input input" id="email" type="email">
                </div>
                <div class="event__form-inner">
                    <button class="event__form-btn button  button--pink">Отправить</button>
                    <p class="event__form-text">Наш менеджер свяжется с вами в ближайшее время</p>
                </div>
                <p class="event__text">Используя сайт, вы принимаете условия Публичной оферты, Соглашения на обработку персональных данных и Политики в отношении обработки персональных данных</p>
            </form>
        </div>
    </section>
{% endblock %}