{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Партнерам Bar-street{% endblock %}
{% set breadcrumbs = [
    {
        title: "Партнерам",
        active: true
    }
]
%}

{% block content %}
    <section class="partner">
        <div class="container  partner__container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  partner__title">Партнёрам</h1>
            <p class="text partner__text">
                Мы&nbsp;приветствуем и&nbsp;практикуем сотрудничество с&nbsp;компаниями, занимающимися аналогичной или смежной деятельностью.
                Все договора заключаются на&nbsp;взаимовыгодной основе. <br>
                Мы&nbsp;работаем только с&nbsp;проверенными организациями и&nbsp;честными людьми. <br>
                Для уточнения условий и&nbsp;деталей сотрудничества свяжитесь с&nbsp;нашими менеджерами о&nbsp;электронной почте <a href="mailto:info@bar-street.ru" class="link">info@bar-street.ru</a>.
            </p>
            <p class="text partner__text">
                Надеемся, что вы&nbsp;узнаете много нового и&nbsp;интересного и&nbsp;найдете&nbsp;то, что искали.
            </p>
            <div class="partner__inner">
                <p class="text partner__text-about">
                    С&nbsp;уважением, <br>
                    Управляющий партнер Bar-Street <br>
                    Сергей Насоновский
                </p>
                <img class="partner__img lazyload" src="/img/director.png" alt="Управляющий партнер Сергей Насоновский">
            </div>
        </div>
    </section>
{% endblock %}