{% set blue = true %}
{% set photoLink = true %}
{% set photoTitle = 'Фотографии с других мероприятий' %}
{% set services = [
    {
        title: '«Мобильный бар»',
        link: '/services/zakazat-mobilny-bar'
    },
    {
        title: '«Молекулярный бар»',
        link: '/services/molekuljarnyj-bar'
    },
    {
        title: '«Аренда мебели с подсветкой»',
        link: '/services/mebel-s-podsvetkoy'
    },
    {
        title: '«Аренда бокалов»',
        link: '/services/arenda-bokalov'
    },
    {
        title: '«Мохито бар»',
        link: '/services/mohito-bar'
    }    
] %}

{% set location = [
    {
        title: 'Ресторан «Якорь»',
        link: '/photoalbum/map#402'
    }
] %}

{% set breadcrumbs = [
    {
        title: 'Фотоотчеты',
        link: '/photoalbum'
    },
    {
        title: 'Молекулярный бар для компании UTS group',
        active: true   
    }
]
%}

{% import '../macros/order.twig' as order %}

{% extends "../base.twig" %}
{% block title %}Молекулярный бар для компании UTS group - Фото и видеоотчеты выездного мобильного бара{% endblock %}

{% block content %}

    <section class="photoalbum-card">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title photoalbum-card__title">Молекулярный бар для компании UTS group</h1>
            <div class="photoalbum-card__header row">
                <div class="photoalbum-card__section col-12 col-md-6">
                    <div class="photoalbum-card__section-icon">
                        <svg class="icon-svg">
                            <use xlink:href="#icon-glas-gray" />
                        </svg>
                    </div>
                    <div class="photoalbum-card__section-inner">
                        <h3 class="photoalbum-card__section-title">Услуги на мероприятии:</h3>
                        <ul class="photoalbum-card__section-list">
                            {% for item in services %}
                                <li class="photoalbum-card__section-item">
                                    <a title="{{ item.title }}" href="{{ item.link }}" class="photoalbum-card__section-link">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="photoalbum-card__section col-12 col-md-6">
                    <div class="photoalbum-card__section-icon">
                        <svg class="icon-svg  icon-svg--pin">
                            <use xlink:href="#icon-pin" />
                        </svg>
                    </div>
                    <div class="photoalbum-card__section-inner">
                        <h3 class="photoalbum-card__section-title">Место проведения</h3>
                        <ul class="photoalbum-card__section-list">
                            {% for item in location %}
                                <li class="photoalbum-card__section-item">
                                    <a href="{{ item.link }}" class="photoalbum-card__section-link">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="photoalbum-card__gallery col-12 row">
                {% for i in 1..60 %}
                    <li class="photoalbum-card__gallery-item col-12 col-sm-6 col-md-4">
                        <a href="/img/gallery/Crio-бар-{{ i }}.png" data-fancybox="gallery" data-width="2048" data-height="1365">
                            <picture>
                                <source srcset="/img/gallery/Crio-бар-{{ i }}.webp" type="image/webp">
                                <img class="lazyload" data-src="/img/gallery/Crio-бар-{{ i }}.png">
                            </picture>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="photoalbum-card__desc">
                <div class="container">
                    <div class="row">
                        <h3 class="photoalbum-card__desc-title col-12">Описание</h3>
                        <p class="photoalbum-card__desc-content col-12 col-lg-6">
                            Стильно, лаконично, престижно. Бармены в черном, представители компании в белом; коктейли черные, стойки белые. Меньше цвета, больше дела. В качестве столиков были выбраны светящиеся конусообразные стойки с прозрачной столешницей. Сверху стоит необычное украшение - вазы с черными кристаллами. Гости тоже поддержали черно-белую концепцию, всё вместе - просто отрада для глаз и фотографов. Наш welcome bar не только встречал гостей, но и сразу задавал нужный деловой тон. Мы можем сделать бар разноцветным, скромным или взрывающим мозг, но всегда сделаем это со вкусом.
                        </p>
                        <div class="photoalbum-card__order-window col-12 col-lg-5">
                            {{ order.order_window({
                                mod: '_photo',
                                title: 'Хотите так же круто провести мероприятие?',
                                link: '/event'
                            }) }}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    {% include "../modules/photos.twig" %}
{% endblock %}