{% set blue = true %}
{% import '../macros/photocard-events.twig' as card %}
{% extends "../base.twig" %}
{% block title %}Фото и видеоотчеты{% endblock %}

{% block content %}
    <section class="photoalbum">
        <div class="container">
            <h1 class="title photoalbum__title">Фото и видеоотчеты выездного мобильного бара</h1>
            <a href="/photoalbum/map" class="photoalbum__link button  button--pink">
                <svg class="icon-svg">
                    <use xlink:href="#icon-placeholder" />
                </svg>
                Смотреть на карте
            </a>
            <div class="photoalbum__list row no-gutters">
                {{ card.photocard_events({
                    mod: '_left',
                    img: '/img/photocards/790qkcrhri.png',
                    alt: '',
                    dateDigit: '11-01-2019',
                    dateText: '11 января 2019',
                    title: 'Выездной бар на новогоднем корпоративе',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    mod: '_left',
                    img: '/img/photocards/mjxxajz3y2.png',
                    alt: '',
                    dateDigit: '07-12-2018',
                    dateText: '07 декабря 2018',
                    title: 'Молекулярный бар для компании UTS group',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    img: '/img/photocards/lov90ir3u9.png',
                    alt: '',
                    dateDigit: '03-12-2018',
                    dateText: '03 декабря 2018',
                    title: 'Бар на ежегодной теннисной премии «Золотая ракетка 2018»',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    img: '/img/photocards/s9bcmbcmxj.png',
                    alt: '',
                    dateDigit: '02-12-2018',
                    dateText: '02 декабря 2018',
                    title: 'Welcome bar для Sobytie Communication',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    mod: '_left',
                    img: '/img/photocards/0ce87fjteu.png',
                    alt: '',
                    dateDigit: '25-09-2018',
                    dateText: '25 сентября 2018',
                    title: 'Чайный и кофейный бар для компании «Бронницкий Ювелир»',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    mod: '_left',
                    img: '/img/photocards/34fvnugiwy.png',
                    alt: '',
                    dateDigit: '20-09-2018',
                    dateText: '20 сентября 2018',
                    title: 'Выездной бар для компании N-Joy',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    img: '/img/photocards/rwtsvw90lz.png',
                    alt: '',
                    dateDigit: '19-09-2018',
                    dateText: '19 сентября 2018',
                    title: 'Кофейный бар для Netwell',
                    link: ''
                }) }}
                {{ card.photocard_events({
                    img: '/img/photocards/2edrzcfbuj.png',
                    alt: '',
                    dateDigit: '01-09-2018',
                    dateText: '01 сентября 2018',
                    title: 'Выездной бар на турнире по теннису ЛАНИТOpen 2018 ',
                    link: ''
                }) }}
            </div>
        </div>
        {% include "../modules/pagination.twig" %}
    </section>
{% endblock %}