{% extends "../base.twig" %}

{% block headLibs %}
<link rel="stylesheet" href="/libs/perfectScroll/css/perfect-scrollbar.css">
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
    <section class="photomap">
        <div class="photomap__layout _active">
            <button class="photomap__layout-toggle js-layout-hide-toggle _active">
                <svg class="icon-svg">
                    <use xlink:href="#icon-left-arrow" />
                </svg>
            </button>
            <div class="container">
                <h2 id="photomap-title" class="photomap__layout-base-title">Фотоотчеты на карте</h2>
                <ol class="photomap__layout-base-list">
                    <li class="photomap__layout-base-item">
                        <p>
                            Выберите на карте место где мы организовывали выездной бар
                        </p>
                    </li>
                    <li class="photomap__layout-base-item">
                        <p>
                            Ознакомьтесь с фотоотчетом
                        </p>
                    </li>
                    <li class="photomap__layout-base-item">
                        <p>
                            <a href="#" class="photomap__layout-link">Закажите</a> выездной бар на этом месте
                        </p>
                    </li>
                </ol>
                <div id="photomap-layout-list" class="photomap__layout-list"></div>
                <div class="photomap__layout-bottom">
                    <button class="photomap__layout-bottom-btn button button--pink js-callback-form-toggle">Заказать бар</button>
                </div>
            </div>
        </div>
        <div id="photomap" class="photomap__map"></div>
    </section>
    {% block popups %}
        {% include '../popups/service-popup.twig' %}
    {% endblock %}
{% endblock %}

{% block scripts %}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script src="/js/photomap.js"></script>
<script src="/libs/perfectScroll/dist/perfect-scrollbar.min.js"></script>
{% endblock %}