{% extends "../base.twig" %}
{% block title %}Пирамида из бокалов шампанского{% endblock %}
{% set servicesCover = 'piramida.jpg' %}
{% set servicesTopic = 'Пирамида из бокалов шампанского' %}
{% set servicesDesc = '' %}
{% set howitWorkTitle = 'Пирамида из бокалов шампанского' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-content">
                            Пирамида шампанского украсит собой любое событие и оставит под впечатлением гостей.
                        </p>
                        <p class="service__desc-content">
                            Мы занимаемся организацией горки, пирамиды или каскада из бокалов шампанского, украшенной
                            разнообразными декорациями и элементами декора. Она идеально впишется в тематику
                            мероприятия.
                        </p>
                    </div>
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-char">Время установки пирамиды:
                            <span class="service__desc-pink">от 20 до 40 мин</span>
                        </p>
                        <p class="service__desc-char">
                            Цена пирамиды из шампанского: <span class="service__desc-pink">от 7 500 руб.</span>
                        </p>
                        <p class="service__desc-content">
                            Пирамида из бокалов, по вашему желанию, может состоять из огромного количества ярусов. А
                            дополнительные элементы ее украшения поддержат тематику праздника и создадут волшебное
                            настроение: живые цветы, лед, разноцветная подсветка, карамбола, фейерверки, светящиеся
                            столы и многое другое.
                        </p>
                    </div>
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/BnkCkFlr7zI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="service-catalog  service-catalog--piramida">
            <h2 class="service-catalog__title  sub-title  stripe">Цены и каталог пирамид из шампанского</h2>
            <div class="container">
                <p class="service-catalog__text">*Бутылки 0,75 л</p>
                <div class="row service-catalog__slider owl-carousel owl-theme">
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">56 бокалов (6 ярусов) <br> 11 бутылок</h3>
                            <p class="service-catalog__product-price">7 500 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">84 бокала (7 ярусов) <br> 17 бутылок</h3>
                            <p class="service-catalog__product-price">11 200 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">120 бокалов (8 ярусов) <br> 24 бутылки</h3>
                            <p class="service-catalog__product-price">15 500 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">165 бокалов (9 ярусов) <br> 33 бутылок</h3>
                            <p class="service-catalog__product-price">21 500 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">220 бокалов (10 ярусов) <br> 44 бутылки</h3>
                            <p class="service-catalog__product-price">28 500 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">286 бокалов (11 ярусов) <br> 57 бутылок</h3>
                            <p class="service-catalog__product-price">38 000 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                    <article class="service-catalog__product col-lg-3">
                        <div class="service-catalog__product-img">
                            <picture>
                                <source srcset="/img/services/piramida/1.svg" type="image/webp">
                                <img class="lazyload" src="/img/services/piramida/1.svg" alt="">
                            </picture>
                        </div>
                        <div class="service-catalog__product-inner">
                            <h3 class="service-catalog__product-name">364 бокала (12 ярусов) <br> 73 бутылки</h3>
                            <p class="service-catalog__product-price">46 000 <span>руб.</span>
                            </p>
                        </div>
                    </article>
                </div>

                <div class="service-catalog__add">
                    <h2 class="service-catalog__add-title sub-title  sub-title--center">Возможные варианты
                        украшений</h2>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Коктейльная вишня (за 1 бокал)</p>
                        <p class="service-catalog__add-price">20 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Лепестки роз</p>
                        <p class="service-catalog__add-price">600 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Сироп на выбор(за 1 бокал)</p>
                        <p class="service-catalog__add-price">20 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Сухой лёд</p>
                        <p class="service-catalog__add-price">1 500 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Карамбола(за 1 бокал)</p>
                        <p class="service-catalog__add-price">30 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Подсветка светодиодная RGB</p>
                        <p class="service-catalog__add-price">1 000 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                        <p class="service-catalog__add-text">Фейерверк кондитерский (за 1 шт.)</p>
                        <p class="service-catalog__add-price">400 руб</p>
                    </div>
                    <div class="service-catalog__add-item">
                    </div>
                </div>

                <button data-title="пирамиду" class="service-catalog__btn button button--pink">
                    Заказать пирамиду
                </button>
            </div>
        </div>
    </section>
    {% include "../modules/need.twig" %}
    <section class="service-advice">
        <div class="container">
            <div class="row">
                <div class="service-advice__inner col-12 col-md-7 ">
                    <p class="service-advice__text">
                        Мы устанавливаем не просто пирамиды из бокалов шампанского, мы изготавливаем настоящий шедевр,
                        используя всевозможные украшения и декор: подсветка, искуссно оформленные фрукты, живые и
                        искусственные цветы, сухой лед с клубами магического дыма...
                    </p>
                    <p class="service-advice__text">
                        Ко всему прочему, горка из шампанского может быть заменена любыми коктейлями на выбор и ваш
                        вкус. Большим спросом также пользуется пирамида из разноцветных коктейлей.
                    </p>
                    <p class="service-advice__text">
                        Цена горки из бокалов шампанского зависит от числа бокалов и вида напитка.
                    </p>
                    <h2 class="service-advice__title">
                        Пирамида шампанского на свадьбу
                    </h2>
                    <p class="service-advice__text">
                        Подарите своим гостям на вашей свадьбе удовольствие наблюдать за игрой шампанского, которое
                        сверкая и переливаясь в свете, медленно наполняет всю пирамиду ярус за ярусом. Равнодушными
                        точно не останется никто, ведь это представление интересно для людей любого возраста. На
                        протяжении всей свадьбы пирамида из шампанского будет не только изящным украшением банкетного
                        зала, но и угощением каждому гостю!
                    </p>
                </div>
                <div class="service-advice__inner col-12 col-md-5">
                    <p class="service-advice__text  service-advice__text--bold">
                        Нам необходимы следующие данные, чтобы организовать для вас пирамиду из шампанского:
                    </p>
                    <ul>
                        <li><p class="service-advice__text">- число гостей;</p></li>
                        <li><p class="service-advice__text">- какой напиток предпочтете;</p></li>
                        <li><p class="service-advice__text">- круглое или треугольное основание каскада;</p></li>
                        <li><p class="service-advice__text">- время, к которому установка должна быть завершена;</p></li>
                        <li><p class="service-advice__text">- имеется ли на месте прочный и нескользкий стол;</p></li>
                        <li><p class="service-advice__text">- место проведения (улица или помещение) и прогноз погоды;</p></li>
                        <li><p class="service-advice__text">- бармен сам будет наполнять горку или это доверится гостям.</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

    {% block popups %}
        {% include '../popups/service-popup.twig' %}
        {% include '../popups/question-popup.twig' %}
    {% endblock %}