{% extends "../base.twig" %}
{% block title %}Персонал для выставок{% endblock %}
{% set breadcrumbs = [
    {
        title: "Политика",
        active: true
    }
] %}

{% block content %}
    <section class="text-tpl section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="text-tpl__sub-title">Политика общества с ограниченной ответственностью «БАР-СТРИТ» в отношении
                обработки и защиты персональных данных пользователей сайта
                <a href="/" class="">https://bar-street.ru</a>
            </h1>
            <p>
                1.1. Настоящая Политика в отношении обработки и защиты персональных данных (далее – Политика)
                разработана в соответствии со статьей 18.1 Федерального закона от 27.07.2006 года № 152-ФЗ «О
                персональных данных» и является внутренним документом ООО «БАР-СТРИТ» (далее – Общество), регулирующим
                его деятельность в области обработки и защиты персональных данных, оператором которых является
                Общество.</p>
            <p>
                1.2. Политика разработана в целях реализации требований законодательства Российской Федерации в области
                обработки и защиты персональных данных и направлена на обеспечение защиты прав и свобод человека и
                гражданина при обработке его персональных данных в Обществе, в том числе защиты прав на
                неприкосновенность частной жизни, личной и семейной тайн.</p>
            <p>
                1.3. Действие настоящей Политики распространяется на любую информацию о пользователе, полученную
                Обществом, как до, так и после утверждения Политики.</p>
            <p>
                1.4. Действие настоящей Политики распространяется на всю информацию, которую Общество может получить о
                пользователе во время использования им сайта <a href="https://bar-street.ru/">https://bar-street.ru</a>
                (далее – Сайт).</p>
            <p>
                1.5. Посещение и использование Сайта &nbsp;означает безоговорочное согласие пользователя:</p>
            <ul style="margin-left: 20px;">
                <li>
                    на обработку его персональных данных, указанных статье 2 настоящей Политики;
                </li>
                <li>
                    с условиями обработки его персональных данных, содержащимися в настоящей Политике.
                </li>
            </ul>
            <p>
                1.6. В случае несогласия с условиями обработки персональных данных в Обществе, пользователь должен
                прекратить использование Сайта.</p>
            <p>
                1.7. Настоящая Политика применяется только к сайту <a href="https://bar-street.ru/">https://bar-street.ru</a>
                Общество не контролирует и не несет ответственности за сбор и обработку персональных данных третьими
                лицами, на сайты которых пользователь может перейти по ссылкам, доступным на сайте <a
                        href="https://bar-street.ru/">https://bar-street.ru</a>.</p>
            <p>
                1.8. Общество не осуществляет проверку достоверности персональных данных, предоставленных
                пользователем.</p>

            <p class="text-tpl__sub-title">2. Состав получаемых и обрабатываемых персональных данных</p>
            <p>
                2.1. Данные о пользователе, получаемые и обрабатываемые в рамках настоящей Политики поступают в Общество
                следующими способами:</p>
            <p style="margin-left: 20px;">
                2.1.1. Предоставляются самим пользователем на Сайте путём:</p>
            <ul style="margin-left: 40px; list-style:disc;">
                <li>
                    заполнения формы обратного звонка и включают в себя следующую информацию: имя, номер телефона;
                </li>
                <li>
                    заполнения формы заявки на услуги и включают в себя следующую информацию: фамилия, имя, отчество,
                    номер телефона, адрес электронной почты (email);
                </li>
                <li>
                    заполнения формы обратной связи («Задать вопрос») и включают в себя следующую информацию: имя, адрес
                    электронной почты (email), номер телефона;
                </li>
                <li>
                    заполнения формы заявки заказа бара на выставку и включают в себя следующую информацию: имя, номер
                    телефона;
                </li>
                <li>
                    заполнения формы подписки на новостную рассылку и включают в себя информацию об адресе электронной
                    почты (email);
                </li>
                <li>
                    связи с Обществом посредством направления письменной корреспонденции на почтовые адреса Общества, по
                    номерам телефонов, адресам электронной почты, указанным на Сайте и любыми другими способами и могут
                    включать в себя следующую информацию: Ф.И.О., почтовый адрес, место проживания, контактный телефон,
                    адрес электронной почты (e-mail) и иную информацию на усмотрение пользователя.
                </li>
            </ul>
            <p style="margin-left: 20px;">
                2.1.2. Автоматически передаются Обществу в процессе посещения и использования Сайта с помощью
                установленного на устройстве пользователя программного обеспечения, в том числе: IP-адрес,&nbsp;
                информация из cookie,&nbsp; информация о браузере пользователя (или иной программе, с помощью которой
                осуществляется доступ к сайту), время доступа, адрес запрашиваемой страницы.</p>

            <p class="text-tpl__sub-title">3. Цели сбора и обработки персональных данных</p>
            <p>
                3.1. Сбор и обработка персональных данных пользователя Обществом осуществляется в следующих целях:</p>
            <p style="margin-left: 40px;">
                3.1.1. Заключение договоров на оказание услуг пользователю от имени Общества.</p>
            <p style="margin-left: 40px;">
                3.1.2. Связь с пользователем в случае необходимости, в том числе направление уведомлений, запросов и
                информации, связанных с использованием Сайта, оказанием услуг, а также обработка запросов и заявок от
                пользователя;</p>
            <p style="margin-left: 40px;">
                3.1.3. Предоставление пользователю эффективной клиентской и технической поддержки при возникновении
                проблем, связанных с использованием Сайта, оказанием услуг Обществом;</p>
            <p style="margin-left: 40px;">
                3.1.4. Повышение качества Сайта, удобства его использования;</p>
            <p style="margin-left: 40px;">
                3.1.5. Предоставление пользователю, с его согласия, персональных услуг, специальных предложений,
                информации о ценах, новостной рассылки и иных сведений от имени Общества и (или) от имени партнеров
                Общества;</p>
            <p style="margin-left: 40px;">
                3.1.6. Осуществления рекламной деятельности с согласия пользователя;</p>
            <p style="margin-left: 40px;">
                3.1.7. Проведение статистических и иных исследований на основе обезличенных данных.</p>

            <p class="text-tpl__sub-title">4. Предоставление доступа к персональным данным</p>
            <p>
                4.1. Общество обеспечивает сохранность персональных данных пользователей.</p>
            <p>
                4.2. Обрабатываемые персональные данные уничтожаются либо обезличиваются Обществом по достижении целей
                обработки или в случае утраты необходимости в достижении этих целей, а так же при отзыве Пользователем
                согласия на обработку персональных данных.</p>
            <p>
                4.3. Пользователь вправе в любой момент отозвать согласие на обработку Обществом персональных данных
                путём направления письменного уведомления на адрес: <strong>127299, г</strong><strong>. Москва, улица
                    Клары Цеткин, дом 4, офис 511</strong>, с пометкой «отзыв согласия на обработку персональных
                данных». Отзыв пользователем согласия на обработку персональных данных влечёт за собой уничтожение
                записей, содержащих персональные данные, в системах обработки персональных данных Общества.</p>
            <p>
                4.4. В отношении персональных данных пользователя сохраняется их конфиденциальность, кроме случаев,
                установленных в п. 4.5. настоящей Политики.</p>
            <p>
                4.5. Общество вправе передать персональные данные пользователя третьим лицам в следующих случаях:</p>
            <p style="margin-left: 40px;">
                4.5.1. Пользователь явным образом выразил свое согласие на передачу своих персональных данных;</p>
            <p style="margin-left: 40px;">
                4.5.2. Передача персональных данных необходима для оказания определенной услуги пользователю Обществом
                или партнерами Общества. При этом обеспечивается конфиденциальность персональной информации, а
                пользователь уведомляется о такой передаче;</p>
            <p style="margin-left: 40px;">
                4.5.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной
                процедуры (по решению суда, запросу правоохранительных органов и т.д.);</p>
            <p style="margin-left: 40px;">
                4.5.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при
                этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно
                к полученной им персональной информации;</p>
            <p style="margin-left: 40px;">
                4.5.5. В целях обеспечения возможности защиты прав и законных интересов Общества.</p>
            <p>
                4.6. При утрате или разглашении персональных данных Общество информирует пользователя об утрате или
                разглашении персональных данных.</p>

            <p class="text-tpl__sub-title">5. Защита персональных данных пользователей</p>
            <p>
                5.1. Общество гарантирует, что уровень защищенности персональных данных пользователей соответствует
                требованиям, установленным в Постановлении Правительства Российской Федерации от 1 ноября 2012 г. № 1119
                «Об утверждении требований к защите персональных данных при их обработке в информационных системах
                персональных данных».</p>
            <p>
                5.2. Общество принимает необходимые организационные и технические меры для защиты персональных данных
                пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования,
                копирования, распространения, а также от иных неправомерных действий третьих лиц в соответствии с
                требованиями Приказа ФСТЭК России от 18.02.2013 № 21 «Об утверждении Состава и содержания
                организационных и технических мер по обеспечению безопасности персональных данных при их обработке в
                информационных системах персональных данных».</p>
            <p>
                5.3. Сайт <a href="/">https://bar-street.ru</a>имеет сертификат безопасности SSL, с помощью которого
                информация передается между пользователем и Оператором в закодированном виде, с целью предотвращения ее
                перехвата и искажения во время пересылки.</p>

            <p class="text-tpl__sub-title">6. Ответственность</p>
            <p>
                6.1. В случае неисполнения своих обязательств, Общество несёт ответственность за убытки, понесённые
                пользователем в связи с неправомерным использованием персональных данных, в соответствии с
                законодательством Российской Федерации, за исключением случаев, предусмотренных 6.2. настоящей
                Политики.</p>
            <p>
                6.2. В случае утраты или разглашения персональных данных пользователя Общество не несёт ответственность,
                если данная информация стала публичным достоянием до её утраты или разглашения, либо была разглашена
                самим пользователем или с согласия пользователя.</p>

            <p class="text-tpl__sub-title">7. Заключительные положения</p>
            <p>
                7.1.&nbsp;Общество вправе вносить изменения и дополнения в настоящую Политику. Новая редакция Политики
                действует с момента ее размещения на сайте <a href="https://bar-street.ru/">https://bar-street.ru</a>,ели
                иное не предусмотрено в новой редакции Политики.</p>
            <p>
                7.2.&nbsp;К отношениям в области обработки и защиты персональных данных, не урегулированным в настоящей
                Политике, применяется действующее законодательство Российской Федерации.</p>
            <p>
                7.3.&nbsp;Все предложения или вопросы, связанные с обработкой и защитой персональных данных Обществом
                следует направлять по адресу электронной почты &nbsp;<a href="mailto:info@bar-street.ru">info@bar-street.ru</a>.
            </p>
            <p>
                7.4.&nbsp;Информация об Операторе персональных данных:</p>
            <p>
                Общество с ограниченной ответственностью «БАР-СТРИТ» (ООО «БАР-СТРИТ»);</p>
            <p>
                ОГРН 1147746916316</p>
            <p>
                ИНН 7713793450</p>
            <p>
                КПП 771301001</p>
            <p>
                Юридический адрес: 127299, г. Москва, улица Клары Цеткин, дом 4, офис 511.</p>
            <p>
                Телефон +7 (495) 374-61-62.</p>
        </div>
    </section>
{% endblock %}
