{% extends "../base.twig" %}
{% block title %}Аренда посуды{% endblock %}
{% set servicesCover = 'posuda.jpg' %}
{% set servicesTopic = 'Аренда посуды' %}
{% set servicesDesc = '' %}
{% set howitWorkTitle = 'Арендовать посуду' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true   
    }
]
%}

{% block content %}
    <section class="service-bar">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row">
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        {% for item in posudaBar.description %}
                            <p class="service__desc-content">{{ item.text }}</p>
                        {% endfor %}
                    </div>
                    <div class="service__desc-inner  col-12 col-md-6 col-lg-6">
                        <p class="service__desc-price">Аренда бокалов: 25 - 50 руб./шт.</p>
                        <p class="service__desc-price">Аренда тарелок: ~ 30 руб./шт.</p>
                        <p class="service__desc-char">Производство: США, Германия, Италия, Франция и др.</p>
                        <p class="service__desc-char">Доставка: Доставка на мероприятие или самовывоз.</p>
                        <p class="service__desc-char">Срок резерва: Не менее 2-х дней до даты
                            мероприятия.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="service-catalog">
            <h2 class="service-catalog__title  sub-title  stripe">{{ posudaBar.catalogTitle }}</h2>
            <div class="container">
                <div class="row service-catalog__slider owl-carousel owl-theme">
                    {% for item in posudaBar.productList %}
                        <article class="service-catalog__product col-lg-3">
                            <div class="service-catalog__product-img">
                                <picture>
                                    <source srcset="../img/furniture/posuda/{{ item.img }}" type="image/webp">
                                    <img class="lazyload" src="../img/furniture/posuda/{{ item.img }}" alt="">
                                </picture>
                            </div>
                            <div class="service-catalog__product-inner">
                                <h3 class="service-catalog__product-name">{{ item.name }}</h3>
                                <p class="service-catalog__product-char">{{ item.char }}</p>
                                <p class="service-catalog__product-price">{{ item.price }}
                                    <span>руб.</span>
                                </p>
                            </div>
                        </article>
                    {% endfor %}

                </div>
                <button data-title="посуду" class="service-catalog__btn button  button--pink">Заказать посуду
                </button>
            </div>
        </div>
    </section>
    {% include "../modules/need.twig" %}
    {% include "../modules/how-we work.twig" %}
    {% include "../modules/photos.twig" %}
    {% include "../modules/service-clients.twig" %}
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}