{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Персонал для выставок{% endblock %}
{% set breadcrumbs = [
    {
        title: "Публичная оферта",
        active: true
    }
] %}

{% block content %}
    <section class="text-tpl section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  text-tpl__title">Публичная оферта</h1>
            <p class="text-tpl__sub-title">Договор (публичная оферта) на оказание услуг</p>
            <p class="text-tpl__text">
                Настоящий документ «Договор (публичная оферта) на оказание услуг» представляет собой официальное
                предложение Общества с ограниченной ответственностью «БАР-СТРИТ» (ОГРН 1147746916316), именуемого в
                дальнейшем <strong>Исполнитель</strong> , заключить Договор об&nbsp;оказании услуг (далее&nbsp;—
                Договор) с&nbsp;любым юридическим или физическим лицом (в&nbsp;том числе индивидуальным
                предпринимателем), которые примут его условия путем совершения указанных в&nbsp;Договоре действий.
            </p>
            <p>
                Настоящий Договор заключается в&nbsp;порядке пункта 3&nbsp;статьи 434, пункта 2&nbsp;статьи 437, пункта
                3&nbsp;статьи 438 Гражданского Кодекса Российской Федерации (далее&nbsp;— ГК&nbsp;РФ) путем размещения
                настоящей публичной оферты на&nbsp;сайте <a href="/">https://bar-street.ru</a> и&nbsp;получения
                акцепта на&nbsp;нее от&nbsp;любого лица, согласившегося с&nbsp;ее&nbsp;условиями.
            </p>
            <p>
                В&nbsp;случае несогласия с&nbsp;каким-либо положением Договора Вам необходимо отказаться от&nbsp;настоящего
                предложения (от&nbsp;направления Заявки), либо связаться с&nbsp;Исполнителем для обсуждения возможности
                заключения договора на&nbsp;индивидуальных условиях.</p>
            <p>
                В&nbsp;случае принятия изложенных условий настоящего Договора лицо, акцептующее оферту, т.е. выражающее
                свое согласие в&nbsp;установленном порядке на&nbsp;принятие условий Договора, становится <strong>Клиентом</strong>.
            </p>
            <p>
                С&nbsp;момента совершения акцепта Клиент считается ознакомившимся и&nbsp;согласившимся с&nbsp;настоящей
                офертой и&nbsp;в&nbsp;соответствии с&nbsp;ГК&nbsp;РФ&nbsp;считается вступившим в&nbsp;договорные
                отношения на&nbsp;условиях настоящего Договора.
            </p>
            <p>
                Настоящий Договор, заключаемый путем акцепта настоящей публичной оферты, не&nbsp;требует обязательного
                двустороннего подписания сторонами в&nbsp;форме отдельного документа, если иное не&nbsp;оговорено
                дополнительно.</p>
            <p>
                Совместно Исполнитель и&nbsp;Клиент именуются <strong>Стороны</strong>.
            </p>
            <p class="text-tpl__sub-title">Термины и определения</p>
            <p>
                <strong>Услуги&nbsp;— </strong>оказываемые Исполнителем Клиенту возмездные услуги по&nbsp;организации
                работы выездного бара на&nbsp;мероприятии Клиента&nbsp;и (или) аренды барного оборудования
                .</p>
            <p>
                <strong>Клиент</strong>- лицо, изъявившее желание получить Услуги со&nbsp;стороны Исполнителя, и&nbsp;принявшее
                условия Договора путем акцепта настоящей оферты.
            </p>
            <p>
                <strong>Прейскурант</strong>- информация, содержащая в&nbsp;себе сведения о&nbsp;стоимости Услуг,
                содержащаяся на&nbsp;сайте <a href="/">https://bar-street.ru</a>
            </p>
            <p>
                <strong>Заявка</strong>— официальное заявление Клиента о&nbsp;намерении получить Услуги за&nbsp;стоимость,
                определяемую в&nbsp;соответствии с&nbsp;Прейскурантом, направляемое в&nbsp;адрес Исполнителя.
            </p>
            <p class="text-tpl__sub-title">1. Порядок заключения договора</p>
            <p>
                1.1. Оферта считается акцептованной (принятой) Клиентом и&nbsp;Договор заключенным Сторонами с&nbsp;момента
                осуществления следующих действий:</p>
            <p style="margin-left: 20px;">
                1.1.1. Направление Заявки Клиентом Исполнителю путем заполнения форм, приведенных на&nbsp;сайте <a
                        href="/">https://bar-street.ru</a>, либо звонка по&nbsp;номерам телефонов, указанным на&nbsp;сайте
                <a href="/">https://bar-street.ru</a>, либо направления по&nbsp;адресу электронной почты <a
                        href="mailto:info@bar-street.ru">info@bar-street.ru</a>.
            </p>
            <p style="margin-left: 20px;">
                Направление Заявки осуществляется исключительно после ознакомления с&nbsp;описанием конкретной услуги,
                Прейскурантом и&nbsp;текстом настоящего Договора и&nbsp;только в&nbsp;случае полного согласия Клиента с&nbsp;ними.</p>
            <p style="margin-left: 20px;">
                1.1.2. Предварительная оплата Клиентом Услуг по&nbsp;Заявке, которая производится по&nbsp;выбору Клиента
                в&nbsp;наличной форме путем внесения денежных средств в&nbsp;кассу Исполнителя, либо в&nbsp;безналичной
                форме путем перечисления денежных средств в&nbsp;соответствии с&nbsp;выставленным Исполнителем счетом на&nbsp;оплату
                услуг по&nbsp;Заявке. Оплата считается произведенной с&nbsp;момента поступления денежных средств в&nbsp;кассу
                Исполнителя, либо на&nbsp;счет, указанный Исполнителем.
            </p>
            <p class="text-tpl__sub-title">2. Предмет договора и порядок оказания услуг</p>
            <p>
                2.1. Исполнитель обязуется оказать Клиенту Услуги, а&nbsp;Клиент обязуется принять и&nbsp;оплатить
                результат оказания Услуг Исполнителю в&nbsp;соответствии с&nbsp;условиями настоящего Договора.</p>
            <p>
                2.2. Сведения о&nbsp;видах Услуг размещаются на&nbsp;сайте Исполнителя по&nbsp;адресу <a
                        href="https://bar-street.ru/">https://bar-street.ru</a> в&nbsp;разделе «УСЛУГИ». Характеристика
                Услуг (тематика, состав, время и&nbsp;место оказания) определяется в&nbsp;Заявке Клиента.</p>
            <p>
                2.3. Клиент настоящим подтверждает свою осведомлённость о&nbsp;видах и&nbsp;содержании Услуг,
                оказываемых Исполнителем.
            </p>
            <p>
                2.4. Услуги оказываются Исполнителем, его специалистами и/или специалистами, привлекаемыми Исполнителем.
            </p>
            <p>
                2.5. Ознакомившись с&nbsp;перечнем Услуг, размещенным на&nbsp;сайте <a
                        href="/">https://bar-street.ru</a>, выбрав вид услуги, Клиент делает Заявку на&nbsp;услугу в&nbsp;порядке,
                указанном в&nbsp;пункте 1.1.1. Договора.
            </p>
            <p>
                2.6. Согласовав Заявку Клиента Исполнитель направляет ему счет на&nbsp;предварительную оплату Услуг.
            </p>
            <p>
                2.7. Клиент оплачивает предоплату, тем самым, давая подтверждение принятия условий оферты Исполнителя.
                После проведения Клиентом предоплаты Договор вступает в&nbsp;силу.
            </p>
            <p>
                2.8. Исполнитель приступает к&nbsp;выполнению своих обязательств по&nbsp;Договору в&nbsp;сроки указанные
                в&nbsp;Заявке.
            </p>
            <p>
                2.9 Подтверждением приемки Клиентом оказанных Услуг, является наличие подписанного Сторонами акта
                оказанных услуг, либо наличие факта, обозначенного в&nbsp;п.&nbsp;2.10. настоящего Договора.
            </p>
            <p>
                2.10. Услуги считаются оказанными надлежащим образом и&nbsp;в&nbsp;полном объеме, если в&nbsp;течение&nbsp;3
                (трех) дней с&nbsp;момента оказания Услуг Клиент в&nbsp;письменном виде не&nbsp;выставил претензии,
                связанные с&nbsp;оказанием Услуг.
            </p>
            <p class="text-tpl__sub-title">3. Права и обязанности сторон</p>
            <p>
                3.1. <strong>Исполнитель обязуется</strong>:
            </p>
            <p style="margin-left: 20px;">
                3.1.2. оказывать Услуги качественно в&nbsp;соответствии с&nbsp;условиями Договора;
            </p>
            <p style="margin-left: 20px;">
                3.1.3. оказывать Услуги в&nbsp;сроки и&nbsp;месте, определяемые в&nbsp;соответствии с&nbsp;Заявкой
                Клиента.
            </p>
            <p style="margin-left: 20px;">
                3.1.4. Сохранять конфиденциальность информации Клиента, за&nbsp;исключением случаев, предусмотренных
                действующим законодательством Российской Федерации, настоящим Договором;
            </p>
            <p>
                3.2. <strong>Исполнитель вправе:</strong>
            </p>
            <p style="margin-left: 20px;">
                3.2.1. Отказать Клиенту в&nbsp;оказании Услуг в&nbsp;случае нарушения последним обязательств,
                предусмотренных пунктами 3.3.1. —&nbsp;3.3.5. настоящего Договора.
            </p>
            <p style="margin-left: 20px;">
                3.2.2. Не&nbsp;приступать к&nbsp;оказанию Услуг или прекратить оказание Услуг в&nbsp;случаях, когда
                нарушение Клиентом своих обязанностей по&nbsp;Договору препятствует исполнению Договора Исполнителем, а&nbsp;так&nbsp;же
                при наличии обстоятельств, очевидно свидетельствующих о&nbsp;том, что исполнение указанных обязанностей
                не&nbsp;будет произведено в&nbsp;установленный срок.
            </p>
            <p style="margin-left: 20px;">
                3.2.3. Оказывать Услуги по&nbsp;Договору лично, а&nbsp;также, по&nbsp;своему выбору, с&nbsp;привлечением
                третьих лиц, на&nbsp;что Клиент настоящим выражает свое согласие;
            </p>
            <p style="margin-left: 20px;">
                3.2.4. В&nbsp;случае проведения на&nbsp;мероприятиях фото/видеосъемки, по&nbsp;согласованию с&nbsp;Клиентом,
                использовать данные материалы по&nbsp;своему усмотрению, в&nbsp;том числе размещать их&nbsp;в&nbsp;общем
                доступе в&nbsp;сети Интернет.
            </p>
            <p>
                3.3. <strong>Клиент обязуется:</strong>
            </p>
            <p style="margin-left: 20px;">
                3.3.1. Своевременно принимать и&nbsp;оплачивать Услуги в&nbsp;соответствии с&nbsp;условиями
                Договора;</p>
            <p style="margin-left: 20px;">
                3.3.2. Известить Исполнителя о&nbsp;внесенной предоплате по&nbsp;телефону или адресу, электронной почты,
                указанным на&nbsp;сайте <a href="https://bar-street.ru/">https://bar-street.ru</a>.
            </p>
            <p style="margin-left: 20px;">
                3.3.3. Предоставить Исполнителю всю необходимую информацию о&nbsp;времени и&nbsp;месте проведения
                мероприятия.
            </p>
            <p style="margin-left: 20px;">
                3.3.4. В&nbsp;случае аренды помещения для проведения мероприятия, информировать администрацию арендуемой
                площадки об&nbsp;оказании Исполнителем Услуг на&nbsp;мероприятии. При необходимости&nbsp;— организовать
                встречу Исполнителя с&nbsp;администрацией арендуемой площадки на&nbsp;месте проведения мероприятия, для
                ознакомления и&nbsp;уточнения всех особенностей, связанных с&nbsp;подготовкой проведения мероприятия.
            </p>
            <p style="margin-left: 20px;">
                3.3.5. В&nbsp;письменном виде известить Исполнителя в&nbsp;срок не&nbsp;позднее&nbsp;3 (трех) дней, о&nbsp;каких
                либо изменениях, связанных с&nbsp;местом и&nbsp;временем проведения мероприятия, а&nbsp;так&nbsp;же
                изменением количества участников.
            </p>
            <p style="margin-left: 20px;">
                3.3.6. В&nbsp;случае необходимости согласования сценария или других моментов, связанных с&nbsp;организацией
                мероприятия, утвердить, или дать аргументированный отказ по&nbsp;предложенному Исполнителем варианту не&nbsp;позднее
                24&nbsp;часов с&nbsp;момента отправки Исполнителем этой информации. Если Клиент не&nbsp;даст ответ в&nbsp;течении
                24&nbsp;часов, то&nbsp;тот вариант, который прислал Исполнитель считается утвержденным и&nbsp;согласованным.
            </p>
            <p style="margin-left: 20px;">
                3.3.7. Прислать письменные замечания в&nbsp;течение&nbsp;3 (трех) дней с&nbsp;даты окончания оказания
                Услуг Исполнителем. Если Клиент не&nbsp;написал письменных замечаний в&nbsp;течение&nbsp;3 (трех) дней с&nbsp;даты
                указанной в&nbsp;настоящем пункте, то&nbsp;Услуги считаются оказанными надлежащим образом и&nbsp;принятыми
                Клиентом.
            </p>
            <p>
                3.4. <strong>Клиент вправе:</strong>
            </p>
            <p style="margin-left: 20px;">
                3.4.1. Проверять во&nbsp;время проведения мероприятия ход и&nbsp;качество Услуг, оказываемых
                Исполнителем, не&nbsp;вмешиваясь в&nbsp;его деятельность.
            </p>
            <p style="margin-left: 20px;">
                3.4.2. Требовать от&nbsp;Исполнителя надлежащего оказания Услуг при надлежащим исполнении Клиентом своих
                обязательств по&nbsp;Договору;
            </p>
            <p class="text-tpl__sub-title">4. Оплата по договору</p>
            <p>
                4.1. Исполнитель оказывает Услуги Клиенту на&nbsp;условиях предоплаты.</p>
            <p>
                4.2. Размер предоплаты согласовывается Сторонами на&nbsp;этапе согласования Заявки Клиента, и&nbsp;указывается
                в&nbsp;договоре, выставляемом Клиенту. Предоплата по&nbsp;Договору производится Клиентом в&nbsp;течение&nbsp;3
                (трех) рабочих дней с&nbsp;даты получения акта.
            </p>
            <p>
                4.3. Окончательный расчет производится Клиентом на&nbsp;основании счета, выставленного Исполнителем в&nbsp;течение&nbsp;3
                (трех) рабочих дней с&nbsp;даты получения счета.
            </p>
            <p>
                4.4. Оплата по&nbsp;Договору Клиентом производится на&nbsp;условиях, указанных в&nbsp;пункте 1.1.2&nbsp;Договора.
            </p>

            <p class="text-tpl__sub-title">5. Ответственность сторон</p>
            <p>
                5.1. Стороны несут ответственность за&nbsp;неисполнение или ненадлежащее исполнение взятых на&nbsp;себя
                обязательств по&nbsp;Договору в&nbsp;соответствии с&nbsp;законодательством Российской Федерации и&nbsp;условиями
                Договора.</p>
            <p>
                5.2. За&nbsp;неуплату Клиентом вознаграждения за&nbsp;оказание Услуг в&nbsp;сроки, установленные
                Договором, начисляется пеня в&nbsp;размере 0,1% (один процент) от&nbsp;просроченной суммы за&nbsp;каждый
                день просрочки.</p>
            <p>
                5.3. В&nbsp;случае отказа Клиента от&nbsp;выполнения условий настоящего Договора (в&nbsp;том числе при
                отказе от&nbsp;мероприятия) он&nbsp;обязуется известить Исполнителя в&nbsp;письменном виде не&nbsp;позднее&nbsp;3
                (трех) дней до&nbsp;даты оказания Услуг, согласованной в&nbsp;Заявке и&nbsp;выплатить Исполнителю все
                фактически понесенные им&nbsp;затраты, связанные с&nbsp;исполнением Договора.</p>
            <p>
                В&nbsp;случае извещения Клиентом Исполнителя об&nbsp;отказе Клиента от&nbsp;выполнения условий
                настоящего Договора (в&nbsp;том числе при отказе от&nbsp;мероприятия) менее, чем за&nbsp;3 (три) дня до&nbsp;даты
                оказания Услуг, согласованной в&nbsp;заявке Клиент обязуется выплатить Исполнителю неустойку в&nbsp;размере&nbsp;50%
                от&nbsp;суммы настоящего Договора.</p>
            <p>
                5.4. Клиент несет материальную ответственность за&nbsp;нанесение вреда (как Клиентом, так и&nbsp;любыми
                третьими лицами) имуществу, предоставляемому Исполнителем на&nbsp;время проведения мероприятия и&nbsp;обязуется
                возместить все убытки в&nbsp;течение&nbsp;10 (десяти) дней с&nbsp;момента выставленного счета
                Исполнителем по&nbsp;подписанному сторонами акту.</p>
            <p>
                5.5. За&nbsp;ненадлежащее оказание Услуг, указанных в&nbsp;заявке, Исполнитель уплачивает Клиенту сумму
                в&nbsp;размере&nbsp;50% от&nbsp;стоимости Договора.</p>
            <p>
                5.6. В&nbsp;случае отказа Исполнителя от&nbsp;выполнения условий настоящего Договора он&nbsp;обязуется
                известить Клиента в&nbsp;письменном виде не&nbsp;позднее&nbsp;3 (трех) рабочих дней до&nbsp;даты
                оказания Услуг, указанных в&nbsp;заявке, и&nbsp;возвратить Клиенту внесенную им&nbsp;предоплату в&nbsp;полном
                объеме, кроме случаев, описанных в&nbsp;пункте 3.2.1.</p>
            <p>
                5.7. Стороны освобождаются от&nbsp;ответственности за&nbsp;частичное или полное неисполнение
                обязательств по&nbsp;Договору, если такое неисполнение явилось следствием действия обстоятельств
                непреодолимой силы, возникших после заключения Договора, препятствующих полному или частичному
                выполнению Сторонами своих обязательств по&nbsp;Договору, включая, но&nbsp;не&nbsp;ограничиваясь
                перечисленным: войны, военные действия любого характера, блокады, забастовки, землетрясения, наводнения,
                пожары и&nbsp;другие стихийные бедствия, а&nbsp;также принятие актов компетентными государственными
                органами и&nbsp;органами местного самоуправления, препятствующих выполнению Сторонами своих обязательств
                по&nbsp;Договору.</p>
            <p>
                5.8. Совокупный размер ответственности Исполнителя по&nbsp;Договору ограничивается суммой, полученной
                Исполнителем от&nbsp;Клиента по&nbsp;Договору.</p>
            <p>
                5.9. Выплата пеней и&nbsp;неустоек по&nbsp;Договору производится в&nbsp;течение&nbsp;5 (Пяти) дней с&nbsp;даты
                получения соответствующего требования нарушившей свои обязательства Стороной.</p>

            <p class="text-tpl__sub-title">6. Заключительные условия</p>
            <p>
                6.1. Договор вступает в&nbsp;силу с&nbsp;момента акцептования (принятия) оферты Клиентом и&nbsp;действует
                до&nbsp;полного выполнения Сторонами взятых на&nbsp;себя обязательств.</p>
            <p>
                6.2. Все уведомления и&nbsp;прочие документы по&nbsp;Договору могут направляться по&nbsp;адресам, в&nbsp;том
                числе электронной почты, указанным при направлении Заявки (в&nbsp;Заявке). Направление каких-либо
                уведомлений и&nbsp;прочих документов по&nbsp;Договору посредством электронной почты считается
                надлежащим.</p>
            <p>
                6.3. Все споры по&nbsp;Договору разрешаются Сторонами в&nbsp;претензионном порядке. Срок ответа на&nbsp;письменную
                претензию Стороны&nbsp;— 10&nbsp;(Десять) рабочих дней с&nbsp;даты её&nbsp;получения Стороной (в&nbsp;случае
                отсутствия адресата по&nbsp;месту направления претензии и&nbsp;невозможности вручения либо отказа
                Стороны от&nbsp;получения претензии&nbsp;— 20&nbsp;(Двадцать) рабочих дней с&nbsp;даты направления
                претензии пострадавшей Стороной), а&nbsp;в&nbsp;случае невозможности досудебного урегулирования споров&nbsp;—
                в&nbsp;суде по&nbsp;месту нахождения Исполнителя.</p>
            <p>
                6.4. Применимым правом по&nbsp;Договору является право Российской Федерации.</p>
            <p>
                6.5. Во&nbsp;всем остальном, что не&nbsp;предусмотрено Договором, Стороны будут руководствоваться
                действующим законодательством Российской Федерации.</p>

            <p class="text-tpl__sub-title">7. Реквизиты исполнителя</p>
            <p>
                Общество с&nbsp;ограниченной ответственностью «БАР-СТРИТ» (ООО «БАР-СТРИТ»);</p>
            <p>
                ОГРН 1147746916316</p>
            <p>
                ИНН 7713793450</p>
            <p>
                КПП 771301001</p>
            <p>
                Юридический адрес: 127299, г. Москва, улица Клары Цеткин, дом&nbsp;4, офис 511.</p>
            <p>
                Р/С: 40702810438000005043</p>
            <p>
                Банк: ОАО «Сбербанк России» г.Москва</p>
            <p>
                К/С: 30101810400000000225</p>
            <p>
                БИК: 044525225</p>
            <p>
                Телефон&nbsp;+7 (495) 374-61-62</p>
            <p>
                Адрес электронной почты: <a href="mailto:info@bar-street.ru">info@bar-street.ru</a>.</p>
        </div>
    </section>
{% endblock %}
