{% extends "../base.twig" %}
{% block title %}Список услуг{% endblock %}

{% block content %}
    <section class="services">
        <div class="container">
            <h1 class="title services__title">Услуги Bar-Street</h1>
            <h2 class="services__subtitle">Выездные бары</h2>
            <ul class="services__list  row">
                <li class="services__item  col-sm-6 col-md-6 col-lg-4">
                    <h3 class="services__item-title">Классические</h3>
                    <ul class="services__sublist">
                        <li class="services__subitem">
                            <svg class="icon-svg  icon-svg--padding">
                                <use xlink:href="#icon-glas-gray"/>
                            </svg>
                            <a href="mobile-bar.html" class="services__subitem-link">Мобильный бар
                                <small>(с любимыми рецептами)</small>
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-glintvein"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Глинтвейн-бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-coffee"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Кофейный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-tea"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Чайный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-beer"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Пивной бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-punsh-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Пунш бар</a>
                        </li>
                    </ul>
                </li>
                <li class="services__item  col-sm-6 col-md-6 col-lg-4">
                    <h3 class="services__item-title">Здоровые</h3>
                    <ul class="services__sublist">
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-smuzi"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Смузи бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-fresh"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Фреш бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-kislorod"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Кислородный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-milk"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Молочный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-lemonade"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Lemonade бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-detox"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Детокс-бар</a>
                        </li>
                    </ul>
                </li>
                <li class="services__item  col-sm-6 col-md-12 col-lg-4">
                    <h3 class="services__item-title">Неординарные</h3>
                    <ul class="services__sublist">
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-molek"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Молекулярный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-candle"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Овершейк бар
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-molek"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Молекулярный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-bubble"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Bubble tea бар
                                <small>(с коктейлями на основе топпингов в виде пузырьков)</small>
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-neo"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Нео-бар
                                <small>(со светящимися коктейлями)</small>
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-desert"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Десерт бар
                                <small>(с любимыми десертами)</small>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="services__item  col-sm-12 col-lg-8">
                    <h3 class="services__item-title">Тематические</h3>
                    <ul class="services__sublist  services__sublist--helper">
                        <li class="services__subitem ">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-luxury"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Luxury бар
                                <small>(с изысканной барной стойкой)</small>
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg  icon-svg--padding">
                                <use xlink:href="#icon-hookah"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Кальян бар
                                <small>(со светящимися кальянами)</small>
                            </a>
                            <p class="services__label">hit</p>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-ice"/>
                            </svg>
                            <a href="#" class="services__subitem-link">ICE бар
                                <small>(с ледяной барной стойкой)</small>
                            </a>
                            <p class="services__label">new</p>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-china"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Китайский чайный бар</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-mohito-pab"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Мохито паб</a>
                        </li>
                        <li class="services__subitem">
                            <svg class="icon-svg _mohito">
                                <use xlink:href="#icon-mohito"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Мохито бар</a>
                        </li>
                        <li class="services__subitem ">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-russian"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Русский бар</a>
                        </li>
                        <li class="services__subitem ">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-kids"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Детский бар</a>
                        </li>
                        <li class="services__subitem ">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-new-year"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Новогодний бар</a>
                        </li>
                        <li class="services__subitem ">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-lady"/>
                            </svg>
                            <a href="#" class="services__subitem-link">Lady bar
                                <small>(с очаровательными барменшами)</small>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="services__item  col-sm-12 col-lg-4">
                    <h3 class="services__item-title">Праздничные</h3>
                    <ul class="services__sublist  services__sublist">
                        <li class="services__subitem ">
                            <svg style="width: 35px; height: 35px;" class="icon-svg">
                                <use xlink:href="#icon-wedding-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">
                                Бар на свадьбу
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg style="width: 30px; height: 30px;" class="icon-svg  icon-svg--padding">
                                <use xlink:href="#icon-birthday-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">
                                Бар на день рождения
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg style="width: 32px; height: 32px;" class="icon-svg">
                                <use xlink:href="#icon-exhibitions-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">
                                Бар на выставку
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg style="width: 27px; height: 27px;" class="icon-svg">
                                <use xlink:href="#icon-corp-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">
                                На корпоратив
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg style="width: 33px; height: 33px;" class="icon-svg">
                                <use xlink:href="#icon-8mart-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">
                                8 марта
                            </a>
                        </li>
                        <li class="services__subitem">
                            <svg style="width: 31px; height: 31px; left:0;" class="icon-svg _mohito">
                                <use xlink:href="#icon-23february-bar"/>
                            </svg>
                            <a href="#" class="services__subitem-link">
                                23 февраля
                            </a>
                        </li>
                    </ul>
                </li>
                {#<li class="services__item col-md-12 col-lg-4">#}
                    {#<aside class="consultation">#}
                        {#<h2 class="consultation__title">Бесплатная консультация по всем видам услуг</h2>#}
                        {#<div class="consultation__inner">#}
                            {#<p class="consultation__town-name">Москва</p>#}
                            {#<a href="tel:+7(495)374-61-62" class="consultation__phone">#}
                                {#<span>+7 (495)</span> 374-61-62</a>#}
                        {#</div>#}
                        {#<div class="consultation__inner">#}
                            {#<p class="consultation__town-name">Москва</p>#}
                            {#<a href="tel:+7(812)438-12-14" class="consultation__phone"><span>+7 (812)</span>#}
                                {#438-12-14</a>#}
                        {#</div>#}
                        {#<a href="#consultation-callback" class="consultation__callback-link  go_to">Обратный звонок</a>#}
                    {#</aside>#}
                {#</li>#}
            </ul>
            <aside class="consultation">
                <h2 class="consultation__title">Бесплатная консультация по всем видам услуг</h2>
                <div class="consultation__inner">
                    <p class="consultation__town-name">Москва</p>
                    <a href="tel:+7(495)374-61-62" class="consultation__phone">
                        <span>+7 (495)</span> 374-61-62</a>
                </div>
                <div class="consultation__inner">
                    <p class="consultation__town-name">Москва</p>
                    <a href="tel:+7(812)438-12-14" class="consultation__phone"><span>+7 (812)</span>
                        438-12-14</a>
                </div>
                <a href="#consultation-callback" class="consultation__callback-link  go_to">Обратный звонок</a>
            </aside>
        </div>
    </section>
    <section class="coctails-choose">
        <div class="container">
            <div class="row">
                <h2 class="coctails-choose__title col-md-8">Вы можете сами выбрать коктейли, которые будут подаваться в
                    баре</h2>
                <a href="cocktails.html" class="coctails-choose__link col-md-4">Коктейльная карта</a>
            </div>
        </div>
    </section>
    <section class="another">
        <div class="container">
            <h2 class="another__title">Другие услуги</h2>
            <div class="another__toggles">
                <ul class="another__toggles-list">
                    <li class="another__toggles-item">
                        <a href="#another-lease" class="another__toggle  another__toggle--active">Аренда оборудования</a>
                    </li>
                    <li class="another__toggles-item">
                        <a href="#another-master" class="another__toggle">Мастер-классы</a>
                    </li>
                    <li class="another__toggles-item">
                        <a href="#another-show" class="another__toggle">Шоу-программы</a>
                    </li>
                    <li class="another__toggles-item">
                        <a href="#another-staff" class="another__toggle">Выездной персонал</a>
                    </li>
                    <li class="another__toggles-item">
                        <a href="#another-catering" class="another__toggle">Кейтеринг</a>
                    </li>
                    <li class="another__toggles-item">
                        <a href="#another-catering" class="another__toggle">По назначению</a>
                    </li>
                </ul>
            </div>
            <div class="another__content">
                <ul id="another-lease" class="another__tab-list row another__tab-list--active">
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="mebel.html" class="another__tab-link">Аренда мебели с подсветкой</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="mebel-rent.html" class="another__tab-link">Аренда барных стоек</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="posuda.html" class="another__tab-link">Аренда посуды</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="coffemachine.html" class="another__tab-link">Аренда кофемашины</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Аренда шоколадного фонтана</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Аренда бокалов</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Аренда барных стоек с подсветкой</a>
                    </li>
                </ul>
                <ul id="another-master" class="another__tab-list">
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="masterclass.html" class="another__tab-link">Организация мастер-классов</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Мастер-классы по чаю</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Кофейный мастер-класс</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Мастер-классы по вину</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Мастер-класс от повара</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Выездные мастер-классы на корпоратив</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Корпоративный кулинарный мастер-класс</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Кулинарный мастер-класс от шеф-повара</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Чайные церемонии</a>
                    </li>
                </ul>
                <ul id="another-show" class="another__tab-list">
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="barmen-show.html" class="another__tab-link">Бармен-шоу</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Коктейль-шоу "поезд любви"</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Пирамиды из шампанского</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Шоколадный фонтан</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Жженка</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Ледяные фигуры</a>
                    </li>
                </ul>
                <ul id="another-staff" class="another__tab-list">
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Персонал</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Бармены</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Официанты</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Повара</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Бариста</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Сомелье</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Диджеи</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Торседор</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Фумелье</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Кальянщик</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Фотографы</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Текила-girls</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Хостес</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Девушки go-go</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3>
                        <a href="#" class="another__tab-link">Ведущий</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Дед Мороз</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Супергерои</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Аниматор на день рождения</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Афроамериканцы</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Декоратор</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Аниматор</a>
                    </li>
                </ul>
                <ul id="another-catering" class="another__tab-list">
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Организация кофе-брейка</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Кейтеринг кофе брейк</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3>
                        <a href="#" class="another__tab-link">Кофе-брейк меню</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Кейтеринг - десерты</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Кальянный кейтеринг</a>
                    </li>
                </ul>
                <ul id="another-catering" class="another__tab-list">
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Свадьба</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">ДР</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Корпоратив</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">Свадьба</a>
                    </li>
                    <li class="another__tab-item col-sm-6 col-md-4 col-lg-3">
                        <a href="#" class="another__tab-link">ДР</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}