{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Персонал для выставок{% endblock %}
{% set breadcrumbs = [
    {
        title: "Соглашение",
        active: true
    }
] %}

{% block content %}
    <section class="text-tpl section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  text-tpl__title">Соглашение на обработку персональных данных</h1>
            <p class="text-tpl__sub-title">Общество с ограниченной ответственностью >«БАР-СТРИТ»</p>
            <p class="text-tpl__sub-title">Приказ от 01 июля 2017 года № ________</p>
            <p class="text-tpl__sub-title">«О мерах по исполнению законодательства в области защиты персональных данных
                в ООО „БАР-СРИТ“»</p>
            <p>
                В&nbsp;целях исполнения требований Федерального закона от&nbsp;27&nbsp;июля 2006 года №&nbsp;152-ФЗ «О&nbsp;персональных
                данных», а&nbsp;так&nbsp;же иных нормативных актов в&nbsp;области защиты персональных данных,
                руководствуясь Постановлением Правительства Российской Федерации от&nbsp;01&nbsp;ноября.2012 года №&nbsp;1119
                «Об&nbsp;утверждении требований к&nbsp;защите персональных данных при их&nbsp;обработке в&nbsp;информационных
                системах персональных данных,</p>
            <p class="text-tpl__sub-title">Приказываю</p>
            <p>
                1. Утвердить Политику Общества с&nbsp;ограниченной ответственностью «БАР- СТРИТ» в&nbsp;отношении
                обработки и&nbsp;защиты персональных данных пользователей сайта <a href="/">https://bar-street.ru</a>
                (далее&nbsp;— Политика конфиденциальности).</p>
            <p>
                2. Назначить лиц, ответственных в&nbsp;ООО «БАР-СТРИТ» за&nbsp;обработку персональных данных
                пользователей сайта <a href="/">https://bar-street.ru</a>:</p>
            <ul style="margin-left: 20px; list-style: disc;">
                <li>
                    Насоновский Сергей Николаевич&nbsp;— генеральный директор;
                </li>
                <li>
                    Плешков Максим Николаевич&nbsp;— технический директор;
                </li>
                <li>
                    Собакова Людмила Александровна&nbsp;— бухгалтер;
                </li>
                <li>
                    Орманжи Станислав Валентинович&nbsp;— руководитель отдела продаж;
                </li>
                <li>
                    Герасимов Виталий Геннадьевич&nbsp;— менеджер;
                </li>
                <li>
                    Таранова Мария Дмитриевна&nbsp;— менеджер;
                </li>
                <li>
                    Перчук Дмитрий Сергеевич&nbsp;— менеджер;
                </li>
                <li>
                    Плакущая Елена Анатольевна&nbsp;— менеджер;
                </li>
                <li>
                    Черненко Ирина Николаевна&nbsp;— менеджер.
                </li>
            </ul>
            <p>
                3. Лицам, указанным в&nbsp;п.&nbsp;2&nbsp;настоящего Приказа:</p>
            <p>
                —&nbsp;опубликовать Политику конфиденциальности на&nbsp;сайте <a href="/">https://bar-street.ru</a>;</p>
            <p>
                —&nbsp;обеспечить обработку персональных данных пользователей сайта <a
                        href="/">https://bar-street.ru</a> в&nbsp;соответствии с&nbsp;требованиями действующего
                законодательства&nbsp;РФ и&nbsp;условиями, указанными в&nbsp;Политике конфиденциальности.</p>
            <p>
                4. Контроль за&nbsp;исполнением настоящего Приказа оставляю за&nbsp;собой.</p>
            <p>
                Генеральный директор С.Н. Насоновский</p>
        </div>
    </section>
{% endblock %}
