{% extends "../base.twig" %}
{% block title %}Команда выездного бара Bar-street{% endblock %}
{% set servicesTopic = 'Команда' %}

{% block content %}
    <section class="team">
        <div class="team-promo">
            <div class="container">
                <div class="row">
                </div>
            </div>
            <h1 class="title team-promo__title">Что такое Bar-Street?</h1>
            <p class="text team-promo__text">Это сильная команда профессионалов, которые любят свою работу</p>
            <div class="team-promo__img"></div>
        </div>
        <section class="team-projects">
            <div class="container">
                <div class="row">
                    <h2 class="title team__title col-12">Выздной бар любого <br> масштаба в любом месте</h2>
                    <p class="text team-projects__text col-12">Мы обслуживали 157 крупнейших мероприятий</p>
                    <div class="owl-carousel  owl-theme  team-projects__slider col-12">
                        <div class="team-projects__slider-item">
                            <div class="team-projects__slider-item-inner">
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Заказчик</p>
                                    <p class="team-projects__desc">Pepsico</p>
                                </div>
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Место</p>
                                    <p class="team-projects__desc">ПМЭФ: Pepsico cafe Санкт-Петербург</p>
                                </div>
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Гостей</p>
                                    <p class="team-projects__desc">Более 7 500 участников</p>
                                </div>
                            </div>
                            <div class="team-projects__slider-media">
                                <a href="../../img/team/1.jpg" data-fancybox="Pepsico" class="team-projects__slider-media-main-img">
                                    <img class="lazyload" src="../../img/team/1.jpg" alt="">
                                </a>
                                <div class="team-projects__slider-media-inner">
                                    <a href="../../img/team/2.jpg" data-fancybox="Pepsico" class="team-projects__slider-media-img img-zoom">
                                        <img class="lazyload" src="../../img/team/2.jpg" alt="">
                                    </a>
                                    <a href="../../img/team/3.jpg" data-fancybox="Pepsico" class="team-projects__slider-media-img img-zoom">
                                        <img class="lazyload" src="../../img/team/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="team-projects__slider-item">
                            <div class="team-projects__slider-item-inner">
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Заказчик</p>
                                    <p class="team-projects__desc">Pepsico1</p>
                                </div>
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Место</p>
                                    <p class="team-projects__desc">ПМЭФ: Pepsico cafe Санкт-Петербург</p>
                                </div>
                                <div class="team-projects__info-item">
                                    <p class="team-projects__term">Гостей</p>
                                    <p class="team-projects__desc">Более 7 500 участников</p>
                                </div>
                            </div>
                            <div class="team-projects__slider-media">
                                <a href="../../img/team/1.jpg" data-fancybox="Pepsico1" class="team-projects__slider-media-main-img">
                                    <img class="lazyload" src="../../img/team/1.jpg" alt="">
                                </a>
                                <div class="team-projects__slider-media-inner">
                                    <a href="../../img/team/2.jpg" data-fancybox="Pepsico1" class="team-projects__slider-media-img img-zoom">
                                        <img class="lazyload" src="../../img/team/2.jpg" alt="">
                                    </a>
                                    <a href="../../img/team/3.jpg" data-fancybox="Pepsico1" class="team-projects__slider-media-img img-zoom">
                                        <img class="lazyload" src="../../img/team/3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include '../modules/team-members.twig' %}
        <section class="team-master-classes">
            <div class="container">
                <div class="team-master-classes__header">
                    <h2 class="title team-master-classes__title">Саморазвитие</h2>
                    <div class="team-master-classes__text-wrap">
                        <p class="text team-master-classes__text">Cовершенствоваться и применять новые технологии в сфере развлечения.</p>
                    </div>
                </div>
                <div class="team-master-classes__body">
                    <div class="row">
                        <div class="team-master-classes__body-inner col-12 col-lg-6">
                            <p class="text team-master-classes__desc text--white">
                                Мы проводим мастер классы в сотрудничестве с компанией Pepsico и Metro.<br>
                                Рассказываем о рецептах коктейлей так же о тонкостях работы с клиентами и организации крупных мероприятий.
                            </p>
                            <div class="team-master-classes__brand-list">
                                <img class="team-master-classes__brand-img lazyload" src="/img/team/clients/1.png" width="126" height="30">
                                <img class="team-master-classes__brand-img lazyload" src="/img/team/clients/2.png" width="113" height="30">
                            </div>
                        </div>
                        <div class="team-master-classes__photos col-12 col-lg-6">
                            <a href="/img/team/other/1.jpg" data-fancybox="other" class="team-master-classes__photos-img">
                                <img class="lazyload" src="/img/team/other/1.jpg">
                            </a>
                            <a href="/img/team/other/2.jpg" data-fancybox="other" class="team-master-classes__photos-img">
                                <img class="lazyload" src="/img/team/other/2.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="team-about">
            <div class="container">
                <div class="row">
                    <h2 class="title team-about__title col-12">Факты о Bar-Street</h2>
                    <ul class="team-about__list row col-12">
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2010 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2010" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">57 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">10 300 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2011 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2011" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">182 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">10 300 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2012 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2012" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">426 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">27 400 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2013 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2013" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">584 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">63 900 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2014 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2014" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">712 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">87 600 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2015 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2015" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">1 025 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">257 000 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2016 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2016" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">1 180 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">581 000 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2017 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2017" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">1 296 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">708 320 <span>коктейлей</span></p>
                        </li>
                        <li class="team-about__item col-sm-4">
                            <p class="team-about__item-date _visible">2018 <span class="year-chars">Год</span></p>
                            <div class="team-about__item-img">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-team-2018" />
                                </svg>
                            </div>
                            <p class="team-about__item-num-events">1 260 <span >мероприятий</span></p>
                            <p class="team-about__item-num-coct">735 840 <span>коктейлей</span></p>
                        </li>
                    </ul>
                    <div class="team-about__total col-12">
                        <div class="team-about__total-decoration">
                            <p class="team-about__total-decoration-text">Итого</p>
                        </div>
                        <ul class="team-about__total-list row col-12">
                            <li class="team-about__total-item">
                                <p class="team-about__total-item-title">
                                    <span class="team-about__total-item-title-count">350</span>
                                    крупнейших мероприятий
                                </p>
                                <p class="team-about__total-item-desc">
                                    с общим бюджетом
                                    <span class="team-about__total-item-desc-count">2 100 000 000 рублей</span>
                                </p>
                            </li>
                            <li class="team-about__total-item">
                                <p class="team-about__total-item-title">
                                    <span class="team-about__total-item-title-count">2 481 660</span>
                                    коктелей приготовлено
                                </p>
                                <p class="team-about__total-item-desc">
                                    общий объём более
                                    <span class="team-about__total-item-desc-count">934 810 037 литров</span>
                                </p>
                            </li>
                            <li class="team-about__total-item">
                                <p class="team-about__total-item-title">
                                    <span class="team-about__total-item-title-count">1 000</span>
                                    баров в год
                                </p>
                                <p class="team-about__total-item-desc">
                                    всего с 2010 года
                                    <span class="team-about__total-item-desc-count">
                                        6 722 Бара
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        {% include "../modules/scale-grow.twig"%}
        <div class="team-clients container">
            {% include "../modules/clients.twig"%}
        </div>
        <section class="team-request">
            <div class="container">
                <div class="row">
                    <div class="team-request__content col-12 col-md-6 col-lg-5 col-xl-6">
                        <h2 class="title team-request__title">
                            В нашей команде
                            <span class="team-request__title-note">300 сотрудников</span>
                        </h2>
                        <p class="text team-request__text">
                            Вы можете заказать услуги профессионального
                            <a href="/visiting-staff.html" class="team-request__text-link">
                                персонала на свое мероприятие
                            </a>
                        </p>
                        <p class="text team-request__desc">
                            В&nbsp;нашем штате 2&nbsp;шеф-бармена PepsiCo, 2&nbsp;шеф-бармена Rioba, шеф-бариста сети &laquo;Шоколадница&raquo;, 3&nbsp;бармена, входящих в&nbsp;мировой ТОП10 по&nbsp;флейрингу.
                        </p>
                        <a href="" class="button team-request__button">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
