{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Вакансии выездного бара Bar-street{% endblock %}
{% set breadcrumbs = [
    {
        title: "Вакансии",
        active: true
    }
]
%}

{% block content %}
    <section class="vacancy">
        <div class="container  vacancy__container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  vacancy__title">Работа в Bar-Street</h1>
            <p class="text vacancy__text">
                Мы постоянно расширяем базу сотрудников для работы на наших мероприятиях. <br>
                Для того, чтобы в нее попасть необходимо пройти регистрацию на нашем ресурсе <a href="//bar-street.worksman.ru" class="link">bar-street.worksman.ru</a>
            </p>
            <h2 class="subtitle  vacancy__subtitle">Нам нужны:</h2>
            <div class="vacancy__inner">
                <ul class="vacancy__list">
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Аниматор</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Сомелье</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Афроамериканец</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Текила-girls</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Банкет-менеджер</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Техник</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Бариста</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Торседор</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Бармен</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Фотограф</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Бармен (мастер-класс)</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Фотомодель</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Бармен (рабочий флейринг)</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Фумелье</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Хостес</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Бармен шоу</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Ведущий</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Девушка go-go</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Диджей</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Кальянщик</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Курьер</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Официант</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Повар</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Помощник бармена</a></li>
                    <li class="vacancy__item"><a class="vacancy__link link" href="//bar-street.worksman.ru">Чайный мастер</a></li>
                </ul>
                <img src="/img/hr1.png" alt="HR" class="vacancy__img">
            </div>
        </div>
    </section>
{% endblock %}