{% extends "../base.twig" %}
{% block title %}Выездной персонал{% endblock %}
{% set servicesCover = 'peoples.png' %}
{% set servicesTopic = 'Выездной персонал' %}
{% set servicesDesc = 'В&nbsp;нашем штате 2&nbsp;шеф-бармена PepsiCo, 2&nbsp;шеф-бармена Rioba, шеф-бариста сети &laquo;Шоколадница&raquo;, 3&nbsp;бармена, входящих в&nbsp;мировой ТОП10 по&nbsp;флейрингу.' %}
{% set howitWorkTitle = 'Заказать персонал' %}
{% set breadcrumbs = [
    {
        title: 'Все услуги',
        link: '/services'
    },
    {
        title: servicesTopic,
        active: true
    }
] %}

{% block content %}
    <section class="visiting-staff">
        {% include '../modules/service.twig' %}
        <div class="service__desc">
            <div class="container">
                <div class="row  service--helper">
                    <h2 class="sub-title sub-title--center">BAR-STREET осуществляет подбор <br> и&nbsp;предоставление
                        профессионального персонала.</h2>
                    <ul class="visiting-staff__list">
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Бармены</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Официанты</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Повара</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Бариста</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Сомелье</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Диджеи</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Торседор</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Фумелье</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Кальянщик</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Фотографы</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Текила-girls</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Хостес</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Девушки
                                go-go</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Ведущий</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Дед Мороз</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Супергерои</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Аниматор на день
                                рождения</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link"
                                                            href="#">Афроамериканцы</a></li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Декоратор</a>
                        </li>
                        <li class="visiting-staff__item"><a class="link  visiting-staff__link" href="#">Аниматор</a>
                        </li>
                    </ul>
                    <p class="text visiting-staff__text">
                        У нас Вы можете заказать услуги обслуживающего персонала для работы на Вашем мероприятии.
                        Возраст сотрудников от 20 до 50 лет. Весь персонал имеет большой опыт работы в лучших заведениях
                        Москвы, а также на выездных мероприятиях. При необходимости каждый сотрудник может взять с собой
                        оборудование, необходимое для работы. Наши сотрудники работают в стильной форме одежды.
                    </p>
                </div>
            </div>
        </div>
        <section class="visiting-staff__clothes">
            <h2 class="sub-title service__catalog-title"><span><b>Форма одежды персонала</b></span></h2>
            <div class="container">
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/1.png"
                             alt="">
                        <h3 class="service__product-name">Форма 1.1</h3>
                        <p class="service__product-desc">Синий фартук, синий берет, белая рубашка</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/2.png"
                             alt="">
                        <h3 class="service__product-name">Форма 1.2</h3>
                        <p class="service__product-desc">Зеленый фартук, зеленый берет, белая рубашка</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/3.png"
                             alt="">
                        <h3 class="service__product-name">Форма 1.3</h3>
                        <p class="service__product-desc">Оранжевый фартук, оранжевый берет, белая рубашка</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/4.png"
                             alt="">
                        <h3 class="service__product-name">Форма 1.4</h3>
                        <p class="service__product-desc">Коричневый фартук, коричневый берет, белая рубашка</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/5.png"
                             alt="">
                        <h3 class="service__product-name">Форма 1.5</h3>
                        <p class="service__product-desc">Бежевый фартук, бежевый берет, белая рубашка</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/6.png"
                             alt="">
                        <h3 class="service__product-name">Форма 2.1</h3>
                        <p class="service__product-desc">Белая рубашка, черный фартук, бабочка-галстук</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/7.png"
                             alt="">
                        <h3 class="service__product-name">Форма 2.2</h3>
                        <p class="service__product-desc">Черная рубашка, черный фартук, бабочка-галстук</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/8.png"
                             alt="">
                        <h3 class="service__product-name">Форма 2.3</h3>
                        <p class="service__product-desc">Белая-черная рубашка, жилетка, бабочка-галстук</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/9.png"
                             alt="">
                        <h3 class="service__product-name">Форма 3.1</h3>
                        <p class="service__product-desc">Розовое поло, черный фартук</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/10.png"
                             alt="">
                        <h3 class="service__product-name">Форма 3.2</h3>
                        <p class="service__product-desc">Черное поло, черный фартук</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/11.png"
                             alt="">
                        <h3 class="service__product-name">Форма 4.1</h3>
                        <p class="service__product-desc">Белая рубашка, черный фартук, зеленые лямки, головной убор</p>
                    </div>
                </article>
                <article class="service__product  service__product--color">
                    <div class="service__product-img--no-scale">
                        <img class="lazyload visiting-staff__item-img" src="../../img/services/visiting-staff/12.png"
                             alt="">
                        <h3 class="service__product-name">Форма 4.2</h3>
                        <p class="service__product-desc">Русский народный костюм</p>
                    </div>
                </article>
            </div>
            <button class="service__intro-btn button  button--pink  visiting-staff__clothes-btn">Заказать персонал
            </button>
        </section>
        {% include "../modules/how-we work.twig" %}
        {% include "../modules/photos.twig" %}
        {% include "../modules/service-clients.twig" %}
    </section>
{% endblock %}

{% block popups %}
    {% include '../popups/service-popup.twig' %}
    {% include '../popups/question-popup.twig' %}
{% endblock %}