{% extends "../base.twig" %}
{% set blue = true %}
{% block title %}Порядок оказания услуг Bar-Street{% endblock %}
{% set breadcrumbs = [
    {
        title: "Ход работ",
        active: true
    }
] %}

{% block content %}
    <section class="work-levels  section">
        <div class="container">
            {% include '../modules/breadcrumbs.twig' %}
            <h1 class="title  work-levels__title">Порядок оказания услуг</h1>
            <p class="work-levels__promo-text">
                Ознакомьтесь пожалуйста с данной схемой. Это позволит сэкономить время и силы при подготовке и работе на
                мероприятии.
            </p>
        </div>
        <div class="work-levels__item  work-levels__item1">
            <div class="container">
                <p class="work-levels__item-title  sub-title"><span>1. </span>Прием заявки</p>
                <p class="work-levels__item-text">Вы отправляете заявку удобным способом:</p>
                <ul class="work-levels__item-list">
                    <li><p class="work-levels__item-text">звонок по телефону</p></li>
                    <li><p class="work-levels__item-text"><a href="/event" class="link">форма обратной связи</a></p>
                    </li>
                    <li><p class="work-levels__item-text">письмо на E-mail: <a href="mailto:info@bar-street.ru"
                                                                               class="link">info@bar-street.ru</a></p>
                    </li>
                    <li><p class="work-levels__item-text">через онлайн помощников на сайте</p></li>
                </ul>
                <div class="work-levels__image  work-levels__image-1">
                    <p class="work-levels__image-text  work-levels__image-1-item1">Клиент</p>
                    <p class="work-levels__image-text  work-levels__image-1-item2">Менеджер <br> Bar-Street</p>
                    <div class="work-levels__image-1-item3">
                        <p class="work-levels__image-text">Вы сообщаете:</p>
                        <ul>
                            <li><p>дату мероприятия,</p></li>
                            <li><p>место проведения,</p></li>
                            <li><p>формат мероприятия,</p></li>
                            <li><p>интересующие услуги.</p></li>
                        </ul>
                    </div>
                    <p class="work-levels__image-text  work-levels__image-1-item4">
                        Менеджер предложит вам несколько решений для вашего мероприятия
                    </p>
                </div>
            </div>
        </div>
        <div class="work-levels__item  work-levels__item2">
            <div class="container">
                <p class="work-levels__item-title  sub-title"><span>2. </span>Составление коммерческого предложения и
                    сметы</p>
                <p class="work-levels__item-text">
                    В смете Вы можете изменять количество и получать пересчет автоматически. Вы получите рекомендации по
                    вопросам выбора площадки, наиболее подходящего набора услуг, стилизации под формат мероприятия,
                    выбору коктейлей и тп.
                </p>
                <div class="work-levels__image  work-levels__image-2">
                    <p class="work-levels__image-text  work-levels__image-2-item1">
                        коммерческое <br> предложение
                    </p>
                    <p class="work-levels__image-text  work-levels__image-2-item2">
                        смета
                    </p>
                </div>
            </div>
        </div>
        <div class="work-levels__item  work-levels__item3">
            <div class="container">
                <p class="work-levels__item-title  sub-title"><span>3. </span>Корректировка сметы, заключение договора,
                    внесение предоплаты.</p>
                <p class="work-levels__item-text">
                    Утверждение сметы, определение формы оплаты (наличный или безналичный расчет), подписание договора,
                    внесение предоплаты.
                </p>
                <div class="work-levels__image  work-levels__image-3">
                </div>
            </div>
        </div>
        <div class="work-levels__item  work-levels__item4">
            <div class="container">
                <p class="work-levels__item-title  sub-title"><span>4. </span>Подготовка заказа</p>
                <p class="work-levels__item-text">Сбор заказа:</p>
                <ul class="work-levels__item-list">
                    <li><p class="work-levels__item-text">подготовка оборудования</p></li>
                    <li><p class="work-levels__item-text">инструктаж персонала</p></li>
                    <li><p class="work-levels__item-text">закупка ингридиентов</p></li>
                </ul>
                <p class="work-levels__item-text">Выезд на мероприятие:</p>
                <ul class="work-levels__item-list">
                    <li><p class="work-levels__item-text">разгрузка и монтаж на площадке</p></li>
                    <li><p class="work-levels__item-text">подготовка к предоставлению услуг</p></li>
                    <li><p class="work-levels__item-text">предоставление услуг</p></li>
                    <li><p class="work-levels__item-text">передача документов</p></li>
                    <li><p class="work-levels__item-text">уборка и погрузка</p></li>
                </ul>
                <div class="work-levels__image  work-levels__image-4">
                    <div class="work-levels__image-4-item1">
                        <ul>
                            <li><p>подготовка оборудования</p></li>
                            <li><p>инструктаж</p></li>
                            <li><p>передача документов</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-levels__item  work-levels__item5">
            <div class="container">
                <p class="work-levels__item-title  sub-title">
                    <span>5. </span> Контроль качества
                </p>
                <p class="work-levels__item-text">
                    Начальник отдела качества отправит форму с вопросами. Вы отвечаете на них, указывая все оценки,
                    замечания, отзывы и пожелания.
                </p>
                <p class="work-levels__item-text">
                    Ваше мнение играет важную роль. Мы обязательно учтем его и примем необходимые меры.
                </p>
                <div class="work-levels__image  work-levels__image-5">
                    <div class="work-levels__image-text  work-levels__image-5-item1">
                        <p>Оплата остатка по счету</p>
                        <p>Менеджер предложит вам несколько решений для вашего мероприятия</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="work-levels__item  work-levels__item6">
            <div class="container">
                <p class="work-levels__item-title  sub-title">
                    Мы работаем для того, чтобы Вы остались довольны!
                </p>
                <a class="work-levels__link button  button--pink" href="/event">Оставить заявку</a>
                <p class="work-levels__item-text">
                    Здесь Вы можете найти многое для того, чтобы сделать ваш праздник незабываемым.
                    <br>
                    Ознакомьтесь со всеми <a class="link" href="/services">услугами BAR-STREET</a>
                </p>
                <div class="work-levels__image  work-levels__image-6">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
