.page-404 {
    background-color: $c-bg-primary;
    &__container {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__title {
        margin-bottom: 0;
        text-align: center;
    }

    &__promo-text {
        font-size: 20px;
        text-align: center;
        color: #fff;
        & a {
            display: inline-block;
            font-size: inherit;
        }
    }

    &__img {
        width: 100%;
        margin: 0 auto;
        @media (min-width: 1200px) {
            width: auto;
        }
    }
}