.clients-page {
    &__wrapper {
        padding-top: 40px;
    }

    .photocard__img {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: #fff;

        & a {
            display: block;
            width: 200px;
        }

        & img {
            position: static;
            width: auto;
            height: auto;
            max-width: 200px;
            max-height: 80px;
            transform: none;
        }
    }
}