.event {
    padding: 0 0 20px;
    background-color: #fff;
    @media (min-width: 768px) {
        margin-bottom: 20px;
        padding: 20px 0 50px;
        background-image: url("../img/event-bg.png");
        background-repeat: no-repeat;
        background-position: top right;
        font-size: 28px;
    }

    &__container {
        max-width: none;
        padding-top: 20px;
        padding-bottom: 40px;

        @media (min-width: 992px) {
            max-width: 960px;
        }

        @media (min-width: 1200px) {
            max-width: 1140px;
        }
    }

    &__title {
        margin-bottom: 0;
        text-align: center;
        color: #000;
    }

    &__promo-text {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
        & span {
            color: $c-primary;
        }
    }
    
    &__text {
        margin: 0 auto;
        text-align: center;
    }

    &__coctails-list {
        margin: 0 auto 15px;
        text-align: center;
    }

    &__coctails-total {
        margin-bottom: 0;
        font-size: 25px;
        font-weight: 700;
        @media (min-width: 768px) {
            margin-bottom: 20px;
            font-size: 28px;
        }
    }

    &__coctails-list {
        margin-top: 5px;
    }

    &__coctails-item {
        font-size: 14px;
    }

    &__form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        @media (min-width: 768px) {
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
        @media (min-width: 992px) {
            padding: 30px 80px;
        }
    }

    &__form-wrapper {
        width: 100%;
        @media (min-width: 768px) {
            width: auto;
        }
    }

    &__form-textarea{
        width: 100%;
        @media (min-width: 768px) {
            width: auto;
            height: 100%;
            margin-left: 20px;
        }
    }

    &__form-input {
        width: 100%;
        &--textarea {
            height: 164px;
        }
        @media (min-width: 768px) {
            width: auto;
        }
    }

    &__form-label {
        width: 100%;
        margin-right: 10px;
        margin-bottom: 0;
        @media (min-width: 768px) {
            width: 18%;
        }
    }

    &__form-btn-inner {
        width: 100%;
        margin-top: 30px;
    }

    &__form-btn {
        width: 100%;
        @media (min-width: 768px) {
            width: 45%;
            margin: 0 auto;
        }
    }

    &__text {
        margin-top: 10px;
        text-align: center;
        @media (min-width: 768px) {
            max-width: 45%;
        }
    }
}