.expo {
    padding-bottom: 0;
    &__team-title {
        text-align: center;
        color: #fff;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item {
        position: relative;
        padding-left: 25px;
        margin-bottom: 15px;

        & .icon-svg {
            position: absolute;
            left: 0;
            top: 0;
            width: 15px;
            height: 15px;
            margin-top: 5px;
            margin-right: 15px;
            fill: $c-primary;
        }
    }

    &__item-text {
        font-size: 18px;
        color: #fff;
    }

    &__img {
        display: none;
        margin-top: -50px;
        @media (min-width: 992px) {
            display: block;
            width: 500px;
        }
        @media (min-width: 1200px) {
            width: auto;
        }
    }
}

.expo-services {
    padding: 20px 0;
    background-color: #fff;
    @media (min-width: 768px) {
        padding: 50px 0;
    }

    & .container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__title {
        margin-bottom: 20px;
        @media (min-width: 768px) {
            margin-bottom: 50px;
        }
    }

    &__inner {
        width: 100%;
        margin-bottom: 20px;
        &:last-of-type {
            width: 100%;
            margin-bottom: 0;
        }

        &:nth-of-type(3) .expo-services__item {
            width: 40%;
        }

        &:nth-of-type(4) .expo-services__item {
            width: 33%;
        }

        @media (min-width: 768px) {
            width: 33%;
            margin-bottom: 40px;
        }
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
    }

    &__inner-text {
        margin-bottom: 5px;
    }

    &__item {
        width: 100%;
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

}

.expo-projects {
    padding: 20px 0 40px;
    background-color: #000;
    @media (min-width: 768px) {
        padding: 50px 0;
    }
}

.expo-order {
    position: relative;
    padding: 20px 0;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        display: none;
        width: 100%;
        height: 200px;
        background: url(../img/shadow2.png) no-repeat;
        background-size: cover;
    }
    @media (min-width: 768px) {
        padding: 50px 0;
        &::before {
            display: block;
        }
    }

    &__text {
        max-width: 500px;
        margin: 0 auto 20px;
        text-align: center;
        color: #fff;
    }

    &__link {
        width: fit-content;
        margin: 0 auto;
    }
}