.facts {
    &__subtitle {
        width: 100%;
        margin-top: 20px;
        @media (min-width: 768px) {
            margin-top: 40px;
            margin-bottom: 10px;
        }
    }

    &__text {
        margin-bottom: 20px;
    }
    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #fff;
        padding-bottom: 40px;
        iframe {
            width: 100%;
            @media (min-width: 768px) {
                width: 45%;
            }
        }
    }
}