.kalyan-bar {
    &__catalog {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__catalog-title {
        margin-bottom: 40px;
    }

    &__catalog-btn {
        max-width: 320px;
        margin: 0 auto;
        margin-top: 40px;
    }
}