.message {
    background-color: $c-bg-primary;
    &__container {
        position: relative;
        padding: 20px 0 725px;
    }

    &__title {
        margin-bottom: 0;
        text-align: center;
    }

    &__promo-text {
        position: relative;
        z-index: 10;
        font-size: 20px;
        text-align: center;
        color: #fff;
        & a {
            display: inline-block;
            font-size: inherit;
        }
    }

    &__animate {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    &__wave {
        position: absolute;
        &--a1 {
            z-index: 6;
            bottom: -150px;
            left: 0;
            width: 100%;
            height: 235px;
            background: url(../img/message/a4.png) no-repeat 0 0;
            animation: wave 4s 0.1s infinite linear;
        }
        &--a2 {
            z-index: 2;
            bottom: -110px;
            left: 0;
            width: 100%;
            height: 235px;
            background: url(../img/message/a5.png) no-repeat 0 0;
            animation: wave 5s 0.1s infinite linear;
        }
        &--a3 {
            z-index: 1;
            bottom: -80px;
            left: 0;
            width: 100%;
            height: 235px;
            background: url(../img/message/a6.png) no-repeat 0 0;
            animation: wave 6s 0.1s infinite linear;
        }
        &--a4 {
            z-index: 5;
            left: 50%;
            bottom: -37px;
            width: 250px;
            height: 765px;
            margin-left: -125px;
            background-size: 250px auto;
            background: url(../img/message/a1.png) no-repeat 50% 100%;
            animation: object 5s 0.1s infinite linear;
            @media (min-width: 649px) {
                bottom: -52px;
                width: 320px;
                height: 533px;
                margin-left: -160px;
                background-position: 50% 100%;
                background-size: contain;
            }
            @media (min-width: 1030px) {
                bottom: -90px;
                width: 470px;
                height: 760px;
                margin-left: -235px;
                background-size: contain;
            }
        }
        &--a5 {
            z-index: 4;
            bottom: 2px;
            left: 50%;
            display: none;
            width: 300px;
            height: 332px;
            margin-left: -300px;
            background: url(../img/message/a3.png) no-repeat 0 0;
            background-size: contain;
            @media (min-width: 649px) {
                bottom: -75px;
                display: block;
                width: 649px;
                height: 700px;
                margin-left: -325px;
                background-size: contain;
            }
            @media (min-width: 1030px) {
                width: 1000px;
                height: 700px;
                margin-left: -500px;
                background: url(../img/message/a3.png) no-repeat 0 0;
                background-size: contain;
            }
        }
        &--a6 {
            z-index: 3;
            left: 50%;
            bottom: 420px;
            display: none;
            width: 320px;
            height: 230px;
            margin-left: -160px;
            background: url(../img/message/a2.png) no-repeat 50% 100%;
            @media (min-width: 649px) {
                bottom: 105px;
                display: block;
                width: 630px;
                height: 400px;
                margin-left: -300px;
                background-size: contain;

            }
            @media (min-width: 1030px) {
                bottom: 75px;
                width: 1000px;
                height: 650px;
                margin-left: -475px;
                background: url(../img/message/a2.png) no-repeat 0 0;
                background-size: contain;
            }
        }
    }
}