.partner {
    &__title {
        text-align: center;
    }
    
    &__text {
        max-width: 600px;
        margin: 0 auto 20px;
        color: #fff;
        &:last-of-type {
            margin-bottom: 0;
        }
         & .link {
             display: inline-block;
         }
    }

    &__inner {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            bottom: -70%;
            left: 20%;
            width: 100%;
            height: 200px;
            background: url("../img/shadow2.png") no-repeat;
            background-size: contain;

        }
    }
    
    &__text-about {
        color: #fff;
    }

    &__img {
        position: relative;
        z-index: 2;
    }
}