.photoalbum {
    &__title {
        text-align: left;

        @media screen and (min-width: $screen-md) {
            text-align: center;
        }
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto 25px;
        max-width: 240px;
        .icon-svg {
            fill: $white;
            width: 25px;
            height: 25px;
            margin-right: auto;
        }
    }
}