.photoalbum-card {
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__header {
        margin: 0 0 55px;
    }

    &__section {
        position: relative;
        padding: 0;
        @media (min-width: 768px) {
            padding-left: 40px;
        }
    }

    &__section-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__section-icon {
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        .icon-svg {
            fill: $c-primary;
            width: 50px;
            height: 45px;
            &:first-of-type {
                margin-left: -11px;
            }
        }
        .icon-svg--pin {
            width: 40px;
            height: 35px;
        }

        @media (min-width: 768px) {
            display: block;
        }
    }

    &__section-title {
        margin: 0 0 10px;
        font-size: 16px;
        color: #fff;
        &:last-of-type {
            margin-top: 20px;
        }
        @media (min-width: 768px) {
            &:last-of-type {
                margin-top: 0;
            }
        }
    }

    &__section-item {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            width: 45%;
            &:nth-of-type(odd) {
                margin-right: 10px;
            }
        }
    }

    &__gallery {
        margin: 0 0 65px;
        padding-left: 0;
    }

    &__gallery-item {
        display: block;
        overflow: hidden;
        height: 275px;
        position: relative;
        margin-bottom: 5px;

        @media screen and (min-width: $screen-sm) {
            border-right: 5px solid transparent;
            &:nth-child(2n + 2) {
                border-right: none;
            }
        }

        @media screen and (min-width: $screen-md) {
            border-right: 5px solid transparent;

            &:nth-child(2n + 2) {
                border-right: 5px solid transparent;
            }

            &:nth-child(3n + 3) {
                border: none;
            }
        }
        

        &::before {
            content: "";
            background-image: url('../img/loading.svg');
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            animation: anim-rotate 2s infinite linear;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
        }

        img {
            display: block;
            position: absolute;
            z-index: 5;
            height: 120%;
            top: 50%;
            left: 50%;
            object-fit: cover;
            object-position: center center;
            transform: translate(-50%, -50%) translateZ(0);
            transition: all 0.8s ease;
            &:hover {
                width: 100%;
                height: 100%;
            }
        }
    }

    &__desc-title {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: left;
    }

    &__desc-content {
        margin: 0 0 50px;
        color: #ffffff;

        & p {
            color: #fff;
        }

        @media screen and (min-width: $screen-lg) {
            margin-bottom: 0;
        }
    }

    &__order-window {
        margin-left: auto;
    }
}