.text-tpl {
    background-color: #fff;
    &__title {
        color: #000;
    }

    &__sub-title {
        margin-top: 30px;
        font-size: 20px;
        font-weight: 700;
    }

    & p {
        margin-bottom: 10px;
    }
}