.vacancy {
    padding-bottom: 40px;
    &__text {
        color: #fff;
    }

    &__container {
        padding-top: 20px;
    }

    &__subtitle {
        color: #fff;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__item {
        width: 100%;
        margin-bottom: 5px;
        @media (min-width: 768px) {
            width: 70%;
            margin-bottom: 10px;
            &:nth-child(odd) {
                width: 30%;
            }
        }
    }

    &__link {
        width: fit-content;
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &::before {
            content: "";
            position: absolute;
            bottom: 30%;
            right: -5%;
            display: none;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #710850;
            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 992px) {
                bottom: 10%;
                right: 20%;
            }
        }

        &::after {
            content: "Приглашаем на собеседование каждый вторник и четверг 15:00 по адресу ул. Клары Цеткин, д.4";
            position: absolute;
            bottom: 53%;
            right: 0;
            display: none;
            width: 210px;
            height: 100px;
            color: #fff;
            @media (min-width: 768px) {
                display: block;
            }
            @media (min-width: 992px) {
                bottom: 30%;
                right: 25%;
            }
        }
    }
    
    &__img {
        position: relative;
        bottom: -40px;
        display: none;
        @media (min-width:992px) {
            display: block;
        }
    }
}