.visiting-staff {
    & .visiting-staff__clothes .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__item-img {
        height: 350px;
    }

    & .service__product {
        width: 100%;
        @media (min-width: 768px) {
            width: 25%;
        }
        @media (min-width: 992px) {
            width: 20%;
        }
    }

    & .service__product-img--no-scale {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

.visiting-staff__clothes {
    & .service__product-name {
        margin: 10px 0;
        color: #fff;
    }

    & .service__product-desc {
        margin-bottom: 25px;
        font-size: 14px;
        text-align: center;
        color: #fff;
    }
}

.visiting-staff__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    @media (min-width: 768px) {
        width: 40%;
        justify-content: flex-start;
    }
}

.visiting-staff__item {
    width: 50%;
    text-align: center;
    @media (min-width: 768px) {
        text-align: left;
    }
}

.visiting-staff__link {
    margin-bottom: 20px;
    text-decoration: none;
}

.visiting-staff__text {
    width: 100%;
    @media (min-width: 768px) {
        width: 40%;
    }
}

.visiting-staff__clothes {
    padding: 60px 0;
    background-color: $c-bg-primary;
}

.visiting-staff__clothes-btn {
    width: fit-content;
    margin: 0 auto;
}

.visiting-staff__clothes .service__catalog-title {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    color: #fff;
}