.work-levels {
    &__promo-text {
        max-width: 550px;
        margin-bottom: 40px;
        color: #fff;
    }

    &__link {
        width: fit-content;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__item {
        position: relative;
        height: auto;
        padding: 60px 0;
        background-color: $c-bg-six;
        overflow: hidden;
        @media (min-width: 768px) {
            height: 650px;
            padding: 30px 0 120px;
        }
        @media (min-width: 992px) {
            height: 480px;
            padding: 40px 0 120px;
        }
    }

    &__item2 {
        background-color: #110936;
        @media (min-width: 768px) {
            height: 600px;
        }
        @media (min-width: 992px) {
            height: 450px;
        }

        .work-levels__item-text {
            color: $c-third;
        }
    }

    &__item3 {
        height: auto;
        @media (min-width: 768px) {
            height: 540px;
        }
        @media (min-width: 992px) {
            height: 500px;
        }
        .work-levels__item-title {

            @media (min-width: 768px) {
                position: absolute;
                z-index: 10;
                top: 115px;
                right: 10%;
            }
            @media (min-width: 992px) {
                right: 23%;
            }
            @media (min-width: 1200px) {
                right: 19%;
            }
        }

        .work-levels__item-text {
            position: absolute;
            z-index: 10;
            top: 200px;
            right: 35%;
            max-width: 380px;
            @media (min-width: 768px) {
                right: 27%;
            }
            @media (min-width: 992px) {
                right: 35%;
            }
            @media (min-width: 1200px) {
                right: 29%;
            }
        }
    }

    &__item4 {
        background-color: #110936;
    }

    &__item5 {
        @media (min-width: 768px) {
            height: 550px;
        }

        @media (min-width: 992px) {
            height: 400px;
        }

        .work-levels__item-text {
            color: $c-third;
        }
    }

    &__item6 {
        background-color: #3b2266;
        @media (min-width: 768px) {
            height: 360px;
        }

        @media (min-width: 992px) {
            height: 360px;
        }

        & .work-levels__item-text {
            max-width: 400px;
        }
    }

    &__item-title {
        max-width: 500px;
        margin-bottom: 10px;
        color: #fff;

        & span {
            color: $c-primary;
        }
    }

    &__item-text {
        display: none;
        max-width: 100%;
        margin-bottom: 10px;
        color: #fff;
        & a {
            display: inline-block;
        }

        @media (min-width: 768px) {
            display: block;
        }

        @media (min-width: 992px) {
            max-width: 350px;
        }

        @media (min-width: 1200px) {
            max-width: 500px;
        }
    }

    &__item-list {
        display: none;

        & li {
            width: 42%;
        }

        @media (min-width: 768px) {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        @media (min-width: 992px) {
            display: block;
        }
    }

    &__item-list p {
        position: relative;
        padding-left: 20px;
        color: $c-third;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -3px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $c-third;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 583px;
        height: 323px;
        @media (min-width: 768px) {
            top: 135%;
            display: block;
        }

        @media (min-width: 992px) {
            top: 0;
            right: 0;
        }

        & li p {
            font-size: 14px;
            color: #fff;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            bottom: -44%;
            margin-left: -100%;
            width: 200%;
            height: 358px;
            background: url(../img/shadow2.png) no-repeat;
            background-size: cover;
            opacity: 0.45;
            overflow: hidden;
        }
    }

    &__image-text {
        width: fit-content;
        color: #fff;
    }

    &__image-1 {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 583px;
            height: 323px;
            background-image: url("../img/how/1.png");
            z-index: 1;
        }

        &-item1 {
            position: absolute;
            top: -13px;
            right: 81%;
            z-index: 10;
            color: $c-third;
        }

        &-item2 {
            position: absolute;
            top: -13px;
            right: 15%;
            color: $c-third;
        }

        &-item3 {
            position: absolute;
            top: 18%;
            right: 43%;
            z-index: 10;

            & p {
                font-size: 14px;
            }

            & ul {
                list-style: disc;
                color: #fff;
            }
        }

        &-item4 {
            position: absolute;
            z-index: 10;
            top: 66%;
            right: 26%;
            width: 160px;
            font-size: 14px;
        }
    }

    &__image-2 {

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 583px;
            height: 323px;
            background-image: url("../img/how/2.png");
            background-repeat: no-repeat;
            z-index: 1;
        }

        &-item1 {
            position: absolute;
            z-index: 10;
            top: 53%;
            left: 43%;
            font-size: 14px;
            color: #fff;
        }

        &-item2 {
            position: absolute;
            z-index: 10;
            top: 53%;
            left: 62%;
            font-size: 14px;
            color: #fff;
        }
    }

    &__image-3 {

        &::after {
            content: "";
            position: absolute;
            top: -3%;
            right: 12%;
            width: 900px;
            height: 400px;
            background-image: url("../img/how/3.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;

            @media (min-width: 768px) {
                right: 11%;
                width: 612px;
                height: 487px;
                background-image: url("../img/how/3_tab.png");
            }

            @media (min-width: 992px) {
                right: 12%;
                width: 900px;
                height: 400px;
                background-image: url("../img/how/3.png");
            }
        }

        &::before {
            bottom: -44%;
            @media (min-width: 768px) {
                bottom: -60%;
            }

            @media (min-width: 992px) {
                bottom: -44%;
            }
        }
    }

    &__image-4 {
        top: 135%;
        @media (min-width: 768px) {
            top: 94%;
        }

        @media (min-width: 992px) {
            top: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 10%;
            right: 12%;
            width: 577px;
            height: 291px;
            background-image: url("../img/how/4.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;

        }

        &-item1 {
            position: absolute;
            top: 40%;
            right: 52%;
            z-index: 10;

            & p {
                font-size: 14px;
            }

            & ul {
                list-style: disc;
                color: #fff;
            }
        }
    }

    &__image-5 {

         &::after {
             content: "";
             position: absolute;
             top: 10%;
             right: -20%;
             width: 577px;
             height: 291px;
             background-image: url("../img/how/5.png");
             background-size: contain;
             background-repeat: no-repeat;
             z-index: 1;
         }

         &-item1 {
             position: absolute;
             top: 10%;
             right: 2%;
             z-index: 10;
             max-width: 200px;
             color: $c-third;
             & p {
                 font-size: 14px;
                 color: #fff;
             }

             & p:first-of-type {
                 margin-bottom: 10px;
                 font-size: 18px;
             }
         }
     }

    &__image-6 {
        display: none;
        @media (min-width: 768px) {
            top: 3%;
            right: -20%;
            display: block;

        }
        @media (min-width: 992px) {
            top: 0;
            right: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 10%;
            right: -20%;
            width: 577px;
            height: 291px;
            background-image: url("../img/how/6.png");
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 1;
        }

        &-item1 {
            position: absolute;
            top: 10%;
            right: 2%;
            z-index: 10;
            max-width: 200px;
            color: $c-third;
            & p {
                font-size: 14px;
                color: #fff;
            }

            & p:first-of-type {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
    }
}