.service {
    position: relative;
    padding: 33px 0 120px;
    margin: 0 auto;
    background: #110936 right top;
    background-size: cover;
    overflow: hidden;
    @media (min-width: 768px) {
        padding: 33px 0 38px;
    }
    &::after {
        content: "";
        position: absolute;
        right: -20%;
        bottom: 0;
        z-index: 0;
        width: 1038px;
        height: 100%;
        background-size: cover !important;
        @media (min-width: 768px) {
            right: 0;
            display: block;
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.4);
        background-size: cover;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &--helper {
        flex-flow: column wrap;
        justify-content: center;
        @media (min-width: 768px) {
            flex-flow: row wrap;
        }
    }

    &__inner {
        z-index: 5;
    }

    &__how-list li {
        position: relative;
        padding-left: 25px;
        .icon-svg {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -7.5px;
            display: block;
            width: 15px;
            height: 15px;
            fill: $c-primary
        }
    }

    &__intro-content {
        margin-bottom: 20px;
        color: #fff;
        font-size: 18px;
    }

    &__intro-btn {
        font-size: 18px;
    }

    &__desc {
        padding: 50px 0 60px;
        background-color: $white;
    }

    &__desc-how-title {
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.75px
    }

    &__desc-price {
        max-width: 300px;
        font-weight: 700;
        color: $c-primary;
    }

    &__desc-char {
        max-width: 300px;
        margin-bottom: 15px;
        font-weight: 700;

        & span {
            color: $c-primary;
        }

        & small {
            font-weight: 400;
        }
    }

    &-media__slider {
        margin: 30px 0 90px 0;
        img {
            object-fit: cover;
        }
        .owl-dots {
            .owl-dot {
                span {
                    width: 6px;
                    height: 6px;
                    background: #bebebe;
                }

                &.active,
                &:hover {
                    span {
                        background: $c-primary;
                    }
                }
            }
        }
    }

    &-media__slider,
    &-media__slider iframe, &-media__slider img {
        height: 250px;
        width: 100%;
        @media (min-width: 450px) {
            height: 300px;
        }
        @media (min-width: $screen-md) {
            width: 400px;
            height: 250px;
        }
        @media (min-width: $screen-lg) {
            width: 600px;
            height: 375px;
        }
        @media (min-width: $screen-xl) {
            width: 715px;
            height: 450px;
        }
    }


    &__desc-video {
        max-width: 300px;
        margin-bottom: 25px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    &__desc-adv-item-title {
        font-weight: 400;
        font-size: 20px;
    }

    &__master-types {
        display: none;
    }

    &__desc-how-list li {
        position: relative;
        padding-left: 25px;


        .icon-svg {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -7.5px;
            display: block;
            width: 15px;
            height: 15px;
            fill: $c-primary
        }

        p {
            margin-bottom: 10px;
        }
    }

    &__desc-advantages-list li {
        padding: 0;
        .icon-svg {
            display: none;
        }

        & p {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            padding: 15px 20px 15px 60px;

            .icon-svg {
                position: absolute;
                top: 20px;
                left: 10px;
                display: block;
                width: 30px;
                height: 24px;
                fill: $c-primary;
            }
        }
    }

    &__num-list-tem {
        margin-bottom: 10px;
    }
}

.service__desc-inner {
    @media (min-width: 768px) {
        padding-right: 40px;
    }

    & p {
        max-width: 100%;
        margin-bottom: 45px;
        @media (min-width: 768px) {
            max-width: 80%;
        }
    }

    & ul {
        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
    }

    & li {
        position: relative;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.service__question {
    background-color: #110837;
    padding-top: 50px;
    padding-bottom: 80px;

    &-inner {
        margin-bottom: 40px;
    }
}

.service__question-tab {
    position: relative;
    border: 1px solid transparent;
    display: block;
    margin-bottom: 20px;
    overflow: visible;
    margin-right: 30px;
    border-right: 0;
    background: none;
    color: $white;

    &--active {
        border-color: $c-primary;
        color: $c-primary;

        &::after {
            content: "";
            position: absolute;
            right: -12px;
            top: 0;
            width: 13px;
            height: 100%;
            background: url("../img/arrow-border.jpg") no-repeat scroll 0 0;
            background-size: 100% 100%;
        }
    }
}

.service__question-answer {
    max-width: 300px;
    margin: 0 auto;
}

.service__question-answer-item {
    display: none;

    &--active {
        display: block;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 50px auto 0;
    }
}

.service__question-answer-content {
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    color: #fff;
}

.service__question-answer-sublist {
    padding: 0;
    list-style-type: none;
    margin: 20px 0 0;
}

.service__desc-advantages-list {
    justify-content: space-between;
    margin-left: 0;
}

p.service__desc-advantages-title {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.75px
}

.service__question-answer-subitem {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;

    p {
        font-size: 18px;
        line-height: 1.4;
        margin: 0;
        color: $white;
    }

    &::before {
        content: "—";
        color: $white;
        position: absolute;
        top: 3px;
        left: 0;
    }
}

@media (min-width: 768px) {
    .service__inner,
    .service__desc-inner,
    .service__desc-content,
    .service__desc-how-list,
    .service__desc-advantages-list,
    .service__question-inner,
    .service__question-answer,
    .service__desc-video,
    .service__catalog-slider {
        max-width: none;
    }

    .service__inner {
        margin: 0;
        z-index: 1;
    }

    .service__intro-btn {
        margin: 0;
    }

    .service__desc-title {
        margin: 0 0 24px;
    }

    .service__desc-video {
        margin: 0;
        height: 255px;
    }

    .service__question {
        padding-top: 25px;
    }

    .service__question-inner {
        margin: 0 0 40px;
    }

    .service__question-answer-item {
        img {
            margin: 50px 0 0;
        }
    }

}

@media (min-width: 992px) {
    .service {
        min-height: 400px;
        padding-bottom: 66px;

        &::after {
            width: 1296px;
            height: 100%;
            background-size: cover;
            right: 50%;
            margin-right: -648px;
        }
    }
    .service__title {
        margin-bottom: 40px;
        font-size: 48px;
        line-height: 1.4;
    }

    .service__intro-content {
        max-width: 320px;
        margin-bottom: 30px;
    }

    .service__desc-price,
    .service__desc-char {
        max-width: none;
    }

    .service__desc-video {
        height: 390px;
    }
}

@media (min-width: 1030px) {
    .service__master-types {
        position: relative;
        display: block;
        width: 455px;
        height: fit-content;
        padding: 3px 3px 3px 30px;
        background: linear-gradient(to right, #ed1e79 0%, #490939 100%);

        &::before {
            content: "";
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            height: 100%;
            width: 30px;
            background: url(../img/mask2.png) repeat-x 0 50%;
            background-size: cover;
        }
    }

    .service__master-types-list-wrap {
        background-color: #f5f5f5;
        padding: 24px 62px 24px 55px;
        position: relative;
        z-index: 1;
    }

    .service__master-types-list-title {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 1.4;
        text-transform: uppercase;
    }

    .service__master-types-item {
        margin-bottom: 10px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .service__master-types-item-num {
        position: absolute;
        left: -20px;
    }

    .service__master-types-item-link {
        color: $c-primary;
        transition: all 0.3s linear;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
            color: $c-third;
        }
    }
}