.service-advice {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: $white;
  font-family: $f-base;
}

.service-advice__inner {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.service-advice__title {
  margin: 0;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin-top: 20px;
}

.service-advice__text {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;

  &--bold {
    font-weight: 700;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1030px) {
  .service-advice {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}