.service-catalog {
    position: relative;
    z-index: 0;
    padding-top: 16px;
    padding-bottom: 36px;
    background-color: $white;

    &._black {
       background-color: #000;
        & .service-catalog__product-name {
            color: #fff;
        }
    }

    &__title {
        position: relative;
        max-width: 700px;
        margin: 0 auto 50px;
    }

    &__slider {
        position: relative;
        margin: 0 auto 70px;

        .owl-nav [class*=owl-] {
            width: 25px;
            height: 25px;
            transition: all 0.3s linear;
            border: 1.5px solid $c-primary;
            border-radius: 50%;
            margin: 0;

            svg {
                top: 50%;
                margin-top: -5px;
                left: 10px;
                margin-left: -5px;
                width: 10px;
                height: 10px;
                fill: $c-primary;
            }
        }
    }

    &__product {
        position: relative;
        display: flex;
        margin-bottom: 50px;
        flex-flow: column;
        justify-content: space-around;
        text-align: center;
        background-color: transparent;

        &--color {
            margin-bottom: 20px;
            color: #fff;
        }

        &:hover {
            img {
                opacity: .7;
                transition: opacity 0.4s linear;
            }
            & .service-catalog__product-name {
                color: $c-primary;
                transition: color .4s linear;
            }
        }
    }

    &__product-2 {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__product-inner {
        position: relative;
        bottom: 0;
        text-align: center;
    }

    &__product-img {
        position: relative;
        display: block;
        max-width: 150px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__product-name {
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: 400;
        letter-spacing: 0;
    }

    &__product-char {
        margin-bottom: 10px;
    }

    &__product-price {
        color: $c-primary;
    }

    &__btn {
        margin: 0 auto;
    }

    &__add {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 40px;
    }
    &__add-title {
        width: 100%;
        text-transform: uppercase;
    }

    &__add-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        @media (min-width: 992px) {
            width: 35%;
            &:nth-of-type(odd) {
                margin-right: 80px;
            }
        }
    }

    &__add-price {
        margin-left: 10px;
        color: $c-primary;
        @media (min-width: 992px) {
            margin-left: 20px;
        }
    }

    &--piramida {

        & .service-catalog__slider {
            padding-bottom: 30px;
            border-bottom: 1px #eee solid;
            margin-bottom: 30px;
        }

        & .service-catalog__text {
            text-align: center;
        }

        & .service-catalog__product {
            margin-bottom: 40px;
        }

        & .service-catalog__product-img  {
            position: relative;
            width: 174px;
            height: 150px;
            overflow: hidden;
        }

        & .service-catalog__product .service-catalog__product-img img {
            position: absolute;
            left: 50%;
            margin-left: -85px;
            width: 170px;
            height: 150px;
        }

        & .service-catalog__product:first-of-type .service-catalog__product-img img {
            bottom: -75px;
        }

        & .service-catalog__product:nth-of-type(2) .service-catalog__product-img img {
            bottom: -63px;
        }

        & .service-catalog__product:nth-of-type(3) .service-catalog__product-img img {
            bottom: -52px;
        }

        & .service-catalog__product:nth-of-type(4) .service-catalog__product-img img {
            bottom: -40px;
        }

        & .service-catalog__product:nth-of-type(5) .service-catalog__product-img img {
            bottom: -28px;
        }

        & .service-catalog__product:nth-of-type(6) .service-catalog__product-img img {
            bottom: -16px;
        }

        & .service-catalog__product:nth-of-type(7) .service-catalog__product-img img {
            bottom: 0;
        }
    }
}


@media (min-width: 768px) {
    .service-catalog__slider {
        .owl-nav [class*=owl-] {
            width: 42px;
            height: 42px;
            border: 3px solid $c-primary;
            margin: 0;

            svg {
                top: 50%;
                margin-top: -12px;
                left: 50%;
                margin-left: -9.5px;
                width: 15px;
                height: 24px;
                fill: $c-primary;
            }
        }
    }
}