.service-clients {
    font-family: $f-base;
    background-color: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 40px;

    &__clients {
        margin: 0 auto 20px;
        @media (min-width: 992px) {
            max-width: 50%;
        }
    }

    &__clients-title, &__reviews-title {
        margin-bottom: 20px;
    }

    &__clients-slider {
        padding: 30px 20px 30px;
        position: relative;
        background-color: $white;
        border-radius: 15px;
        @media (min-width: 992px) {
            height: 450px;
        }
        @media (min-width: 1200px) {
            height: 340px;
        }
    }

    &__clients-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 768px) {
            margin: 0 auto;
        }

        img {
            display: block;
            width: 120px !important;
            max-height: 100px;
            margin-right: 20px;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                width: 120px !important;
            }
        }
    }


    &__clients-slider-nav, &__reviews-slider-nav, &__need-slider-nav {
        position: absolute;
        display: flex;
        width: 70px;
        justify-content: center;
        left: auto;
        right: 0;
        top: -50px;

        [class*=owl-] {
            position: relative;
            font-size: 14px;
            padding: 0;
            background: none;
            display: inline-block;
            width: 25px;
            height: 25px;
            cursor: pointer;
            border: 1px solid $c-third;
            border-radius: 50%;
            transition: all .3s linear;
            outline: none;
            margin: 0;

            svg {
                position: absolute;
                top: 50%;
                margin-top: -5px;
                left: 10px;
                margin-left: -5px;
                width: 10px;
                height: 10px;
                fill: $c-third;
                transition: fill .3s linear;
            }

            &:hover {
                border-color: $c-primary;

                svg {
                    fill: $c-primary;
                }
            }
        }

        .owl-next {
            transform: rotate(180deg);
            svg {
                margin-top: -6px;
            }
        }

        .owl-prev {
            margin-right: 10px;
        }
        @media (min-width: 768px) {
            left: 120px;
            right: auto;
            width: 100px;
        }
        @media (min-width: 768px) {
            top: -50px;
            display: flex;
            justify-content: center;
            padding-right: 30px;

            [class*=owl-] {
                display: block;
            }
        }
    }

    &__clients-slider-nav {
        right: 0;
        @media (min-width: 768px) {
            left: 200px;
            right: auto;
        }
    }

    &__need-slider-nav {
        top: -55px;
        right: 0;
        @media (min-width: 768px) {
            left: 450px;
            right: auto;
        }
    }

    &__reviews {
        margin: 0 auto;
        @media (min-width: 992px) {
            max-width: 50%;
        }
    }

    &__reviews-list {
        @media (min-width: 768px) {
            max-height: none;
        }
    }

    &__reviews-content {
        margin: 0;
        padding-bottom: 30px;
        height: 200px;
        overflow: hidden;
        @media (min-width: 992px) {
            height: 350px;
        }
        @media (min-width: 1200px) {
            height: 240px;
        }
    }

    &__reviews-author {
        padding-top: 5px;
        border-top: 1.5px solid $c-primary;
        clear: both;
        float: right;
        font-weight: 400;
        font-size: 16px;
    }

    &__reviews-company {
        display: block;
        clear: both;
        text-align: right;
        font-size: 16px;
    }

    &__reviews-slider {
        position: relative;
        padding: 30px 30px 40px;
        background-color: $white;
        border-radius: 15px;
        @media (min-width: 992px) {
            height: 450px;
        }
        @media (min-width: 1200px) {
            height: 340px;
        }
    }

    &__reviews-link {
        display: none;
        width: 106px;
        padding: 12px 0;
        margin-top: 20px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: $c-primary;
        border: 2px solid $c-primary;
        border-radius: 4px;
    }

    &__link {
        display: block;
        width: 160px;
        margin: 20px auto 0;

        @media (min-width: 768px) {
            padding: 10px 30px;
        }

        @media (min-width: 992px) {
            margin-left: auto;
        }
    }
}