.service-delivery {
    font-family: $f-base;
    padding-top: 32px;
    margin-bottom: 78px;

    @media screen and (max-width: 767px) {
        max-width: 300px;
        margin: 0 auto;
    }
    
    &__price {
        color: #fff;
    }
    
    &__currency {
        color: #fff;
    }
}

.service-delivery__title {
    margin: 0 0 55px;
    color: $white;
    text-align: center;
}

.service-delivery__list {
    margin: 0;
    font-size: 16px;
    color: $white;
    

    @media screen and (max-width: 767px) {
        margin-bottom: 28px;
    }
}

.service-delivery__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 28px;

    &:last-child {
        margin-bottom: 0;
    }
}

.service-delivery__label {
    display: flex;
    width: 300px;
    input {
        margin-top: 5px;
        margin-right: 10px;
    }
    @media screen and (max-width: 992px) {
        
        width: 200px;
    }
}

.service-delivery__content {
    margin: 0;
    line-height: 20px;
    width: 80px;
}

.service-delivery__item-note {
    font-size: 14px;
    font-style: italic;
    color: $c-primary;
}