.eighteen-plus-message {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    display: flex;
    width: 100vw;
    height: 100vh;
    min-height: 630px;
    padding: 55px 36px;
    background-color: $background-secondary-color;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    @media(min-width: $screen-sm) {
        top: 15%;
        left: calc(50% - 242px);
        right: auto;
        bottom: auto;
        width: 485px;
        height: 307px;
        min-height: auto;
        padding: 51px 44px;
        justify-content: center;
    }
    @media(min-width: $screen-md) {
        left: calc(50% - 319px);
        width: 637px;
        height: 358px;
        padding: 80px 53px;
    }
    @media(min-width: $screen-lg) {
        left: calc(50% - 373px);
        width: 746px;
        height: 358px;
        padding: 80px 66px;
    }
    @media(min-width: $screen-xl) {
        left: calc(50% - 451px);
        width: 902px;
        height: 476px;
        padding: 140px 90px;
    }
    &__title {
        margin-top: 0;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 700;
        @media(min-width: $screen-lg) {
            font-size: 28px;
        }
    }
    &__text {
        font-size: 16px;
        width: 271px;
        @media(min-width: $screen-sm) {
            width: 236px;
        }
        @media(min-width: $screen-md) {
            width: 324px;
        }
        @media(min-width: $screen-xl) {
            width: 362px;
        }
    }
    &__close {
        margin: 15px 0 0;
        width: 230px;
        padding: 10px 30px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        @media(min-width: $screen-md) {
            margin: 25px 0 0;
        }
    }
    &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        height: 350px;
        object-fit: contain;
        @media(min-width: $screen-sm) {
            right: -20px;
            bottom: -10px;
            width: 165px;
            height: 240px;
        }
        @media(min-width: $screen-md) {
            right: -20px;
            bottom: -20px;
            width: 238px;
            height: 357px;
        }
        @media(min-width: $screen-lg) {
            right: 0;
            bottom: 0;
            width: 275px;
            height: 358px;
        }
        @media(min-width: $screen-xl) {
            right: 71px;
            width: 353px;
            height: 476px;
        }
    }
    & .icon-svg {
        position: absolute;
        right: 20px;
        bottom: 20px;
        width: 25px;
        height: 25px;
    }
}