.popup-back {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 20;
    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
        right: auto;
        width: 320px;
    }

    @media (min-width: $screen-lg) {
        width: 350px;
        padding: 40px 25px;
        bottom: auto;
        right: auto;
        top: 75px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 28px;
            width: 28px;
            bottom: calc(100% - 22px);
            left: calc(50% - 14px);
            background-color: #fff;
            transform: rotate(45deg);
        }
    }

    @media screen and (min-width: $screen-lg) {
        position: absolute;
    }

    @media screen and (min-width: $screen-lg) and (max-width: $screen-lg-max) {
        top: 50px;
        left: auto;
        right: 0;

        &::after {
            left: calc(80% - 14px);
        }
    }

    @media screen and (min-width: $screen-xl) {
        left: -100px;
    }

    &__inner {
        padding-top: 35px;
        max-width: 355px;

        @media screen and (min-width: $screen-lg) {
            padding-top: 0;
        }
    }

    &__close {
        position: absolute;
        top: 35px;
        right: 35px;
        width: 15px;
        height: 15px;
        border: none;
        background: none;

        .icon-svg {
            width: 15px;
            height: 15px;
            fill: $c-primary;
        }

        &:hover {
            .icon-svg {
                fill: $c-third;
            }
        }

        @media screen and (min-width: $screen-sm) {
            width: 20px;
            height: 20px;

            .icon-svg {
                width: 20px;
                height: 20px;
            }
        }

        @media screen and (min-width: $screen-lg) {
            display: none;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 400;
        text-transform: inherit;
        padding-right: 20px;
        margin-bottom: 30px;

        @media screen and (min-width: $screen-md) {
            margin-bottom: 25px;
            padding-right: 0;
        }
    }

    &__form {
        & .input__wrapper {
            margin-bottom: 15px;
        }
    }

    &__input {
        width: 100%;
    }

    &__submit {
        width: 100%;
    }

    &__input + &__submit {
        margin-top: 15px;
    }
}