.popup-how-work {
    font-family: $f-base;
    display: block;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -160px;
    background: $white;
    z-index: 10;
    width: 320px;
    height: auto;
    padding: 30px;   
}

.popup-how-work__title {
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    margin: 0;
    margin-bottom: 22px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.popup-how-work__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.popup-how-work__item {
    margin-bottom: 20px;
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &:nth-child(1) {
        img {
            width: 82px;
            height: 98px;
        }
    }
    &:nth-child(2) {
        img {
            height: 96px;
            width: 96px;
        }
    }
    &:nth-child(3) {
        img {
            height: 105px;
            width: 126px;
        }
    }
}

.popup-how-work__item-title {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

.popup-how-work__content {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.popup-how-work__question {
    border-top: 1px solid #e2e2e4;
    padding-top: 20px;
    text-align: center;
}

.popup-how-work__question-content {
    font-size: 20px;
    line-height: 1.2;
}

.popup-how-work__question-link {
    color: $c-primary;
    text-decoration: none;
    transition: color 0.3s linear;
    &:hover {
        color: $c-third;
    }
    &:active {
        opacity: 0.6;
    }
}

@media screen and (min-width: 768px) {
    .popup-how-work {
        width: 620px;
        padding: 52px 60px 40px;
        margin-left: -310px;
    }

    .popup-how-work__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            width: 120px;
            height: 120px;
            padding: 0;
            margin: 0 20px 0 0;
            box-sizing: border-box;
        }
    }
}