.barstreet-sale-body {
    font-family: "PT Sans", sans-serif;
    background: #0B071F;
}

.barstreet-sale-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 14;
    background: rgba(0,0,0,0.7);
    &._active {
        display: block;
    }
}

.barstreet-sale-popup-back {
    display: none;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    &._active {
        display: block;
    }
    @media (min-width: $screen-md) {
        width: 638px;
        height: auto;
        padding: 20px;
        top: 10%;
        left: calc(50% - 319px);
    }
    @media (min-width: $screen-xl) {
        width: 745px;
        padding: 50px;
        left: calc(50% - 375px);
    }
    input {
        width: 100%;
        margin: 20px 0;
        border-radius: 3px;
    }
    .popup-back__form {
        width: 100%;
        margin: 40px auto;
        text-align: center;
        &._collapse {
            display: none;
        }
        @media (min-width: $screen-sm) {
            width: 60%;
        }
    }
    .barstreet-sale__title {
        color: $black;
    }
    .barstreet-sale__button {
        position: static;
        margin-top: 0;
        margin-bottom: 30px;
    }
}

.barstreet-sale-popup-close {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    outline: none;
    svg {
        width: 15px;
        height: 15px;
    }
}

.barstreet-sale-popup-back__thanks {
    display: none;
    text-align: center;
    padding: 40px 0;
    p {
        font-size: 14px;
        @media (min-width: $screen-sm) {
            font-size: 16px;
        }
    }
    &._active {
        display: block;
    }
    .barstreet-sale__title {
        margin-bottom: 10px;
    }
}

.barstreet-sale__logo img {
    width: 85px;
    height: 20px;
    @media (min-width:$screen-sm) {
        width: 149px;
        height: 30px;
    }
    @media (min-width:$screen-lg) {
        width: 187px;
        height: 35px;
    }
    @media (min-width:$screen-xl) {
        width: 235px;
        height: 45px;
    }
}

h1.barstreet-sale__title {
    color: $white;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    @media (min-width: $screen-md) {
        font-size: 32px;
        line-height: 36px;
    }
    @media (min-width: $screen-lg) {
        font-size: 34px;
        line-height: 36px;
    }
    @media (min-width: $screen-xl) {
        font-size: 36px;
        line-height: 36px;
    }
}

h2.barstreet-sale__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $white;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    @media (min-width: $screen-md) {
        font-size: 28px;
        line-height: 36px;
    }
    @media (min-width: $screen-xl) {
        font-size: 30px;
        line-height: 36px;
    }
}

h3.barstreet-sale__title {
    margin: 0;
    color: $black;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
    @media (min-width: $screen-md) {
        font-size: 20px;
    }
    @media (min-width: $screen-xl) {
        font-size: 22px;
    }
}

._barstreet-sale__old-price {
    margin: 0 3px;
    color: #ADADAD;
    text-decoration: line-through;
}

.barstreet-sale__button {
    padding: 0 30px;
    margin-top: 30px;
    color: $white;
    background: #ED1E79;
    border-radius: 50px;
    font-size: 14px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover {
        background: $c-third
    }
    @media (min-width: $screen-sm) {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 16px;
    }
    @media (min-width: $screen-md) {
        bottom: 20px;
        right: 25px;
    }
    @media (min-width: $screen-lg) {
        bottom: 40px;
    }
    @media (min-width: $screen-xl) {
        font-size: 18px;
    }
}

.barstreet-sale {
    &__intro {
        padding-top: 13px;
        height: 340px;
        background: $black url('/img/barstreet-sale/intro-back-mobile.jpg') no-repeat;
        background-size: contain;
        background-position: bottom;
        &-title {
            padding-top: 20px;
            width: 257px;
            margin-bottom: 10px;
            @media (min-width: $screen-sm) {
                padding-top: 30px;
                width: 260px;
            }
            @media (min-width: $screen-md) {
                padding-top: 50px;
                margin-bottom: 20px;
                width: 326px;
            }
            @media (min-width: $screen-lg) {
                padding-top: 70px;
                width: 367px;
            }
            @media (min-width: $screen-xl) {
                padding-top: 100px;
            }
        }
        &-text {
            color: $white;
            font-size: 14px;
            line-height: 24px;
            @media (min-width: $screen-sm) {
                font-size: 16px;
                line-height: 24px;
            }
            @media (min-width: $screen-xl) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        @media (min-width: $screen-sm) {
            padding-top: 25px;
            height: 498px;
        }
        @media (min-width: $screen-md) {
            padding-top: 25px;
            height: 360px;
            background: url('/img/barstreet-sale/intro-back-768.png') no-repeat;
            background-position: 60% 40%;
            background-size: 200%;
        }
        @media (min-width: $screen-lg) {
            height: 400px;
            background: url('/img/barstreet-sale/intro-back-992.png') no-repeat;
            background-position: 70% 30%;
            background-size: 150%;
        }
        @media (min-width: $screen-xl) {
            padding-top: 60px;
            height: 550px;
            background-image: url('/img/barstreet-sale/intro-back.png');
        }
    }
    &__usecases {
        padding-top: 50px;
        padding-bottom: 60px;
        &-title, &-item {
            color: $white;
        }
        &-title {
            width: 243px;
            @media (min-width: $screen-sm) {
                width: 100%;
            }
        }
        &-list {
            list-style-type: none;
        }
        &-item {
            position: relative;
            padding-left: 20px;
            &:before {
                content: '';
                position: absolute;
                width: 4px;
                height: 4px;
                border-radius: 10px;
                background: $white;
                top: 10px;
                left: 0;
                @media (min-width: $screen-sm) {
                    top: 14px;
                }
                @media (min-width: $screen-xl) {
                    top: 16px;
                }
            }
            font-size: 14px;
            line-height: 24px;
            @media (min-width: $screen-sm) {
                font-size: 16px;
                line-height: 30px;
            }
            @media (min-width: $screen-xl) {
                font-size: 18px;
                line-height: 36px;
            }
        }
        @media (min-width: $screen-md) {
            padding-top: 70px;
            padding-bottom: 0;
        }
        @media (min-width: $screen-xl) {
            padding-top: 100px;
        }
    }
    &__offers {
        padding-top: 40px;
        padding-bottom: 40px;
        background: $white;
        h2.barstreet-sale__title {
            width: 90%;
            color: $black;
            @media (min-width: $screen-sm) {
                width: 50%;
            }
            @media (min-width: $screen-md) {
                width: 100%;
                color: $white;
            }
            @media (min-width: $screen-xl) {
                margin-bottom: 25px;
            }
        }
        &-btns {
            display: flex;
            justify-content: space-between;
            overflow: auto;
            border-bottom: 1px solid #E2E2E2;
            @media (min-width: $screen-md) {
                justify-content: normal;
                border-bottom: none;
            }
        }
        &-tab-title {
            margin: 0 10px 0 0;
            position: relative;
            outline: none;
            transition: color 0.3s ease;
            white-space: nowrap;
            font-size: 14px;
            line-height: 40px;
            cursor: pointer;
            &:hover, &._active {
                color: #ED1E79;
            }
            &._active {
                border-bottom: 1px solid #ED1E79;
                @media (min-width: $screen-md) {
                    z-index: 2;
                    border-bottom: none;
                }
            }
            @media (min-width: $screen-sm) {
                font-size: 16px;
            }
            @media (min-width: $screen-md) {
                padding: 10px 40px 18px 40px;
                background: $white;
                border-radius: 10px;
                font-size: 18px;
            }
        }
        &-tab {
            display: none;
            position: relative;
            z-index: 1;
            h3 {
                margin-top: 20px;
                &.barstreet-sale__table-title {
                    @media (min-width: $screen-md) {
                        border-bottom: 1px solid #E2E2E2;
                    }
                    @media (min-width: $screen-lg) {
                        border-bottom: none;
                    }
                }
                @media (min-width: $screen-xl) {
                    margin-top: 40px;
                }
                &.barstreet-sale__price-title {
                    margin-top: 0;
                }
            }
            .barstreet-sale__discount {
                margin-top: 20px;
                @media (min-width: $screen-xl) {
                    margin-top: 40px;
                }
            }
            &._active {
                display: block;
            }
            @media (min-width: $screen-sm) {
                &#offers_tab3 {
                    padding-bottom: 40px;
                }
            }
            @media (min-width: $screen-md) {
                padding: 0 30px 20px 30px;
                margin-top: -15px;
                margin-left: -1px;
                background: $white;
                border: 1px solid #0B071F;
                border-radius: 10px;
                &#offers_tab3 {
                    padding-bottom: 60px;
                }
            }
            @media (min-width: $screen-lg) {
                padding: 0 35px 40px 35px;
                &#offers_tab3 {
                    padding-bottom: 85px;
                }
            }
            @media (min-width: $screen-xl) {
                padding: 0 40px 40px 40px;
                &#offers_tab3 {
                    padding-bottom: 70px;
                }
            }
        }
        &-text {
            color: $black;
            font-size: 14px;
            line-height: 18px;
            @media (min-width: $screen-md) {
                width: 60%;
                font-size: 16px;
                line-height: 24px;
            }
            @media (min-width: $screen-xl) {
                font-size: 18px;
            }
        }
        table {
            width: 100%;
            border-collapse: collapse;
            display: none;
            &._open {
                display: block;
                border-top: 1px solid #E2E2E2;
            }
            @media (min-width: $screen-md) {
                display: block;
            }
        }
        .barstreet-sale__table-title-arrow  {
            margin-left: 10px;
            margin-bottom: 2px;
            transform: rotate(180deg);
            &._open {
                transform: rotate(0deg);
            }
            @media (min-width: $screen-md) {
                display: none;
            }
        }
        table thead {
            display: none;
            @media (min-width: $screen-lg) {
               display: table-header-group;
            }
        }
        table thead td {
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 0.15em;
            line-height: 20px;
            color: #ADADAD;
            text-transform: uppercase;
        }
        table td:first-child {
            padding: 10px 0;
            position: absolute;
            &:before {
                display: none;
            }
            @media (min-width: $screen-sm) {
                position: relative;
                padding: 10px 0;
                width: 60%;
                &:before {
                    display: block;
                }
            }
            @media (min-width: $screen-lg) {
                &:before {
                    display: none;
                }
            }
        }
        table td:nth-child(2), table td:nth-child(3) {
            padding: 35px 0 10px;
            white-space: nowrap;
            width: 50%;
            @media (min-width: $screen-sm) {
                padding: 10px 0;
                width: 20%;
            }
        }
        table td:last-child {
            padding: 35px 0 10px;
            white-space: nowrap;
            @media (min-width: $screen-sm) {
                padding: 10px 0;
            }
        }
        table tr {
            border-bottom: 1px solid #E2E2E2;
        }
        table tbody td {
            font-size: 14px;
            line-height: 18px;
            &:before {
                display: block;
                font-size: 8px;
                line-height: 10px;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #ADADAD;
                content: attr(data-th);
            }
            @media (min-width: $screen-sm) {
                font-size: 16px;
            }
            @media (min-width: $screen-md) {
                padding: 20px 0;
            }
            @media (min-width: $screen-lg) {
                &:before {
                    display: none;
                }
            }
            @media (min-width: $screen-xl) {
                font-size: 18px;
                line-height: 18px;
            }
        }
        @media (min-width: $screen-sm) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @media (min-width: $screen-md) {
            padding-top: 70px;
            padding-bottom: 0;
            background: none;
        }
        @media (min-width: $screen-xl) {
            padding-top: 100px;
        }
    }
    &__info {
        padding-top: 50px;
        &-img-caption {
            position: relative;
            height: 180px;
            padding: 8px 15px;
            cursor: pointer;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:after {
                content: '';
                position: absolute;
                top: 8px;
                left: 15px;
                right: 15px;
                bottom: 8px;
                background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0.375) 64.38%, rgba(0, 0, 0, 0) 100%);
                @media (min-width: $screen-lg) {
                    top: 8px;
                    bottom: 0;
                }
            }
            @media (min-width: $screen-lg) {
                height: auto;
            }
        }
        &-caption {
            position: absolute;
            z-index: 1;
            bottom: 20px;
            left: 30px;
            color: $white;
            @media (min-width: $screen-xl) {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &-two-pictures {
            display: flex;
            padding: 0;
            flex-direction: column;
            justify-content: space-between;
            .barstreet-sale__info-img-caption:after {
                left: 15px;
                right: 15px;
                @media (min-width: $screen-lg) {
                    top: 0;
                    bottom: 0;
                }
            }
            .barstreet-sale__info-caption {
                bottom: 20px;
                left: 30px;
            }
            @media (min-width: $screen-sm) {
                flex-direction: row;
            }
            @media (min-width: $screen-lg) {
                flex-direction: column;
                padding: 0 8px;
            }
        }
        @media (min-width: $screen-md) {
            padding-top: 70px;
        }
        @media (min-width: $screen-xl) {
            padding-top: 100px;
        }
    }
    &__how-order {
        padding: 50px 0;
        &-item {
            margin-bottom: 20px;
            display: flex;
            @media (min-width: $screen-md) {
                flex-direction: column;
            }
            @media (min-width: $screen-lg) {
               margin-bottom: 0;
            }
        }
        &-num {
            color: $white;
            font-weight: 700;
            margin-right: 20px;
            margin-top: 2px;
            @media (min-width: $screen-md) {
                margin-right: 0;
                margin-top: 0;
                font-size: 22px;
                line-height: 36px;
            }
        }
        &-text {
            color: $white;
            @media (min-width: $screen-md) {
                width: 80%;
                font-size: 16px;
                line-height: 24px;
            }
            @media (min-width: $screen-lg) {
                margin-top: 10px;
            }
            @media (min-width: $screen-xl) {
                font-size: 18px;
                line-height: 24px;
            }
        }
        @media (min-width: $screen-md) {
            padding: 70px 0;
        }
        @media (min-width: $screen-xl) {
            padding: 100px 0;
        }
    }
}

footer {
    padding: 50px 0;
    background: $black;
    color: $white;
    font-size: 14px;
    line-height: 24px;
    .row {
        justify-content: space-between;
    }
    .barstreet-sale__requisites-wrap {
        order: 3;
        @media (min-width: $screen-sm) {
            order: 1;
        }
    }
    .barstreet-sale__requisites {
        white-space: nowrap;
        @media (min-width: $screen-xl) {
            margin-top: 20px;
        }
    }
    .barstreet-sale__agree {
        margin: 20px 0;
        @media (min-width: $screen-sm) {
            margin-top: 20px;
            margin-bottom: 0;
            order: 2;
        }
        @media (min-width: $screen-xl) {
            margin-top: -20px;
        }
    }
    @media (min-width: $screen-md) {
        font-size: 16px;
        line-height: 24px;
    }
    @media (min-width: $screen-xl) {
        font-size: 18px;
        line-height: 24px;
    }
}