.clients {
    padding-bottom: 60px;

    h2 {
        display: none;
    }

    &__title {
        color: #ffffff;
        text-align: left;
        margin-bottom: 10px;
    }

    &__text {
        margin: 0 0 40px;
        text-align: left;
        font-size: 18px;
        color: #fff;
    }

    &__list {
        display: flex;
        margin-left: -25px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: $screen-md) {
            justify-content: space-between;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 75px;
        width: 100px;
        height: 100px;

        img {
            max-height: 100px;
            max-width: 100%;
            filter: invert(.5) sepia(1) hue-rotate(219deg) saturate(1.64) brightness(.66);
        }

        @media (min-width: $screen-sm) {
            width: 120px;
        }

        &:hover img {
            filter: none;
        }
    }
    &__more {
        display: none;
    }
}