.clients-slider {
    position: relative;
    margin-bottom: 30px;
    font-family: $f-base;
    & .clients-slider__inner {
        display: flex;
        align-items: center;
        height: 95px;
    }

    & .owl-stage {
        display: flex;
        align-items: center;
    }
}

.clients-slider__title {
    position: relative;
    margin: 0 auto 50px;

    a {
        color: #fff;
    }
}

.clients-slider__item {

    img {
        display: block;
        max-width: 130px;
        margin: 0 auto;
    }
}

.clients-slider__navigation {
    position: relative;

    .owl-next,
    .owl-prev {
        position: absolute;
        bottom: 30px;
        z-index: 2;
        width: 42px;
        height: 42px;
        cursor: pointer;
        outline: none;
        background: none;
        border: none;
        svg {
            width: 15px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -9.5px;
            fill: #706092;
            transition: fill 0.3s linear;
        }

        &:hover {
            border-color: $c-third;
            text-decoration: none;

            svg {
                fill: $c-primary;
            }
        }

        &:active {

            svg {
                fill: #47435d;
            }
        }
    }

    .owl-next {
        right: 0;
        transform: rotate(180deg);
    }

    .owl-prev {
        left: 0;
    }
}