.landing-additional {
    @media (max-width: $screen-sm-max) {
       position: relative;
    }
    @media (min-width: $screen-md) {
        min-height: 527px;
    }
    @media (min-width: $screen-lg) {
        min-height: 437px;
    }
    @media (min-width: $screen-xl) {
        min-height: 400px;
    }
    &__tabs-links {
        position: relative;
        width: 100%;
        margin-bottom: 27px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #636363;
        border-radius: 3px;
        overflow: auto;
        .landing-additional__tabs-link {
            height: 0;
            @media (min-width: $screen-md) {
                height: auto;
            }
            &._active {
                height: 40px;
                @media (min-width: $screen-md) {
                    height: auto;
                }
            }
        }
        svg {
            position: absolute;
            top: 15px;
            right: 10px;
            width: 10px;
            height: 10px;
        }
        &._active {
            svg {
                transform: rotate(180deg);
                fill: $f-link-hover;
            }
            .landing-additional__tabs-link {
                height: 40px;
                padding: 6px;
            }
            .landing-additional__tabs-link._active {
                border-bottom: 1px solid $b-input-secondary;
            }
        }
        @media (max-width: $screen-sm-max) {
            position: absolute;
            top: 40px;
            left: 15px;
            right: 15px;
            width: auto;
            background: $white;
        }
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            left: calc(50% - 255px);
            right: calc(50% - 270px);
        }
        @media (min-width: $screen-md) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: none;
            border-radius: 0;
            svg {
                display: none;
            }
        }
        @media (min-width: $screen-lg) {
            width: 80%;
            margin-bottom: 60px;
        }
    }
    &__tabs-link {
        cursor: pointer;
        top: 0;
        padding: 0;
        transition: height 0.1s ease;
        color: $f-primary;
        order: 2;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            color: $f-link-hover;
            svg {
                fill: $f-link-hover;
            }
        }
        &._active {
            padding: 6px;
            display: block;
            order: 1;
            position: static;
            width: 100%;
            text-align: left;
            color: $black;
            font-weight: 700;
            @media (min-width: $screen-md) {
                font-weight: 400;
            }
        }
        &:disabled {
            color: $f-link-disabled;
        }
        @media (min-width: $screen-md) {
            display: block;
            position: static;
            padding: 6px;
            order: 1;
            overflow: visible;
            transition: color .3s ease;
            color: $black;
            &:active, &._active {
                width: auto;
                height: auto;
                border-bottom: 1px solid $f-primary;
                color: $f-primary;
            }
        }
        @media (min-width: $screen-lg) {
            transition: none;
            color: $f-primary;
            &:active, &._active {
                background: #000000;
                color: #ffffff;
                border-bottom: none;
                border-radius: 20px;
            }
        }
        @media (min-width: $screen-md) {
            padding: 6px 6px 6px 0;
            &._active {
                padding: 6px 6px 6px 0;
            }
        }
        @media (min-width: $screen-lg) {
            padding: 8px 17px;
            &._active {
                padding: 8px 17px;
            }
        }
    }
    &__tabs-content {
        display: none;
        &._active {
            display: block;
            @media (min-width: $screen-md) {
                display: flex;
                flex-flow: row wrap;
            }
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 80px;
            min-height: 100px;
        }
        @media (min-width: $screen-md) {
            height: auto;
            span {
                width: 50%;
                padding-right: 10px;
            }
        }
        @media (min-width: $screen-md) {
            span {
                width: 45%;
            }
        }
        @media (min-width: $screen-lg) {
            span {
                width: 32%;
            }
        }
        @media (min-width: $screen-xl) {
            span {
                width: 25%;
            }
        }
    }
    &__item {
        padding-bottom: 15px;
        display: block;
        color: #000000;
    }
}