.landing-bars {
    &__slider-item {
        display: flex;
        flex-direction: column;
        @media (min-width: $screen-sm) {
            flex-direction: row;
            border: 1px solid $b-primary;
            border-radius: 10px;
        }
        & .landing-bars__slider-img  {
            min-height: 220px;
            @media (min-width: $screen-sm) {
                width: 40% !important;
                min-height: 248px;
            }
            @media (min-width: $screen-lg) {
                width: 50% !important;
                min-height: 320px;
            }
            @media (min-width: $screen-xl) {
                min-height: 382px;
            }
        }
    }
    &__slider-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__content {
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        height: 150px;
        @media (min-width: $screen-sm) {
            height: auto;
            width: 60%;
            padding-top: 0;
            padding-left: 50px;
            justify-content: center;
        }
        @media (min-width: $screen-lg) {
            width: 50%;
            padding-bottom: 30px;
        }
    }
    &__text {
        width: 90%;
        @media (min-width: $screen-lg) {
            width: 75%;
        }
    }
    &__slider.owl-theme .owl-dots {
        margin-top: 20px;
    }
    &__slider.owl-theme .owl-dots .owl-dot {
        width: 14px;
        height: 14px;
        &.active span, &:hover span {
            background: rgba(0, 0, 0, 1);
        }
    }
    &__slider.owl-theme .owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
        background: rgba(0, 0, 0, 0.4);
    }
    &__slider.owl-theme .owl-nav {
        top: -60px;
        @media (min-width: 1030px) {
            top: -190px;
        }
        @media (min-width: $screen-xl) {
            top: -235px;
        }
    }
    &__slider.owl-theme .owl-nav button.owl-prev {
        right: 20px;
        left: auto;
        border: none;
        text-align: right;
        @media (min-width: $screen-sm) {
            right: 30px;
        }
    }
    &__slider.owl-theme .owl-nav button.owl-next {
        right: -10px;
        left: auto;
        border: none;
        text-align: right;
    }
    &__slider.owl-theme .owl-nav button svg {
        fill: rgba(0, 0, 0, 1);
        &:hover {
            fill: $f-primary;
        }
        &:active, .active {
            fill: $f-link-active;
        }
    }
    .owl-theme .owl-nav [class*=owl-] svg {
        width: 10px;
        @media (min-width: $screen-lg) {
            width: 15px;
        }
    }
}