@import "common";

.landing-thanks {
    display: none;
    position: fixed;
    z-index: 11;
    padding: 0 65px;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    flex-direction: column;
    text-align: center;
    background: #ffffff;
    h2 {
        margin-top: 100px;
    }
    svg {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 15px;
        height: 15px;
    }
    &._active {
        display: flex;
    }
    @media (min-width: $screen-md) {
        width: 610px;
        height: 340px;
        top: 10%;
        left: calc(50% - 305px);
    }
}

.landing__callback {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
        position: absolute;
        top: 15px;
        right: 0;
        width: 15px;
        height: 15px;
        @media (min-width: $screen-sm) {
            top: 25px;
        }
    }
    &._active {
        display: block;
    }
    .landing__title {
        color: $black;
    }
    .landing-order__text {
        display: none;
    }
    &.landing-order .landing-back {
        background: $white;
        height: 100vh;
        width: 100vw;

        &:after {
            display: none;
        }
    }
    &.landing-order {
        position: fixed;
        height: 100%;
    }
    .landing-order__inner {
        height: 100%;
    }
    .landing-order__input {
        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
            width: 75%;
        }
    }
}























