.landing-clients {
    .owl-stage {
        display: flex;
        align-items: center;
    }
    img {
        height: auto;
        object-fit: contain;
    }
    &__slider.owl-theme .owl-nav button {
        top: -80px;
        @media (min-width: 1030px) {
            top: -145px;
        }
    }
    &__slider.owl-theme .owl-nav button.owl-prev {
        right: 20px;
        left: auto;
        border: none;
        text-align: right;
        @media (min-width: $screen-sm) {
            right: 30px;
        }
    }
    &__slider.owl-theme .owl-nav button.owl-next {
        right: -10px;
        left: auto;
        border: none;
        text-align: right;
    }
    &__slider.owl-theme .owl-nav button svg {
        fill: rgba(0, 0, 0, 1);
        &:hover {
            fill: $f-primary;
        }
        &:active, .active {
            fill: $f-link-active;
        }
    }
    .owl-theme .owl-nav [class*=owl-] svg {
        width: 10px;
        @media (min-width: $screen-lg) {
            width: 15px;
        }
    }
}