//colors
$f-primary: #ED1E79;
$f-link-hover: #C10A5B;
$f-link-active: #960545;
$f-link-disabled: #C8C8C8;
$f-header-link-active: #960544;
$f-header-link-disabled: #9B9B9B;
$f-button-disabled: #C3C3C3;

//borders
$b-primary: #E3E3E3;
$b-input-primary: #BCB7B7;
$b-input-secondary: #C7D1E4;
$b-socials: #C4C4C4;
$b-form-active: #787878;
$b-form-success: #2F2F2F;
$b-form-error: #C10A5B;

//backgrounds
$bg-primary: #FAFAFA;
$bg-socials: #240E36;
$bg-modal-menu: #1E0C2D;

.landing-body._no-scroll {
    overflow-y: hidden;
}

.landing-body {
    button, input {
        outline: none;
    }
}

.landing-body h1 {
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    @media (min-width: $screen-md) {
        font-size: 36px;
    }
    @media (min-width: $screen-xl) {
        font-size: 48px;
    }
}

.landing-body h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0;
    @media (min-width: $screen-lg) {
        font-size: 24px;
        line-height: 36px;
    }
}

.landing-body h3 {
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 107.5%;
    letter-spacing: 0;
    @media (min-width: $screen-lg) {
        font-size: 18px;
    }
}

.landing-body {
    p, a, li, span, button, label, input {
        font-family: "PT_Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        @media (min-width: $screen-xl) {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

.landing {
    margin-bottom: 60px;
    @media (min-width: $screen-md) {
        margin-bottom: 80px;
    }
    @media (min-width: $screen-xl) {
        margin-bottom: 130px;
    }
}
.landing-body {
    .jQueryErrors+.input {
        border: 1px solid $b-form-error;
    }
    .jQueryErrors {
        color: $b-form-error;
    }
}
.landing-body input {
    &::placeholder {
        font-family: "PT Sans", sans-serif;
        color: #5E5E5E;
    }
    &:focus {
        border: 1px solid $b-form-active;
    }
    &._success {
        border: 1px solid $b-form-success;
    }
}
.landing__button {
    display: block;
    position: relative;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: -20px;
        left: -17px;
        bottom: -20px;
        right: -17px;
        background: inherit;
        border-radius: 50px;
        z-index: -1;
        opacity: 0.4;
        -webkit-transform: scale3d(0.8, 0.5, 1);
        transform: scale3d(0.8, 0.5, 1);
    }
    &:hover {
        -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
        -webkit-animation: anim-moema-1 0.5s forwards .3s;
        animation: anim-moema-1 .3s forwards .3s;
    }
    &:hover::before {
        -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
        animation: anim-moema-2 0.3s 0.3s forwards;
    }
    @-webkit-keyframes anim-moema-1 {
        60% {
            -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
        }
        85% {
            -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @keyframes anim-moema-1 {
        60% {
            -webkit-transform: scale3d(0.8, 0.8, 1);
            transform: scale3d(0.8, 0.8, 1);
        }
        85% {
            -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @-webkit-keyframes anim-moema-2 {
        to {
            opacity: 0;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @keyframes anim-moema-2 {
        to {
            opacity: 0;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @media (min-width: $screen-sm) {
        margin: 10px;
    }
    &-white {
        display: none;
        transition: background 0.3s ease,
        color 0.3s ease;
        background: $white;
        color: $f-primary;
        @media (min-width: $screen-md) {
            display: block;
        }
        &:hover {
            color: $f-primary;
            background: $almost-black;
        }
        &:active {
            opacity: 1;
            color: $f-primary;
            background: $black;
        }
        &:disabled {
            color: $f-button-disabled;
            background: $f-header-link-disabled;
        }
    }
    &-pink {
        transition: background 0.3s ease;
        background: $f-primary;
        color: $white;
        &:hover {
            color: $white;
            background: #705E8F;
        }
        &:active {
            opacity: 1;
            color: $white;
            background: #705E8F;
        }
        &:disabled {
            color: $f-button-disabled;
            background: $f-header-link-disabled;
        }
    }
}

.landing__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
    @media (min-width: $screen-xl) {
        margin-bottom: 30px;
    }
}

.pink {
    color: $f-primary;
}

.landing-popup-close {
    cursor: pointer;
}

._darken {
    padding: 0;
    width: 100%;
    cursor: pointer;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        transition: background 0.3s ease;
        background: linear-gradient(180deg, #1E0C2D 10.6%, rgba(31, 12, 45, 0) 60.7%);
        transform: rotate(-180deg);
    }
}

.landing-overlay {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    &._active {
        display: block;
    }
}