.landing-contacts {
    &__info {
        display: flex;
        justify-content: space-between;
        color: $f-primary;
        flex-direction: column;
        @media (min-width: $screen-xl) {
            font-size: 18px;
        }
        div {
            @media (min-width: $screen-sm) {
                line-height: 60px;
                margin-top: 0;
                &:not(:first-child) {
                    margin-top: 0;
                }
            }
            @media (min-width: $screen-md) {
                margin-bottom: 20px;
                width: 200px;
                line-height: 20px;
                color: $black;
            }
        }
        div a {
            display: block;
            @media (max-width: $screen-sm-max) {
                margin-top: 20px;
            }
        }
        br {
            display: none;
        }
        @media (min-width: $screen-lg) {
            flex-direction: row;
        }
        a {
            &:hover {
                color: $f-link-hover;
            }
        }
    }
    .landing__title {
        margin-bottom: 0;
        @media (min-width: $screen-md) {
            margin-bottom: 20px;
        }
        @media (min-width: $screen-lg) {
            margin-bottom: 15px;
        }
    }
    &__socials {
        @media (max-width: $screen-sm-max) {
            > span, br {
                display: none;
            }
        }
        @media (min-width: $screen-lg) {
            padding-left: 7%;
        }
    }
    &__socials-content {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: $screen-xs-max) {
            justify-content: space-between;
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 40px;
        }
    }
    &__socials-content a {
        display: flex;
        align-items: center;
        color: #000;
        padding: 7px 15px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 7px;
        border: 1px solid $b-socials;
        border-radius: 20px;
        &:hover {
            transition: border-color 0.3s ease;
            border-color: #393939;
        }
        @media (max-width: $screen-sm-max) {
            margin-top: 0;
            padding: 0;
            border: none;
            color: $f-primary;
        }
    }
    &__socials-content a img {
        margin-right: 8px;
        @media (max-width: $screen-sm-max) {
            display: none;
        }
    }
}