.landing-cost {
    position: relative;
    background: $bg-primary;
    height: 630px;
    h2, label {
        color: $white;
    }
    @media (min-width: $screen-sm) {
        height: 415px;
    }
    @media (min-width: $screen-md) {
        height: 586px;
        h2, label {
            color: $black;
        }
    }
    @media (min-width: $screen-lg) {
        height: 540px;
    }
    @media (min-width: $screen-xl) {
        height: 687px;
    }
    .landing-back {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 630px;
        background: $bg-primary url('/img/landing/cost.jpg') no-repeat;
        background-size: cover;
        background-position: right;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
        }
        @media (min-width: $screen-sm) {
            height: 415px;
        }
        @media (min-width: $screen-md) {
            height: 586px;
            width: 50%;
            &:after {
                display: none;
            }
        }
        @media (min-width: $screen-lg) {
            height: 540px;
        }
        @media (min-width: $screen-xl) {
            height: 687px;
        }
    }
    &__selects, &__guests, &__hours {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__selects {
        margin-bottom: 15px;
        width: 100%;
        flex-direction: column;
        @media (min-width: $screen-sm) {
            margin-bottom: 25px;
            flex-direction: row;
        }
        @media (min-width: $screen-md){
            //width: auto;
        }
    }
    &__select {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid $b-input-primary;
        border-radius: 3px;
        background: $white;
        & .select2 {
            width: 100% !important;
        }
        & .select2-selection {
            outline: none;
            border: none;
        }
        & .select2-container .select2-selection--single {
            height: 40px;
        }
        & .select2-container--default .select2-selection--single .select2-selection__rendered {
            height: 40px;
            line-height: 40px;
        }
        & .select2-selection__arrow b {
            border-color: transparent !important;
            width: 15px !important;
            height: 15px !important;
            top: 15px !important;
            right: 5px;
            left: auto !important;
            background: url('/img/icons-svg/icon-arrow-down.svg') no-repeat;
        }
        & .select2-container--open b {
            top: 10px !important;
            transform: rotate(180deg);
        }
        & .select2-selection__placeholder {
            font-family: "PT Sans", sans-serif;
            color: #5E5E5E !important;
        }
        @media (min-width: $screen-sm) {
            width: 49%;
            margin-bottom: 0;
        }
        @media (min-width: $screen-md) {
            width: 48%;
        }
    }

    &__form {
        width: 100%;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        @media (min-width: $screen-sm) {
            flex-direction: row;
            align-items: normal;
        }
        @media (min-width: $screen-md) {
            width: 302px;
            flex-direction: column;
        }
        @media (min-width: $screen-lg) {
            width: 390px;
        }
    }
    &__input {
        margin-bottom: 12px;
        padding-left: 10px;
        height: 40px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid $b-input-primary;
        @media (max-width: $screen-sm-max) and (min-width: $screen-sm){
            width: 49%;
            &:first-child {
                margin-right: 2%;
            }
        }
    }
    &__guests input, &__hours input {
        margin-bottom: 0;
        padding-left: 0;
        width: 180px;
        text-align: center;
        &:before {
            content: '-';
            position: absolute;
            left: 0;
        }
        @media (min-width: $screen-sm) {
            margin-right: 10px;
        }
        @media (min-width: $screen-md) {
            width: 40%;
            margin-right: 0;
        }
        @media (min-width: $screen-lg) {
            width: 48%;
        }
    }
    input[type=number] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &__minus {
        width: 40px;
        height: 40px;
        padding: 12px 14px;
        display: flex;
        align-items: center;
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 20px;
        cursor: pointer;
        @media (min-width: $screen-md) {
            right: 26%;
            left: auto;
            top: auto;
        }
        @media (min-width: $screen-lg) {
            right: 38%;
        }
    }
    &__plus {
        width: 40px;
        height: 40px;
        padding: 12px 14px;
        display: flex;
        align-items: center;
        font-size: 18px;
        position: absolute;
        right: 0;
        top: 20px;
        cursor: pointer;
        @media (min-width: $screen-sm) {
            right: 10px;
        }
        @media (min-width: $screen-md) {
            top: auto;
            right: 0;
        }
    }
    &__guests, &__hours  {
        position: relative;
        margin-bottom: 12px;
        @media (max-width: $screen-sm-max) {
            margin-bottom: 20px;
            order: 1;
            flex-direction: column;
            label {
                width: 100%;
                text-align: left;
            }
        }
    }
    small {
        width: 170px;
        margin-top: 10px;
        @media (min-width: $screen-sm) {
            display: block;
            width: 133px;
            margin-top: 0;
        }
        @media (min-width: $screen-md) {
            width: 35%;
        }
    }
    .landing-order__btns {
        flex-direction: column;
        align-items: flex-start;
        @media (min-width: $screen-sm) {
            flex-direction: row;
            align-items: center;
        }
        @media (max-width: $screen-sm-max) {
            order: 3;
        }
    }
    .landing__button {
        padding: 12px 20px;
        @media (min-width: $screen-sm) {
            padding: 12px 16px;
        }
        @media (min-width: $screen-lg) {
            padding: 12px 20px;
        }
    }

}