.landing-desc {
    background: $white;
    &__inner {
        display: flex;
        flex-direction: column;
        transform: translate3d(0, 100px, 0);
        opacity: 0;
        transition: opacity 1s ease, transform 1s cubic-bezier(0.1, 0.6, 0.4, 1), -webkit-transform 1s cubic-bezier(0.1, 0.6, 0.4, 1);
        &._visible {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
        @media (min-width: $screen-md) {
            flex-direction: row;
        }
        &-title {
            margin: 0 0 20px 0;
            @media (min-width: $screen-md) {
                width: 50%;
            }
            @media (min-width: $screen-lg) {
                margin: -10px 0 0 0;
            }
        }
        &-text {
            @media (min-width: $screen-md) {
                width: 50%;
            }
        }
    }
}