.landing-feedbacks {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: $screen-md) {
            min-height: 270px;
        }
        @media (min-width: $screen-lg) {
            min-height: 250px;
        }
    }
    &__sub {
        margin-top: 20px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        img {
            width: auto;
            height: auto;
            object-fit: contain;
            border-radius: 50px;
            margin-right: 10px;
        }
    }
    .owl-carousel .owl-item img {
        width: auto;
    }
    &__slider.owl-theme .owl-dots .owl-dot {
        @media (min-width: $screen-sm) {
            margin-top: 20px;
        }
        &.active span, &:hover span {
            background: rgba(0, 0, 0, 1);
        }
    }
    &__slider.owl-theme .owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
        background: rgba(0, 0, 0, 0.4);
    }
    &__slider.owl-theme .owl-nav {
        top: -60px;
        @media (min-width: 1030px) {
            top: -190px;
        }
    }
    &__slider.owl-theme .owl-nav button.owl-prev {
        right: 20px;
        left: auto;
        border: none;
        text-align: right;
        @media (min-width: $screen-sm) {
            right: 30px;
        }
    }
    &__slider.owl-theme .owl-nav button.owl-next {
        right: -10px;
        left: auto;
        border: none;
        text-align: right;
    }
    &__slider.owl-theme .owl-nav button svg {
        fill: rgba(0, 0, 0, 1);
        &:hover {
            fill: $f-primary;
        }
        &:active, .active {
            fill: $f-link-active;
        }
    }
    .owl-theme .owl-nav [class*=owl-] svg {
        width: 10px;
        @media (min-width: $screen-lg) {
            width: 15px;
        }
    }
}
