.landing-footer {
    padding: 40px 0;
    background: $landing-footer-bg-color;
    @media (min-width: $screen-md) {
        padding: 10px 0 40px;
    }
    @media (min-width: $screen-xl) {
        padding: 20px 0 60px;
    }
    &__navigation {
        order: 1;
        padding: 0;
        max-width: none;
    }
    &__social {
        display: flex;
        align-items: center;
        @media (min-width: $screen-md) {
            padding: 0;
            justify-content: flex-end;
        }
        @media (min-width: $screen-lg) {
            justify-content: end;
        }
        &.main-footer__social {
            margin-top: 0;
            margin-bottom: 0;
            @media (min-width: $screen-md) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .payment {
        padding: 0;
        @media (max-width: $screen-xs-max) {
            justify-content: center;
        }
    }
    &__social-list {
        align-items: center;
    }
    &__social-item {
        padding: 8px;
        margin-right: 10px;
        width: 36px;
        height: 36px;
        background: $bg-socials;
        border-radius: 20px;
        svg {
            width: 20px;
            height: 20px;
        }
        &:hover svg {
            fill: $f-link-hover;
        }
        &:active svg {
            opacity: 1;
            fill: $f-link-active;
        }
        &:disabled svg {
            opacity: 1;
            fill: $f-header-link-disabled;
        }
    }
}

.landing-footer__nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
    height: 100%;
    padding: 0;
    background: none;
    @media (min-width: $screen-sm) {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    li, a {
        color: $white;
        text-align: left;
        max-width: 150px;
        @media (min-width: $screen-lg) {
            max-width: 160px;
        }
    }
}

.landing-copyright {
    margin-bottom: 0;
    margin-top: 30px;
    &__offer {
        margin-bottom: 20px;
    }
    &__item {
        margin-bottom: 0;
    }
    @media (min-width: $screen-md) {
        margin-top: 0;
    }
    @media (min-width: $screen-xl) {
        margin-top: 30px;
    }
}

.landing-development {
    display: flex;
    align-items: center;
    white-space: nowrap;
    &__title {
        color: $white;
    }
    &__link {
        padding-left: 3px;
        &:hover {
            color: $f-link-hover;
        }
    }
}