.landing-header {
    background: transparent;
    position: absolute;
    top: 0;
    height: 60px;
    padding-top: 15px;
    z-index: 10;
    @media (min-width: $screen-sm) {
        padding-top: 0;
        height: 90px;
    }
    a {
        font-size: 16px;
        @media (min-width: $screen-lg) {
            font-size: 18px;
        }
    }
    @media (min-width: $screen-lg) {
        padding-top: 20px;
    }
    .main-header__inner {
        align-items: center;
    }
}

.landing-header .logo {
    @media  (max-width: $screen-sm-max) {
        width: 40%;
    }
}

.landing-header .logo__link img {
    width: 150px;
    height: 49px;
    @media (min-width: $screen-md) {
        width: 162px;
        height: 51px;
    }
    @media (min-width: $screen-lg) {
        width: 235px;
        height: 73px;
    }
}

.landing-header .logo__link:hover {
    @media (min-width: $screen-lg) {
        &::before {
            display: none;
        }
        & img {
            opacity: 1;
            animation: none;
        }
    }
}

.menu-russian-img {
    margin-right: 5px;
}

.landing-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
    @media  (min-width: $screen-sm) {
        height: 100%;
        width: 100%;
    }
    @media  (min-width: $screen-md) {
        flex-grow: 2;
        margin: auto;
        order: 2;
    }
    @media  (min-width: $screen-lg) {
        margin-left: 30px;
    }
    &__phone-link, &__callback-link {
        display: block;
        position: absolute;
        bottom: 15px;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        padding: 0;
        margin-top: 20px;
        transition: color 0.3s ease;
        @media  (min-width: $screen-md) {
            display: none;
        }
    }
    &__callback-link {
        &:hover {
            color: $f-primary;
        }
    }
    &__phone-link {
        bottom: 55px;
        color: $f-primary;
        &:hover {
            color: $f-link-hover;
        }
    }
}

.landing-nav__wrap {
    width: 100vw;
    display: none;
    position: fixed;
    overscroll-behavior: none;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-modal-menu;
    padding: 15px;
    @media (min-width: $screen-md) {
        width: 95%;
        height: auto;
        display: flex;
        position: relative;
        background: transparent;
        padding: 0;
    }
    @media (min-width: $screen-lg) {
        width: 90%;
    }
}

.landing-nav__toggle {
    font-size: 16px;
    outline: none;
    border: none;
    background: none;
    color: $white;
    &:hover {
        color: $f-primary;
    }
    @media (min-width: $screen-md) {
        display: none;
    }
}

.landing-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0 0 40px 0;
    justify-content: space-between;


    @media (min-width: $screen-md) {
        position: relative;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        background: none;
    }
}

.landing-nav__item {
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
        margin-bottom: 0;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: color .4s linear;
        color: $white;

        &:hover {
            color: $c-primary;
        }

        &:active {
            opacity: 1;
            color: $f-header-link-active;
        }

        &:disabled {
            color: $f-header-link-disabled
        }

        @media (min-width: $screen-sm) {
            color: $white;
        }
    }
}

.landing-nav__close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background: none;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: $white;
    transition: color 0.3s ease;
    &:hover {
        color: $c-primary;
    }

    @media (min-width: $screen-md) {
        display: none;
    }
}
