.landing-how-works {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
    transition: opacity 1s ease, transform 1s cubic-bezier(0.1, 0.6, 0.4, 1), -webkit-transform 1s cubic-bezier(0.1, 0.6, 0.4, 1);
    &._visible {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    &__text {
        margin-top: 15px;
        width: 100%;
        @media (min-width: $screen-lg) {
            width: 80%;
        }
    }
    .landing-body & span {
        font-family: "Poppins", sans-serif;
        display: block;
        font-weight: 700;
        line-height: 107%;
    }
    .row div {
        margin-top: 20px;
        @media (min-width: $screen-sm) {
            margin-top: 0;
        }
    }
    .row div:last-child .landing-how-works__text {
        font-weight: 700;
    }
    .row div:nth-child(3), .row div:nth-child(4) {
        margin-top: 30px;
        @media (min-width: $screen-md) {
            margin-top: 0;
        }
    }
}