.landing-info {
    position: relative;
    height: auto;
    @media (min-width: $screen-md) {
        height: 416px;
    }
    @media (min-width: $screen-lg) {
        height: 520px;
    }
    @media (min-width: $screen-xl) {
        height: 638px;
    }
    .landing-back {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 192px;
        background: url('/img/landing/info-back.jpg') no-repeat;
        background-position: top;
        background-size: 100%;

        @media (min-width: $screen-sm) {
            height: 290px;
        }
        @media (min-width: $screen-md) {
            width: 50%;
            height: 416px;
            background-size: cover;
            background-position: right;
        }
        @media (min-width: $screen-lg) {
            height: 520px;
        }
        @media (min-width: $screen-xl) {
            height: 638px;
        }
    }
    .landing__title {
        margin-bottom: 40px;
        @media (min-width: $screen-sm) {
            width: 60%;
        }
        @media (min-width: $screen-md) {
            width: 100%;
        }
    }
    .landing-body &__item {
        margin-bottom: 20px;
        span {
            font-family: "Poppins", sans-serif;
            display: block;
            font-weight: 700;
            line-height: 107%;
            margin-bottom: 5px;
        }
        &:nth-child(2n) {
            padding-left: 10px;
        }
        @media (min-width: $screen-md) {
            margin-bottom: 20px;
        }
        @media (min-width: $screen-lg) {
            margin-bottom: 35px;
            width: 80%;
        }
    }
    &__inner {
        margin-left: auto;
        width: 100%;
        padding: 220px 0 55px 0;
        @media (min-width: $screen-sm) {
            padding: 330px 0 35px 0;
        }
        @media (min-width: $screen-md) {
            width: 50%;
            padding: 35px 0 35px 50px;
        }
        @media (min-width: $screen-lg) {
            padding: 60px 0 76px 60px;
        }
        @media (min-width: $screen-xl) {
            padding: 145px 0 145px 65px;
        }
    }
}