.landing-intro {
    background: $white;
    height: 330px;
    @media (min-width: $screen-sm) {
        height: 350px;
    }
    @media (min-width: $screen-lg) {
        height: 500px;
    }
    @media (min-width: $screen-xl) {
        height: 600px;
    }
    &__video {
        position: absolute;
        top: 0;
        height: 380px;
        width: 100%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        video {
            display: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @media (min-width: $screen-sm) {
            height: 400px;
            img {
                display: none;
            }
            video {
                display: block;
            }
        }
        @media (min-width: $screen-lg) {
            height: 500px;
        }
        @media (min-width: $screen-xl) {
            height: 600px;
        }
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 380px;
            background: rgba(0,0,0,.7);
            //background: linear-gradient(180deg, rgba(30, 12, 45, 0.89) 60%, rgba(31, 12, 45, 0) 140%);
            @media (min-width: $screen-md) {
                //background: linear-gradient(180deg, rgba(30, 12, 45, 0.89) 36.79%, rgba(31, 12, 45, 0) 95.03%);
            }
            @media (min-width: $screen-sm) {
                height: 400px;
            }
            @media (min-width: $screen-lg) {
                height: 500px;
            }
            @media (min-width: $screen-xl) {
                height: 600px;
            }
        }
    }
    &__inner {
        position: absolute;
        top: 70px;
        z-index: 1;
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: $screen-sm) {
            top: 100px;
            text-align: center;
            margin: auto;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
        }
        @media (min-width: $screen-md) {
            top: 100px;
        }
        @media (min-width: $screen-lg) {
            top: 130px;
        }
        @media (min-width: $screen-xl) {
            max-width: 70%;
            left: 15%;
        }
    }
    &__title {
        color: $white;
    }
    p.landing-intro__text {
        width: 100%;
        color: $white;
        @media (min-width: $screen-sm) {
            margin: auto;
            width: 70%;
        }
        @media (min-width: $screen-md) {
            width: 80%;
            font-size: 18px;
            line-height: 24px;
        }
        @media (min-width: $screen-lg) {
            width: 60%;
        }
        @media (min-width: $screen-xl) {
            width: 100%;
            font-size: 24px;
            line-height: 32px;
        }
        @media (min-width: 1450px) {
            width: 80%;
        }
    }
    &__btns {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        @media (min-width: $screen-lg) {
            margin-top: 30px;
        }
        .landing__button-pink {
            @media (max-width: $screen-xs-max) {
                margin-right: auto;
            }
        }
    }
}