.landing-order {
    position: relative;
    background: $bg-primary;
    height: 456px;
    h2, p, small {
        color: $white;
    }
    @media (min-width: $screen-sm) {
        height: 324px;
    }
    @media (min-width: $screen-md) {
        height: 500px;
        h2, p, small {
            color: $black;
        }
    }
    @media (min-width: $screen-lg) {
        height: 460px;
    }
    @media (min-width: $screen-xl) {
        height: 575px;
    }

    .landing-back {
        position: absolute;
        right: 0;
        width: 100%;
        top: 0;
        height: 456px;
        background: $bg-primary url('/img/landing/order.jpg') no-repeat;
        background-size: cover;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
        }
        @media (min-width: $screen-sm) {
            height: 340px;
        }
        @media (min-width: $screen-md) {
            width: 50%;
            height: 500px;
            &:after {
                display: none;
            }
        }
        @media (min-width: $screen-lg) {
            height: 460px;
        }
        @media (min-width: $screen-xl) {
            height: 575px;
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
        padding: 80px 0 70px 0;
        width: 100%;
        @media (min-width: $screen-sm) {
            padding: 61px 0 64px 0;
        }
        @media (min-width: $screen-md) {
            padding: 104px 65px 104px 0;
            width: 52%;
        }
        @media (min-width: $screen-lg) {
            padding: 76px 65px 76px 0;
        }
        @media (min-width: $screen-xl) {
            padding: 145px 65px 145px 0;
        }
        .landing__title {
            margin-bottom: 10px;
        }
    }
    &__form {
        margin-top: 25px;
        width: 100%;
        @media (min-width: $screen-md) {
            width: 270px;
            display: flex;
            flex-direction: column;
        }
    }
    &__input {
        margin-bottom: 17px;
        padding-left: 10px;
        height: 40px;
        width: 100%;
        border-radius: 3px;
        border: 1px solid $b-input-primary;
        &:first-child {
            margin-right: 2%;
        }
        @media (max-width: $screen-sm-max) and (min-width: $screen-sm){
            width: 48%;
        }
        @media (min-width: $screen-md) {
            &:first-child {
                margin-right: 0;
            }
        }
    }
    &__text {
        @media (min-width: $screen-sm) {
            width: 85%;
        }
        @media (min-width: $screen-md) {
            width: 100%;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media (min-width: $screen-md) {
            justify-content: space-between;
        }
        small {
            padding-left: 10px;
            width: 60%;
            color: #CECECE;
            @media (min-width: $screen-sm) {
                width: 133px;
            }
            @media (min-width: $screen-md) {
                padding-left: 0;
                width: 45%;
                color: $black;
            }
        }
        button {
            margin: 0;
            padding: 10px 20px;
            min-width: 130px;
        }
    }
    &__img {
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
}