.landing-photos {
    & .row {
        margin: 0;
    }
    &__caption {
        margin: 0 10px;
        padding-bottom: 5px;
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #ffffff;
        z-index: 1;
        text-align: left;
        @media (min-width: $screen-md) {
            bottom: 10px;
        }
        @media (min-width: $screen-lg) {
            bottom: 20px;
        }
    }
    &__item {
        padding: 0;
        height: 220px;
        &:hover {
            .landing-photos__caption {
                border-bottom: 4px solid #ffffff;
                transition: border-bottom 0.3s ease;
            }
        }
        &._map {
            .landing-photos__caption {
                color: $f-primary;
            }
            &:hover {
                .landing-photos__caption {
                    border-bottom: 4px solid $f-primary;
                }
            }
        }
        @media (min-width: $screen-lg) {
            height: 268px;
        }
        @media (min-width: $screen-xl) {
            height: 350px;
        }
    }
    &__img {
        height: 220px;
        width: 100%;
        object-fit: cover;
        @media (min-width: $screen-lg) {
            height: 268px;
        }
        @media (min-width: $screen-xl) {
            height: 350px;
        }
    }
    &-popup {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100%;
        margin: auto;
        height: 100%;
        left: 0;
        right: auto;
        bottom: auto;
        padding: 40px 10px;
        align-items: center;
        flex-direction: column;
        svg {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 25px;
            height: 25px;
            fill: $white;
        }
        & .photomap {
            width: 100% !important;
            height: 100% !important;
        }
        & .photomap__map {
            height: 100% !important;
        }
        .owl-carousel .owl-item img {
            width: 100%;
            max-height: calc(100vh - 100px);
            object-fit: cover;
            object-position: top;
        }
        .owl-theme .owl-nav [class*=owl-] {
            border: none;
        }
        .owl-theme .owl-nav {
            position: static;
        }
        .owl-theme .owl-nav button.owl-next, .owl-theme .owl-nav button.owl-prev {
            padding: 12px;
            top: calc(50% - 22px);
            z-index: 10;
            width: 45px;
            height: 45px;
            svg {
                fill: $white;
            }
        }
        .owl-theme .owl-nav button.owl-prev {
            left: 0;
            background: rgba(0,0,0,.5);
            @media (min-width: $screen-sm) {
                left: -40px;
                background: none;
            }
        }
        .owl-theme .owl-nav button.owl-next {
            right: 0;
            background: rgba(0,0,0,.5);
            transform: rotate(180deg);
            @media (min-width: $screen-sm) {
                right: -40px;
                background: none;
            }
        }
        &._active {
            display: flex;
            justify-content: center;
        }
        &__inner {
            margin-bottom: 20px;
            margin-right: auto;
            .landing__title {
                color: $white;
                margin-bottom: 20px;
            }
        }
        &__sliders-wrap {
            width: 100%;
        }
        &__slider {
            width: 100%;
            &-item {
                outline: none;
                img {
                    height: auto;
                    margin: auto;
                    object-fit: cover;
                }
            }
        }
        @media (min-width: $screen-sm) {
            width: calc(100% - 20px);
            height: 100%;
            top: 0;
            left: 10px;
            right: auto;
            bottom: auto;
            padding: 50px 20px;
            svg {
                top: 20px;
            }
        }
        @media (min-width: $screen-md) {
            width: 750px;
            left: calc(50% - 375px);
            padding: 40px;
            svg {
                top: 20px;
                right: 20px;
            }
            &__inner {
                margin-bottom: 0;
            }
        }
        @media (min-width: $screen-lg) {
            width: 900px;
            left: calc(50% - 450px);
            padding: 60px;
            svg {
                right: 40px;
            }
        }
        @media (min-width: $screen-xl) {
            width: 1100px;
            left: calc(50% - 550px);
            padding: 80px;
            svg {
                right: 50px;
            }
        }
        @media (min-width: 1400px) {
            width: 1300px;
            left: calc(50% - 650px);
        }
        &._map-open {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 0;
            svg {
                z-index: 1;
                top: 20px;
                right: 20px;
            }
            .photomap__layout-toggle svg {
                top: 5px;
                right: 10px;
            }
        }
    }
    .photomap__layout-base-title {
        font-family: "PT Sans", sans-serif;
        font-size: 26px;
    }
    .photomap__layout-item-title, .photomap__layout-item-link {
        font-size: 14px;
    }
    .mapboxgl-popup-content h3 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
    }
}