.landing-questions {
    position: relative;
    background: $bg-primary;
    height: 421px;
    h2 {
        color: $white;
    }
    @media (min-width: $screen-sm) {
        height: 280px;
    }
    @media (min-width: $screen-md) {
        height: 422px;
        h2 {
            color: $black;
        }
    }
    @media (min-width: $screen-lg) {
        height: 400px;
    }
    @media (min-width: $screen-xl) {
        height: 529px;
    }
    .landing-order__form {
        margin-top: 20px;
    }
    .landing-back {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 421px;
        background: $bg-primary url('/img/landing/questions-back.jpg') no-repeat;
        background-position: 0;
        background-size: cover;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.7);
        }
        @media (min-width: $screen-sm) {
            height: 280px;
        }
        @media (min-width: $screen-md) {
            width: 50%;
            height: 422px;
            background-position: left;
            &:after {
                display: none;
            }
        }
        @media (min-width: $screen-lg) {
            height: 400px;
        }
        @media (min-width: $screen-xl) {
            height: 529px;
        }
    }
}