{% macro catalog_item_horizontal (params) %}

    <article class="catalog-item _horizontal col-6">
        <div class="catalog-item__img">
            <img class="lazyload" id="{{ params.imgId }}" src="{{ params.img }}" alt="">
            {% if params.alco %}
                <div class="catalog-item__alco">
                    <svg class="icon-svg">
                        <use xlink:href="#icon-alco"></use>
                    </svg>
                    <span class="catalog-item__alco-content">{{ params.alco }}</span>
                </div>
            {% endif %}
        </div>
        <div class="catalog-item__inner">
            <h5 class="catalog-item__name">{{ params.title }}</h5>
            <p class="catalog-item__price">{{ params.price }} <span>руб.</span></p>
            {% if params.order %}
                <button class="catalog-item__order" data-id="{{ params.id }}">Заказать</button>
            {% endif %}
            <dl class="catalog-item__details"></dl>
            {% if params.desc|length > 1 %}
                {% for item in params.desc %}
                    <dt class="catalog-item__details-title">{{ item.title }}</dt>
                    <dd class="catalog-item__details-item">
                        {% for detail in item.desc %}
                            <p class="catalog-item__details-description">{{ detail.title }}</p>
                        {% endfor %}
                    </dd>
                {% endfor %}
            {% else %}
                <dd class="catalog-item__details-item">
                    <p class="catalog-item__details-title">{{ params.desc.title }}
                        <span class="catalog-item__details-description">{{ params.desc.desc }}</span>
                    </p>
                </dd>
            {% endif %}
            </dl>
        </div>
    </article>

{% endmacro %}