{% macro order_window (params) %}

<div class="order-window {{ params.mod }}">
    <h3 class="order-window__title">{{params.title}}</h3>
    <a href="{{ params.link }}" class="button button--pink">Оформить заявку</a>
</div>

{% endmacro %}