{% macro photocard (params) %}
    <article class="photocard col-12 col-sm-6 col-md-3 {{ params.mod }}">
        <div class="container">
            <div class="row">
                <a href="{{ params.link }}">
                    <div class="photocard__img">
                        <picture>
                            <source srcset="{{ params.img }}" type="image/webp">
                            <img class="lazyload" src="{{ params.img }}" alt="{{ params.alt }}">
                        </picture>
                    </div>
                </a>
                <div class="photocard__inner">
                    <time datetime="{{ params.dateDigits }}" class="photocard__date">{{ params.dateText }}</time>
                    <a class="link" href="/photoalbum-card.html"><h3 class="photocard__title">{{ params.title }}</h3></a>
                    <a class="photocard__link" href="{{ params.link }}">Фотоотчёт</a>
                </div>
            </div>
        </div>
    </article>

{% endmacro %}