.breadcrumbs {
    margin-bottom: 24px;
}

.breadcrumbs__item {
    display: inline;
    font-size: 14px;
    color: $c-third;

    &:first-of-type .breadcrumbs__link {
        margin-left: 0;
    }

    &:not(:last-child)::after {
        content: "/";
    }
}

.breadcrumbs__link {
    margin: 0 10px 0 5px;
    color: inherit;
    transition: all 0.4s ease;

    &--active {
        color: $c-primary;
    }

    &:hover {
        color: $c-primary;
    }
}