.button {
    display: block;
    border: none;
    outline: none;
    color: $white;
    background: none;
    width: auto;
    border-radius: 4px;
    padding: 10px 30px;
    letter-spacing: 1.2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s linear;
    @media (min-width: 768px) {
        padding: 15px 45px;
        font-size: 14px;
    }
    &:hover {
        background-color: $c-third;
    }
    &:active {
        opacity: 0.6;
    }
    &:disabled, &._disabled {
        background: #E9E9E9;
        color: #949494;
        cursor: default;
        &:hover {
            background: #E9E9E9;
            color: #949494;
        }
    }

    &--pink {
        background-color: $c-primary;
        &:hover {
            color: #fff;
        }
        &:active {
            opacity: 0.6;
        }
    }

    &--border {
        width: auto;
        border: 3px solid $c-primary;
        color: $c-primary;
        &:hover {
            border-color: $c-third;
            background-color: transparent;
            color: $c-third;
        }
    }

    &--purple {
        width: auto;
        border: 1px solid $c-third;
        color: $c-third;
        &:hover {
            border-color: $c-primary;
            background-color: transparent;
            color: $c-primary;
        }
        &:active {
            opacity: 0.6;
        }
    }

    &--form {
        height: 59px;
        font-size: 20px;
    }
}

.up-btn {
    position: fixed;
    z-index: 100;
    bottom: 100px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
    visibility: visible;
    opacity: 1;

    @media screen and (min-width: $screen-lg) {
        //bottom: 50px;
        right: 50px;
    }

    .icon-svg {
        width: 50px;
        height: 50px;
        fill: $c-primary;

        opacity: 0.7;
    }

    &:hover {
        .icon-svg {
            opacity: 1;
        }
    }

    &:active {
        outline: none;
    }

    &._hidden {
        visibility: hidden;
        opacity: 0;
    }
}