.input {
    display: block;
    height: 48px;
    padding: 10px 21px;
    margin-top: 10px;
    border: 1px solid $c-secondary;
    font-size: 16px;
    line-height: 28px;
    background: #fff;
    border-radius: 2px;
    outline: none;
    transition: border-color 0.4s ease;
    &::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: $c-secondary;
    }
    &:focus {
        border-color: $c-third;
    }
}

textarea {
    border: 1px solid $c-secondary;
    font-size: 20px;
    line-height: 28px;
    background: #fff;
    border-radius: 2px;
    outline: none;
    transition: border-color 0.4s ease;
    &::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: $c-secondary;
    }
}

.jQueryErrors + .input {
    border: 1px solid red;
}