.link {
    display: block;
    font-size: $f-base-size;
    color: $c-primary;
    transition: color, opacity 0.4s ease;
    &:hover {
        color: $c-third;
    }
    &:active {
        opacity: 0.5;
    }
}

.link-second {
    color: #000;
    text-decoration: none;
    transition: color, opacity 0.4s ease;
    &:hover {
        color: $c-third;
    }
    &:active {
        opacity: 0.5;
    }
}

.link-download {
    display: flex;
    margin-top: 20px;
    align-items: center;
    .icon-svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: $c-primary;
        transition: fill .4s linear;
    }
    &:hover .icon-svg {
        fill: $c-third;
    }
}