.logo {
    position: relative;
    width: 80%;
    height: 50px;
    font-size: 0;

    @media screen and (min-width: $screen-md) {
        width: auto;
    }

    @media screen and (min-width: $screen-lg) {
        order: 1;
        height: auto;
        align-self: stretch;
    }

    &__text {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $c-primary;
        @media (min-width: $screen-lg) {
            font-size: 24px;
        }
    }

}

.main-title {
    position: absolute;
    left: 43px;
    top: 48%;
    width: 90px;
    margin: 5px 0 8px;
    color: $c-third;
    font-size: 12px;
    @media (min-width: $screen-sm) {
        width: 170px;
    }
    @media (min-width: $screen-lg) {
        top: 55%;
        left: 73px;
    }
}

.logo__link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    outline: none;

    img {
        width: 50px;
        height: 50px;
        margin-left: -7px;
    }

    &:hover {
        & img {
            @media (min-width: $screen-lg) {
                opacity: 0;
                animation: test2 1.5s linear;
                animation-fill-mode: both;
            }
        }

        &::before {
            @media (min-width: $screen-lg) {
                content: '';
                position: absolute;
                top: 2px;
                left: -22px;
                width: 90px;
                height: 80px;
                background-image: url("../img/logo-15s.png");
                background-position: left top;
                background-size: cover;
                animation: test 1.5s linear;
                animation-fill-mode: both;
            }
        }
    }

    @media screen and (min-width: $screen-lg) {
        height: 100%;
        align-self: stretch;
        img {
            width: 80px;
            height: 80px;
        }
    }
}