.stripe {
    position: relative;
    display: block;
    width: fit-content;
    padding: 16px 20px;
    margin: 0 auto;
    line-height: 1;
    text-align: center;
    text-decoration: none;

    color: #fff;
    background-color: #651250;
    transition: color .5s;

    &::before, &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 9px;
        left: -55px;
        display: none;
        width: 75px;
        height: 64px;
        background: url(../img/stripes1.svg) no-repeat 0 0;
    }

    &::after {
        right: -55px;
        left: auto;
        background-position: -75px 0;
    }

    @media (min-width: 768px) {
       &::before, &::after {
           display: block;
       }
    }
}