.text {
  font-size: 16px;
  line-height: 1.4;
  &--white {
    color: #fff;
  }
}

.help-text {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
  color: $c-primary;
}