.title {
  margin-bottom: 15px;
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #fff;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 26px;
  }
}

.sub-title {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  &--center {
    margin: 0 auto 30px;
    text-align: center;
  }
  @media (min-width: 768px) {
    font-size: 28px;
  }
}