.another {
  padding: 20px 0;
  border-radius: 4px;
  margin: 0 auto 45px;
  font-family: $f-base;
  background-color: $white;
}

.another__title {
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 39px;
  text-transform: uppercase;
  text-align: center;
}

.another__toggles {
  margin-bottom: 30px;
}

.another__toggles-list {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.another__toggles-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.another__toggle {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 700;
  transition: color 0.5s linear;
  color: #000000;


  &:hover {
    color: $c-primary;
    text-decoration: none;
  }

  &--active {
    color: $c-primary;
    cursor: default;
  }
}

.another__tab-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &--active {
    display: flex;
    flex-wrap: wrap;
  }
}

.another__tab-item {
  margin-bottom: 20px;
  padding: 0;
}

@media screen and (min-width: 576px) {
  .another__toggles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .another__toggles-item {
    width: 40%;
  }

  .another__tab-list {
    justify-content: space-between;
  }

  .another__tab-item {
    max-width: 40%;
  }
}

@media (min-width: 768px) {
  .another__toggles-item {
    width: 27%;
  }

  .another__tab-item {
    max-width: 27%;
  }
}

@media (min-width: 992px) {
  .another {
    max-width: 960px;
  }

  .another__toggles-list, .another__tab-list {
    justify-content: flex-start;
  }

  .another__toggles-item {
    text-align: left;
    width: 25%;
  }

  .another__toggle {
    white-space: nowrap;
  }

  .another__tab-item {
    max-width: 25%;
  }

}

@media screen and (min-width: 1200px) {
  .another {
    max-width: 1140px;
  }

  .another__toggles-list {
    justify-content: space-between;
  }

  .another__toggles-item, .another__tab-item {
    width: 16%;
  }

  .another__tab-list {
    justify-content: space-between;
  }

  .another__tab-item {
    max-width: 16%;
  }
}