.article__container {
    padding-bottom: 40px;
    background-color: $c-bg-secondary;
}

.article__body {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto 20px;
    padding: 20px 20px 40px 10px;
    background-color: #fff;
    & img {
        display: block;
        height: auto !important;
        margin-bottom: 20px !important;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    & p {
        width: 100%;
        margin-bottom: 10px !important;
        text-align: left;
    }
    & h2 {
        width: 100%;
        margin-bottom: 10px;
        & span  {
            font-size: 20px !important;
        }
    }
    & li {
        position: relative;
        padding-left: 20px;
        list-style-type: none !important;
        white-space: normal !important;
    }
    & li::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #000;
    }
    & a span, a {
        color: $c-primary;
        transition: all 0.4s ease;
        &:hover {
            color: $c-third;
        }
        &:active {
            opacity: 0.5;
        }
    }
    @media (min-width: 768px) {
        padding: 40px 50px 60px 20px;
    }
    @media (min-width: 992px) {
        width: 950px;
    }
}

.article__text {
    margin-top: 0;
    margin-bottom: 20px;
}

.article__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.article__img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.article__form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 0 auto 40px;
    padding: 20px 20px 40px 10px;
    background-color: #fff;
    @media (min-width: 500px) {
        flex-flow: row wrap;
        padding: 40px 50px 60px 20px;
    }
    @media (min-width: 992px) {
        width: 950px;
        padding: 40px 150px 60px 120px;
    }

    & .input__wrapper {
        width: 100%;
        margin-bottom: 15px;
        @media (min-width: 576px) {
            width: 30%;
            margin-bottom: 0;
            margin-right: 20px;
        }

        & .input {
            width: 100%;
        }
    }
}

.article__form-title {
    width: 100%;
    margin-bottom: 15px;
    font-size: 26px;
    text-align: center;
}

.article__form-input {
    width: 100%;
    &:last-of-type {
        margin-right: 0;
    }
    @media (min-width: 576px) {
        width: calc(30% - 15px);
        margin-right: 15px;
    }
}

.article__form-btn {
    width: 100%;
    margin-top: 20px;
    @media (min-width: 576px) {
        max-width: 30%;
    }
}

.article__other {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    &__text {
        width: 100%;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
    }
    &-item {
        width: 48%;
    }
    @media (min-width: 992px) {
        width: 950px;
    }
}