.articles .pagination {
    background-color: $c-bg-secondary;
}
.articles__list {
    padding: 30px 0;
    background-color: $c-bg-secondary;
    @media (min-width: 992px) {
        padding: 60px 0;
    }
    & .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.articles__item {
    background-color: #fff;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    @media (min-width: 560px) {
        width: 32%;
    }
    @media (min-width: 768px) {
        height: 300px;
    }
    @media (min-width: 992px) {
        height: 440px;
    }
    &--big {
        width: 100%;
        height: 250px;
        margin-right: 0;
        @media (min-width: 768px) {
            height: 450px;
        }
        @media (min-width: 992px) {
            height: 535px;
        }
    }
}

.articles__sub-title {
    width: 90%;
    max-width: 430px;
    min-height: 140px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 700;
    @media (min-width: 768px) {
        font-size: 22px;
    }
    @media (min-width: 992px) {
        min-height: 100px;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 26px;
    }
}

.articles__img {
    display: block;
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top left;
    @media (min-width: 992px) {
        height: 250px;
    }
    &--big {
        height: 150px;
        @media (min-width: 768px) {
            height: 340px;
        }
    }
}
