.blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    order: 1;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-sm) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: $screen-md) {
        justify-content: space-between;
        margin-bottom: 65px;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 125px;
        margin-bottom: 20px;
        border-radius: 4px;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            background-image: linear-gradient(to top, rgba(36, 26, 75, 0.81) 0%, rgba(12, 12, 12, 0) 100%);
            transition: opacity 0.4s ease;
        }

        &:hover::before {
            opacity: 0.6;
        }

        &:active::before {
            opacity: 0.4;
        }

        &:nth-child(1) {
            background: url(../img/blog-list/1.png) no-repeat;
            background-size: cover;
        }

        &:nth-child(2) {
            background: url(../img/blog-list/2.png) no-repeat;
            background-size: cover;
        }

        &:nth-child(3) {
            background: url(../img/blog-list/3.jpg) no-repeat;
            background-size: cover;
        }

        @media screen and (min-width: $screen-sm) {
            &:nth-child(1) {
                width: 48%;
                margin-right: 15px;

                .blog-list__title {
                    width: 75%;
                }
            }

            &:nth-child(2) {
                width: 48%;

                .blog-list__title {
                    width: 75%;
                }
            }

            &:nth-child(3) {
                width: 100%;

                .blog-list__title {
                    width: 35%;
                }
            }
        }

        @media screen and (min-width: $screen-md) {
            &:nth-child(1) {
                width: 31.5%;
                margin-right: 0;

                .blog-list__title {
                    width: 100%;
                }
            }

            &:nth-child(2) {
                width: 31.5%;

                .blog-list__title {
                    width: 100%;
                }
            }

            &:nth-child(3) {
                width: 31.5%;

                .blog-list__title {
                    width: 100%;
                }
            }
        }
    }

    &__link {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    &__title {
        position: relative;
        z-index: 2;
        margin-top: auto;
        font-family: $f-base;
        font-size: 16px;
        font-weight: 400;
        color: $white;
    }
}