.catalog-item {
    margin-bottom: 30px;
    @media screen and (min-width: $screen-md) {
        max-width: none;
    }

    @media screen and (min-width: $screen-lg) {
        display: flex;
        justify-content: start;
    }

    &__img {
        width: 140px;
        height: 232px;
        margin-bottom: 10px;
        position: relative;

        img {
            width: 140px;
            height: 232px;
        }

        @media screen and (min-width: $screen-md) {
            width: 220px;
            height: 330px;

            img {
                width: 220px;
                height: 330px;
            }
        }

        @media screen and (min-width: $screen-lg) {
            margin-right: 20px;
        }
    }

    &__alco {
        width: 46px;
        height: 53px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        .icon-svg {
            width: 46px;
            height: 53px;
            fill: #e3e3e3;
            position: absolute;
        }
    }

    &__aclo-content {
        font-size: 14px;
        font-weight: 700;
        position: relative;
        z-index: 2;
        text-align: center;
        width: 100%;
        display: block;
        padding: 24px 0 13px;
    }

    &__name {
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 10px;
    }

    &__price {
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
        margin-bottom: 16px;
    }

    &__order {
        font-size: 16px;
        line-height: 1;
        padding: 8px 21.5px 9px;
        border-radius: 2px;
        color: $white;
        background: $c-primary;
        font-weight: 700;
        text-transform: uppercase;
        height: 37px;
        border: none;
        outline: none;
        transition: all 0.3s linear;
        margin-bottom: 14px;

        &:hover {
            background: $c-third;
        }

        &--added {
            color: #6b6b6b;
            background: #e3e3e3;
            cursor: default;

            &:hover {
                background: #e3e3e3;
                color: #6b6b6b;
            }
        }
    }

    &__details {
        margin: 0;
    }

    &__details-title {
        font-weight: 700;
        font-style: italic;
        font-size: 12px;
        line-height: 20px;
        margin: 0;

        @media screen and (Min-width: $screen-md) {
            font-size: 14px;
            line-height: 24px;
        }
    }

    &__details-item {
        margin: 0;

        & li {
            font-size: 12px;
            margin: 0;
            font-weight: normal;
            font-style: normal;
        }
    }

    &__details-description {
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        font-weight: normal;
        font-style: normal;

        @media screen and (min-width: $screen-md) {
            font-size: 14px;
            line-height: 24px;
        }
    }
}