.cocktails {
    font-family: $f-base;

    &__intro {
        padding: 35px 0 40px;
        background: url("../img/cocktails-bg.png") no-repeat;
        background-size: cover;
        background-position: 69% 0;
        @media (min-width: 992px) {
            padding: 50px 0 30px;
        }
    }

    &__title {
        margin: 0;
        line-height: 1;
        color: #fff;
    }

    &__intro-note {
        display: block;
        margin: 0 auto;
        color: $white;
        @media (min-width: 992px) {
            max-width: 280px;
        }
    }

    &__filter {
        padding: 20px 0 30px;
        background-color: $c-bg-third;
    }

    &__filter-tabs-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    &__filter-tab {
        margin: 0 5px 10px 0;
        padding: 6px 10px;
        border: 0;
        border-radius: 15px;
        font-size: 11px;
        text-transform: uppercase;
        outline: none;
        background: $c-bg-four;
        cursor: pointer;
        transition: all 0.3s linear;

        &--active {
            background: $c-primary;
            color: $white;
        }

        &:hover {
            background: $c-primary;
            color: $white;
        }
    }

    &__ingridients-title {
        display: block;
        margin-top: 0;
        margin-bottom: 5px;
        text-align: center;
        @media (min-width: 768px) {
            margin-right: 10px;
            margin-bottom: 0;
        }
    }

    &__filter-select-wrapper {
        position: relative;
        @media (min-width: 768px) {
            margin-right: 20px;
            margin-bottom: 0;
        }
    }

    &__filter-select {
        position: relative;
        display: flex;
        align-items: center;
        width: 250px;
        height: 30px;
        margin: 0 auto;
        padding: 4px 30px 4px 16px;
        font-size: 16px;
        background: $white;

        &::after {
            content: "";
            position: absolute;
            top: 16px;
            right: 14px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #000 transparent transparent transparent;
        }

        &--active::after {
            border-width: 0 4px 4px 4px;
            border-color: transparent transparent #000 transparent;
        }
    }

    &__filter-select-list {
        position: absolute;
        z-index: 20;
        width: 100%;
        height: 312px;
        padding: 0;
        margin: 0;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        overflow-y: scroll;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    }

    &__filter-select-item {
        width: 100%;
        max-width: 280px;
        padding: 5px 15px;
        background: $white;

        &:hover {
            background: rgb(234, 234, 234);
        }
    }

    &__cart {
        position: relative;
    }

    &__cart-toggle {
        position: relative;
        display: block;
        width: 100%;
        max-width: 278px;
        height: 60px;
        margin: 0 auto;
        padding: 10px;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        background: $c-primary;
        color: $white;
        transition: all 0.3s linear;

        span {
            font-size: 14px;
            font-weight: normal;
            text-transform: none;
        }

        .icon-svg {
            position: absolute;
            top: 10px;
            left: 30px;
            width: 40px;
            height: 35px;
            fill: $white;
            transition: all 0.3s linear;
        }

        &:hover .icon-svg {
            fill: rgb(111, 95, 144);
        }

        @media (min-width: 768px) {
            height: 190px;
            padding-top: 100px;

            .icon-svg {
                left: 50px;
                top: 50px;
            }
        }

        @media (min-width: 992px) {
            height: 147px;
            margin-right: 20px;
            margin-bottom: 0;
            padding-top: 80px;

            .icon-svg {
                top: 35px;
                left: 40px;
            }
        }

        @media (min-width: 1200px) {
            width: 115px;
            height: 75px;
            padding: 35px 0 0;
            color: $c-primary;
            background: none;

            .icon-svg {
                top: 0;
                left: 50%;
                margin-left: -13px;
                width: 25px;
                height: 25px;
                fill: $c-primary;
            }

            &:hover {
                color: $c-third;
            }
        }
    }

    &__catalog {
        padding: 30px 0;
        background: $white;

        &._black {
            background-color: #000;

            & div, p {
                color: #fff;
            }

            & .cocktails__product-alco-content {
                color: #000;
            }
        }
    }

    &__catalog-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;

    }
}

.cocktails__product {
    &:not(:last-child) {
        @media (max-width: $screen-xs-max) {
            margin-bottom: 30px;
        }
    }
}

.cocktails__product-img {
    width: 140px;
    height: 232px;
    object-fit: contain;
    margin-bottom: 10px;
    position: relative;
    transition: transform .3s ease;
    @media (max-width: $screen-xs-max) {
        width: auto;
        height: auto;
        border: 1px solid #DEDEDE;
        border-radius: 6px;
    }
    &:hover {
        transform: scale(.8);
    }
    img {
        width: 140px;
        height: 232px;
        @media (max-width: $screen-xs-max) {
            display: block;
            margin: 10px auto;
            width: 74px;
            height: 111px;
        }
    }
}

.cocktails__product-alco {
    width: 46px;
    height: 53px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    @media (max-width: $screen-xs-max) {
        top: 10px;
        left: 53%;
        right: auto;
        width: 40px;
        height: 40px;
    }

    .icon-svg {
        width: 46px;
        height: 53px;
        fill: #e3e3e3;
        position: absolute;
        @media (max-width: $screen-xs-max) {
            width: 40px;
            height: 40px;
        }
    }
}

.cocktails__product-alco-content {
    font-size: 12px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    display: block;
    padding: 24px 0 13px;
    @media (max-width: $screen-xs-max) {
        padding: 20px 0 13px;
        font-size: 9px;
    }
}

.cocktails__product-name {
    margin: 0;
    font-size: 20px;
}

.cocktails__product-price {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
}

.cocktails__product-order {
    margin-bottom: 10px;
    display: block;
    border: none;
    outline: none;
    color: $white;
    background-color: $c-primary;
    width: auto;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s linear;
    @media (min-width: 768px) {
        padding: 15px 30px;
        font-size: 14px;
    }
    &:hover {
        color: #fff;
    }
    &:active {
        opacity: 0.6;
    }

    &--added {
        color: #6b6b6b;
        background: #e3e3e3;
        cursor: default;

        &:hover {
            background: #e3e3e3;
            color: #6b6b6b;
        }
    }


}

.cocktails__product-details {
    margin-bottom: 10px;
}

.cocktails__product-details-title {
    margin: 0;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
}

.cocktails__product-details-item {
    margin: 0 0 15px;

    & li {
        font-size: 16px;
        margin: 0;
        font-weight: normal;
        font-style: normal;
    }
}

@media (min-width: 768px) {
    .cocktails__ingridients {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .cocktails__product {
        max-width: none;
        margin-bottom: 30px;
    }

    .cocktails__product-img {
        width: 207px;
        height: 310px;

        img {
            width: 207px;
            height: 310px;
            object-fit: contain;
        }
    }

    .cocktails__product-details-title {
        font-size: 16px;
    }

    .cocktails__pagination-list {
        max-width: none;
    }

    .cocktails__pagination-item {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .cocktails__product {
        display: flex;
        justify-content: flex-start;
    }

    .cocktails__product-img {
        margin-right: 20px;
    }
}

.cocktails__info {
    padding-bottom: 60px;
    padding-top: 20px;
    background: $white;
    ul {
        margin: 20px 0;
        li {
            position: relative;
            padding-left: 15px;
            line-height: 1.4;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 9px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 50px;
                background-color: $c-primary;
            }
        }
    }
}