.coctails-choose {
  font-family: $f-base;
  background-color: $c-primary;
  padding: 15px 0;
  margin-bottom: 48px;

  .container {
    max-width: 300px;
  }
}

.coctails-choose__title {
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 20px;
  color: $white;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.coctails-choose__link {
  padding: 14px 26px;
  text-transform: uppercase;
  font-size: 14px;
  color: $white;
  border: 1px solid $white;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s ease;

  &:hover {
    color: $c-primary;
    border-color: $white;
    background-color: $white;
  }
}

@media screen and (min-width: 768px) {
  .coctails-choose {
    padding: 37px 60px;

    .container {
      max-width: 940px;
    }
  }

  .coctails-choose__title {
    text-align: left;
    margin: 0;
    max-width: 500px;
  }

  .coctails-choose__link {
    height: 44px;
    max-width: 233px;
    align-self: flex-end;
    margin: 0;
    margin-left: auto;
  }
}