.consultation-callback {
  max-width: 300px;
  padding-top: 40px;
  margin: 0 auto 44px;
}

.consultation-callback__form {
  padding-bottom: 40px;
  border-bottom: 1px solid #2c2c2c;
}

.consultation-callback__form-title {
  font-size: 20px;
  line-height: 28px;
  color: $white;
  margin: 0;
  font-weight: 700;
  margin-bottom: 29px;
}

.consultation-callback__form-note {
  font-size: 16px;
  line-height: 20px;
  color: $c-third;
  margin: 0;
  margin-bottom: 29px;
}

.consultation-callback__form-input {
  display: block;
  transition: border,
  box-shadow 0.3s linear;
  background: $white;
  border: 2px solid #e2e2e2;
  font-size: 16px;
  line-height: 20px;
  height: 48px;
  width: 100%;
  border-radius: 6px;
  padding: 10px 21px;
  margin-bottom: 18px;
  outline: none;

  &:focus {
    border-color: $c-third;
  }
}

@media screen and (min-width: 768px) {
  .consultation-callback {
    max-width: none;
    padding-bottom: 38px;
    border-bottom: 1px solid #2c2c2c;
  }

  .consultation-callback__title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: $white;
    letter-spacing: -0.2px;
    margin: 0;
    margin-bottom: 13px;
  }

  .consultation-callback__town-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .consultation-callback__town-name {
    font-size: 16px;
    line-height: 24px;
    color: $c-primary;
    margin: 0;
    margin-bottom: 2px;
  }

  .consultation-callback__town-phone {
    font-size: 20px;
    line-height: 30px;
    color: $white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.5s linear;

    &:hover {
      color: $c-primary;
    }

    &:active {
      color: $c-third;
    }
  }

  .consultation-callback__form {
    padding: 0;
    border: none;
  }
}

@media screen and (min-width: 992px) {
  .consultation-callback__town-list {
    display: flex;
    flex-direction: row;
  }

  .consultation-callback__town-item {
    margin-right: 30px;

    &:last-child {
      margin: 0;
    }
  }
}