.consultation {
  position: relative;
  z-index: 1;
  border: 1px solid $c-primary;
  padding: 21px 15px 236px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0 none;
  max-width: 300px;
  //margin: 0 auto;
}

.consultation__title {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 17px;
  color: $white;
  text-align: center;
}

.consultation__inner {
  margin-bottom: 10px;
  text-align: center;
}

.consultation__town-name {
  color: $white;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.consultation__phone {
  font-size: 16px;
  line-height: 24px;
  color: $white;
  text-decoration: none;
  font-weight: 700;

  span {
    color: #cecece;
    font-weight: 400;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $c-third;
  }
}

.consultation__callback-link {
  padding: 14px 26px;
  text-transform: uppercase;
  font-size: 14px;
  color: $c-primary;
  border: 1px solid $c-primary;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  margin-top: 23px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s ease;

  &:hover {
    color: $c-third;
    border-color: $c-third;
  }
}

@media screen and (min-width: 768px) {
  .consultation {
    width: 100%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 55px;
    max-width: none;
    &__title {
      margin-bottom: 20px;
      text-align: left;
      text-transform: uppercase;
    }
    &__inner {
      margin-bottom: 15px;
      display: flex;
      width: 50%;
      justify-content: space-between;
      text-align: left;
    }
    &__callback-link {
      margin-top: 0;
      position: absolute;
      top: 110px;
      right: 40px;
    }
  }
}

@media screen and (min-width: 992px) {
  .consultation {
    margin: 0;
    padding-bottom: 55px;
    border-bottom: 1px solid $c-primary;
    &__inner {
      width: 30%;
    }
    &__callback-link {
      top: 55px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .consultation {
    margin-bottom: 80px;
    &__callback-link {
      left: calc(75% - 15px);
      right: auto;
    }
  }
}