.contacts {
    font-family: $f-base;
    padding-top: 35px;
}

.contacts__title {
    font-size: 32px;
    line-height: 46px;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    margin: 0;
    margin-bottom: 25px;
}

.contacts__town-toggles {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 56px;
}

.contacts__tab {
    background-color: #403463;
    border: none;
    width: 145px;
    height: 41px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;

    &:first-child {
        border-radius: 3px 0 0 3px;
    }

    &:last-child {
        border-radius: 0 3px 3px 0;
    }

    &:focus {
        outline: none;
    }

    &--active {
            background-color: #6F5F90;
    }
}

.contacts__list {
    padding: 0;
    list-style-type: none;
    margin: 0;
    margin-bottom: 64px;
}

.contacts__item {
    margin-bottom: 18px;
    font-size: 16px;
    color: $white;

    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__item-adress,
.contacts__item-phone,
.contacts__item-mail {
    padding-left: 31px;
    position: relative;
    color: #fff;
    transition: color 0.3s linear;

    &::before {
        content: "";
        display: block;
        width: 21px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.contacts__item-adress {
    margin: 0;
    &::before {
        height: 21px;
        background-image: url('../img/sprite.view.svg#icon-pin');
        background-repeat: no-repeat;
        background-position: -11px -8px;
        background-size: 42px 36px;
    }
}

.contacts__item-phone {
    color: $white;

    &::before {
        display: none;
    }

    &:hover {
        color: $c-primary;
    }

    &:active {
        color: $c-third;
    }

    &:first-child {
        &::before {
            display: block;
            background-image: url('../img/sprite.view.svg#icon-phone-call');
            background-repeat: no-repeat;
            background-size: 42px 34px;
            background-position: -11px -7px;
        }
    }
}

.contacts__item-mail {
    color: $white;

    &::before {
        background-image: url('../img/sprite.view.svg#icon-mail-pink');
        background-repeat: no-repeat;
        background-size: 42px 20px;
        background-position: -11px 2px;
    }

    &:hover {
        color: $c-primary;
    }

    &:active {
        color: $c-third;
    }
}

.contacts__social-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 16px;
    height: fit-content;
}

.contacts__social-item {
    margin-bottom: 22px;
}

.contacts__social-link {
    color: $c-primary;
    text-decoration: none;
    padding-left: 31px;
    position: relative;
    transition: all 0.3s;

    svg {
        position: absolute;
        left: 0;
        width: 21px;
        height: 21px;
        fill: $c-primary;
        transition: fill 0.3s ease;
    }

    &:hover {
        color: $white;

        svg {
            fill: $white;
        }

    }
}

@media screen and (min-width: 768px) {
    .contacts__list {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 992px) {
    .contacts__title {
        font-size: 48px;
    }
}