// .copyright {
//     max-width: 300px;
//     margin: 0 auto 15px;
//     color: $footer-primary-color;
// }

// .copyright__item {
//     margin: 0 0 15px;
//     font-size: 16px;
//     color: #fff;
// }

// .copyright__offer {
//     font-size: 16px;
// }

// .copyright__link {
//     color: $c-primary;
//     &:hover {
//         color: #fff;
//     }

//     &:active {
//         color: $c-third;
//     }
// }

// @media screen and (min-width: 768px) {
//     .copyright {
//         order: 1;
//     }
// }

.copyright {
    font-size: 14px;
    font-weight: 400;
    color: $white;
    margin-bottom: 40px;
    order: 5;

    @media screen and (min-width: $screen-sm) {
        margin-bottom: 55px;
    }

    @media screen and (min-width: $screen-lg) {
        order: 4;
    }

    &__item {
        margin-bottom: 20px;
    }

    &__item,
    &__offer {
        font-size: 14px;
        font-weight: 400;
        color: $white;
    }

    &__link {
        text-decoration: underline;
        transition: color 0.4s linear;
        color: $white;

        &:hover {
            color: $c-primary;
        }
    }
}