// .devolopment {
//     max-width: 300px;
//     margin: 0 auto;
//     transition: all 0.4s ease;
//     & img {
//         width: 160px;
//     }

//     &:hover {
//         cursor: pointer;
//         transition: all 0.5s linear;

//         .devolopment__title {
//             color: $c-primary;
//         }
//     }
// }

// .devolopment__link {
//     text-decoration: none;
// }

// .devolopment__title {
//     text-transform: none;
//     color: $footer-primary-color;
// }

// @media (min-width: 768px) {
//     .devolopment {
//         width: auto;
//         margin: 0;
//     }
// }

.devolopment {
    font-size: 14px;
    font-weight: 400;
    color: $white;
    order: 6;

    @media screen and (min-width: $screen-xl) {
        margin-left: auto;
        text-align: right;
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        color: $white;
        text-decoration: underline;
        transition: color 0.4s linear;

        &:hover {
            color: $c-primary;
        }
    }
}