.furniture-catalog {
    background-color: $white;
    font-family: $f-base;
    padding-top: 48px;
}

.furniture-catalog__title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e9e9e9;
}

.furniture-catalog__product {
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 1px solid #e9e9e9;

    &:last-child {
        border-bottom: none;
    }
}

.furniture-catalog__product-slider {
    height: 250px;
    margin-bottom: 20px;

    @media screen and (max-width: 1040px) {
        padding-left: 35px;
        padding-right: 35px;
    }

    a {
        outline: none;
    }

    img {
        max-width: 320px;
        height: auto;
        margin: 0 auto;
    }

    .owl-nav {
        left: 0;
        top: 52px;

        [class*=owl-] {
            border: none;
        }

        .owl-prev {
            left: -5px;
        }

        .owl-next {
            right: -5px;
        }
    }


}

.furniture-catalog__product-title {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: 700;
}

.furniture-catalog__product-tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.furniture-catalog__product-tabs-toggle {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;

    &:last-child {
        margin: 0;
    }

    &--active {
        color: $c-primary;
    }
}

.furniture-catalog__product-tabs-content {
    width: 100%;
    margin-top: 20px;
}

.furniture-catalog__product-tabs-char {
    display: none;
    width: 100%;
    margin-top: 20px;
}

.furniture-catalog__product-description {
    margin: 0;
    font-size: 14px;
    line-height: 24px;

}

.furniture-catalog__product-text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;

    &--mt {
        margin-bottom: 20px;
    }
}

.furniture-catalog__product-order {
    margin-top: 20px;
}

.furniture-catalog__product-order-content {
    margin: 0;
    margin-bottom: 20px;
}

.furniture-catalog__product-price,
.furniture-catalog__product-currency {
    font-size: 28px;
    font-weight: 700;
}

.furniture-catalog--dark {
    background-color: #090618;

    @media screen and (max-width: 767px) {
        max-width: 300px;
        margin: 0 auto;
    }

    .furniture-catalog__title {
        color: $white;
        border-bottom: 1px solid rgba(233, 233, 233, 0.25);
    }

    .furniture-catalog__product {
        border-bottom: 1px solid rgba(233, 233, 233, 0.25);
    }

    .furniture-catalog__product-slider {
        img {
            height: auto;
        }
    }

    .furniture-catalog__product-title {
        color: white;
    }

    .furniture-catalog__product-calc {
        display: none;

        &--mobile {
            display: block;
            width: 100vw;
            margin: 0 auto 0 -15px;
            max-width: 300px;
        }


    }

    .furniture-catalog__product-calc-item {
        &--active {
            .furniture-catalog__product-calc-item-header {
                background-color: #150e36;
            }

            .furniture-catalog__product-calc-size {
                color: $c-primary;
            }
        }
    }

    .furniture-catalog__product-calc-item-header {
        padding-top: 25px;

        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .furniture-catalog__product-calc-item-inner {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        flex-wrap: wrap;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 30px;
        background-color: #090618;

        &--active {
            padding-top: 30px;
            padding-bottom: 30px;
            max-height: 244px;
            background-color: #150e36;
        }
    }

    .furniture-catalog__product-calc-item-inner-wrap {
        display: flex;
        width: 100%;
        margin-bottom: 20px;
    }

    .furniture-catalog__product-calc-size {
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: $white;
    }

    .furniture-catalog__product-calc-toggle {
        background: none;
        position: relative;
        border: none;
        padding: 0;
        outline: none;
        background-color: #201849;
        border-radius: 8px;
        width: 56px;
        height: 16px;
        transition: all .4s ease;

        &:focus {
            outline: none;
        }

        &::after {
            content: '';
            background-color: #5343a5;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            position: absolute;
            left: 0;
            top: -1px;
            transition: all .4s ease;
        }

        &--active {
            background-color: #e72679;

            &::after {
                left: 100%;
                margin-left: -18px;
                background-color: $white;
            }
        }
    }

    .furniture-catalog__product-calc-text {
        position: relative;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: $white;
        width: 100%;
        margin: 0;
    }

    .furniture-catalog__product-calc-item-input {
        background-color: $white;
        border-radius: 7px;
        width: 68px;
        height: 36px;
        border: none;
        outline: none;
        margin-top: 12px;
        padding: 10px;
        text-align: center;
        &[type=number] {
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none;
        }
        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .furniture-catalog__product-calc-item-input-plus, .furniture-catalog__product-calc-item-input-minus {
        position: absolute;
        padding: 0;
        width: 15px;
        height: 20px;
        top: 43px;
        left: 53px;
        text-align: center;
        color: $black;
        cursor: pointer;
        font-size: 16px;
        outline: none;
        @media (min-width: $screen-md) {
            top: 10px;
            left: 35px;
        }
        @media (min-width: $screen-lg) {
            left: 45px;
        }
        @media (min-width: 1030px) {
            left: 57px;
        }
    }
    .furniture-catalog__product-calc-item-input-minus {
        left: 0;
        @media (min-width: $screen-lg) {
            left: 2px;
        }
    }

    .furniture-catalog__product-calc-price,
    .furniture-catalog__product-calc-currency {
        font-size: 18px;
        font-weight: 400;
        line-height: 40px;
        color: #5c529d;
    }

    .furniture-catalog__product-total {
        padding-top: 30px;

        margin: 0;
        font-size: 22px;
        line-height: 30px;
        font-weight: 700;
        letter-spacing: 0.44px;
        color: $white;
    }

    .furniture-catalog__product-total-price,
    .furniture-catalog__product-total-currency {
        color: $c-primary;
    }
}

@media screen and (min-width: 768px) {
    .furniture-catalog__product-order {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .furniture-catalog__product-order-btn {
        max-width: 160px;
    }

    .furniture-catalog__product-order-content {
        margin-bottom: 0;
    }

    .furniture-catalog--dark {
        .furniture-catalog__product-calc {
            display: table;

            &--mobile {
                display: none;
            }
        }

        .furniture-catalog__product-calc-row {
            &--header {
                color: $white;
            }
        }

        .furniture-catalog__product-calc-col {
            position: relative;
            width: 84px;
            color: $white;
            font-size: 10px;
            text-align: left;
        }

        .furniture-catalog__product-calc-item-input {
            min-width: 49px;
            width: 60%;
            height: 29px;
            margin: 0;
            padding: 0;
            padding-left: 10px;
            padding-right: 10px;
        }

        .furniture-catalog__product-calc-price,
        .furniture-catalog__product-calc-currency {
            font-size: 10px;
            color: $white;
        }

        .furniture-catalog__product-total {
            text-align: right;
        }
    }
}

@media screen and (min-width: 992px) {
    .furniture-catalog--dark {
        .furniture-catalog__product-calc-col {
            width: 134px;
            font-size: 14px;
        }

        .furniture-catalog__product-calc-price,
        .furniture-catalog__product-calc-currency {
            font-size: 14px;
        }
    }

    .furniture-catalog__product-slider .owl-nav {
        top: 85px;
    }
}

@media screen and (min-width: 1030px) {
    .furniture-catalog__product-slider {
        .owl-nav {
            position: absolute;

            .owl-prev {
                top: 0;
            }

            .owl-next {
                top: 0;
            }
        }
    }

    .furniture-catalog--dark {
        .furniture-catalog__product-calc-col {
            width: 134px;
            font-size: 16px;
        }

        .furniture-catalog__product-calc-price,
        .furniture-catalog__product-calc-currency {
            font-size: 16px;
        }
    }
}