.hero-slider {
    font-family: $f-base;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 40px;
    min-height: 372px;
    min-width: 100%;
}

.hero-slider__item {
    position: relative;
    box-sizing: border-box;
    min-height: 372px;
    height: 100%;
    text-align: center;
}

.hero-slider__item-link {
    display: block;
    color: $white;
    padding-top: 32px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.hero-slider__item-image {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-slider__item-title {
    display: inline-block;
    max-width: 300px;
    margin: 0 0 6px;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;

    span {
        background-color: $c-primary;
        padding: 10px 7px;
        display: inline-block;
        font-weight: 700;
        width: fit-content;
        margin-bottom: 10px;
    }

    &--background {
        background-color: $background-secondary-color;
        max-width: 300px;
        color: $c-primary;
        margin-left: 10px;

        span {
            color: $white;
        }
    }
}

.hero-slider__item-content {
    box-sizing: border-box;
    font-size: 28px;
    line-height: 35px;
    margin: 0;
    letter-spacing: 2px;

    &--background {
        background-color: $background-secondary-color;
        max-width: 300px;
        color: $c-primary;
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px) {
    .hero-slider {
        min-height: 335px;
    }

    .hero-slider__item {
        text-align: left;
        

        &:hover {
            .hero-slider__item-title {
                span {
                    background-color: $c-third;
                    transition: background 0.3s linear;
                }
            }
        }
    }

    .hero-slider__item-link {
        max-height: 335px;
        padding-left: 13.5%;
        padding-top: 60px;
    }

    .hero-slider__item-title {
        text-align: left;
        margin-left: auto;
        padding-left: 10px;
        max-width: none;
        font-size: 30px;
        margin-bottom: 10px;
        transition: background 0.5s;

        span {
            margin-left: -10px;
        }
    }

    .hero-slider__item-content {
        max-width: fit-content;
    }
}

@media screen and (min-width: 992px) {
    .hero-slider {
        min-height: 434px;
    }

    .hero-slider__item {
        min-height: 434px;
        
    }

    .hero-slider__item-link {
        max-height: 435px;
        padding-top: 167px;
    }

    .hero-slider__item-inner {
        max-width: 1130px;
        margin: auto;
    }

    .hero-slider__item-title,
    .hero-slider__item-content {
        font-size: 48px;
    }

    .hero-slider__item-title {
        margin-bottom: 20px;
    }
}