.how-we-work {
    background: #f5f5f5;
    font-family: $f-base;
    padding: 40px 0 40px;
    @media (min-width: $screen-sm) {
        padding: 100px 0 100px;
    }

    &__title {
        margin-bottom: 20px;
        text-align: left;
    }

    &__list {
        max-width: 300px;
        margin: 0;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 620px;
        }

        @media (min-width: 1200px) {
            flex-wrap: nowrap;
            max-width: 1085px;
            width: 90%;
        }
    }

    &__item {
        position: relative;
        margin-bottom: 25px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .icon-svg {
            margin-right: 18px;
            width: 33px;
            height: 43px;
            fill: $c-primary;
        }

        .icon-arrow {
            position: absolute;
            display: block;
            bottom: 0;
            left: 50%;
            margin-left: -40px;
            width: 80px;
            height: 40px;
            fill: #c9c9c9;
            transform: rotate(180deg);
        }

        @media (min-width: 768px) {
            margin-top: 15px;
            flex-direction: column;
            align-items: flex-start;

            &:nth-child(1) {
                margin-right: 90px;
                margin-bottom: 50px;

                .icon-arrow {
                    transform: rotate(90deg);
                    left: auto;
                    top: 20px;
                    right: -150px;
                }
            }
            &:nth-child(2) {
                margin-bottom: 50px;

                .icon-arrow {
                    bottom: -20px;
                }
            }
            &:nth-child(3) {
                order: 4;

                .icon-arrow {
                    transform: rotate(-90deg);
                    left: -77px;
                    top: 20px;
                }
            }
            .icon-svg {
                margin-right: 0;
            }
        }

        @media (min-width: 1200px) {
            margin: 0 50px 0 0;
            padding-bottom: 0;

            .icon-arrow {
                left: auto;
                transform: rotate(90deg);
            }

            &:first-child {
                margin-bottom: 0;

                .icon-arrow {
                    right: -80px;
                    top: 20px;
                }
            }

            &:nth-child(2) {
                margin-bottom: 0;

                .icon-arrow {
                    bottom: auto;
                    right: -80px;
                    top: 20px;
                    margin-bottom: 0;
                }
            }

            &:nth-child(3) {
                order: 3;

                .icon-arrow {
                    transform: rotate(90deg);
                    left: auto;
                    right: -60px;
                }
            }

            &:nth-child(4) {
                order: 4;
                margin-right: 0;
            }
        }
    }

    &__link {
        display: inline-block;
    }

    &__content {
        width: 216px;
        margin: 0;
        text-align: left;
        @media (min-width: $screen-md) {
            padding-top: 10px;
        }
    }
}