.info {
    font-family: $f-base;
    margin-bottom: 44px;
}

.info__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: auto;
    justify-content: center;
}

.info__item {
    position: relative;
    max-width: 300px;
    padding: 39px 0 49px 80px;

    &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 1px;
        width: 100%;
        background-color: #2c2c2c;
    }

    &:nth-child(1) {
        &::before {
            width: 54px;
            height: 71px;
            background: url('../img/sprite.view.svg#icon-exposition') no-repeat;
            background-size: cover;
            background-position: -12px 0;
            top: 50%;
            margin-top: -35.5px;
        }
    }

    &:nth-child(2) {
        &::before {
            width: 46px;
            height: 60px;
            background: url('../img/sprite.view.svg#icon-list') no-repeat;
            background-size: cover;
            background-position: -10px 0;
            top: 50%;
            margin-top: -29.5px;
        }
    }

    &:nth-child(4) {
        &::before {
            width: 56px;
            height: 58px;
            background: url('../img/sprite.view.svg#icon-manager') no-repeat;
            background-size: cover;
            background-position: -5px 0;
            top: 50%;
            margin-top: -39px;
        }
    }
}

.info__item-link {
    display: block;
    font-size: 16px;
    color: $c-primary;
    text-decoration: none;
    transition: color 0.3s linear;
    &--price {
        background-color: transparent;
        border: navajowhite;
    }
    &:hover {
        color: $white;
    }
    &:active {
        color: $c-third;
    }
}

@media screen and (min-width: 768px) {
    .info {
        border-bottom: 1px solid #2c2c2c;
    }

    .info__list {
        padding-top: 34px;
        justify-content: center;
    }

    .info__item {
        text-align: center;
        color: $white;
        padding: 0;
        padding-top: 106px;
        padding-bottom: 61px;

        &::after {
            display: none;
        }

        &:nth-child(1) {
            &::before {
                left: 50%;
                top: 10px;
                margin-top: 0;
                margin-left: -27px;
            }
        }

        &:nth-child(2) {
            &::before {
                left: 50%;
                top: 20px;
                margin-top: 0;
                margin-left: -23px;
            }
        }

        &:nth-child(3) {
            &::before {
                width: 44px;
                height: 58px;
                background: url('../img/sprite.view.svg#icon-pdf') no-repeat;
                background-size: cover;
                background-position: -9px 0;
                left: 50%;
                top: 20px;
                margin-top: 0;
                margin-left: -22px;
            }
        }

        &:nth-child(4) {
            &::before {
                left: 50%;
                top: 20px;
                margin-top: 0;
                margin-left: -28px;
            }
        }
    }

    .info__item-title {
        margin: 0 0 7px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
    }

    .info__item-description {
        display: block;
        max-width: 218px;
        margin: 0 auto 10px;
        font-size: 16px;
        color: #fff;
    }

    .info__item-form-link {
        max-width: 218px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .info__list {
        padding-top: 49px;
        justify-content: space-between;
    }

    .info__item {
        text-align: left;
        max-width: 218px;

        &:nth-child(1) {
            &::before {
                margin-left: -55px;
            }
        }

        &:nth-child(2) {
            &::before {
                margin-left: -50px;
            }
        }

        &:nth-child(3) {
            &::before {
                margin-left: -40px;
            }
        }

        &:nth-child(4) {
            &::before {
                margin-left: -33px;
            }
        }
    }

    .info__item-description {
        margin-left: 0;
        margin-right: 0;
    }
}