.main-team {
  position: relative;
  font-family: $f-base;
  background-color: #110936;
  background-image: url("../img/shadow2.png");
  background-size: 1212px 358px;
  background-repeat: no-repeat;
  background-position: 50% -600%;
  padding-top: 13px;

  // КОСТЫЛЬ
  overflow-x: hidden;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 422px;
    height: 228px;
    right: 50%;
    bottom: 0;
    margin-right: -211px;
    background: url(../img/main-team.png) no-repeat;
    background-size: contain;
    background-position: 0 100%;
    z-index: 1;
  }
}

.main-team__link {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 23px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.main-team__inner {
  min-height: 304px;
}

.main-team__title {
  font-size: 31px;
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  color: $white;
  span {
    color: $c-primary;
  }
}

@media screen and (min-width: 768px) {
  .main-team {
    padding: 0;
    background-position: -80% -20%;

    &::after {
      right: 40%;
    }
  }

  .main-team__inner {
    min-height: 192px;
  }

  .main-team__inner-row {
    min-height: 192px;
  }

  .main-team__content {
    max-width: 125px;
    font-size: 16px;
    color: #d3d0e2;
  }
}

@media screen and (min-width: 992px) {
  .main-team__title {
    font-size: 48px;
    font-weight: 700;
  }

  .main-team__content {
    max-width: none;
  }
}

@media screen and (min-width: 1030px) {
  .main-team {


    &::after {
      width: 698px;
      height: 341px;
      right: 30%;
      margin-right: -349px;
    }
  }

  .main-team__inner {
    min-height: 330px;
  }

  .main-team__inner-row {
    min-height: 330px;
  }
}

@media screen and (min-width: 1300px) {
  .main-team {
    height: 380px;
    background-position: 200% 600%;

    &::after {
      width: 911px;
      height: 341px;
    }
  }
}