.main-contacts {
    position: relative;
    &__phone {
        display: block;
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 30px;
        transition: color 0.4s linear;

        &:hover {
            color: $c-primary;
        }
        @media screen and (min-width: $screen-md) {
            margin-top: 0;
        }
        @media screen and (min-width: $screen-lg) {
            margin-top: 30px;
        }
        @media screen and (min-width: $screen-lg-max) {
            margin-bottom: 30px;
        }
    }

    &__eng-ver {
        font-size: 16px;
        color: $black;
        @media (min-width: $screen-lg) {
            position: absolute;
            top: 15px;
            right: 0;
            color: $white;
            font-size: 12px;
        }
        @media (min-width: $screen-xl) {
            top: 10px;
        }
    }

    &__inner {
        margin-right: -30px;
    }

    &__wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 15px;
        margin-top: 15px;

        &  .icon-svg {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            fill: $c-primary;
        }
    }

    &__item {
        display: block;
        border: none;
        color: $c-primary;
        font-size: 18px;
        font-weight: 300;
        background: none;
        transition: color 0.3s linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $c-primary;
        }
    }

    button.main-contacts__item {
        padding: 0;
        text-decoration: none;
    }

    &._menu {
        @media screen and (min-width: $screen-lg) {
            display: none;
        }
    }

    &._header {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .main-contacts__wrapper {
            margin: 0;

            @media screen and (min-width: $screen-lg) {
                position: relative;
            }
        }

        & ._callback {
            display: none;
            margin-right: 0;
            color: $c-third;

            &:hover {
                color: $c-primary;
            }

            &:active {
                opacity: 0.6;
            }
        }

        .main-contacts__phone {
            display: none;
        }

        .icon-svg--phone {
            width: 30px;
            height: 30px;
            margin-right: 15px;
        }

        @media (min-width: $screen-md) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-self: stretch;
            margin-left: auto;
            margin-right: 15px;

            .main-contacts__item {
                font-size: 16px;
                font-weight: 100;
            }

            .main-contacts__phone {
                display: block;
                font-size: 18px;
                font-weight: 300;
                color: $white;

                &:hover {
                    color: $c-primary;
                }
            }
        }

        @media screen and (min-width: $screen-lg) {
            order: 3;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            .main-contacts__item {
                order: 2;
                margin-left: auto;
                margin-right: 0;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }

            .main-contacts__phone {
                order: -1;
                margin-left: auto;
            }

            .icon-svg--phone {
                display: none;
            }

            ._callback {
                margin-top: 5px;
                display: block;
            }
        }

        @media screen and (min-width: $screen-xl) {
            flex-direction: row;
            align-items: center;

            .main-contacts__item {
                order: 1;
            }

            .main-contacts__phone {
                order: 2;
            }

            ._callback {
                margin-top: 0;
                margin-right: 20px;
            }
        }
    }
}

.menu-english-img {
    padding-right: 5px;
}