.master-block {
  font-family: $f-base;
  padding-top: 43px;
  background-color: #110936;
}

.master-block__title {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 6px;
  color: $white;
}

.master-block__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.master-block__item {
  padding-top: 30px;
  padding-bottom: 30px;

  &:nth-child(even) {
    background-color: #1d1349;
  }

  &:nth-child(odd) {
    background-color: #110936;
  }

  &:last-child {
    .master-block__item-img {
      img {
        display: block;
        margin-bottom: -30px;
      }
    }
  }
}

.master-block__item-inner {
  margin-bottom: 30px;
}

.master-block__item-img {
  img {
    max-width: 100%;
  }
}

.master-block__item-title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: $white;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 9px;

  span {
    color: $c-primary;
  }
}

.master-block__item-description {
  font-size: 16px;
  line-height: 24px;
  color: #6f5f90;
  font-weight: 700;
  margin: 0;
}

.master-block__btn {
  font-size: 16px;
  line-height: 1;
  border-radius: 7px;
  min-height: 56px;
  letter-spacing: 0.3px;
  border: 2px solid $white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  max-width: 300px;
  transition: all 0.3s linear;

  &:hover {
    border-color: #ed1e79;
    color: #ed1e79;
  }
}


@media screen and (min-width: 768px) {
  .master-block__title {
    font-size: 20px;
    line-height: 1;
    z-index: 3;
    position: relative;

    span {
      position: relative;

      b {
        display: inline-block;
        padding: 22px 34px;
        background: #651250;
        letter-spacing: 1px;
        color: $white;
        position: relative;
        z-index: 2;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 75px;
        height: 64px;
        top: -12px;
        left: -50px;
        background: url(../img/stripes1.svg) no-repeat 0 0;
        z-index: -1;
      }

      &::after {
        background-position: -75px 0;
        right: -56px;
        top: -11px;
        left: auto;
      }
    }
  }

  .master-block__item-title {
        font-size: 32px;
        line-height: 36px;
        letter-spacing: 1.5px;
        margin-bottom: 29px;
  }

  .master-block__item {
    display: flex;
    padding-top: 100px;
    padding-bottom: 90px;

    &:last-child {
      .master-block__item-img {
        img {
          margin-bottom: -100px;
        }
      }
    }

    &:nth-child(even) {
      .master-block__item-inner {
        order: 2;
      }

      .master-block__item-img {
        order: 1;
      }
    }
  }

  .master-block__item-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .master-block__item-title {
    text-align: left;
  }
}