//Если нужен будет скролл добавить overflow: scroll;
.mobile-bar {
    font-family: $f-base;
    overflow: hidden;
    margin-bottom: 37px;
}

.mobile-bar__title {
    position: relative;
    margin-bottom: 30px;

    & a {
      color: #fff;
    }

    @media (min-width: 768px) {
        position: relative;
        margin: 0 auto 50px;
    }
}

.mobile-bar__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    @media (min-width: 768px) {
        justify-content: flex-start;
    }
}

.mobile-bar__item {
    width: 45%;
    padding: 0;
    margin-bottom: 10px;

    @media (min-width: 576px) {
        width: 38%;
        &:nth-of-type(3n) {
            width: 23%;
        }
    }
}

.mobile-bar__link {
    position: relative;
    text-align: left;
    color: #fff;

    &:hover {
        color: $c-primary;
    }

    &:active {
        color: $secondary-color;
    }

    &::before {
        display: none;
    }

    @media (min-width: 768px) {
        width: 100%;
        padding-left: 30px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 20px;
            height: 2px;
            background-color: $c-primary;
        }
    }
}

@media (min-width: 768px) {
    .mobile-bar {
        margin-bottom: 70px;
    }

    .mobile-bar__title a  {
            width: fit-content;
    }
}