.need {
  font-family: $f-base;
  padding: 29px 0 29px;
  background-color: #f5f5f5;
  @media (min-width: $screen-md) {
    padding: 29px 0 100px;
  }
}

.need__title {
  max-width: 80%;
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.76px;
  margin-top: 0;
  margin-bottom: 26px;
}

.need__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}

.need__item {
  width: 100%;
  height: 100%;
  box-shadow: -1px 1px 3px 1px rgba(48, 56, 67, 0.15);
  cursor: pointer;
  //&:after {
  //  width: 100%;
  //  height: auto;
  //  display: block;
  //  border-radius: 15px;
  //  background: linear-gradient(-179deg, #241a4b 1%, rgba(36, 26, 75, 0.81) 5%, rgba(12, 12, 12, 0.72) 71%, rgba(12, 12, 12, 0.55) 100%);
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  z-index: 1;
  //}
}

.need__img {
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.need__text {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 25px;
  color: $white;
}


@media screen and (min-width: 768px) {
  .need {
    padding-top: 57px;
  }
  .need__inner {
    width: 620px;
  }
}

@media screen and (min-width: 1030px) {
  .need__inner {
    width: 960px;
  }
}