.news {
    width: 100%;
    font-family: $f-base;
    margin-bottom: 40px;
}

.news__item {
    justify-content: center;
    margin-bottom: 40px;
    border-radius: 3px;

    &--notice,
    &--notice-img {
        padding: 20px 10px;
    }
    &:hover {
        box-shadow: 0 10px 38px 2px rgba(255, 255, 255, 0.4);
        transition: box-shadow 0.8s ease;
        .news__img img {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

.news__img {
    position: relative;
    display: block;
    width: 100%;
    height: 270px;
    padding-right: 0;
    border-radius: 3px 3px 0 0;
    overflow: hidden;

    & img {
        position: absolute;
        top: -10%;
        left: -10%;
        display: block;
        width: 120%;
        height: 120%;
        object-fit: cover;
        object-position: center center;
        transition: all 0.8s ease-in-out;
    }

    &--notice {
        max-width: 100%;
        height: 208px;
        object-fit: contain;
    }
}

.news__info-bar {
    padding: 20px 15px;
    border-radius: 0 0 3px 3px;
    background-color: $background-secondary-color;
}

.news__info-bar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news__date {
    font-size: 14px;
    color: $black;
}

.news__share {
    position: relative;
}

.news__share-toggle {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

    svg {
        width: 20px;
        height: 16px;
        fill: $c-primary;
        &:hover {
            fill: $c-third;
        }
    }
}

.news__share-dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 1;
    display: none;
    @media (min-width: $screen-lg) {
        left: 0;
        right: auto;
    }
}

.news__share-social {
    display: block;
    border: none;
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
    padding: 0;
    background-color: #ed1e79;
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    svg {
        fill: $white;
        opacity: 0.6;
        transition: opacity 0.5s;
        &:hover {
            opacity: 1;
        }
    }

    &--vk {
        svg {
            width: 30px;
            height: 10px;
        }
    }

    &--ok {
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &--fb {
        svg {
            padding-top: 3px;
            width: 15px;
            height: 20px;
        }
    }
}

.news__title {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    & a {
        font-size: 20px;
        text-decoration: none;
        color: $c-primary;
        background-position: center;
        transition: all 0.5s linear;

        &:hover {
            text-decoration: underline;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    & p {
        font-size: 20px;
        color: #fff;
    }
}

.news__location {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    vertical-align: middle;
    color: $c-primary;
    transition: color 0.3s linear;
    & .icon-svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin-left: -5px;
        fill: $c-primary;
    }
}

.news__services-title {
    margin: 20px 0 10px;
    font-size: 16px;
    font-weight: 700;
}

.news__services-item {
    margin-bottom: 5px;
    font-size: 16px;
    color: $c-primary;
    &:last-child {
        margin-bottom: 0;
    }
}

.news__item--notice,
.news__item--notice-img {
    text-align: center;
    .news__date {
        display: block;
        width: 100%;
        color: #fff;
    }

    .news__title {
        color: #fff;
    }
}

.news__more-toggle {
    display: block;
    margin: 0 auto;
    border: none;
    font-size: 20px;
    background: none;
    outline: none;
    color: $c-primary;
    &:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .news {
        max-width: 675px;
    }

    .news__item {
        width: auto;

        &--left {
            flex-direction: row-reverse;
        }
    }

    .news__img {
        &--right {
            border-radius: 3px 0 0 3px;
        }

        &--left {
            border-radius: 0 3px 3px 0;
        }
    }

    .news__info-bar {
        &--right {
            border-radius: 0 3px 3px 0;
        }

        &--left {
            border-radius: 3px 0 0 3px;

            .news__info-bar-inner {
                flex-direction: row-reverse;
            }
        }
    }

    .news__img {
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .news {
        max-width: 900px;
    }

    .news__img {
        &--notice {
            max-width: 650px;
            margin: 0 auto;
        }
    }

    .news__info-bar {
        &--right {
            .news__share-social--vk {
                position: absolute;
                top: -102px;
                right: -35px;
            }

            .news__share-social--ok {
                position: absolute;
                right: -80px;
                top: -90px;
            }

            .news__share-social--fb {
                position: absolute;
                right: -80px;
                top: -50px;
            }
        }

        &--left {
            .news__share-social--vk {
                position: absolute;
                top: -102px;
                left: -10px;
            }

            .news__share-social--ok {
                position: absolute;
                left: -50px;
                top: -90px;
            }

            .news__share-social--fb {
                position: absolute;
                left: -65px;
                top: -50px;
            }
        }
    }

}