.order-window {
    padding: 30px 35px;
    border: 2px solid $c-primary;
    border-radius: 4px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        border: 10px solid transparent;
        left: calc(50% - 7px);
    }

    &._photo {
        &::before {
            top: -34px;
            z-index: 2;
            border-bottom: 30px solid #110936;
        }

        &::after {
            top: -40px;
            border-bottom: 30px solid $c-primary;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        color: #ffffff;
        margin-bottom: 20px;
    }
}