.order {
    font-family: $f-base;
    padding-bottom: 95px;
}

.order__inner {
    background-color: $white;
    width: 300px;
    margin: 0 auto;
    padding: 0 24px 64px 24px;
}

.order__info {
    padding-top: 61px;
}

.order__info-title {
    margin: 0 0 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.order__info-note {
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
}

.order__info-list {
    margin: 0;
    padding: 0 0 50px;
    border-bottom: 1px solid #e2e2e2;
}

.order__info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
    &:last-child {
        margin-bottom: 0;
    }
}

.order__info-name {
    margin: 0 auto 0 0;
    font-size: 14px;
}

.order__info-count {
    font-weight: 700;
}

.order__info-total {
    padding-top: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order__info-total-content {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.order__info-total-count {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    color: $c-primary;
}

.order__form {
    padding-top: 61px;
    display: flex;
    flex-direction: column;
}

.order__form-title {
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 0 15px;
}

.order__form-note {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.order__form-input {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    margin: 0 0 19px 0;
    padding: 13px;
    width: 100%;
}

.order__form-submit {
    width: 100%;
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .order__inner {
        display: flex;
        justify-content: space-between;
        width: 620px;
        padding: 0 50px 64px 50px;
    }

    .order__info {
        width: 45%;
    }

    .order__form {
        width: 45%;
    }
}

@media screen and (min-width: 1030px) {
    .order__inner {
        width: 940px;
        padding: 0 75px 65px 75px;
    }
}