.pagination {
    padding-top: 30px;
    padding-bottom: 30px;

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;

        @media screen and (min-width: $screen-sm) {
            max-width: 386px;
            justify-content: space-between;
        }
    }
    
    &__item {
        color: #fff;
    }

    &__arrow {
        transition: all 0.3s linear;
        margin-right: 20px;
        display: flex;
        align-items: center;

        .icon-svg {
            width: 12px;
            height: 18px;
            fill: #ffffff;
            transition: all 0.3s linear;
        }

        &:hover {
            .icon-svg {
                fill: $c-primary;
            }
        }

        &:active {
            .icon-svg {
                position: relative;
                top: 1px;
                fill: $c-secondary;
            }
        }

        &._disabled {
            cursor: default;
            .icon-svg {
                fill: $c-third;
            }


            &:hover {
                .icon-svg {
                    fill: $c-third;
                }
            }

            &:active {
                .icon-svg {
                    position: relative;
                    top: 0;
                    fill: $c-third;
                }
            }
        }

        &._right {
            margin-right: 0;
            margin-left: 20px;
            .icon-svg {
                transform: rotate(180deg);
            }
        }
    }

    &__toggle {
        margin: 0 10px;
        color: #ffffff;
        font-size: 18px;
        text-decoration: none;

        &:hover {
            color: $c-primary;
        }

        &:active {
            position: relative;
            top: 1px;
            color: $c-secondary;
        }

        &._active {
            color: $c-primary;

            &:hover {
                color: $c-primary;
            }

            &:active {
                position: relative;
                top: 0;
                color: $c-primary;
            }
        }
    }

    &._light {
        .pagination__arrow {
            .icon-svg {
                fill: $c-primary;
            }

            &:hover {
                .icon-svg {
                    fill: $c-third;
                }
            }

            &:active {
                .icon-svg {
                    fill: $c-secondary;
                }
            }

            &._disabled {
                .icon-svg {
                    fill: $c-secondary;
                }
                
            }
        }

        .pagination__toggle {
            color: $c-primary;

            &:hover {
                color: $c-third;
            }

            &:active {
                color: $c-secondary;
            }

            &._active {
                color: $c-third;

                &:hover {
                    cursor: default;
                    color: $c-third;
                }

                &:active {
                    color: $c-third;
                }
            }
        }
    }

    &._border {
        border-top: 1px solid #eaeaea;
    }
}