// .payment {
//     max-width: 300px;
//     margin: 0 auto;
//     margin-bottom: 30px;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     align-items: center;
// }

// .payment__item {
//     display: block;
//     margin-right: 10px;
//     &:last-child {
//         margin-right: 0;
//     }
// }

// @media screen and (min-width: 768px) {
//     .payment {
//         width: auto;
//         max-width: none;
//     }
// }

.payment {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media screen and (min-width: $screen-sm) {
        width: 140px;
    }

    &__item {
        &._visa {
            width: 70px;
            height: 30px;
        }

        &._master {
            width: 60px;
            height: 60px;
        }
    }

    &__item + &__item {
        margin-left: 20px;
    }
}