.photocard-events {
    max-width: 300px;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
    &:hover {
        img {
            height: 115%;
            width: 115%;
        }
    }
}


.photocard-events__img {
    width: 300px;
    height: 214px;
    overflow: hidden;

    img {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 135%;
        height: 135%;
        transform: translate(-50%, -10%) translateZ(0);
        object-fit: cover;
        transition: all 0.4s linear;
    }
}

.photocard-events__inner {
    padding: 26px 22px 22px;
    background-color: $white;
}

.photocard-events__date {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.photocard-events__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    transition: all 0.4s ease;

    &:hover {
        color: $c-primary;
    }

    &:active {
        opacity: 0.6;
    }
}

.photocard-events__link {
    display: none;

    width: 150px;
    padding: 12px 0 11px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: $c-primary;
    border: 2px solid $c-primary;
    border-radius: 4px;

    &:hover {
        background-color: $c-primary;
        color: $white;
    }

    &:active {
        background-color: $c-third;
        color: $white;
        border-color: $c-third;
        opacity: 0.6;
    }
}



.photocard-events {
    max-width: none;

    .row {
        flex-direction: row-reverse
    }
}

.photocard-events__inner {
    padding: 31px 32px 15px;
    height: 175px;
    @media (min-width: 992px) {
        height: 231px;
    }
}

.photocard-events__title {
    font-size: 18px;
    font-weight: 400;
}

.photocard-events__img {
    @media screen and (min-width: $screen-sm) {
        height: auto;
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .photocard-events {
        &:nth-child(even) {
            padding-left: 5px;
        }
        margin-bottom: 5px;
        .row {
            flex-direction: row;
        }

        .photocard-events__inner {
            &::after {
                left: -13px;
                border-color: transparent $white transparent transparent;
                border-width: 18px 13px 18px 0;
            }
        }

        &._left {
            .row {
                flex-direction: row-reverse;
            }

            .photocard-events__inner {
                &::after {
                    right: -13px;
                    left: auto;
                    border-width: 18px 0 18px 13px;
                    border-color: transparent transparent transparent $white;
                }
            }
        }
    }

    .photocard-events__inner {
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 15;
            width: 0;
            height: 0;
            top: 22px;
            border-style: solid;
        }
    }
}
