.photocard {
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.photocard__img {
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: all 0.4s linear;
    @media (min-width: $screen-lg) {
      height: 268px;
    }
    @media (min-width: $screen-xl) {
      height: 350px;
    }
  }

  &:after {
    background: linear-gradient(180deg,#1e0c2d 10.6%,rgba(31,12,45,0) 60.7%);
    transform: rotate(-180deg);
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
}

.photocard__inner {
  padding: 26px 22px 22px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.photocard__date {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: $white;
  letter-spacing: 0.4px;
  @media (min-width: $screen-md) {
    font-size: 13px;
  }
  @media (min-width: $screen-lg) {
    font-size: 14px;
  }
  @media (min-width: $screen-xl) {
    font-size: 16px;
  }
}

.photocard__title {
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.4s ease;
  color: $white;
  letter-spacing: 0.4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  @media (min-width: $screen-md) {
    font-size: 13px;
  }
  @media (min-width: $screen-lg) {
    font-size: 14px;
  }
  @media (min-width: $screen-xl) {
    font-size: 16px;
  }
  &:hover {
    color: $c-primary;
  }

  &:active {
    opacity: 0.6;
  }
}

.photocard__link {
  display: none;
  width: 150px;
  padding: 12px 0 11px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $c-primary;
  border: 2px solid $c-primary;
  border-radius: 4px;

  &:hover {
    background-color: $c-primary;
    color: $white;
  }

  &:active {
    background-color: $c-third;
    color: $white;
    border-color: $c-third;
    opacity: 0.6;
  }
}


  .photocard {
    .row {
      flex-direction: column;
    }
  }

  .photocard__inner {
    padding: 31px 32px 15px;
  }

  .photocard__img {
    @media screen and (min-width: $screen-sm) {
      height: auto;
      width: auto;
    }
  }