.photos {
    padding: 40px 0 0;
    background-color: #fff;
    @media (min-width: $screen-sm) {
        padding: 100px 0 0;
    }

    .row {
        justify-content: space-between;
       // margin-left: -15px;
      //  margin-right: -15px;
        @media (min-width: $screen-md) {
            justify-content: left;
        }
    }

    &__title {
        margin-bottom: 20px;
        text-align: center;
        color: $black;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.75px;
        @media screen and (min-width: $screen-sm) {
            max-width: none;
            text-align: left;
        }
    }

    &__link {
        max-width: 180px;
        margin: 20px auto 0;
    }
}