.requisites {
    color: $white;
    font-family: $f-base;
    padding-bottom: 56px;
}

.requisites__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.requisites__item {
    margin-bottom: 12px;
    padding-left: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.requisites__item-inner {
    margin-bottom: 27px;
}

.requisites__item-title {
    margin: 0 0 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: inherit;

}

.requisites__item-content {
    margin: 0 0 12px;
    color: inherit;
    &:last-child {
        margin-bottom: 0;
    }
}


