.scale-grow {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('../img/map.jpg') no-repeat scroll 00 / cover;

    &__title {
        text-align: center;
        margin-bottom: 30px;
    }

    &__link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0 auto;
        max-width: 240px;

        .icon-svg {
            fill: $white;
            width: 25px;
            height: 25px;
            margin-right: auto;
        }
    }
}