.services {
  position: relative;
  padding: 46px 0;
  font-family: $f-base;
  background-color: #000;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 220px;
    width: 100%;
    background: url(../img/service-coctails.png) repeat-x 50% 50%;
    background-size: cover;
  }

  &__title {
    margin: 0 auto;
    text-align: center;
    color: #fff;
  }

  &__subtitle {
    margin: 0 0 30px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &__list {
    color: $white;
  }

  &__item-title {
    margin: 20px 0;
    padding-left: 60px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  &__label {
    margin-left: 5px;
    font-size: 9px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $c-primary;
  }
}

.services__sublist--helper {
  display: flex;
  flex-flow: row wrap;
  & .services__subitem:nth-of-type(5) .icon-svg {
    width: 40px;
    height: 33px;
  }

  & .services__subitem:nth-of-type(3) .icon-svg {
    width: 35px;
    height: 35px;
    left: 3px;
  }

  & .services__subitem {
    width: 100%;

    @media (min-width: 768px) {
      &:nth-of-type(odd) {
        width: 52%;
      }
      &:nth-of-type(even) {
        width: 45%;
      }
    }
  }
}

.services__subitem {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  padding-left: 60px;
  @media (max-width: 360px) {
    align-items: baseline;
  }

  .icon-svg {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    left: 0;
    width: 40px;
    height: 40px;
    fill: $c-primary;

    &--very-lg {
      height: 25px;
    }
    &--center {
      margin-top: -13px;
    }

    &._mohito {
      left: 7px;
      top: 16px;
      width: 30px;
      height: 30px;
    }
  }
}

.services__subitem-link {
  position: relative;
  color: $white;
  transition: color 0.5s ease;
  @media (max-width: 360px) {
    display: grid;
  }

  &:hover {
    color: $c-primary;
  }

  &:active {
    color: $c-third;
  }

}

@media screen and (min-width: 576px) {
  .services__item {
    &--secondary {
      margin-left: auto;
      margin-top: -75px;
    }
  }
}

@media screen and (min-width: 768px) {
  .services {
    .container {
      max-width: 940px;
    }

    &::after {
      height: 250px;
      background: url(../img/service-coctails.png) repeat-x 50% 50%;
      background-size: cover;
    }
  }

  .services__item {
    margin-bottom: 40px;

    &--secondary {
      margin-left: 0;
      margin-top: 0;
    }
  }

  .services__sublist {
    &--without-title {
      padding-top: 47px;
    }
  }
}

@media screen and (min-width: 992px) {
  .services {
    padding-bottom: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    .container {
      max-width: 1140px;
    }

    &::after {
      height: 442px;
    }
  }

  .services__subitem {
    .icon-svg {
      &--center {
        margin-top: -10px;
      }
    }
  }
}