.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-sm) {
        width: 150px;
        margin-bottom: 0;
    }

    @media screen and (min-width: $screen-lg) {
        margin-right:  80px;
    }
    &__link {
        .icon-svg {
            transition: fill 0.4s linear;
            fill: $white;
        }
        &:hover {
            .icon-svg {
                fill: $c-primary;
            }
        }

        &._inst {
            .icon-svg {
                width: 50px;
                height: 50px;
            }
        }

        &._fb {
            .icon-svg {
                width: 45px;
                height: 50px;
            }
        }

        &._vk {
            .icon-svg {
                width: 50px;
                height: 30px;
            }
        }

        @media screen and (min-width: $screen-sm) {
            &._inst {
                .icon-svg {
                    width: 30px;
                    height: 30px;
                }
            }

            &._fb {
                .icon-svg {
                    width: 30px;
                    height: 30px;
                }
            }

            &._vk {
                .icon-svg {
                    width: 30px;
                    height: 15px;
                }
            }
        }
    }
}