.subscribe-form {
    padding: 20px 0 80px 0;
    width: 100%;
    text-align: left;
    font-family: $f-base;
    @media (min-width: $screen-md) {
        padding: 80px 0;
    }

    & .container {
        @media (max-width: $screen-xs-max) {
            padding: 0;
        }
    }

    form {
        position: relative;
        margin: 0 auto;
        padding: 57px 20px 150px 20px;
        flex-direction: column;
        background: $white;
        border: 8px solid #8265AF;
        overflow: hidden;
        @media (min-width: $screen-sm) {
            padding: 57px 40px
        }
        @media (min-width: $screen-md) {
            padding: 80px 40px
        }
        @media (min-width: $screen-lg) {
            padding: 80px 60px;
        }
    }

    svg {
        position: absolute;
        right: 0;
        bottom: -90px;
        height: 280px;
        width: 250px;
        fill: #8265AF;
        @media (min-width: $screen-md) {
            bottom: -90px;
            height: 320px;
            width: 380px;
        }
        @media (min-width: $screen-lg) {
            bottom: -70px;
            height: 350px;
            width: 500px;
        }
        @media (min-width: $screen-xl) {
            bottom: -110px;
            height: 450px;
            width: 570px;
        }
    }

}

.subscribe-form__title {
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 114%;
    text-align: left;
    text-transform: uppercase;
    @media (min-width: $screen-sm) {
        font-size: 28px;
    }
}

.subscribe-form__text {
    max-width: 540px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 137%;
}

.subscribe-form__input {
    position: relative;
    z-index: 1;
    height: 41px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    @media (min-width: $screen-sm) {
        width: 271px;
    }
    &:focus {
        box-shadow: 0 2px 29px 10px $c-primary;
    }
}

.subscribe-form__submit {
    padding: 0;
    height: 41px;
    width: 177px;
    font-weight: 700;
}

.subscribe-form__note {
    padding: 3px;
    font-size: 13px;
    color: $white;
    background-color: $c-primary;
    position: relative;
    z-index: 0;
}