.team-members {
    margin-bottom: 10px;
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 1500px;
    }

    &__item {
        max-width: 142px;
        @media screen and (min-width: 428px) {
            width: 33.3%;
        }
        &:hover {
            cursor: pointer;
            .team-members__status,
            .team-members__name {
                cursor: pointer;
            }
        }

        &:hover .team-members__inner {
            display: block;
        }

        &:hover .team-members__img {
            display: none;
        }
    }

    &__img {
        display: block;
        width: 142px;
        height: 142px;
    }

    &__inner {
        display: none;
        width: 142px;
        height: 142px;
        padding: 5px 5px 5px 10px;
        color: #fff;
        background-color: #ed1e79;
    }

    &__name {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        cursor: default;
    }

    &__status {
        font-size: 12px;
        text-transform: uppercase;
        color: #fff;
        cursor: default;
    }
}