.types-of-bars {
    display: none;
    max-width: 300px;
    margin: 0 auto;
    font-family: $f-base;
    @media (min-width: 768px) {
        display: block;
        max-width: none;
        margin: 0;
    }
}

.types-of-bars__title {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.types-of-bars__item {
    margin-bottom: 10px;
}

.types-of-bars__link {
    position: relative;
    color: $c-primary;
    font-weight: 700;

    &--active {
        color: $c-third;

        &:hover {
            cursor: default;
        }
    }
}