.photomap {
    position: relative;
    &__layout {
        padding-top: 20px;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #fff;
        z-index: 5;
        box-shadow: 18px 0px 5px -1px rgba(0, 0, 0, 0.5);
        background-color: #3a0e43;
        color: #b188b9;
        font-size: 16px;
        transition: all 0.5s ease-in;

        p {
            color: #b188b9;
        }

        &._active {
            left: 0;
        }

        @media screen and (min-width: $screen-md) {
            left: -45%;
            width: 45%;
        }

        @media screen and (min-width: $screen-lg) {
            left: -25%;
            width: 25%;
        }
    }

    &__layout-toggle {
        position: absolute;
        right: -34px;
        top: 0;
        width: 34px;
        height: 34px;
        background-color: #3a0e43;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon-svg {
            width: 24px;
            height: 24px;
            fill: #ffffff;

            transform: rotate(180deg);
        }

        &:hover {
            .icon-svg {
                fill: $c-primary;
            }
        }

        &:focus {
            outline: none;
        }

        &._active {
            right: 0;

            @media screen and (min-width: $screen-md) {
                right: -34px;
            }
            .icon-svg {
                transform: none;
            }
        }
    }

    &__layout-base-title {
        font-size: 20pt;
        margin: 0;
        margin-bottom: 20px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__layout-list {
        overflow: hidden;
        position: absolute;
        padding-bottom: 40px;

        .ps__rail-y {
            opacity: 0.6;
            &:hover {
                background-color: transparent !important;
                opacity: 0.9;
                .ps__thumb-y {
                    display: block;
                    background-color: #5d2a68;
                    width: 6px;
                }
            }

            .ps__thumb-y {
                display: block;
                background-color: #5d2a68;
            }
        }
    }

    &__layout-item {
        display: flex;
        text-decoration: none;
        padding: 15px 20px;
        margin: 0 -15px;
        width: 100%;

        &:hover {
            background: #2e0b35;
        }
        img {
            display: block;
            width: 30%;
            margin-right: 20px;
            object-fit: cover;
            height: 77px;
        }
    }

    &__layout-item-inner {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    &__layout-item-title {
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
    }

    &__layout-item-date {
        color: #5a5473;
        font-size: 14px;
        line-height: 1.5;
    }

    &__layout-item-link {
        color: $c-primary;
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        margin-left: 25px;
        line-height: 1.5;
        position: relative;
        &:hover {
            text-decoration: none;
        }

        &::before {
            content: '';
            display: block;
            width: 17px;
            height: 11px;
            position: absolute;
            left: -24px;
            top: 5px;
            background-image: url('../img/eye-icon.png');
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__layout-base-list {
        list-style-type: decimal;
        padding-left: 15px;
    }

    &__layout-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #000000;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__layout-bottom-btn {
        font-size: 18px;
        width: 65%;

        @media screen and (min-width: $screen-md) {
            width: 76%;
        }
    }

    &__map {
        width: 100%;
        height: calc(100vh - 143px);

        @media screen and (min-width: $screen-md) {
            height: calc(100vh - 98px);
        }
    }

    .mapboxgl-popup-close-button {
        // display: none;
        font-size: 14px;
        color: #ffffff;
        transition: color 0.3s ease-in;

        &:hover {
            color: #000000;
        }
    }

    .mapboxgl-popup-content {
        font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
        padding: 0;
        width: 260px;
    }

    .mapboxgl-popup-content-wrapper {
        padding: 1%;
    }

    .mapboxgl-popup-content h3 {
        background: $c-primary;
        color: #fff;
        margin: 0;
        display: block;
        padding: 25px;
        padding-left: 27px;
        border-radius: 3px 3px 0 0;
        font-weight: 700;
        font-size: 16px;
        // height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // margin-top: -15px;
    }

    .mapboxgl-popup-content h4 {
        margin: 0;
        display: block;
        padding: 10px;
        padding-left: 27px;
        font-weight: 400;
    }

    .mapboxgl-popup-content div {
        padding: 10px;
    }

    .mapboxgl-container .leaflet-marker-icon {
        cursor: pointer;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
        // margin-top: 15px;
    }

    .mapboxgl-popup-anchor-top>.mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-left>.mapboxgl-popup-tip,
    .mapboxgl-popup-anchor-top-right>.mapboxgl-popup-tip{
        border-bottom-color: $c-primary;
    }

    .mapboxgl-popup-anchor-left>.mapboxgl-popup-tip {
        border-right-color: $c-primary;
    }
    .mapboxgl-popup-anchor-right>.mapboxgl-popup-tip {
        border-left-color: $c-primary;
    }
}