<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="../css/main.min.css">
    {% block headLibs %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="body {% if (blue) %} _blue {% endif %}">
{% include 'layouts/header.twig' %}
{% include 'popups/download-price-popup.twig' %}
{% include 'popups/18+.twig' %}
<div class="mobile-overlay  hidden"></div>

<main class="main">
    {% block content %}{% endblock %}
</main>

{% include 'layouts/new-footer.twig' %}
<button class="up-btn _hidden">
    <svg class="icon-svg">
        <use xlink:href="#icon-arrow-up"></use>
    </svg>
</button>
<div class="hidden">{% include "../img/sprite.svg" %}</div>

{% block popups %}{% endblock %}

{% include "modules/scripts.twig" %}

{% block scripts %}
{% endblock %}
</body>